<div id="page-title" ng-controller="modulosCtrl as MCtrl">
    <div class="row">
        <div class="float-left" style="margin-left: 10px">
            <h2 style="line-height: 30px;">{{appConstantsView.LABEL_MODULOS}}</h2>
        </div>
    </div>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">{{appConstantsView.TITLE_LISTADO_MODULO}}</h3>
            <div class="float-right" ng-controller="menuCtrl as menCtrl">
                <a href="/#/modulos-gestion" ng-click="MCtrl.onLimpiarRegistro()" class="btn btn-sm btn-info icon-tool-add" style="background-color: #00bca4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-plus"></i><span class="info-icon-tool text-capitalize">{{appConstantsView.BOTON_AGREGAR}}</span>
                    </div>
                </a>
                <a ng-click="MCtrl.cancelarInterval();menCtrl.onListarOPciones('/#/admin-registro-control')" class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4; color: #ffffff;cursor: pointer; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="dataTables_length" id="datatable-example_length">
                            <label>
                                <select ng-model="MCtrl.display" 
                                        ng-init="MCtrl.display = MCtrl.display || MCtrl.options[appConstantsView.CERO].value"
                                        ng-options="option.value as option.name for option in MCtrl.options">
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <table object-table class="hover-column" data="MCtrl.listaModulos" display="MCtrl.display" headers="Código,Nombre,Estado,Opciones"
                        fields="codigo,nombre,estado" sorting="compound"
                        selected-model="MCtrl.report.selected" editable="false" search="separate" resize="false" select="multiply"
                        add-filter="| filter:$owner.all">
                        <tbody>
                            <tr>
                                <td>{{::item.codigo}}</td>
                                <td>{{::item.nombre}}</td>
                                <td>{{::item.estado}}</td>
                                <td class="opciones-table text-center">
                                    <a href="" ng-click="$owner.MCtrl.onClickToView(item)">
                                        <button class="btn btn-primary btn-tools-table" title="Ver detalles"> 
                                        <i class="glyphicon glyphicon-eye-open"></i>
                                    </button></a>
                                    <a href="" ng-click="$owner.MCtrl.onClickToEditar(item)">
                                        <button class="btn btn-info btn-tools-table" title="Modificar"> 
                                        <i class="glyphicon glyphicon-edit"></i>
                                    </button></a>
                                </td>
                            </tr>
                            <tfoot>
                                <tr ng-show="$filtered.length === $owner.appConstantsView.CERO && $owner.MCtrl.listaModulos.length !== $owner.appConstantsView.CERO">
                                    <td colspan="6">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                                </tr>
                                <tr ng-show="$owner.MCtrl.listaModulos.length === $owner.appConstantsView.CERO">
                                    <td colspan="6">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                </tr>
                            </tfoot>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>