<div id="page-title" ng-controller="TipoConvenioCtrl
        as
        tipoConvenioCtrl">
    <h2>{{appConstantsView.TITLE_TIPOS_CONVENIOS}}</h2>
    <p></p>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">{{appConstantsView.TITLE_LISTADO_TIPO_CONVENIOS}}</h3>
            <div class="float-right" ng-controller="menuCtrl as mCtrl">
                <a class="btn btn-sm btn-info icon-tool-add" ng-click="tipoConvenioCtrl.onClickToAddTipoConvenio()" style="background-color: #00bca4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-plus"></i><span class="info-icon-tool text-capitalize">{{appConstantsView.BOTON_AGREGAR}}</span>
                    </div>
                </a>
                <a ng-click="tipoConvenioCtrl.cancelarInterval();mCtrl.onListarOPciones('/#/admin-registro-control')" class="btn btn-sm btn-info icon-tool-add back-button"
                    style="background-color: #0096D4; color: #ffffff;   cursor: pointer; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="row">
                <div class="col-sm-6">
                    <div class="dataTables_length" id="datatable-example_length">
                        <label>
                            <select ng-model="tipoConvenioCtrl.display" 
                                    ng-init="tipoConvenioCtrl.display = tipoConvenioCtrl.display || tipoConvenioCtrl.options[appConstantsView.CERO].value"
                                    ng-options="option.value as option.name for option in tipoConvenioCtrl.options"
                                    ng-change="tipoConvenioCtrl.display <= tipoConvenioCtrl.tiposConvenios? loadDat(n-1):''">
                            </select>
                        </label>
                        <!--Por favor no borrar ya que este componente es de la funcionalidad de seleccionar todos los datos Jhon Murillo-->
                        <!--label class="control-label">Seleccionar Todos</label>
                        <input type="checkbox" 
                               ng-model="tipoConvenioCtrl.selectTodos"
                               name="selectTodos"
                               ng-disabled="tipoConvenioCtrl.periodosAcademicos.length === appConstantsView.CERO || tipoConvenioCtrl.filtrados.length === appConstantsView.CERO"
                               ng-true-value="true"
                               ng-false-value="false"
                               ng-change="tipoConvenioCtrl.onSelectTodos()"-->
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="content-box border-top border-yellow" ng-if="!tipoConvenioCtrl.mensajeValidacion">
                <h3 class="content-box-header clearfix title-resumen-yellow">
                    <div class="col-xs-12">
                        <a ng-click="tipoConvenioCtrl.mensajeValidacion = false" class="btn btn-xs btn-danger pull-right">
                            <i class="glyph-icon icon-remove"></i>
                        </a>
                        {{appConstantsView.LABEL_ADVERTENCIA}}
                        <small>{{appConstantsView.ERROR_REGISTROS_NO_ELIMINADOS}}</small>
                    </div>
                </h3>
                <div class="content-box-wrapper">
                    <ul class="todo-box" style="overflow-y: scroll;height: 235px;">
                        <li class="border-yellow" ng-repeat="noEliminiado in tipoConvenioCtrl.listNoEliminados track by noEliminiado.id">
                            <label for="todo-1">Código: {{noEliminiado.codigo}}, Nombre {{noEliminiado.nombre}}</label>
                        </li>
                    </ul>
                </div>
            </div>

            <div>
                <table object-table class="hover-column" display="tipoConvenioCtrl.display" data="tipoConvenioCtrl.tiposConvenios" headers="Código,Nombre,Opciones"
                    fields="codigoTipoConvenio,nombreTipoConvenio" search="separate" sorting="compound" selected-model="tipoConvenioCtrl.report.selected"
                    editable="false" search="false" resize="false" select="multiply">
                    <tbody>
                        <tr style="height: 60px;" ng-click="$owner.tipoConvenioCtrl.onSelectTodosTable(ifSelected(item));
                                    setSelected(item)">
                            <td>{{::item.codigoTipoConvenio}}</td>
                            <td>{{::item.nombreTipoConvenio}}</td>
                            <td class="text-center opciones-table">
                                <a class="btn btn-primary btn-tools-table" title="Ver Detalle" ng-click="$owner.tipoConvenioCtrl.onClickToVerDetalleTipoConvenio(item)">
                                    <i class="glyphicon glyphicon-eye-open "></i>
                                </a>
                                <a class="btn btn-info btn-tools-table" title="Modificar" ng-click="$owner.tipoConvenioCtrl.onClickToUpdateTipoConvenio(item)">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </a>
                                <a class="btn btn-danger btn-tools-table" title="Eliminar" ng-click="$owner.tipoConvenioCtrl.onDeleteTipoConvenio(item)">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </td>
                            <td ng-hide="true">{{ $owner.tipoConvenioCtrl.obtenerFiltrados($filtered)}}</td>
                        </tr>
                        <tfoot>
                            <tr ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.tipoConvenioCtrl.tiposConvenios.length !== $owner.appConstantsView.CERO">
                                <td colspan="4">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                            </tr>
                            <tr ng-if="$owner.tipoConvenioCtrl.tiposConvenios.length === $owner.appConstantsView.CERO">
                                <td colspan="4">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                            </tr>
                        </tfoot>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>