<div id="page-title"  ng-controller="TipoConvenioCtrl as tipoConvenioCtrl">
    <h2>{{appConstantsViewTITLE_TIPOS_CONVENIOS}}</h2>
    <p></p>
    <br>
    <div class="content-box">        
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm ">{{tipoConvenioCtrl.tipoConvenioAuxiliar.titulo}} Tipo De Convenio</h3>
            <div class="float-right">
                <a href="/#/tipos-convenios" class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left" ></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="panel-body">     
                <div class="row">
                    <form  method="POST" name="formCrudTipoConvenio" novalidate>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="id" class="control-label">{{appConstantsView.LABEL_CODIGO}}</label><label class="text-danger">*</label>
                                    <input type="text" maxlength="10" class="form-control text-uppercase" 
                                           id="codigo" mask='X' repeat='10' restrict='reject'
                                           ng-model="tipoConvenioCtrl.tipoConvenio.codigoTipoConvenio" 
                                           ng-disabled="tipoConvenioCtrl.tipoConvenioAuxiliar.disableVerDetalle || tipoConvenioCtrl.tipoConvenioAuxiliar.disableCodigo" 
                                           name="codigo" validation="required:alt=&nbsp;">
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="nombre" class="control-label">{{appConstantsView.LABEL_NOMBRE}}</label><label class="text-danger">*</label>
                                    <input type="text" maxlength="50"  id="nombre"  class="form-control text-uppercase" 
                                           name="nombre" mask='H' repeat='50' restrict='reject'
                                           ng-disabled="tipoConvenioCtrl.tipoConvenioAuxiliar.disableVerDetalle"
                                           ng-model="tipoConvenioCtrl.tipoConvenio.nombreTipoConvenio" validation="required" >
                                </div>
                            </div>
                        </div>                       
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="form-group">
                                    <label for="descripcion" class="control-label">{{appConstantsView.LABEL_DESCRIPCION}}</label>                  
                                    <div text-angular   
                                         ta-toolbar="tipoConvenioCtrl.toolbar"
                                         class="note-editor"
                                         name="descripcion" 
                                         id="descripcion"
                                         ta-disabled="tipoConvenioCtrl.tipoConvenioAuxiliar.disableVerDetalle"
                                         ng-model="tipoConvenioCtrl.tipoConvenio.descripcionTipoConvenio">                                  
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="button-pane">
                            <input type="submit" class="btn btn-success" ng-if="!(tipoConvenioCtrl.tipoConvenioAuxiliar.disableVerDetalle && tipoConvenioCtrl.tipoConvenioAuxiliar.disableCodigo)" value="Guardar" ng-click="tipoConvenioCtrl.onSubmitForm()">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

