<style>
    .info-icon-tool {
        padding: 5px;
    }

    .text-danger {
        text-align: left;
    }

    .btnCenter {
        text-align: center !important;
    }

    .minWidthTd {
        min-width: 200px;
    }
</style>
<script src="js/main-app.js"></script>
<div id="page-title" ng-controller="anularReciboCajaCtrl as anularReciboCajaCtrl">
    <div class="row">
        <div class="float-left" style="margin-left: 10px">
            <h2 style="line-height: 30px;">{{appConstantsView.ANULAR_RECIBO_CAJA}}</h2>
        </div>
        <div class="float-right" style="margin-right: 10px" ng-controller="menuCtrl as mCtrl">
            <a ng-click="mCtrl.onListarOPciones('/#/tesoreria')" class="btn btn-sm btn-info icon-tool-add back-button"
                style="background-color: #0096D4; color: #ffffff; cursor: pointer; border: 0px solid #dfe8f1;">
                <div class="glyph-icon">
                    <i class="glyphicon glyphicon-arrow-left"></i><span
                        class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                </div>
            </a>
        </div>
    </div>
    <br>

    <div class="content-box">
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                            data-dismiss="modal">{{appConstantsView.CERRAR_MODAL}}</button>
                        <h4 class="modal-title">{{anularReciboCajaCtrl.reciboCajaAuxiliar.tittle}}</h4>
                    </div>
                    <div class="modal-body">
                        <form method="POST" id="formAnular" name="formAnular" novalidate>
                            <div class="content-box">
                                <div class="clearfix"></div>
                                <div class="content-box-wrapper">
                                    <div class="button-pane button-pane-top">
                                        <h3 class="float-left text-uppercase content-box-header-title  btn-xs">
                                            {{appConstantsView.INFORMACION_RECIBO}} </h3>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label left"
                                                        style="word-wrap: break-word;">{{appConstantsView.NUMERO_RECIBO}}
                                                    </label>
                                                    <input type="text" id="numRecibo" class="form-control upper"
                                                        name="numRecibo"
                                                        ng-model="anularReciboCajaCtrl.reciboCaja.nRecibo"
                                                        ng-disabled="true">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label left"
                                                        style="word-wrap: break-word;">{{appConstantsView.LABEL_FECHA}}
                                                    </label>
                                                    <input type="text" id="fecha" class="form-control upper"
                                                        name="fecha" ng-model="anularReciboCajaCtrl.reciboCaja.fecha"
                                                        ng-disabled="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label left"
                                                        style="word-wrap: break-word;">{{appConstantsView.LABEL_CAJA}}
                                                    </label>
                                                    <input type="text" id="caja" class="form-control upper" name="caja"
                                                        ng-model="anularReciboCajaCtrl.reciboCaja.caja"
                                                        ng-disabled="true">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label left"
                                                        style="word-wrap: break-word;">{{appConstantsView.LABEL_CAJERO}}
                                                    </label>
                                                    <input type="text" id="cajero" class="form-control upper"
                                                        name="cajero" ng-model="anularReciboCajaCtrl.reciboCaja.cajero"
                                                        ng-disabled="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label left"
                                                        style="word-wrap: break-word;">{{appConstantsView.LABEL_ESTUDIANTE}}
                                                    </label>
                                                    <input type="text" id="estudiante" class="form-control upper"
                                                        name="estudiante"
                                                        ng-model="anularReciboCajaCtrl.reciboCaja.estudiante"
                                                        ng-disabled="true">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label left"
                                                        style="word-wrap: break-word;">{{appConstantsView.LABEL_NOMBRE}}
                                                    </label>
                                                    <input type="text" id="nombre" class="form-control upper"
                                                        name="nombre"
                                                        ng-model="anularReciboCajaCtrl.reciboCaja.nombreEstudiante"
                                                        ng-disabled="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label left"
                                                        style="word-wrap: break-word;">{{appConstantsView.LABEL_CONCEPTO}}
                                                    </label>
                                                    <input type="text" id="concepto" class="form-control upper"
                                                        name="concepto"
                                                        ng-model="anularReciboCajaCtrl.reciboCaja.concepto"
                                                        ng-disabled="true">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label left"
                                                        style="word-wrap: break-word;">{{appConstantsView.LABEL_VALOR}}</label>
                                                    <input type="text" id="valor" ui-money-mask="0"
                                                        class="form-control upper" name="valor"
                                                        ng-model="anularReciboCajaCtrl.reciboCaja.valor"
                                                        ng-disabled="true">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="content-box">
                                <div class="clearfix"></div>
                                <div class="content-box-wrapper">
                                    <div class="button-pane button-pane-top">
                                        <h3 class="float-left text-uppercase content-box-header-title  btn-xs">
                                            {{appConstantsView.LABEL_CONCEPTOS_FACTURADOS}}</h3>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-6">
                                                <div class="dataTables_length" id="datatable-example_length">
                                                    <label>
                                                        <select ng-model="anularReciboCajaCtrl.displayConceptos"
                                                            ng-init="anularReciboCajaCtrl.displayConceptos = anularReciboCajaCtrl.displayConceptos || anularReciboCajaCtrl.options[appConstantsView.CERO].value"
                                                            ng-options="option.value as option.name for option in anularReciboCajaCtrl.options">
                                                        </select>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <table object-table data="anularReciboCajaCtrl.listaConceptos"
                                            display="anularReciboCajaCtrl.displayConceptos"
                                            headers="Codigo,Nombre,Valor" fields="codigoConcepto,nombreConcepto,valor"
                                            sorting="compound" selected-model="anularReciboCajaCtrl.report.selected"
                                            editable="false" search="none" resize="false">
                                            <tbody>
                                                <tr>
                                                    <td>{{::item.codigoConcepto}}</td>
                                                    <td>{{::item.nombreConcepto}}</td>
                                                    <td class="text-center text-success">{{::item.valor|currency}}</td>
                                                </tr>
                                            <tfoot>
                                                <tr
                                                    ng-show="$filtered.length === $owner.appConstantsView.CERO && $owner.anularReciboCajaCtrl.listaConceptos.length !== $owner.appConstantsView.CERO">
                                                    <td colspan="6">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                                                </tr>
                                                <tr
                                                    ng-show="$owner.anularReciboCajaCtrl.listaConceptos.length === $owner.appConstantsView.CERO">
                                                    <td colspan="6">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                                </tr>
                                            </tfoot>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="content-box">
                                <div class="clearfix"></div>
                                <div class="content-box-wrapper">
                                    <div class="button-pane button-pane-top">
                                        <h3 class="float-left text-uppercase content-box-header-title  btn-xs">
                                            {{appConstantsView.LABEL_ESTUDIANTE}} Formas de Pago utilizadas</h3>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-6">
                                                <div class="dataTables_length" id="datatable-example_length">
                                                    <label>
                                                        <select ng-model="anularReciboCajaCtrl.displayFormasPago"
                                                            ng-init="anularReciboCajaCtrl.displayFormasPago = anularReciboCajaCtrl.displayFormasPago || anularReciboCajaCtrl.options[appConstantsView.CERO].value"
                                                            ng-options="option.value as option.name for option in anularReciboCajaCtrl.options">
                                                        </select>
                                                    </label>
                                                </div>

                                            </div>
                                        </div>
                                        <table object-table data="anularReciboCajaCtrl.listaFormasPago"
                                            display="anularReciboCajaCtrl.displayFormasPago"
                                            headers="Forma de Pago,Valor" fields="nombreFormaPago,valorPagado"
                                            sorting="compound" selected-model="anularReciboCajaCtrl.report.selected"
                                            editable="false" search="none" resize="false">
                                            <tbody>
                                                <tr>
                                                    <td>{{::item.nombreFormaPago}}</td>
                                                    <td class="text-center text-success">{{::item.valorPagado|currency}}
                                                    </td>
                                                </tr>
                                            <tfoot>
                                                <tr
                                                    ng-show="$filtered.length === $owner.appConstantsView.CERO && $owner.anularReciboCajaCtrl.listaFormasPago.length !== $owner.appConstantsView.CERO">
                                                    <td colspan="6">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                                                </tr>
                                                <tr
                                                    ng-show="$owner.anularReciboCajaCtrl.listaFormasPago.length === $owner.appConstantsView.CERO">
                                                    <td colspan="6">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                                </tr>
                                            </tfoot>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="content-box" ng-if="anularReciboCajaCtrl.reciboCajaAuxiliar.hide">
                                <div class="clearfix"></div>
                                <div class="content-box-wrapper">
                                    <div class="row" ng-if="anularReciboCajaCtrl.reciboCajaAuxiliar.hideConsecutivo">
                                        <div class="col-lg-6 col-sm-6">
                                            <div class="form-group">
                                                <label
                                                    class="control-label pull-left">{{appConstantsView.LABEL_RESPONSABLE}}</label><label
                                                    class="text-danger pull-left">*</label>
                                                <input type="text" id="responsable" class="form-control upper"
                                                    name="responsable"
                                                    ng-model="anularReciboCajaCtrl.anularRecibo.responsable"
                                                    ng-disabled="true">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-sm-6"
                                            ng-if="!anularReciboCajaCtrl.reciboCajaAuxiliar.hideFecha">
                                            <div class="form-group">
                                                <label
                                                    class="control-label left">{{appConstantsView.LABEL_FECHA_Y_HORA_ANULACION}}</label>
                                                <span current-time="anularReciboCajaCtrl.format" class="form-control"
                                                    ng-disabled="true" name="fechaAnulacion"
                                                    ng-model="anularReciboCajaCtrl.anularRecibo.fechaAnulacion"
                                                    id="fechaAnulacion"></span>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-sm-6"
                                            ng-if="anularReciboCajaCtrl.reciboCajaAuxiliar.hideFecha">
                                            <div class="form-group">
                                                <label
                                                    class="control-label pull-left">{{appConstantsView.LABEL_FECHA_Y_HORA_ANULACION}}</label>
                                                <label class="text-danger pull-left">*</label>
                                                <input type="text" id="horaFecha" class="form-control upper"
                                                    name="horaFecha"
                                                    ng-model="anularReciboCajaCtrl.anularRecibo.fechaAnulacionDetalle"
                                                    ng-disabled="true">
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-sm-6">
                                            <div class="form-group">
                                                <label
                                                    class="control-label pull-left">{{appConstantsView.LABEL_CAUSAL_ANULACION}}</label>
                                                <label class="text-danger pull-left">*</label>
                                                <select
                                                    ng-options="item.codigo as item.valor for item in anularReciboCajaCtrl.listaCausales"
                                                    name="cAca" id="cAca" class="form-control"
                                                    ng-disabled="anularReciboCajaCtrl.reciboCajaAuxiliar.hideConsecutivo"
                                                    ng-model="anularReciboCajaCtrl.anularRecibo.causalAnulacion"
                                                    validation="required">
                                                    <option
                                                        ng-if="anularReciboCajaCtrl.listaCausales.length > appConstantsView.CERO"
                                                        value="">{{appConstantsView.SELECCION_SELECT}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12 col-sm-12">
                                            <div class="form-group">
                                                <label
                                                    class="control-label pull-left">{{appConstantsView.LABEL_OBSERVACIONES}}</label>
                                                <textarea id="descripcion" class="form-control textarea-no-resize"
                                                    name="descripcion" ng-trim="false" validation="required"
                                                    maxlength="500"
                                                    ng-disabled="anularReciboCajaCtrl.reciboCajaAuxiliar.hideConsecutivo"
                                                    ng-model="anularReciboCajaCtrl.anularRecibo.observacion"
                                                    style="height: 100px"></textarea>
                                                <span
                                                    class="pull-right">{{500 - anularReciboCajaCtrl.anularRecibo.observacion.length}}
                                                    de 500</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer btnCenter">
                        <input class="btn btn-danger" ng-if="anularReciboCajaCtrl.reciboCajaAuxiliar.btn" type="submit"
                            value="Anular" ng-click="anularReciboCajaCtrl.onConfirmModal()" />
                    </div>
                </div>
            </div>
        </div>

        <div id="myModal2" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
                Modal content
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                            data-dismiss="modal">{{appConstantsView.CERRAR_MODAL}}</button>
                        <h4 class="modal-title">{{appConstantsView.CONFIRMAR_CONTRASENA}} </h4>
                    </div>
                    <div class="modal-body">
                        <form method="POST" id="formConfirmarClave" name="formConfirmarClave" novalidate>
                            <div class="control-group form-group">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12">
                                        <div class="form-group">
                                            <label
                                                class="control-label pull-left">{{appConstantsView.USUARIO}}</label><label
                                                class="text-danger pull-left">*</label>
                                            <input type="text" maxlength="50" class="form-control" id="usuario" mask='H'
                                                repeat='50' restrict='reject'
                                                ng-model="anularReciboCajaCtrl.anularReciboSegundaClave.usuario"
                                                name="usuario" validation="required">
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-sm-12">
                                        <div class="form-group">
                                            <label
                                                class="control-label pull-left">{{appConstantsView.PASSWORD}}</label><label
                                                class="text-danger pull-left">*</label>
                                            <input type="password" name="password"
                                                ng-model="anularReciboCajaCtrl.anularReciboSegundaClave.password"
                                                style="resize: none" id="password" class="form-control"
                                                validation="required" />
                                        </div>
                                    </div>
                                </div>
                                <div class="editable-error-block help-block" style="display: none;"></div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer btnCenter">
                        <input class="btn btn-primary" type="submit" value="Aceptar"
                            ng-click="anularReciboCajaCtrl.onConfirmModalSegundaClave()" />
                        <input class="btn btn-danger" type="submit" value="Cancelar"
                            ng-click="anularReciboCajaCtrl.onCloseModalSegundaClave()" id="btnCancelModal" />
                    </div>
                </div>
            </div>
        </div>


        <div class="content-box">
            <div class="button-pane button-pane-top">
                <h3 class="float-left content-box-header-title btn-sm">
                    {{appConstantsView.LABEL_CONSULTA_MOVIMIENTO_CAJA}}
                </h3>
                <div class="float-right" style="margin-right: 10px" ng-controller="menuCtrl as mCtrl">
                    <a ng-click="mCtrl.onListarOPciones('/#/auditoria')"
                        class="btn btn-sm btn-info icon-tool-add back-button"
                        style="background-color: #0096D4;cursor: pointer; color: #ffffff; border: 0px solid #dfe8f1;">
                        <div class="glyph-icon">
                            <i class="glyphicon glyphicon-arrow-left"></i><span
                                class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="content-box-wrapper">
                <div class="panel-body">
                    <div class="row">
                        <form novalidate name="formFechaBusqueda">
                            <div id="fechaCampanha" class="input-daterange input-group">
                                <div class="col-lg-2 col-sm-2"></div>
                                <div class="col-lg-4 col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label pull-left">{{appConstantsView.LABEL_FECHA}}</label>
                                        <div id="fecha-inicio" class="input-group date">
                                            <input id="fechaBusqueda" name="fechaBusqueda" style="text-align: left;"
                                                mask="39/19/9999" restrict="reject" readonly="true"
                                                placeholder="dd/mm/aaaa" type="text"
                                                ng-model="anularReciboCajaCtrl.movCajaEntityBus.fechaBusqueda"
                                                validation-error-to="validacionFechaBusqueda" class="form-control date"
                                                validation="required">
                                            <span class="input-group-addon"><i
                                                    class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                        <span id="validacionFechaBusqueda" class="validation text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label pull-left">{{appConstantsView.LABEL_FECHA}}</label>
                                        <div id="fecha-fin" class="input-group date">
                                            <input id="fechaBusqueda2" name="fechaBusqueda2" style="text-align: left;"
                                                mask="39/19/9999" restrict="reject" readonly="true"
                                                placeholder="dd/mm/aaaa" type="text"
                                                ng-model="anularReciboCajaCtrl.movCajaEntityBus.fechaBusqueda2"
                                                validation-error-to="validacionFechaBusqueda2" class="form-control date"
                                                validation="required">
                                            <span class="input-group-addon"><i
                                                    class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                        <span id="validacionFechaBusqueda2" class="validation text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-2"></div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="button-pane">
                    <button class="btn btn-info"
                        ng-click="anularReciboCajaCtrl.onConsultarMovimientos()">Consultar</button>
                </div>
            </div>

            <div class="clearfix"></div>
            <uib-tabset justify="false">
                <uib-tab index="0" heading="Listado de Recibos">
                    <ng-form method="POST" novalidate name="tab1">
                        <div class="content-box-wrapper">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6">
                                        <div class="dataTables_length" id="datatable-example_length">
                                            <label>
                                                <select ng-model="anularReciboCajaCtrl.display"
                                                    ng-init="anularReciboCajaCtrl.display = anularReciboCajaCtrl.display || anularReciboCajaCtrl.options[appConstantsView.CERO].value"
                                                    ng-options="option.value as option.name for option in anularReciboCajaCtrl.options">
                                                </select>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        <button class="btn btn-success hidden" id="btnExportar" ng-json-export-excel
                                            data="anularReciboCajaCtrl.listaRecibosCaja" report-fields="{
                                                nRecibo:'Recibo',
                                                fecha:'Fecha',
                                                estudiante:'Estudiante',
                                                nombreEstudiante:'Nombre Estudiante',
                                                concepto:'Concepto',
                                                valor:'Valor'
                                                }" filename=" 'listado-recibos' "
                                            title="Exportar listado general a formato csv">
                                            <i class="fa fa-file-excel-o"></i> Exportar Listado Completo
                                        </button>
                                    </div>
                                </div>
                                <table object-table data="anularReciboCajaCtrl.listaRecibosCaja"
                                    display="anularReciboCajaCtrl.display"
                                    headers="No. Recibo,Fecha,Código Estudiante,Nombre Estudiante,Concepto,Valor,Opciones"
                                    fields="nRecibo,fecha,estudiante,nombreEstudiante,concepto,valor"
                                    sorting="compound" selected-model="anularReciboCajaCtrl.report.selected"
                                    editable="false" search="separate" resize="false" add-filter="| filter:$owner.all">
                                    <tbody>
                                        <tr>
                                            <td>{{::item.nRecibo}}</td>
                                            <td>{{::item.fecha | date:'dd/MM/yyyy'}}</td>
                                            <td>{{::item.estudiante}}</td>
                                            <td>{{::item.nombreEstudiante}}</td>
                                            <td>{{::item.concepto}}</td>
                                            <td>{{::item.valor|currency}}</td>
                                            <td class="text-center opciones-table">
                                                <a class="btn btn-info btn-tools-table" title="Ver detalle"
                                                    ng-click="$owner.anularReciboCajaCtrl.onVerdetalle(item, 0)">
                                                    <i class="glyphicon glyphicon-eye-open"></i>
                                                </a>
                                                <a ng-hide="{{::item.codigoConcepto === 'CFI11'}}"
                                                    class="btn btn-danger btn-tools-table" title="Anular Recibo"
                                                    ng-click="$owner.anularReciboCajaCtrl.mostrarModalAnular(item)"
                                                    id="btnProcessRequest">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    <tfoot>
                                        <tr
                                            ng-show="$filtered.length === $owner.appConstantsView.CERO && $owner.anularReciboCajaCtrl.listaRecibosCaja.length !== $owner.appConstantsView.CERO">
                                            <td colspan="6">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                                        </tr>
                                        <tr
                                            ng-show="$owner.anularReciboCajaCtrl.listaRecibosCaja.length === $owner.appConstantsView.CERO">
                                            <td colspan="6">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                        </tr>
                                    </tfoot>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </ng-form>
                </uib-tab>
                <uib-tab index="1" heading="Anulados">
                    <div class="content-box-wrapper">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6 col-xs-6">
                                    <div class="dataTables_length" id="datatable-example_length">
                                        <label>
                                            <select ng-model="anularReciboCajaCtrl.displayAnulados"
                                                ng-init="anularReciboCajaCtrl.displayAnulados = anularReciboCajaCtrl.displayAnulados || anularReciboCajaCtrl.options[appConstantsView.CERO].value"
                                                ng-options="option.value as option.name for option in anularReciboCajaCtrl.options">
                                            </select>
                                        </label>
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        <button class="btn btn-success hidden" id="btnExportar" ng-json-export-excel
                                            data="anularReciboCajaCtrl.listaRecibosAnulados" report-fields="{
                                                nRecibo:'Recibo',
                                                fecha:'Fecha',
                                                estudiante:'Estudiante',
                                                nombreEstudiante:'Nombre Estudiante',
                                                concepto:'Concepto',
                                                valor:'Valor',
                                                observacionAnulacion:'Observacion',
                                                responsable:'Responsable',
                                                cajero:'Cajero'
                                            }" filename=" 'listado-recibos-anulados' "
                                            title="Exportar listado Anulados a formato csv">
                                            <i class="fa fa-file-excel-o"></i> Exportar Listado Completo
                                        </button>
                                    </div>
                                </div>

                                <table object-table data="anularReciboCajaCtrl.listaRecibosAnulados"
                                    display="anularReciboCajaCtrl.displayAnulados"
                                    headers="No. Recibo,Fecha,Código Estudiante,Nombre de Estudiante,Concepto,Valor,Observación,Cajero,Opciones"
                                    fields="nRecibo,fecha,estudiante,nombreEstudiante,concepto,valor,observacionAnulacion,cajero" sorting="compound"
                                    editable="false" search="separate" resize="false" select="multiply"
                                    add-filter="| filter:$owner.all">
                                    <tbody>
                                        <tr>
                                            <td>{{::item.nRecibo}}</td>
                                            <td>{{::item.fechaAnulacion}}</td>
                                            <td>{{::item.estudiante}}</td>
                                            <td>{{::item.nombreEstudiante}}</td>
                                            <td>{{::item.concepto}}</td>
                                            <td>{{::item.valor| currency}}</td>
                                            <td>{{::item.observacionAnulacion}}</td>
                                            <td>{{::item.cajero}}</td>
                                            <td class="text-center opciones-table">
                                                <a class="btn btn-info btn-tools-table  " title="Ver detalle"
                                                    ng-click="$owner.anularReciboCajaCtrl.onVerdetalle(item, 1)">
                                                    <i class="glyphicon glyphicon-eye-open"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    <tfoot>
                                        <tr
                                            ng-show="$filtered.length === $owner.appConstantsView.CERO && $owner.anularReciboCajaCtrl.listaRecibosAnulados.length !== $owner.appConstantsView.CERO">
                                            <td colspan="6">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                                        </tr>
                                        <tr
                                            ng-show="$owner.anularReciboCajaCtrl.listaRecibosAnulados.length === $owner.appConstantsView.CERO">
                                            <td colspan="6">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                        </tr>
                                    </tfoot>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </uib-tab>
            </uib-tabset>



        </div>
    </div>