<style>
    .altoImp {
        height: 92px !Important;
    }

    li > .col-sm-3 > .active 
    {
        color: #555555;
        background-color: red;  
    } 
</style>

<div id="page-title" ng-controller="hojaVidaEstudianteCtrl as inspCtrl">
    <div class="row">
        <div class="float-left" style="margin-left: 10px">
            <h2 style="line-height: 30px;">Hoja de vida del Estudiante</h2>
        </div>
    </div>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <div class="float-left">
                <h3 class="text-uppercase content-box-header-title btn-sm">ACTUALIZAR DATOS DEL ESTUDIANTE</h3>
            </div>
            <div class="float-right" ng-controller="menuCtrl as mCtrl">
                <a ng-click="asistenciaCtrl.cancelarInterval(); mCtrl.onListarOPciones('/#/gestion-admitidos')" class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4;cursor: pointer; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                        <label class="control-label">{{appConstantsView.LABEL_TIPO_DOCUMENTO}}</label><label class="text-danger">*</label>
                        <select ng-options="tipodoc.codigo as tipodoc.valor for tipodoc in inspCtrl.lsttipodocumentos" 
                                name="tipodocInforPersonal" 
                                id="tipodoc"
                                validation="required" 
                                class="form-control"
                                ng-change="inspCtrl.onChangeInput()"
                                ng-model="inspCtrl.nuevaInscripcion.idTipoIdentificacionConsulta">
                            <option ng-if="inspCtrl.lsttipodocumentos.length >= appConstantsView.CERO" value="" >{{appConstantsView.SELECCION_SELECT}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                        <label class="control-label">{{appConstantsView.LABEL_NUMERO_DOCUMENTO}}</label><label class="text-danger">*</label>
                        <input type="text"
                               ng-change="inspCtrl.onChangeInput()"
                               id="numerodocumento" 
                               class="form-control" 
                               mask="9"
                               repeat="15"
                               restrict="reject"
                               name="numerodocumentoInforPersonal" 
                               ng-model="inspCtrl.nuevaInscripcion.identificacionConsulta"  
                               validation="required">
                    </div>
                </div>
            </div>
            <div class="button-pane">
                <input type="submit" class="btn" 
                       ng-disabled="inspCtrl.disabledConsultar"
                       style="background-color: #00bca4;color: #ffffff;border: 0px solid #dfe8f1; " 
                       ng-click="inspCtrl.consultarAspirante()"
                       value="Consultar">
            </div>

            <div class="col-sm-12 col-xs-12" ng-show="!inspCtrl.habilitarTabs"> 
                <div class="content-box" >
                    <div class="clearfix"></div>
                    <div class="example-box-wrapper" id="tabss">
                        <ul class="list-group list-group-separator row list-group-icons">
                            <li class="col-sm-12" >
                                <button data-toggle="tab" id="tab-1" class="list-group-item altoImp" ng-click="inspCtrl.ChangeTabs(1)" ng-disabled="inspCtrl.habilitarTabs">
                                    <i class="glyph-icon icon-user iconsRender " style="color: green"></i>
                                    Información Personal
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane " id="tab-example-1" >
                                <div class="back-cover table-scroll-x">
                                    <!--<--//INICIO PASO 1-->
                                    <div class="content-box">
                                        <h3 class="content-box-header bg-default">
                                            <i class="glyph-icon icon-cog"></i>
                                            Datos básicos
                                        </h3>
                                        <form method="POST" name="formwizardinscripcionDatosBasicos" novalidate>
                                            <div class="content-box-wrapper">
                                                <div class="row">
                                                    <div class="col-lg-6 col-sm-6">
                                                        <div class="form-group">
                                                            <label class="control-label">{{appConstantsView.LABEL_TIPO_DOCUMENTO}}</label>
                                                            <select ng-options="tipodoc.codigo as tipodoc.valor for tipodoc in inspCtrl.lsttipodocumentos" 
                                                                    name="tipodocInforPersonal" 
                                                                    id="tipodoc"
                                                                    ng-disabled="true"
                                                                    class="form-control"
                                                                    ng-model="inspCtrl.nuevaInscripcion.aspirante.identificacionAspirante.idTipoIdentificacion">
                                                                <option ng-if="inspCtrl.lsttipodocumentos.length >= appConstantsView.CERO" value="" >{{appConstantsView.SELECCION_SELECT}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-sm-6">
                                                        <div class="form-group">
                                                            <label class="control-label">{{appConstantsView.LABEL_NUMERO_DOCUMENTO}}</label>
                                                            <input type="text" 
                                                                   ng-disabled="true"
                                                                   id="numerodocumento" 
                                                                   class="form-control" 
                                                                   name="numerodocumentoInforPersonal" 
                                                                   ng-model="inspCtrl.nuevaInscripcion.aspirante.identificacionAspirante.identificacion"  
                                                                   >
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6 col-sm-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Tipo de Documento Nuevo</label><label class="text-danger">*</label>
                                                            <select ng-options="tipodoc.codigo as tipodoc.valor for tipodoc in inspCtrl.lsttipodocumentos" 
                                                                    name="tipodocInforPersonal" 
                                                                    id="tipodoc"
                                                                    validation="required" 
                                                                    class="form-control"
                                                                    ng-model="inspCtrl.nuevaInscripcion.idTipoDocumentoNuevo">
                                                                <option ng-if="inspCtrl.lsttipodocumentos.length >= appConstantsView.CERO" value="" >{{appConstantsView.SELECCION_SELECT}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-sm-6">
                                                        <div class="form-group">
                                                            <label class="control-label">{{appConstantsView.LABEL_NUMERO_DOCUMENTO_NUEVO}}</label><label class="text-danger">*</label>
                                                            <input type="text" 
                                                                   id="numerodocumento" 
                                                                   class="form-control" 
                                                                   name="numerodocumentoInforPersonal" 
                                                                   ng-model="inspCtrl.nuevaInscripcion.identificacionNuevo"  
                                                                   validation="required">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-6 col-sm-6">
                                                        <div class="form-group">
                                                            <label class="control-label">{{appConstantsView.LABEL_NOMBRES}}</label>
                                                            <input type="text" 
                                                                   id="lugarexpedicion" 
                                                                   class="form-control text-uppercase" 
                                                                   name="nombreInforPersonal" 
                                                                   mask='H' 
                                                                   restrict="reject" 
                                                                   repeat="100" 
                                                                   ng-disabled="true"
                                                                   ng-model="inspCtrl.nuevaInscripcion.aspirante.nombre" 
                                                                   >
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-sm-6">
                                                        <div class="form-group">
                                                            <label class="control-label">{{appConstantsView.LABEL_APELLIDOS}}</label>
                                                            <input type="text" 
                                                                   id="lugarexpedicion" 
                                                                   class="form-control text-uppercase" 
                                                                   name="apellidoInforPersonal" 
                                                                   mask='H' 
                                                                   restrict="reject" 
                                                                   repeat="100" 
                                                                   ng-model="inspCtrl.nuevaInscripcion.aspirante.apellido"  
                                                                   ng-disabled="true"
                                                                   >
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="button-pane">
                                        <input type="submit"
                                               class="btn" 
                                               style="background-color: #00bca4;color: #ffffff;border: 0px solid #dfe8f1;" 
                                               ng-click="inspCtrl.onGuardarCambioDocumento()"
                                               value="Guardar">
                                    </div>
                                </div>
                                <!--//FIN PASO 1-->

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>