<div id="page-title" ng-controller="configuracionRequisitosProgramasCtrl as ConfigReqProgCtrl">

    <div class="row">
        <div class="float-left" style="margin-left: 10px">
            <h2 style="line-height: 30px;">{{appConstantsView.TITLE_CONF_REQUISITOS_POR_PROGRAMAS}}</h2>
        </div>
    </div>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">{{appConstantsView.TITLE_LISTA_PROGRAMA_ACADEMICOS}}</h3>
            <div class="float-right"  ng-controller="menuCtrl as mCtrl">
            <a  ng-click="mCtrl.onListarOPciones('/#/admin-registro-control')" class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4;cursor: pointer; color: #ffffff; border: 0px solid #dfe8f1;">
                <div class="glyph-icon">
                    <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                </div>
            </a>
        </div>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="content-box-wrapper">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_length" id="datatable-example_length">
                                <label>
                                <select ng-model="ConfigReqProgCtrl.display" 
                                        ng-init="ConfigReqProgCtrl.display = ConfigReqProgCtrl.display || ConfigReqProgCtrl.options[appConstantsView.CERO].value"
                                        ng-options="option.value as option.name for option in ConfigReqProgCtrl.options">
                                </select>
                            </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <table object-table class="hover-column" data="ConfigReqProgCtrl.listaProgramas" display="ConfigReqProgCtrl.display" 
                               headers="Nivel Formación,Código,Programa,Modalidades,Horarios,Opciones"
                            fields="nombreNivelFormacion,codigoPrograma,nombrePrograma,nombreModalidad,nombreHorario" sorting="compound" selected-model="ConfigReqProgCtrl.report.selected"
                            editable="false" search="separate" resize="false" select="multiply" add-filter="| filter:$owner.all">
                            <tbody>
                                <tr>
                                    <td>{{::item.nombreNivelFormacion}}</td>
                                    <td>{{::item.codigoPrograma}}</td>
                                    <td>{{::item.nombrePrograma}}</td>
                                    <td>{{::item.nombreModalidad}}</td>
                                    <td>{{::item.nombreHorario}}</td>
                                    <td class="opciones-table text-center">
                                        <a href="" ng-click="$owner.ConfigReqProgCtrl.onClickToView(item)">
                                            <button class="btn btn-primary btn-tools-table" title="Ver detalle"> 
                                        <i class="glyphicon glyphicon-eye-open"></i>
                                    </button></a>
                                        <a href="" ng-click="$owner.ConfigReqProgCtrl.onClickToConfig(item)">
                                            <button class="btn btn-blue-alt btn-tools-table" title="Configurar"> 
                                        <i class="glyph-icon icon-cogs"></i>
                                    </button></a>
                                    </td>
                                </tr>
                                <tfoot>
                                    <tr ng-show="$filtered.length === $owner.appConstantsView.CERO && $owner.ConfigReqProgCtrl.listaProgramas.length !== $owner.appConstantsView.CERO">
                                        <td colspan="6">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                                    </tr>
                                    <tr ng-show="$owner.ConfigReqProgCtrl.listaProgramas.length === $owner.appConstantsView.CERO">
                                        <td colspan="6">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                    </tr>
                                </tfoot>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>