<!DOCTYPE html>
<div id="page-title" ng-controller="confiProgramaAcademicoCtrl as confiProgaAcadeCtrl">
    <h2>{{appConstantsView.TITLE_CONFIGURAR_PROGRAMA_ACA}}</h2>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">{{confiProgaAcadeCtrl.confiProgramaAuxiliar.titulo}}</h3>
            <div class="float-right">
                <a href="#/configurar-programas-academicos" ng-click="confiProgaAcadeCtrl.onLimpiarRegistro()" class="btn btn-sm btn-info icon-tool-add back-button"
                   data-animation="flipOutX" style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="panel-body">
                <form method="POST" novalidate name="formConfigurarPrograma">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="periodo" class="control-label">Periodo <label class="text-danger">*</label></label>
                                <select ng-options="item as item.nombrePeriodoAcademico for item in confiProgaAcadeCtrl.confiPrograma.listaPeriodos" class="form-control"
                                        ng-model="confiProgaAcadeCtrl.confiPrograma.idPeriodo" ng-change="confiProgaAcadeCtrl.buscarConfigPeriodo(confiProgaAcadeCtrl.confiPrograma.idPeriodo)"
                                        name="periodo" id="periodo" validation="required"
                                        >
                                    <option ng-if="confiProgaAcadeCtrl.confiPrograma.listaPeriodos.length > appConstantsView.UNO" value="">{{appConstantsView.SELECCION_SELECT}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="content-box" ng-if="confiProgaAcadeCtrl.confiProgramaAuxiliar.onDeshabilitarPanel">
                        <h3 class="content-box-header bg-default">
                          {{appConstantsView.LABEL_INFO}}
                        </h3>
                        <div class="content-box-wrapper">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="nombre" class="control-label">{{appConstantsView.LABEL_PROGRAMA_ACADEMICO}}<label class="text-danger">&#x200b;</label></label>
                                        <span class="form-control" ng-disabled="true">
                                            {{confiProgaAcadeCtrl.confiPrograma.codigo}}-{{confiProgaAcadeCtrl.confiPrograma.nombrePrograma}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="tipoCobro" class="control-label">{{appConstantsView.TIPO_COBRO}} <label class="text-danger">*</label></label>
                                        <select ng-options="item.codigo as item.valor for item in confiProgaAcadeCtrl.listaTipoCobro| orderBy:'valor' " class="form-control"
                                                ng-disabled="confiProgaAcadeCtrl.confiProgramaAuxiliar.onDeshabilitar || confiProgaAcadeCtrl.confiProgramaAuxiliar.periodoCerrado " ng-model="confiProgaAcadeCtrl.confiPrograma.TipoCobro"
                                                name="tipoCobro" id="tipoCobro" validation="required" ng-change="confiProgaAcadeCtrl.CreaLista(confiProgaAcadeCtrl.confiPrograma.TipoCobro)"
                                                >
                                            <option value="">{{appConstantsView.SELECCION_SELECT}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="maximoCreditos" class="control-label">{{appConstantsView.MAXIMO_CREDITO}}<label class="text-danger">*</label></label>
                                        <input type="text" class="form-control spinner-input" ng-model="confiProgaAcadeCtrl.confiPrograma.maximoCredito" validation="required"
                                               name="maximoCreditos" mask="999" id="maximoCreditos" restrict="reject" ng-disabled="confiProgaAcadeCtrl.confiProgramaAuxiliar.onDeshabilitar || confiProgaAcadeCtrl.confiProgramaAuxiliar.periodoCerrado "
                                               validation-error-to="errorMaximoCredito">
                                        <span id="errorMaximoCredito" class="validation text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="supletorio" class="control-label">{{appConstantsView.TITLE_SUPLETORIO}} <label class="text-danger">*</label></label>
                                        <div class="input-group">
                                            <span class=" input-group-addon ">
                                                $
                                            </span>
                                            <input style="text-align: right " type="text " class="form-control
                                                   " ng-model="confiProgaAcadeCtrl.confiPrograma.supletorio" validation="required "
                                                   name="supletorio " ui-money-mask="0" ng-disabled="confiProgaAcadeCtrl.confiProgramaAuxiliar.onDeshabilitar || confiProgaAcadeCtrl.confiProgramaAuxiliar.periodoCerrado "
                                                   validation-error-to="errorSupletorio">
                                        </div>
                                        <span id="errorSupletorio" class="validation text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-lg-6 col-sm-6 ">
                                    <div class="form-group ">
                                        <label for="maximoCreditosAdicionales" class="control-label">{{appConstantsView.MAXIMO_CREDITOS_ADICIONALES}}  <label class="text-danger ">*</label></label>
                                        <input type="text" class="form-control spinner-input" ng-model="confiProgaAcadeCtrl.confiPrograma.maximoCreditoAdicional"
                                               validation="required" id="maximoCreditosAdicionales" name="maximoCreditosAdicionales" mask="999"
                                               restrict="reject" ng-disabled="confiProgaAcadeCtrl.confiProgramaAuxiliar.onDeshabilitar || confiProgaAcadeCtrl.confiProgramaAuxiliar.periodoCerrado"
                                               validation-error-to="errorMaximoCreditoAdicional">
                                        <span id="errorMaximoCreditoAdicional" class="validation text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 ">
                                    <div class="form-group ">
                                        <label for="areaConocimiento " class="control-label">{{appConstantsView.VALOR_CREDITOS_ADICIONALES}} <label class="text-danger ">*</label></label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                $
                                            </span>
                                            <input style="text-align: right" type="text" class="form-control" ng-model="confiProgaAcadeCtrl.confiPrograma.valorCreditoAdicional"
                                                   validation="required" name="valorCreditosAdicionales" ui-money-mask="0" ng-disabled="confiProgaAcadeCtrl.confiProgramaAuxiliar.onDeshabilitar || confiProgaAcadeCtrl.confiProgramaAuxiliar.periodoCerrado"
                                                   validation-error-to="errorValorCreditoAdicional">
                                        </div>
                                        <span id="errorValorCreditoAdicional" class="validation text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row" ng-if="confiProgaAcadeCtrl.confiProgramaAuxiliar.hideTabla">
                                <ng-form novalidate name="formTabla" method="POST">
                                    <div class="back-cover table-scroll-x">
                                        <table class="table table-hover table-condensed dias">
                                            <thead>
                                                <tr style="font-weight: bold">
                                                    <th style="width:30%">{{confiProgaAcadeCtrl.confiPrograma.nombreTipoCobro}}{{"ES"}}</th>
                                                    <th style="width:35%">{{appConstantsView.VALOR_MATRICULA}}</th>
                                                    <th style="width:35%">{{appConstantsView.VALOR_SEMESTRE}}</th>
                                                </tr>
                                            </thead>
                                            <tr ng-repeat="item in confiProgaAcadeCtrl.confiPrograma.listaConfigTipoCobro">
                                                <td style="text-align:center; vertical-align: middle;">
                                                    {{confiProgaAcadeCtrl.confiPrograma.nombreTipoCobro}}: {{item.nivel}}
                                                </td>
                                                <td style="min-width: 200px;">
                                                    <div class="input-group">
                                                        <input type="text" style="text-align: right" id="inputHid{{item.nivel}}" name="inputHid{{item.nivel}}" ng-model="item.valorMatricula"
                                                               ng-keyup="confiProgaAcadeCtrl.changeSubtotal(item)" class="form-control"
                                                               ui-money-mask="0" restrict="reject" validation="required" ng-focus="confiProgaAcadeCtrl.focusCampo(item)"
                                                               ng-blur="confiProgaAcadeCtrl.blurCampo(item)" ng-disabled="!confiProgaAcadeCtrl.disabledInput || confiProgaAcadeCtrl.confiProgramaAuxiliar.periodoCerrado">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-group" >
                                                        <input ng-show="confiProgaAcadeCtrl.confiPrograma.idNivelFormacion === 3 || confiProgaAcadeCtrl.confiPrograma.idNivelFormacion === 2" type="text" style="text-align: right" id="inputHid2{{item.nivel}}" name="inputHid2{{item.nivel}}" ng-model="item.valorSemestre"
                                                               ng-keyup="confiProgaAcadeCtrl.changeSubtotal(item)" class="form-control"
                                                               ui-money-mask="0" restrict="reject" validation="required" ng-focus="confiProgaAcadeCtrl.focusCampo(item)"
                                                               ng-blur="confiProgaAcadeCtrl.blurCampo(item)" ng-disabled="!confiProgaAcadeCtrl.disabledInput || confiProgaAcadeCtrl.confiProgramaAuxiliar.periodoCerrado">
                                                        <span class="input-group-btn">
                                                            <button id="btnComd{{item.nivel}}" title="Modificar" ng-click="confiProgaAcadeCtrl.mostrarCampo(item)" ng-show="!confiProgaAcadeCtrl.disabledInput" class="btn btn-primary btn-group-plus" ng-disabled="confiProgaAcadeCtrl.confiProgramaAuxiliar.onDeshabilitar || confiProgaAcadeCtrl.confiProgramaAuxiliar.periodoCerrado" ><i class="glyphicon glyphicon-edit"></i></button>
                                                            <button id="btnCheck{{item.nivel}}" title="Confirmar" style="display: none;" type="submit" class="btn btn-primary btn-group-plus" ng-click="confiProgaAcadeCtrl.ocultarCampo(item.nivel)">
                                                                <i class="glyphicon glyphicon-ok"></i>
                                                            </button>
                                                            <button id="btnCancel{{item.nivel}}" title="Cancelar" style="display: none;" type="submit" class="btn btn-danger btn-group-plus" ng-click="confiProgaAcadeCtrl.cancelarCampo(item.nivel)">
                                                                <i class="glyphicon glyphicon-remove"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tfoot>
                                                <tr ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.confiProgaAcadeCtrl.confiPrograma.listaConfigTipoCobro.length !== $owner.appConstantsView.CERO">
                                                    <td colspan="6">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                                                </tr>
                                                <tr ng-if="$owner.confiProgaAcadeCtrl.confiPrograma.listaConfigTipoCobro.length === $owner.appConstantsView.CERO">
                                                    <td colspan="6">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </ng-form>
                            </div>
                            <div class=" button-pane ">
                                <button type="submit " class="btn btn-success " ng-hide="confiProgaAcadeCtrl.confiProgramaAuxiliar.onDeshabilitar || confiProgaAcadeCtrl.confiProgramaAuxiliar.periodoCerrado" ng-click="confiProgaAcadeCtrl.onSubmitForm()">{{appConstantsView.BOTON_GUARDAR}}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
                    $(document).ready(function () {
                        $(".spinner-input").TouchSpin({
                            verticalbuttons: true,
                            min: 1,
                            max: 999
                        });
                    });
</script>
