<script src="../../../../styles/assets/widgets/popover/popover.js" type="text/javascript"></script>
<script src="../../../../js/main-app.js" type="text/javascript"></script>
<style>
    .panel {padding: 10px;border-width: 1px 0 0 0;border-style: solid;border-top-left-radius: 0;border-top-right-radius: 0;}
    .btn-consultar-inscritos {color: #fff;background-color: #337ab7;border-color: #2e6da4;}
    .btn-consultar-inscritos:hover {color: #fff;background-color: #5B90BD;border-color: #2e6da4; }
    @media screen and (max-width: 1135px) {.table-scroll-x {overflow-x: scroll;}}
</style>
<div id="page-title" ng-controller="cambioHorarioCtrl as cambioHoraCtrl">
    <h2>Cambio de Semestre </h2>
    <p></p>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">

            <h3 class="float-left text-uppercase content-box-header-title btn-sm">Cambio de Semestre</h3>
            <div class="float-right" ng-controller="menuCtrl as mCtrl">
                <a ng-click="mCtrl.onListarOPciones('/#/gestion-admitidos')" class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4;cursor: pointer; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="content-box-wrapper">
            <div class="panel-body">
                <div class="content-box">
                    <div class="button-pane button-pane-top">
                        <h3 class="float-left text-uppercase content-box-header-title btn-sm">Consulta de Estudiante</h3>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-box-wrapper">
                        <form method="POST" name="buscarEstudiante" novalidate>
                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">{{appConstantsView.LABEL_CODIGO_ESTUDIANTIL}}</label>
                                        <div class="input-group">
                                            <input id="inputCodigo" type="text" validation="required" mask="9" restrict="reject" repeat="15" ng-model="cambioHoraCtrl.identificacionConsultar"
                                                   class="form-control" name="inputCodigo" validation-error-to="errorConsultaSolicitud">
                                            <span class="input-group-btn" style="position: static">
                                                <button type="submit"
                                                        title="Consultar"
                                                        id="btnCodigoConsultar"
                                                        ng-click="cambioHoraCtrl.onConsultarEstudiante(cambioHoraCtrl.identificacionConsultar)"
                                                        class="btn btn-primary btn-group-plus" >
                                                    <i class="glyphicon glyphicon-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                        <span id="errorConsultaSolicitud" class="validation text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="content-box" id="divDatosEstudiante">
                    <div class="button-pane button-pane-top">
                        <h3 class="float-left text-uppercase content-box-header-title btn-sm">Datos de Estudiante</h3>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-box-wrapper">
                        <form method="POST" name="formCambioHorario" novalidate>
                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="tipodocumento" class="control-label">{{appConstantsView.LABEL_TIPO_DOCUMENTO}}</label>
                                        <input type="text" id="tipodocumento" class="form-control" maxlength="100" minlength="1" name="tipodocumento" 
                                               ng-model="cambioHoraCtrl.estudiante.tipoDocumento" ng-disabled="true" validation="required">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="numdocumento" class="control-label">{{appConstantsView.LABEL_NUMERO_DOCUMENTO}}</label>
                                        <input type="text" id="numdocumento" class="form-control" maxlength="20" minlength="1" name="numdocumento" 
                                               ng-model="cambioHoraCtrl.estudiante.identificacion" ng-disabled="true" validation="required">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="nombres" class="control-label">{{appConstantsView.LABEL_NOMBRES}}</label>
                                        <input type="text" id="nombres" class="form-control text-uppercase" maxlength="100" minlength="1" name="nombres" 
                                               ng-model="cambioHoraCtrl.estudiante.nombres" validation="required" ng-disabled="true">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="apellidos" class="control-label">{{appConstantsView.LABEL_APELLIDOS}}</label>
                                        <input type="text" id="apellidos" class="form-control text-uppercase" maxlength="100" minlength="1" name="apellidos" 
                                               ng-model="cambioHoraCtrl.estudiante.apellidos" validation="required" ng-disabled="true">
                                    </div>
                                </div>
                            </div>

                            <div class="row">   
                                <div class="col-lg-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="programa" class="control-label">{{appConstantsView.LABEL_PROGRAMA_ACADEMICO}}</label><label class="text-danger">*</label>
                                        <ui-select name="programa" ng-model="cambioHoraCtrl.estudiante.programa" class="form-control"
                                                   ng-change="cambioHoraCtrl.onChangeSelectPrograma(); cambioHoraCtrl.onFiltrarModalidadYHorarioPorPorgrama(cambioHoraCtrl.estudiante.programa)">
                                            <ui-select-match placeholder="{{appConstantsView.SELECCION_SELECT}}">{{$select.selected.nombre}}</ui-select-match>
                                            <ui-select-choices repeat="programa in cambioHoraCtrl.programas | filter: {nombre: $select.search}">
                                                <div ng-bind-html="programa.nombre"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <div ng-if='cambioHoraCtrl.visible.validoprograma'>
                                            <div class="text-danger" style="margin-top: -10px;">{{cambioHoraCtrl.visibleMensaje}}</div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="semestre" class="control-label">Semestre Actual</label><label class="text-danger">*</label>
                                        <input type="text" id="semestre" class="form-control text-uppercase" maxlength="100" minlength="1" name="apellidos" 
                                               ng-model="cambioHoraCtrl.estudiante.semestreActual" validation="required" ng-disabled="true">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="semestreCambiar" class="control-label">Semestre Destino</label><label class="text-danger">*</label>
                                        <input type="text" id="semestreCambiar" class="form-control text-uppercase" maxlength="100" minlength="1" name="apellidos" 
                                               ng-model="cambioHoraCtrl.estudiante.semestreCambiar" validation="required" >
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="clearfix"></div>
                        <div class="button-pane">
                            <input type="submit" class="btn" 
                                   style="background-color: #00bca4;color: #ffffff;border: 0px solid #dfe8f1;" 
                                   ng-click="cambioHoraCtrl.onIrRegistrarSemestre()"
                                   value="Guardar" ng-if="!cambioHoraCtrl.visible.hayPeriodo">
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


    <script>
        $(document).ready(function () {
        $('#inputCodigo').keyup(function () {
        if ($(this).val().length !== 0)
                $('.btnCodigoConsultar').prop('disabled', false);
        else
                $('.btnCodigoConsultar').prop('disabled', true);
        });
        });</script>