<!DOCTYPE html>
<style>
    a{text-decoration: none !important;}
    .object-table-module .object-table thead>tr th.sortable:after, .object-table-module .object-table thead>tr th.sortable:before{content: none;}
</style>
<div id="page-title" ng-controller="programacionAcademicaCtrl as programacionAcademiCtrl">
    <h2>Programación Académica </h2>
    <p></p>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">{{programacionAcademiCtrl.promaca.titulo}}</h3>
            <div class="float-right">
                <a href="#/programacion-academica-horarios" ng-click="programacionAcademiCtrl.onLimpiarHorarioProgramacion()" class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left" ></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="panel-body">
                <form  method="POST"  name="formCudProgramacionAcademicaHorarios" novalidate>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{appConstantsView.LABEL_PERIODO_ACADEMICO}}</label><label class="text-danger">*</label>
                                <select ng-disabled="programacionAcademiCtrl.programacionAcademicaAuxiliar.disableVerDetalle || programacionAcademiCtrl.programacionAcademicaAuxiliar.disabledEdit"
                                        ng-options="item.id as item.nombrePeriodoAcademico for item in programacionAcademiCtrl.periodoAcademicoList"
                                        name="selectPeriodo" id="selectPeriodo"
                                        validation="required" class="form-control"
                                        ng-model="programacionAcademiCtrl.programacionAcademica.periodoAcademico" >
                                    <option ng-if="programacionAcademiCtrl.periodoAcademicoList.length >= appConstantsView.CERO" value="" selected>{{appConstantsView.SELECCION_SELECT}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{appConstantsView.LABEL_MODULO_CALENDARIO}}</label><label class="text-danger">*</label>
                                <input type="text"  id="modulo"  class="form-control"  name="modulo"
                                       ng-disabled="programacionAcademiCtrl.promaca.disable"
                                       ng-model="programacionAcademiCtrl.promaca.modulo"  >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{appConstantsView.LABEL_MODALIDAD}}</label><label class="text-danger">*</label>
                                <input type="text"  id="modalidad"  class="form-control"  name="modalidad"
                                       ng-disabled="programacionAcademiCtrl.promaca.disable"
                                       ng-model="programacionAcademiCtrl.promaca.modalidad">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{appConstantsView.LABEL_HORARIO}}</label><label class="text-danger">*</label>
                                <input type="text"  id="horario"  class="form-control"  name="horario"
                                       ng-disabled="programacionAcademiCtrl.promaca.disable"
                                       ng-model="programacionAcademiCtrl.promaca.horario">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{appConstantsView.LABEL_SECCIONAL}}</label><label class="text-danger">*</label>

                                <select ng-options="item.id as item.nombreSeccional for item in programacionAcademiCtrl.seccionales"
                                        name="selectSeccional" id="selectSeccional"
                                        validation="required" class="form-control"
                                        ng-change="programacionAcademiCtrl.onFiltrarHorPerSede(programacionAcademiCtrl.programacionAcademica.idNivelFormacion,
                                                                                                programacionAcademiCtrl.programacionAcademica.periodoAcademico, 
                                                                                                programacionAcademiCtrl.programacionAcademica.idSeccional),
                                                programacionAcademiCtrl.onListarDocentes(gestionProgramacionAcademica.programacionAcademica.idSeccional), 
                                                programacionAcademiCtrl.onBuscarRecurso(gestionProgramacionAcademica.programacionAcademica.idSeccional) "
                                        ng-model="programacionAcademiCtrl.programacionAcademica.idSeccional" >
                                    <option ng-if="programacionAcademiCtrl.seccionales.length >= appConstantsView.CERO" value="" selected>{{appConstantsView.SELECCION_SELECT}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">{{appConstantsView.LABEL_NIVEL_FORMACION}}</label><label class="text-danger">*</label>
                                <select name="nivelforma" 
                                        ng-options="nivelform.id as nivelform.nombreNivelFormacion for nivelform in programacionAcademiCtrl.nivelesformacion"
                                        validation="required"
                                        ng-model="programacionAcademiCtrl.programacionAcademica.idNivelFormacion" 
                                        ng-change="programacionAcademiCtrl.onFiltrarHorPerSede(programacionAcademiCtrl.programacionAcademica.idNivelFormacion,
                                                                                                programacionAcademiCtrl.programacionAcademica.periodoAcademico, 
                                                                                                programacionAcademiCtrl.programacionAcademica.idSeccional)"
                                        class="form-control">
                                        <option ng-if="programacionAcademiCtrl.nivelesformacion.length >= appConstantsView.CERO" value="" selected>{{appConstantsView.SELECCION_SELECT}}</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{appConstantsView.LABEL_PROGRAMA}}</label><label class="text-danger">*</label>
                                <select ng-options="item.id as item.nombrePrograma for item in programacionAcademiCtrl.programaAcademicolist | orderBy:'nombrePrograma'" class="form-control"
                                        ng-model="programacionAcademiCtrl.promaca.idPrograma"
                                        name="idPrograma"
                                        id="{{'idPrograma' + $index}}"
                                        validation="required"
                                        ng-disabled="programacionAcademiCtrl.programacionAcademicaAuxiliar.disableVerDetalle">
                                    <option value="">{{appConstantsView.SELECCION_SELECT}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{appConstantsView.LABEL_SEMESTRE}}</label><label class="text-danger">*</label>
                                <select  ng-disabled="programacionAcademiCtrl.disableSemestre()" ng-options="nivel.value as nivel.nombreNivel for nivel in programacionAcademiCtrl.semestre| orderBy:'nombreNivel'"
                                         ng-init="pnivelIndex = $index"
                                         class="form-control"
                                         name="semestre"
                                         ng-model="programacionAcademiCtrl.promaca.semestre"
                                         id="{{'semestre' + $index}}"
                                         ng-change="programacionAcademiCtrl.selectModuloPrograma(programacionAcademiCtrl.promaca.idPrograma, programacionAcademiCtrl.promaca.semestre)">
                                    <option ng-if="programacionAcademiCtrl.semestre.length >= appConstantsView.CERO" value="" >{{appConstantsView.SELECCION_SELECT}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{appConstantsView.LABEL_ASIGNATURA}}</label><label class="text-danger">*</label>
                                <select ng-disabled="programacionAcademiCtrl.disableAsignatura()"
                                        ng-options="item.id as item.nombreAsignatura for item in programacionAcademiCtrl.programaAsignaturasList | orderBy:'nombreAsignatura'" class="form-control"
                                        ng-model="programacionAcademiCtrl.promaca.idModuloAsignatura"
                                        ng-init="pnivelIndex = $index"
                                        name="idModuloAsignatura"
                                        id="{{'idModuloAsignatura' + $index}}" validation="required"
                                        ng-change="programacionAcademiCtrl.moduloTransversal(programacionAcademiCtrl.promaca.idModuloAsignatura)">
                                    <option value="">{{appConstantsView.SELECCION_SELECT}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{appConstantsView.LABEL_DOCENTE}}</label><label class="text-danger">*</label>
                                <ui-select name="idDocente"
                                ng-model="programacionAcademiCtrl.promaca.idDocente"
                                class="form-control">
                       <ui-select-match placeholder="{{appConstantsView.SELECCION_SELECT}}">{{$select.selected.nombreCompleto}}</ui-select-match>
                       <ui-select-choices  repeat="docente.id as docente in programacionAcademiCtrl.listaDocentes | filter:{nombreCompleto: $select.search} | orderBy:'nombreCompleto'">
                         <small ng-bind="docente.nombreCompleto"></small>
                       </ui-select-choices>
                     </ui-select>
                     <span  class="validation text-danger"></span>
                     <input type="text"
                            name="fakeInputidDocente"
                            class="hidden"
                            ng-model="programacionAcademiCtrl.promaca.idDocente"
                            validation="required"  />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{appConstantsView.LABEL_AULA}}</label><label class="text-danger">*</label>
                                <ui-select name="idAula"
                                        id="selectAula"
                                        class="form-control"
                                        ng-model="programacionAcademiCtrl.promaca.idAula"
                                        on-select="programacionAcademiCtrl.validarDisponibilidadAula();"
                                        ng-disabled="programacionAcademiCtrl.programacionAcademicaAuxiliar.disableVerDetalle">

                                    <ui-select-match placeholder="{{appConstantsView.SELECCION_SELECT}}">{{$select.selected.nombre}}</ui-select-match>
                                    <ui-select-choices repeat="recurso.id as recurso in programacionAcademiCtrl.recursoEducativoFisicoList | filter: {nombre: $select.search} | orderBy: 'nombre'">
                                        <div ng-bind-html="recurso.nombre"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>


                        </div>
                        <div ng-if="programacionAcademiCtrl.tablaTransversal" class="back-cover table-scroll-x">
                            <table class="table table-hover table-condensed dias " style="min-width: 600px;">
                                <thead>
                                    <tr style="font-weight: bold">
                                        <th >Programa</th>
                                        <th ><input type="checkbox" id="selectAll" ng-click="programacionAcademiCtrl.checkAllProgramas('selectAll', 'checkbox1')">  </th>
                                    </tr>
                                </thead>
                                <tr ng-repeat="item in programacionAcademiCtrl.tablaTransversalList">
                                    <td style="text-align:justify; vertical-align: middle;">
                                        {{item.nombrePrograma}}
                                    </td>
                                    <td style="text-align:center;">
                                        <input type="checkbox"
                                               id="chekValor{{item.id}}"
                                               ng-model="item.seleccionado"
                                               ng-change="programacionAcademiCtrl.checkProgramas(item, 'selectAll', 'checkbox1', 'chekValor')"
                                               class="checkbox1">
                                    </td>
                                </tr>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>

                        <!--div class="col-lg-6 col-sm-6">
                            ng-options="recurso.id as recurso.nombre for recurso in programacionAcademiCtrl.recursoEducativoFisicoList | orderBy:'nombre'  "
                            ng-select="programacionAcademiCtrl.validarDisponibilidadAula(programacionAcademiCtrl.promaca.idAula,programacionAcademiCtrl.promaca.numeroModulo, programacionAcademiCtrl.programacionAcademica.periodoAcademico, programacionAcademiCtrl.promaca.idHorario )"
                            <div class="form-group">
                                <label for="periodo" class="control-label">{{appConstantsView.LABEL_PERIODO_ACADEMICO}}</label><label class="text-danger">*</label>
                                <ui-select name="selectPeriodoAcademico"
                                           id="selectPeriodoAcademico"
                                           ng-model="inspCtrl.nuevaInscripcion.idPeriodoAcademico"
                                           class="form-control"
                                           on-select="inspCtrl.onFiltrarProgramaPorNivelFormacion(inspCtrl.nuevaInscripcion.idNivelFormacion,inspCtrl.nuevaInscripcion.idPeriodoAcademico);"
                                           ng-disabled="inspCtrl.nuevaInscripcion.id !== null">

                                    <ui-select-match placeholder="--Seleccione--" >{{$select.selected.nombre}}</ui-select-match>
                                    <ui-select-choices repeat="periodo.id as periodo in inspCtrl.periodosAcademicos | filter: {nombre: $select.search} | orderBy: 'nombre'">
                                        <div ng-bind-html="periodo.nombre"></div>
                                    </ui-select-choices>
                                </ui-select>

                                <div ng-if='preCtrl.visible.validoPeriodo'>
                                    <div class="text-danger" style="margin-top: -10px;" >{{appConstantsView.ERROR_CAMPO_REQUERIDO}}</div>
                                </div>
                            </div>
                        </div-->
                    </div>
            </div>
            <div class="row"></div>
            <div class="button-pane">
                <input type="submit" class="btn btn-success" ng-hide="{{programacionAcademiCtrl.programacionAcademicaAuxiliar.disableVerDetalle}}" value="Guardar" ng-click="programacionAcademiCtrl.onSubmitFormProgramacion()">
            </div>
            </form>
        </div>
    </div>
</div>
</div>
