<!DOCTYPE html>
<style>
    a{text-decoration: none !important;}
    .object-table-module .object-table thead>tr th.sortable:after, .object-table-module .object-table thead>tr th.sortable:before{content: none;}
</style>
<div id="page-title" ng-controller="programacionAcademicaCtrl as programacionAcademiCtrl">
    <h2>Programación Académica</h2>
    <p></p>
    <br>
    <div class="content-box">        
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">{{programacionAcademiCtrl.programacionAcademicaAuxiliar.titulo}}</h3>
            <div class="float-right">
                <a href="#/gestion-programacion-academica" ng-click="programacionAcademiCtrl.onLimpiar()" class="btn btn-sm btn-success" style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="fa fa-file-excel-o" ></i><span class="info-icon-tool">{{appConstantsView.BOTON_EXPORTAR}}</span>
                    </div>
                </a>
                <a href="#/gestion-programacion-academica" ng-click="programacionAcademiCtrl.onLimpiar()" class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left" ></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="panel-body">     
                <form  method="POST"  name="formCudProgramacionAcademica" novalidate>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{appConstantsView.LABEL_PERIODO_ACADEMICO}}</label><label class="text-danger">*</label>                            
                                <select ng-disabled="programacionAcademiCtrl.programacionAcademicaAuxiliar.disableVerDetalle || programacionAcademiCtrl.programacionAcademicaAuxiliar.disabledEdit"  
                                        ng-options="item.id as item.nombrePeriodoAcademico for item in programacionAcademiCtrl.periodoAcademicoList" 
                                        name="selectPeriodo" id="selectPeriodo" 
                                        validation="required" class="form-control"
                                        ng-model="programacionAcademiCtrl.programacionAcademica.periodoAcademico"
                                        ng-change="programacionAcademiCtrl.onFiltrar(programacionAcademiCtrl.programacionAcademica.periodoAcademico)">
                                    <option ng-if="programacionAcademiCtrl.periodoAcademicoList.length >= appConstantsView.CERO" value="" selected>{{appConstantsView.SELECCION_SELECT}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{appConstantsView.LABEL_MODULO_CALENDARIO}}</label><label class="text-danger">*</label>                            
                                <select ng-options="item as item.modulo for item in programacionAcademiCtrl.modulos.modulo track by item.modulo" 
                                        name="selectModulo" id="selectModulo" 
                                        validation="required" class="form-control"
                                        ng-model="programacionAcademiCtrl.programacionAcademica.modulo"
                                        ng-change="programacionAcademiCtrl.onFiltrarModulo(programacionAcademiCtrl.programacionAcademica.modulo)">
                                    <option ng-if="programacionAcademiCtrl.modulos.modulo.length >= appConstantsView.CERO" value="" selected>{{appConstantsView.SELECCION_SELECT}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row"></div>
                    <uib-tabset active="programacionAcademiCtrl.active" justify="false">
                        <uib-tab ng-repeat="item in programacionAcademiCtrl.modalidadesByModulo" ng-init="modalidadIndex = $index"
                                 heading="{{item.modalidad}}">
                            <div class="panel-body" style="padding-top: 0px;">  
                                <div class="row">
                                    <div ng-repeat="itemhorario in item.horarios" ng-init="horarioIndex = $index" 
                                         class="col-lg-12 col-sm-12">
                                        <div class="content-box">
                                            <div class="button-pane button-pane-top">
                                                <h3 class="float-left text-uppercase content-box-header-title btn-xs">
                                                    {{itemhorario.horario}}</h3>
                                                <div class="float-right" ng-hide="{{!programacionAcademiCtrl.programacionAcademicaAuxiliar.disableButton}}" >
                                                    <button class="btn btn-sm btn-info icon-tool-add"
                                                            id="{{modalidadIndex}}{{horarioIndex}}"
                                                            ng-click="programacionAcademiCtrl.onFiltarHorarioModulo(item, itemhorario, programacionAcademiCtrl.programacionAcademica.modulo)"
                                                            > 
                                                        <i class=" glyphicon glyphicon-pencil"></i>
                                                    </button>
                                                    <div   title="Exportar a programación Académica" 
                                                           ng-click="programacionAcademiCtrl.exportData(item.idModulo, item.idModalidad, itemhorario.idHorario)" class="btn btn-sm btn-success">
                                                        <i class="fa fa-file-excel-o" aria-hidden="true"></i></div>
                                                    <button ng-hide="true" id="exportarBtn" 
                                                            ng-json-export-excel data="programacionAcademiCtrl.programacionExport" report-fields="{
                                                            indice : '#',horario : 'Horario',programa:'Programa', nivel:'Nivel',
                                                            moduloAsignatura : 'Asignatura',docente : 'Docente',aula :  'Recurso'}"
                                                            filename="'programacion-academica'" class="btn btn-sm btn-success" title="Exportar programación Académica">
                                                        <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                    <div class="button-pane"  ng-hide="{{programacionAcademiCtrl.programacionAcademicaAuxiliar.disableButton}}">
                        <input type="submit" class="btn btn-success" value="Guardar" ng-click="programacionAcademiCtrl.onSubmitForm()">
                    </div>
                    {{programacionAcademiCtrl.disableButton}}
                </form>
            </div>
        </div>
    </div>
</div>
