<!DOCTYPE html>
<style>
    a{text-decoration: none !important;}
    .object-table-module .object-table thead>tr th.sortable:after, .object-table-module .object-table thead>tr th.sortable:before{content: none;}
</style>
<div id="page-title" ng-controller="programacionAcademicaCtrl as programacionAcademiCtrl">
    <h2>Programación Académica</h2>
    <p></p>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">{{programacionAcademiCtrl.programacionAcademicaAuxiliar.titulo}}</h3>
            <div class="float-right">
                <a ng-disabled=programacionAcademiCtrl.agregar
                   class="btn btn-sm btn-info icon-tool-add" ng-click="programacionAcademiCtrl.onIrRegistrarHorarioProgramacion()"
                   style="background-color: #00bca4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-plus"></i><span class="info-icon-tool text-capitalize">{{appConstantsView.BOTON_AGREGAR}}</span>
                    </div>
                </a>
                <a href="#/crud-programacion-academica" ng-click="programacionAcademiCtrl.onVolver()" class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left" ></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="dataTables_length" id="datatable_programacion_length">
                            <label>
                                <select ng-model="programacionAcademiCtrl.display"
                                        ng-init="programacionAcademiCtrl.display = programacionAcademiCtrl.display || programacionAcademiCtrl.options[appConstantsView.CERO].value"
                                        ng-options="option.value as option.name for option in programacionAcademiCtrl.options">
                                </select>
                            </label>
                        </div>
                    </div>

                    <div title="Exportar a programación Académica"
                         ng-click="programacionAcademiCtrl.exportDataList()"
                         class="float-right btn btn-sm btn-success">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                        <span class="info-icon-tool">{{appConstantsView.BOTON_EXPORTAR}}</span>
                    </div>
                    <button ng-hide="true" id="exportarBtn"
                            ng-json-export-excel data="programacionAcademiCtrl.programacionExport" report-fields="{
                            indice : '#',
                            horario : 'Horario',
                            programa: 'Programa',
                            nivel: 'Nivel',
                            moduloAsignatura : 'Asignatura',
                            docente : 'Docente',
                            aula : 'Recurso',
                            students: 'Estudiantes',
                            studentsBy1: '1erSemestre',
                            studentsBy2: '2doSemestre',
                            studentsBy3: '3erSemestre',
                            studentsBy4: '4toSemestre'
                        }"
                            filename="'programacion-academica'" class="btn btn-sm btn-success" title="Exportar a programación Académica"
                            >
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i><span class="info-icon-tool">{{appConstantsView.BOTON_EXPORTAR}}</span>
                    </button>
                </div>
                <table  object-table class="hover-column"
                        data = "programacionAcademiCtrl.programacionAcademicaAuxiliar.horariosDetalle"
                        display = "programacionAcademiCtrl.display"
                        headers = "Programa,Semestre,Modulo,Docente,Aula,Estudiantes,1_Semestre,2_Semestre,3_Semestre,4_Semestre,Opciones"
                        fields = "programa,semestre,moduloAsignatura,docente,aula,students,studentsBy1,studentsBy2,studentsBy3,studentsBy4"
                        sorting = "compound"
                        editable = "false"
                        search="separate"
                        resize="false"
                        select="multiply">
                    <tbody>
                        <tr>
                            <td>{{item.programa}}</td>
                            <td>{{item.semestre}}</td>
                            <td>{{item.moduloAsignatura}}</td>
                            <td>{{item.docente}}</td>
                            <td>{{item.aula}}</td>
                            <td>{{item.students}}</td>
                            <td>{{item.studentsBy1}}</td>
                            <td>{{item.studentsBy2}}</td>
                            <td>{{item.studentsBy3}}</td>
                            <td>{{item.studentsBy4}}</td>
                            <td class="text-center opciones-table">
                                <a class="btn btn-info btn-tools-table" title="Modificar"
                                   ng-click="$owner.programacionAcademiCtrl.onUpdateRegistrarHorarioProgramacion(item)">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </a>
                                <a  title="Eliminar"
                                    ng-click="$owner.programacionAcademiCtrl.onRemoveProgramacion(item)"
                                    class="btn btn-danger btn-tools-table">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr ng-show="$owner.programacionAcademiCtrl.programacionAcademicaAuxiliar.horariosDetalle.length === 0">
                            <td colspan="5">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                        </tr>
                        <tr ng-show="$filtered.length === $owner.appConstantsView.CERO && $owner.programacionAcademiCtrl.programacionAcademicaAuxiliar.horariosDetalle.length !== $owner.appConstantsView.CERO">
                            <td colspan="5">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
