<div id="page-title" ng-controller="PeriodoAcademicoCtrl
        as
        periodoCtrl">
    <div class="row">
        <div class="float-left" style="margin-left: 10px">
            <h2 style="line-height: 30px;">{{appConstantsView.LABEL_PERIODOS_ACADEMICOS}}</h2>
        </div>
    </div>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">{{appConstantsView.TITLE_LISTADO_PERIODOS_ACADEMICOS}}</h3>
            <div class="float-right"   ng-controller="menuCtrl as mCtrl">
                <a class="btn btn-sm btn-info icon-tool-add" ng-click="periodoCtrl.onClickToAddPeriodoAcademico()" style="background-color: #00bca4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-plus"></i><span class="info-icon-tool text-capitalize">{{appConstantsView.BOTON_AGREGAR}}</span>
                    </div>
                </a>
                <a ng-click="periodoCtrl.cancelarInterval();mCtrl.onListarOPciones('/#/admin-registro-control')" class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4;cursor: pointer; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="row">
                <div class="col-sm-6">
                    <div class="dataTables_length" id="datatable-example_length">
                        <label>
                            <select ng-model="periodoCtrl.display" 
                                    ng-init="periodoCtrl.display = periodoCtrl.display || periodoCtrl.options[appConstantsView.CERO].value"
                                    ng-options="option.value as option.name for option in periodoCtrl.options"
                                    ng-change="periodoCtrl.display <= periodoCtrl.periodosAcademicos? loadDat(n-1):''">
                            </select>
                        </label>
                        <!--Por favor no borrar ya que este componente es de la funcionalidad de seleccionar todos los datos Jhon Murillo-->
                        <!--label class="control-label">Seleccionar Todos</label>
                        <input type="checkbox" 
                               ng-model="periodoCtrl.selectTodos"
                               name="selectTodos"
                               ng-disabled="periodoCtrl.periodosAcademicos.length === appConstantsView.CERO || periodoCtrl.filtrados.length === appConstantsView.CERO"
                               ng-true-value="true"
                               ng-false-value="false"
                               ng-change="periodoCtrl.onSelectTodos()"-->
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="content-box border-top border-yellow" ng-if="!periodoCtrl.mensajeValidacion">
                <h3 class="content-box-header clearfix title-resumen-yellow">
                    <div class="col-xs-12">
                        <a ng-click="periodoCtrl.mensajeValidacion = false" class="btn btn-xs btn-danger pull-right">
                            <i class="glyph-icon icon-remove"></i>
                        </a>
                        {{appConstantsView.LABEL_ADVERTENCIA}}
                        <small>{{appConstantsView.ERROR_REGISTROS_NO_ELIMINADOS}}</small>
                    </div>
                </h3>
                <div class="content-box-wrapper">
                    <ul class="todo-box" style="overflow-y: scroll;height: 235px;">
                        <li class="border-yellow" ng-repeat="noEliminiado in periodoCtrl.listNoEliminados track by noEliminiado.id">
                            <label for="todo-1">{{appConstantsView.LABEL_CODIGO}}: {{noEliminiado.codigoPeriodoAcademico}}, {{appConstantsView.LABEL_NOMBRE}}: {{noEliminiado.nombrePeriodoAcademico}}</label>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <table object-table class="hover-column" display="periodoCtrl.display" data="periodoCtrl.periodosAcademicos" headers="Código,Nombre,Fecha Inicio, Fecha Fin,Estado,Opciones"
                    fields="codigoPeriodoAcademico,nombrePeriodoAcademico,fechaInicioPeriodoAcademico,fechaCierrePeriodoAcademico,nombreEstadoPeriodo"
                    search="separate" sorting="compound" selected-model="periodoCtrl.report.selected" editable="false" search="false"
                    resize="false" select="multiply">
                    <tbody>
                        <tr ng-click="$owner.periodoCtrl.onSelectTodosTable(ifSelected(item)); setSelected(item)">
                            <td>{{::item.codigoPeriodoAcademico}}</td>
                            <td style="text-transform: uppercase">{{::item.nombrePeriodoAcademico}}</td>
                            <td>{{::item.fechaInicioPeriodoAcademico| date:'dd/MM/yyyy'}}</td>
                            <td>{{::item.fechaCierrePeriodoAcademico| date:'dd/MM/yyyy'}}</td>
                            <td>{{::item.nombreEstadoPeriodo}}</td>
                            <td class="text-center opciones-table">
                                <a class="btn btn-primary btn-tools-table" title="Ver Detalle" ng-click="$owner.periodoCtrl.onClickToVerDetallePeriodoAcademico(item)">
                                    <i class="glyphicon glyphicon-eye-open "></i>
                                </a>
                                <a class="btn btn-info btn-tools-table" title="Modificar" ng-click="$owner.periodoCtrl.onClickToUpdatePeriodoAcademico(item)"
                                ng-hide="item.nombreEstadoPeriodo==='Cerrado'">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </a>
                                <a class="btn btn-info btn-tools-table" title="Cerrar Período" ng-click="$owner.periodoCtrl.onCerrarPeriodoAcademico(item)"
                                ng-show="item.nombreEstadoPeriodo==='Abierto'">
                                    <i class="glyph-icon tooltip-button icon-typicons-lock-filled"></i>
                                </a>
                            </td>
                            <td ng-hide="true">{{ $owner.periodoCtrl.obtenerFiltrados($filtered)}}</td>
                        </tr>
                        <tfoot>
                            <tr ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.periodoCtrl.periodosAcademicos.length !== $owner.appConstantsView.CERO">
                                <td colspan="6">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                            </tr>
                            <tr ng-if="$owner.periodoCtrl.periodosAcademicos.length === $owner.appConstantsView.CERO">
                                <td colspan="6">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                            </tr>
                        </tfoot>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>