<script src="js/main-app.js"></script>
<script src="../../../../styles/assets/widgets/input-switch/inputswitch.js" type="text/javascript"></script>
<script src="../../../../styles/assets/widgets/input-switch/inputswitch-alt.js" type="text/javascript"></script>
<div id="page-title" ng-controller="PrerequisitosInscripcionCtrl as preCtrl">
    <h2>Requisitos</h2>
    <p></p>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">{{preCtrl.prerequisitoAuxiliar.titleWindow}}</h3>
            <div class="float-right">
                <a href="#/maestro-requisitos"  class="btn btn-sm btn-info icon-tool-add back-button"
                   data-animation="flipOutX" style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="panel-body">     
                <div class="row">
                    <form method="POST" name="formRegisPreinscripcion" novalidate>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="nombre" class="control-label pull-left">{{appConstantsView.LABEL_TIPO_REQUISITOS}}</label><label class="text-danger pull-left">*</label>
                                    <select ng-options="tipo.codigo as tipo.valor for tipo in preCtrl.listTipoRequisito| orderBy:'valor'" 
                                            name="tipo" 
                                            id="tipo" 
                                            class="form-control"
                                            ng-model="preCtrl.nuevoPrerequisito.tipoRequisito"
                                            ng-disabled="preCtrl.prerequisitoAuxiliar.disabled"
                                            validation="custom:preCtrl.customValidationTipo|required">
                                        <option ng-if="preCtrl.listTipoRequisito.length > appConstantsView.UNO" value="">{{appConstantsView.SELECCION_SELECT}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="nombre" class="control-label pull-left">{{appConstantsView.LABEL_CARACTERISTICA}}</label><label class="text-danger pull-left">*</label>
                                    <select ng-options="caracteristica.codigo as caracteristica.valor for caracteristica in preCtrl.listCaracteristica| orderBy:'valor'" 
                                            name="tipo1" 
                                            id="tipo1" 
                                            class="form-control"
                                            ng-model="preCtrl.nuevoPrerequisito.caracteristica"
                                            ng-disabled="preCtrl.prerequisitoAuxiliar.disabled"
                                            validation="custom:preCtrl.customValidationTipo|required">
                                        <option ng-if="preCtrl.listTipoRequisito.length > appConstantsView.UNO" value="">{{appConstantsView.SELECCION_SELECT}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="codigo" class="control-label pull-left">{{appConstantsView.LABEL_CODIGO}}</label><label class="text-danger pull-left">*</label>
                                    <input type="text" 
                                           id="codigo" 
                                           class="form-control upper" 
                                           name="codigo" 
                                           ng-model="preCtrl.nuevoPrerequisito.codigoRequisito" 
                                           ng-disabled="preCtrl.prerequisitoAuxiliar.disabledCodeField"
                                           ng-trim="false"
                                           onKeyPress="return soloLetras(event);"
                                           validation="required"
                                           maxlength="10">
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="nombre" class="control-label pull-left">{{appConstantsView.LABEL_NOMBRE}}</label><label class="text-danger pull-left">*</label>
                                    <input type="text" 
                                           id="nombre" 
                                           class="form-control upper" 
                                           name="nombre" 
                                           ng-model="preCtrl.nuevoPrerequisito.nombreRequesito" 
                                           ng-disabled="preCtrl.prerequisitoAuxiliar.disabled"
                                           onKeyPress="return soloLetrasEspacio(event);"
                                           maxlength="100"
                                           validation="required">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 10px">
                            <div class="col-sm-6 col-lg-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label pull-left">{{appConstantsView.LABEL_OBLIGATORIO}}</label><label class="text-danger pull-left">*</label>
                                    <br>
                                </div>
                                <div class="pull-left ">
                                    <input
                                        bs-switch
                                        ng-model="preCtrl.nuevoPrerequisito.obligatorio"
                                        type="checkbox"
                                        ng-true-value="'SI'"
                                        ng-false-value="'NO'"
                                        switch-on-text="SI"
                                        switch-off-text="NO"
                                        class="form-control col-xs-12"
                                        switch-active="{{preCtrl.prerequisitoAuxiliar.inputenabled}}">
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label pull-left">{{appConstantsView.LABEL_REQUISITO_GENERAL}}</label>
                                    <br>
                                </div>
                                <div class="pull-left ">
                                    <input 
                                        bs-switch
                                        ng-model="preCtrl.nuevoPrerequisito.requisito"
                                        type="checkbox"
                                        ng-true-value="'SI'"
                                        ng-false-value="'NO'"
                                        switch-on-text="SI"
                                        switch-off-text="NO"
                                        class="form-control col-xs-12"
                                        switch-active="{{preCtrl.prerequisitoAuxiliar.inputenabled}}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label pull-left">{{appConstantsView.LABEL_DESCRIPCION}}</label>
                                    <textarea id="descripcion" 
                                              class="form-control textarea-no-resize" 
                                              name="descripcion" 
                                              ng-model="preCtrl.nuevoPrerequisito.descripcionRequisito"
                                              ng-disabled="preCtrl.prerequisitoAuxiliar.disabled"
                                              ng-trim="false"
                                              validation="between_len:1,250"
                                              max-length="250"></textarea>
                                    <span class="pull-right">{{250 - preCtrl.nuevoPrerequisito.descripcionRequisito.length}} de 250</span>
                                </div> 
                            </div>
                            <div class="col-lg-6 col-sm-6" ng-show="!preCtrl.prerequisitoAuxiliar.showEditBtn || !preCtrl.prerequisitoAuxiliar.showeEditBtn2">
                                <div class="form-group">
                                    <label class="control-label pull-left">{{appConstantsView.LABEL_ESTADO}}</label><label class="text-danger pull-left">*</label>
                                    <select ng-options="estado for estado in preCtrl.listEstado | orderBy:'estado'" 
                                            name="estado" 
                                            id="estado" 
                                            class="form-control"
                                            ng-model="preCtrl.nuevoPrerequisito.estado"
                                            ng-disabled="preCtrl.prerequisitoAuxiliar.showeEditBtn2"

                                            validation="custom:preCtrl.customValidationEstado|required:alt=Seleccione un estado">
                                        <option ng-if="preCtrl.listEstado.length > appConstantsView.UNO" value="">{{appConstantsView.SELECCION_SELECT}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="button-pane">
                            <input class="btn btn-success" type="submit" value="Guardar" ng-click="preCtrl.onGuardar()" ng-show="preCtrl.prerequisitoAuxiliar.showEditBtn">
                        </div>
                    </form>
                    <script type="text/javascript">
                                        /* Input switch */
                                        $(function () {
                                        "use strict";
                                                $('.input-switch').bootstrapSwitch();
                                        });
                                        function soloLetrasEspacio(e) {
                                        key = e.keyCode || e.which;
                                                tecla = String.fromCharCode(key).toString();
                                                letras = "áéíóúabcdefghijklmnñopqrstuvwxyzÁÉÍÓÚABCDEFGHIJKLMNÑOPQRSTUVWXYZ0123456789";
                                                //Se define todo el abecedario que se quiere que se muestre.
                                                especiales = [8, 32, 45]; //Es la validación del KeyCodes, que teclas recibe el campo de texto.
                                                tecla_especial = false;
                                                for (var i in especiales) {
                                        if (key == especiales[i]) {
                                                tecla_especial = true;
                                                break;
                                        }
                                        }
                                        if (letras.indexOf(tecla) == - 1 && !tecla_especial)
                                                return false;
                                        };
                                        
                                        function soloLetras(e) {
                                        key = e.keyCode || e.which;
                                                tecla = String.fromCharCode(key).toString();
                                                letras = "áéíóúabcdefghijklmnñopqrstuvwxyzÁÉÍÓÚABCDEFGHIJKLMNÑOPQRSTUVWXYZ0123456789";
                                                //Se define todo el abecedario que se quiere que se muestre.
                                                especiales = [8]; //Es la validación del KeyCodes, que teclas recibe el campo de texto.
                                                tecla_especial = false;
                                                for (var i in especiales) {
                                        if (key == especiales[i]) {
                                                tecla_especial = true;
                                                break;
                                        }
                                        }
                                        if (letras.indexOf(tecla) == - 1 && !tecla_especial)
                                                return false;
                                        };                    </script>
                </div>
            </div>
        </div>
    </div>
</div>