<script src="../../../../js/main-app.js" type="text/javascript"></script>
<div id="page-title" ng-controller="PrerequisitosInscripcionCtrl as preCtrl">
    <div class="row">
        <div class="float-left" style="margin-left: 10px">
            <h2 style="line-height: 30px;"> {{appConstantsView.TITLE_REQUISITOS}}</h2>
        </div>
        <div class="float-right" style="margin-right: 10px">

        </div>
    </div>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm "> {{appConstantsView.TITLE_LISTADO_REQUISITOS}}</h3>
            <div class="float-right" ng-controller="menuCtrl as mCtrl">
                <a href="#/gestionar-maestros-requisitos" class="btn btn-sm btn-info icon-tool-add" ng-click="preCtrl.onAgregar()" style="background-color: #00bca4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-plus"></i><span class="info-icon-tool text-capitalize">{{appConstantsView.BOTON_AGREGAR}}</span>
                    </div>
                </a>
                <a  ng-click="mCtrl.onListarOPciones('/#/admin-registro-control')" class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4;cursor: pointer; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="dataTables_length" id="datatable-example_length">
                            <label>
                                <select ng-model="preCtrl.display" 
                                        ng-init="preCtrl.display = preCtrl.display || preCtrl.options[appConstantsView.CERO].value"
                                        ng-options="option.value as option.name for option in preCtrl.options">
                                </select> 
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <table  object-table
                            data = "preCtrl.prerequisitos"
                            display = "preCtrl.display"
                            headers = "Código,Nombre,Tipo,Obligatorio,Estado,Opciones"
                            fields = "codigoRequisito,nombreRequesito,nombreTipoRequisito,obligatorio,estado"
                            sorting = "compound"  
                            selected-model="preCtrl.report.selected"
                            editable = "false" 
                            search="separate"
                            resize="false"  
                            select="multiply">
                        <tbody>
                            <tr>
                                <td>{{item.codigoRequisito}}</td>
                                <td>{{item.nombreRequesito}}</td>
                                <td>{{item.nombreTipoRequisito}}</td>
                                <td>{{item.obligatorio}}</td>
                                <td>{{item.estado}}</td>
                                <td class="text-center opciones-table">
                                    <a class="btn btn-primary btn-tools-table" ng-click="$owner.preCtrl.onVerPrerequisto(item)" title="Ver detalle">
                                        <i class="glyphicon glyphicon-eye-open"></i>
                                    </a>
                                    <a class="btn btn-info btn-tools-table" ng-click="$owner.preCtrl.onEditar(item)" title="Modificar">
                                        <i class="glyphicon glyphicon-edit"></i>
                                    </a>
                                    <a class="btn btn-danger btn-tools-table" ng-click="$owner.preCtrl.onEliminar(item)" title="Eliminar">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr ng-show="$filtered.length === $owner.appConstantsView.CERO && $owner.preCtrl.prerequisitos.length !== $owner.appConstantsView.CERO">
                                <td colspan="5">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                            </tr>
                            <tr ng-show="$owner.preCtrl.prerequisitos.length === $owner.appConstantsView.CERO">
                                <td colspan="5">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>