<div id="page-title" ng-controller="gestionDescuentoCtrl as GDCtrl">
    <div class="row">
        <div class="float-left" style="margin-left: 10px">
            <h2 style="line-height: 30px;">{{appConstantsView.DESCUENTOS}}</h2>
        </div>
    </div>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">{{appConstantsView.TITLE_BUSQUEDA_CODIGO}}</h3>
            <div class="float-right" ng-controller="menuCtrl as mCtrl">
                <a  ng-click="mCtrl.onListarOPciones('/#/financiero')" class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4;cursor: pointer; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="panel-body">
                <form method="POST" name="formConsultarEstudiante" class="form-horizontal" novalidate>
                    <div class="form-group">
                        <label class="col-sm-3 control-label pull-left">{{appConstantsView.LABEL_CODIGO}}</label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input type="text" id="codigoIdentificacion" name="codigoIdentificacion" class="form-control" ng-model="GDCtrl.nuevoDescuento.codigoEstudianteCampo"
                                    validation="required" validation-error-to="myErrorId">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" 
                                            type="button" 
                                            ng-click="GDCtrl.onConsultarEstudiante()">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </span>
                            </div>
                            <span id="myErrorId" class="validation text-danger"></span>
                        </div>
                    </div>
                </form>
                <form method="POST" name="formConsultarEstudiantePrograma" class="form-horizontal" novalidate>
                    <div class="form-group" ng-if="GDCtrl.listaProgramas.length > appConstantsView.UNO">
                        <label class="col-sm-3 control-label pull-left">{{appConstantsView.LABEL_PROGRAMA_ACADEMICO}}</label>
                        <div class="col-sm-6">
                            <select ng-options="item as item.programa for item in GDCtrl.listaProgramas" name="selectListaProgramas" id="selectListaProgramas"
                                class="form-control" ng-model="GDCtrl.nuevoDescuento.idProgramaSelected" ng-change="GDCtrl.onCambiarPrograma()"
                                validation="required">
                                <option ng-if="GDCtrl.listaProgramas.length >= appConstantsView.CERO" value="" selected>{{appConstantsView.SELECCION_SELECT}}</option>
                            </select>
                        </div>
                    </div>
                </form>
                <div class="content-box" ng-if="GDCtrl.nuevoDescuentoAux.onDeshabilitar">
                    <h3 class="content-box-header bg-default">
                      {{appConstantsView.TITLE_INFO_ESTUDIANTE}} 
                    </h3>
                    <div class="content-box-wrapper">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="nombre" class="control-label">{{appConstantsView.LABEL_NOMBRE}}</label>
                                    <input type="text" id="nombreEstudiante" ng-disabled="true" class="form-control" name="nombre" ng-model="GDCtrl.nuevoDescuento.nombresCompleto">
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="seccional" class="control-label">{{appConstantsView.LABEL_IDENTIFICACION}}</label>
                                    <input type="text" id="identificacionEstudiante" ng-disabled="true" class="form-control" name="seccional" ng-model="GDCtrl.nuevoDescuento.documentoCompleto">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="nivelforma" class="control-label">{{appConstantsView.LABEL_NIVEL_FORMACION}}</label>
                                    <input type="text" id="responsable" ng-disabled="true" class="form-control" name="nivelforma" ng-model="GDCtrl.nuevoDescuento.nivelFormacion">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="program" class="control-label">{{appConstantsView.LABEL_PROGRAMA_ACADEMICO}}</label>
                                    <input type="text" id="responsable" ng-disabled="true" class="form-control" name="program" ng-model="GDCtrl.nuevoDescuento.programaNombre">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="semest" class="control-label">{{appConstantsView.LABEL_SEMESTRE}}</label>
                                    <input type="text" id="responsable" ng-disabled="true" class="form-control" name="semest" ng-model="GDCtrl.nuevoDescuento.semestre">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-box" ng-if="GDCtrl.nuevoDescuentoAux.onDeshabilitar">
                    <h3 class="content-box-header bg-default">
                         {{appConstantsView.TITLE_LIQUIDACION}}  
                    </h3>
                    <div class="content-box-wrapper">
                        <div class="panel-body">
                            <form method="POST" name="formConsultarConceptoFacturar" class="form-horizontal" novalidate>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label pull-left">{{appConstantsView.CONCEPTO_FACTURAR}}</label>
                                    <div class="col-sm-6">
                                        <select ng-options="item as item.nombre for item in GDCtrl.listaConceptosAFacturar | orderBy:'nombre' track by item.id " name="selectConcepCapturar"
                                            id="selectConcepCapturar" validation="required"
                                            class="form-control" 
                                            ng-model="GDCtrl.nuevoDescuento.conceptoAFacturar"
                                            ng-change="GDCtrl.onCambiarConcepto()">
                                    <option ng-if="GDCtrl.listaConceptosAFacturar.length >= appConstantsView.CERO" value="" selected>{{appConstantsView.SELECCION_SELECT}}</option>
                                </select>
                                    </div>
                                </div>
                            </form>
                            <br>
                            <div class="content-box-wrapper" ng-if="GDCtrl.nuevoDescuento.conceptoAFacturar">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="dataTables_length" id="datatable-example_length">
                                            <label>
                                        <select ng-model="GDCtrl.display" 
                                                ng-init="GDCtrl.display = GDCtrl.display || GDCtrl.options[appConstantsView.CERO].value"
                                                ng-options="option.value as option.name for option in GDCtrl.options">
                                        </select> 
                                    </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <table object-table class="hover-column" data="GDCtrl.nuevoDescuento.listaDescuentosAFacturar" headers="Código,Nombre,Valor"
                                        fields="codigo,nombre,valor" sorting="compound" editable="false" search="false" resize="false">
                                        <tbody>
                                            <tr>
                                                <td>{{::item.codigo}}</td>
                                                <td>{{::item.nombre}}</td>
                                                <td class="money text-right">{{::item.valor|currency}}</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr ng-if="$owner.GDCtrl.nuevoDescuento.listaConceptosAFacturar.length > appConstantsView.CERO">
                                                <td colspan="2" class="text-right"> Total </td>
                                                <td class="money text-right">{{$owner.GDCtrl.total|currency}}</td>
                                            </tr>
                                            <tr ng-if="$owner.GDCtrl.nuevoDescuento.listaConceptosAFacturar.length === $owner.appConstantsView.CERO">
                                                <td colspan="3">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="button-pane" ng-if="GDCtrl.nuevoDescuento.listaConceptosAFacturar.length > appConstantsView.CERO">
                                <input class="btn btn-success" type="submit" value="Generar" ng-click="GDCtrl.onGuardar()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>