<div id="page-title" ng-controller="gestionDescuentoCtrl as GDCtrl">
    <div class="row">
        <div class="float-left" style="margin-left: 10px">
            <h2 style="line-height: 30px;">{{appConstantsView.DESCUENTOS}}</h2>
        </div>
    </div>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">Listado de Estudiantes con Descuento
            </h3>
            <div class="float-right" ng-controller="menuCtrl as mCtrl">
                <a ng-click="mCtrl.onListarOPciones('/#/financiero')"
                    class="btn btn-sm btn-info icon-tool-add back-button"
                    style="background-color: #0096D4;cursor: pointer; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span
                            class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>

        <uib-tabset justify="false">
            <uib-tab index="0" heading="Consultar Descuentos Por Estudiante">
                <div class="panel-body ">
                    <div class="content-box-wrapper">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <form role="form" name="formConsultarEstudiante" novalidate>
                                    <div class="form-group">
                                        <label class="control-label">{{appConstantsView.LABEL_CODIGO}}<label
                                                class="text-danger">*</label></label>
                                        <div class="input-group">
                                            <input type="text" id="codigoIdentificacion" name="codigoIdentificacion"
                                                class="form-control" ng-model="GDCtrl.codigoEstudianteCampo"
                                                validation="required" validation-error-to="myErrorId"
                                                ng-keyup="GDCtrl.onPresionarEnter($event)"
                                                ng-change="GDCtrl.onLimpiar()" mask="9" min="3" repeat="15"
                                                restrict="reject">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="button"
                                                    ng-click="GDCtrl.onConsultarDescuentosEstudiante(GDCtrl.codigoEstudianteCampo)">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                        <span id="myErrorId" class="validation text-danger"></span>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <table object-table class="hover-column" data="GDCtrl.listaDescuentosEstudiante"
                            headers="Estudiante,Periodo,Semestre,Referencia,Valor Total,Valor Descuento,Valor Liquidado,Porcentaje de Descuento,Estado,Fecha Liquidación"
                            fields="estudiante,nombrePeriodo,semestre,referencia,valorTotalSinDescuento,valorDescuento,valorLiquidado,porcentajeDescuento,estadoLiquidacion,fechaLiquidacion"
                            sorting="compound" editable="false" search="false" resize="false">
                            <tbody>
                                <tr>
                                    <td>{{::item.estudiante}}</td>
                                    <td>{{::item.nombrePeriodo}}</td>
                                    <td>{{::item.semestre}}</td>
                                    <td>{{::item.referencia}}</td>
                                    <td class="money text-right">{{::item.valorTotalSinDescuento|currency}}</td>
                                    <td class="money text-right">{{::item.valorDescuento|currency}}</td>
                                    <td class="money text-right">{{::item.valorLiquidado|currency}}</td>
                                    <td>{{::item.porcentajeDescuento}}%</td>
                                    <td>{{::item.estadoLiquidacion}}</td>
                                    <td>{{::item.fechaLiquidacion}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr
                                    ng-if="$owner.GDCtrl.listaDescuentosEstudiante.length === $owner.appConstantsView.CERO">
                                    <td colspan="3">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="Consultar Descuentos General"
                ng-click="GDCtrl.gestionDescuentoControl.onConsultarEstudianteDescuento()">
                <div class="panel-body ">
                    <div class="content-box-wrapper">
                        <div class="panel-body">
                            <div class="content-box">
                                
                                <div class="button-pane button-pane-top">
                                    <h3 class="content-box-header bg-default">
                                        {{appConstantsView.TITLE_LIQUIDACION}}
                                    </h3>
                                    <div class="float-right">
                                        <a href="" ng-json-export-excel data="GDCtrl.listaEstudianteDescuento"
                                            report-fields="{
                                                estudiante:'Identificacion',
                                                nombrePeriodo:'Estudiante',
                                                semestre:'Programa',
                                                referencia:'Horario',
                                                valorTotalSinDescuento:'Celular',
                                                valorDescuento:'Semestre',
                                                valorLiquidado:'Total Liquidaciones',
                                                porcentajeDescuento:'Total Liquidado',
                                                estadoLiquidacion:'Total Abonado',
                                                fechaLiquidacion:'Total Pendiente'
                                                                        }"
                                            filename=" 'Listado de Estudiantes Con Descuento' "
                                            title="Listado de Clientes" data-style="dark" data-theme="bg-white"
                                            class="btn btn-sm btn-success icon-tool-add back-button {{GDCtrl.filtrados.length === appConstantsView.CERO?'disabled':' '}}"
                                            data-animation="flipOutX"
                                            style="color: #ffffff; border: 0px solid #dfe8f1;">
                                            <div class="glyph-icon">
                                                <i class="glyphicon glyphicon-print"></i><span
                                                    class="info-icon-tool">{{appConstantsView.BOTON_IMPRIMIR}}</span>
                                            </div>
                                        </a>
                                        <a ng-click="GDCtrl.onConsultarEstudianteDescuento()"
                                            class="btn btn-sm btn-info icon-tool-add back-button"
                                            data-animation="flipOutX"
                                            style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                                            <div class="glyph-icon">
                                                <i class="glyphicon glyphicon-refresh"></i><span
                                                    class="info-icon-tool">Refrescar</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="content-box-wrapper">
                                    <div class="panel-body">
                                        <div class="content-box-wrapper">
                                            <div class="row">
                                                <table object-table class="hover-column"
                                                    data="GDCtrl.listaEstudianteDescuento"
                                                    headers="Estudiante,Periodo,Semestre,Referencia,Valor Total,Valor Descuento,Valor Liquidado,Porcentaje de Descuento,Estado,Fecha Liquidación"
                                                    fields="estudiante,nombrePeriodo,semestre,referencia,valorTotalSinDescuento,valorDescuento,valorLiquidado,porcentajeDescuento,estadoLiquidacion,fechaLiquidacion"
                                                    sorting="compound" search="separate" editable="false" search="false"
                                                    resize="false">
                                                    <tbody>
                                                        <tr>
                                                            <td>{{::item.estudiante}}</td>
                                                            <td>{{::item.nombrePeriodo}}</td>
                                                            <td>{{::item.semestre}}</td>
                                                            <td>{{::item.referencia}}</td>
                                                            <td class="money text-right">
                                                                {{::item.valorTotalSinDescuento|currency}}
                                                            </td>
                                                            <td class="money text-right">
                                                                {{::item.valorDescuento|currency}}</td>
                                                            <td class="money text-right">
                                                                {{::item.valorLiquidado|currency}}</td>
                                                            <td>{{::item.porcentajeDescuento}}%</td>
                                                            <td>{{::item.estadoLiquidacion}}</td>
                                                            <td>{{::item.fechaLiquidacion}}</td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr
                                                            ng-if="$owner.GDCtrl.listaEstudianteDescuento.length === $owner.appConstantsView.CERO">
                                                            <td colspan="3">{{$owner.appConstantsView.SIN_REGISTROS}}
                                                            </td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>