<style>
	.info-icon-tool {
		padding: 5px;
	}
</style>
<script>
    $("#fechainicio").focus(function() {
    value = $("#fechainicio").val();
    });
            $("#fechainicio").blur(function() {
    $("#fechainicio").val(value);
    });
            $("#fechafin").focus(function() {
    value = $("#fechafin").val();
    });
            $("#fechafin").blur(function() {
    $("#fechafin").val(value);
    });</script>
<script src="js/main-app.js"></script>
<div id="page-title" ng-controller="ClientesCtrl as CCtrl">
	<h2>{{appConstantsView.TITLE_CLIENTES_REGISTRADOS}}</h2>
	<p></p>
	<br>
	<div class="content-box">
		<div class="button-pane button-pane-top">
			<h3 class="float-left content-box-header-title btn-sm">Consulta de Clientes</h3>
			<div class="float-right" style="margin-right: 10px" ng-controller="menuCtrl as mCtrl">
				<a ng-click="mCtrl.onListarOPciones('/#/crm')" class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;"
					ng-click="CCtrl.onLimpiar()">
					<div class="glyph-icon">
						<i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
					</div>
				</a>
			</div>
		</div>
		<div class="content-box-wrapper">
			<div class="panel-body">
				<form method="POST" novalidate name="formConsultaCliente">
					<div class="row">
						<div class="col-lg-6 col-sm-6">
							<div class="form-group">
								<label for="periodoAcademico" class="control-label">{{appConstantsView.LABEL_PERIODO_ACADEMICO}}</label>
								<select ng-options="item.id as item.nombrePeriodoAcademico for item in CCtrl.listadoPeriodos" name="periodoAcademico" id="periodoAcademico"
									validation="required" class="form-control" ng-model="CCtrl.clientesBusqueda.periodoSeleccionado" ng-change="CCtrl.onChange()">
                                                                    <option ng-if="CCtrl.listadoPeriodos.length >= appConstantsView.CERO" value="" selected>{{appConstantsView.SELECCION_SELECT}}</option>
                                                                </select>
							</div>
						</div>
						<div class="col-lg-6 col-sm-6">
							<div class="form-group">
								<label for="etapaRegistro" class="control-label">{{appConstantsView.LABEL_ETAPA_REGISTRO}}</label>
								<select ng-options="item.valor as item.valor for item in CCtrl.listadoEtapasRegistro | orderBy: 'valor'" name="etapaRegistro"
									id="etapaRegistro" class="form-control" ng-model="CCtrl.clientesBusqueda.etapaRegistro">
                                                                    <option ng-if="CCtrl.listadoEtapasRegistro.length >= appConstantsView.CERO" value="" selected>{{appConstantsView.SELECCION_SELECT}}</option>
                                                                </select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-sm-6">
							<div class="form-group">
								<label for="nivelesAcademicos" class="control-label">{{appConstantsView.LABEL_NIVEL_ACADEMICO}}</label>
								<select ng-options="item.codigo as item.valor for item in CCtrl.listadoNivelesAcademicos" name="nivelesAcademicos" id="nivelesAcademicos"
									class="form-control" ng-model="CCtrl.clientesBusqueda.nivelAcademicos">
                                                                <option ng-if="CCtrl.listadoNivelesAcademicos.length >= appConstantsView.CERO" value="" selected>{{appConstantsView.SELECCION_SELECT}}</option>
                                                            </select>
							</div>
						</div>
						<div class="col-lg-6 col-sm-6">
							<div class="form-group">
								<label for="modalidad" class="control-label">{{appConstantsView.LABEL_MODALIDAD}}</label>
								<select ng-options="item.codigo as item.valor for item in CCtrl.listadoModalidad" name="modalidad" id="modalidad" class="form-control"
									ng-model="CCtrl.clientesBusqueda.modalidad">
                                                                    <option ng-if="CCtrl.listadoModalidad.length >= appConstantsView.CERO" value="" selected>{{appConstantsView.SELECCION_SELECT}}</option>
                                                                </select>
							</div>
						</div>
					</div>
					<div class="row">
						<div id="fechaCampaña" class="input-daterange input-group">
							<div class="col-lg-6 col-sm-6">
								<div class="form-group">
									<label class="control-label pull-left">{{appConstantsView.LABEL_FECHA_INICIO}}</label>
									<div id="fecha-inicio" class="input-group date">
										<input id="fechainicio" name="fechainicio" style="text-align: left;" mask="39/19/9999" restrict="reject" readonly="true"
											placeholder="dd/mm/aaaa" type="text" ng-model="CCtrl.clientesBusqueda.fechainicio" validation-error-to="validacionFechaInicial"
											class="form-control date"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
									</div>
									<span id="validacionFechaInicial" class="validation text-danger"></span>
								</div>
							</div>
							<div class="col-lg-6 col-sm-6">
								<div class="form-group">
									<label class="control-label pull-left">{{appConstantsView.LABEL_FECHA_FIN}}</label>
									<div id="fecha-fin" class="input-group date">
										<input id="fechafin" name="fechafin" style="text-align: left;" mask="39/19/9999" restrict="reject" readonly="true" placeholder="dd/mm/aaaa"
											type="text" ng-model="CCtrl.clientesBusqueda.fechafin" validation-error-to="validacionFechaFin" class="form-control date">
										<span
											class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
									</div>
									<span id="validacionFechaFin" class="validation text-danger"></span>
								</div>
							</div>
						</div>
					</div>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-4 col-xs-6">
                                            <label for="selectNivelFormacion" class="control-label pull-right">Nivel de Formación</label>
                                        </div>
                                        <div class="col-lg-5 col-sm-5 col-xs-4">
                                            <div class="form-group">
                                                <!--<label class="control-label">{{appConstantsView.LABEL_NIVEL_FORMACION}}</label>-->
                                                <select class="form-control" ng-model="CCtrl.clientesBusqueda.nivelFormacion" validation="required" name="selectNivelFormacion"
                                                    id="selectNivelFormacion" ng-options="nivel.id as nivel.nombreNivelFormacion for nivel in CCtrl.listaNivelesFormacion| orderBy:'nombreNivelFormacion'">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
				</form>
				<div class="button-pane">
					<input class="btn btn-info" type="submit" value="Consultar" ng-click="CCtrl.onConsultarClientes()">
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="content-box">
		<div class="button-pane button-pane-top">
			<h3 class="float-left text-uppercase content-box-header-title btn-sm">Listado de Clientes</h3>
			<div class="float-right">
				<a href="" class="btn btn-sm btn-success icon-tool-add  {{CCtrl.report.selected.length === appConstantsView.CERO|| CCtrl.report.selected.length === appConstantsView.UNO?'disabled':' '}}"
					ng-click="CCtrl.onOpenModalMasivo()" ng-disabled="CCtrl.disabledCampos" data-style="dark" data-theme="bg-white" id="modalBtnCorreoMasivo"
					data-opacity="40" style="border: 0px solid #dfe8f1;">
					<div class="glyph-icon">
						<i class="glyphicon glyphicon-envelope"></i><span class="info-icon-tool text-capitalize">{{appConstantsView.BOTON_CORREO}}</span>
					</div>
				</a>
                            <button ng-show="CCtrl.listadoClientes.length > appConstantsView.CERO" ng-json-export-excel data="CCtrl.listadoClientes" report-fields="{identificacion:'Identificación Cliente',
                                        nombre:'Nombre Cliente',
                                        programa:'Programa',
                                        horario:'Horario',
                                        telefono:'Telefono'}" filename=" 'crm-clientes' " class="btn btn-sm btn-success" title="Exportar a formato csv"
                                        ng-disabled="CCtrl.filtrados.length === appConstantsView.CERO">
                                    <i class="fa fa-file-excel-o" aria-hidden="true"></i><span class="info-icon-tool">{{appConstantsView.BOTON_EXPORTAR}}</span>        
                            </button>
                            <button ng-show="CCtrl.listadoClientesMatriculados.length > appConstantsView.CERO" ng-json-export-excel data="CCtrl.listadoClientesMatriculados" report-fields="{identificacion:'Identificación Cliente',
                                        nombre:'Nombre Cliente',
                                        programa:'Programa',
                                        horario:'Horario',
                                        telefono:'Telefono',
                                        estadoCartera:'Estado Cartera'}" filename=" 'crm-clientes-matriculados' " class="btn btn-sm btn-success" title="Exportar a formato csv"
                                        ng-disabled="CCtrl.filtrados.length === appConstantsView.CERO">
                                    <i class="fa fa-file-excel-o" aria-hidden="true"></i><span class="info-icon-tool">{{appConstantsView.BOTON_EXPORTAR}}</span>        
                            </button>
			</div>
		</div>

		<div class="clearfix"></div>
		<div class="content-box-wrapper">
                    <div class="panel-body" ng-show="CCtrl.listadoClientes.length > appConstantsView.CERO">
				<div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="dataTables_length" id="datatable-example_length">
                                            <label>
                                                <select ng-model="CCtrl.display" 
                                                    ng-init="CCtrl.display = CCtrl.display || CCtrl.options[appConstantsView.CERO].value"
                                                    ng-options="option.value as option.name for option in CCtrl.options">
                                                </select>
                                            </label>
                                        </div>
                                        <div class="margTop0 pull-right">
                                            Marcar Todos
                                            <input bs-switch switch-active="{{!(CCtrl.filtrados.length === appConstantsView.CERO || CCtrl.disabledCampos)}}" ng-model="CCtrl.selectTodos"
                                                ng-disabled="CCtrl.filtrados.length === appConstantsView.CERO" type="checkbox" ng-true-value="true" ng-false-value="false"
                                                switch-on-text="Si" switch-off-text="No" ng-change="CCtrl.onSelectTodos()" class="form-control col-xs-12 pull-left">
                                        </div>
                                    </div>
				</div>
				<table object-table class="hover-column" data="CCtrl.listadoClientes" display="CCtrl.display" headers="Identificación,Cliente,Programa,Horario,Teléfono,Opciones"
					fields="identificacion,nombre,programa,horario,telefono" sorting="compound" selected-model="CCtrl.report.selected"
					editable="false" search="separate" resize="false" select="multiply" add-filter="| filter:$owner.all">
					<tbody>
						<tr>
							<tr style="height: 60px;">
								<td>{{::item.identificacion}}</td>
								<td>{{::item.nombre}}</td>
								<td style="text-align: center" class="text-uppercase">{{::item.programa}}</td>
								<td style="text-align: center">{{::item.horario}}</td>
								<td style="text-align: center">{{::item.telefono}} - {{::item.celular}}</td>
								<td class="text-center opciones-table">
									<a class="btn btn-primary btn-tools-table " title="Ver Detalle" ng-click="$owner.CCtrl.onVerDetalle(item)">
										<i class="glyphicon glyphicon-eye-open"></i>
									</a>
									<a ng-hide="{{item.styleLabel === 'VIGENTE'}}" class="btn btn-yellow btn-tools-table " title="Enviar Mensaje" ng-click="$owner.CCtrl.onEnviarNotificacion(item)">
										<i class="glyphicon glyphicon-envelope"></i>
									</a>
									<td ng-hide="true">{{$owner.CCtrl.filtrados = $filtered}}</td>
							</tr>
					</tbody>
					<tfoot>
						<tr ng-show="$filtered.length === $owner.appConstantsView.CERO && $owner.CCtrl.listadoClientes.length !== $owner.appConstantsView.CERO">
							<td colspan="6">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
						</tr>
						<tr ng-show="$owner.CCtrl.listadoClientes.length === $owner.appConstantsView.CERO">
							<td colspan="6">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
						</tr>
					</tfoot>
				</table>
				<div id="modalNotificacionMasivo" class="popover col-lg-12 col-sm-12 col-xs-12 col-md-12 popup-admisiones" style="width: 390px;min-width: 500px;"
					role="tooltip">
					<div class="arrow" style="left: 50%; top: 377px; display: none"></div>
					<h3 class="popover-title " style="text-transform: capitalize ;font-size: 16px;">Envio notificación masiva </h3>
					<div class="popover-content">
						<p style="font-style: italic; opacity: 1;display: block">¿Desea enviar notificacion a los clientes seleccionados?</p>
						<br/>
						<div class="button-pane">
							<input class="btn btn-primary" type="submit" value="Aceptar" ng-click="CCtrl.onNotificar()" />
							<input class="btn btn-danger" type="submit" value="Cancelar" ng-click="CCtrl.onCloseModal()" id="btnCancelModal" />
						</div>
					</div>
				</div>
			</div>
                    <!-- Matriculados-->
                    <div class="panel-body" ng-show="CCtrl.listadoClientesMatriculados.length > appConstantsView.CERO">
				<div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="dataTables_length" id="datatable-example_length_matriculados">
                                            <label>
                                                <select ng-model="CCtrl.display" 
                                                    ng-init="CCtrl.display = CCtrl.display || CCtrl.options[appConstantsView.CERO].value"
                                                    ng-options="option.value as option.name for option in CCtrl.options">
                                                </select>
                                            </label>
                                        </div>
                                        <div class="margTop0 pull-right">
                                            Marcar Todos
                                            <input bs-switch switch-active="{{!(CCtrl.filtrados.length === appConstantsView.CERO || CCtrl.disabledCampos)}}" ng-model="CCtrl.selectTodos"
                                                ng-disabled="CCtrl.filtrados.length === appConstantsView.CERO" type="checkbox" ng-true-value="true" ng-false-value="false"
                                                switch-on-text="Si" switch-off-text="No" ng-change="CCtrl.onSelectTodos()" class="form-control col-xs-12 pull-left">
                                        </div>
                                    </div>
				</div>
				<table object-table class="hover-column" data="CCtrl.listadoClientesMatriculados" display="CCtrl.display" headers="Identificación,Cliente,Programa,Horario,Teléfono,Estado Cartera,Semestre,Opciones"
					fields="identificacion,nombre,programa,horario,telefono,estadoCartera,semestre" sorting="compound" selected-model="CCtrl.report.selected"
					editable="false" search="separate" resize="false" select="multiply" add-filter="| filter:$owner.all">
					<tbody>
						<tr>
							<tr style="height: 60px;">
								<td>{{::item.identificacion}}</td>
								<td>{{::item.nombre}}</td>
								<td style="text-align: center" class="text-uppercase">{{::item.programa}}</td>
								<td style="text-align: center">{{::item.horario}}</td>
								<td style="text-align: center">{{::item.celular}}</td>
								<td style="text-align: center">{{::item.estadoCartera}}</td>
								<td style="text-align: center">{{::item.semestre}}</td>
								<td class="text-center opciones-table">
									<a class="btn btn-primary btn-tools-table " title="Ver Detalle" ng-click="$owner.CCtrl.onVerDetalle(item)">
										<i class="glyphicon glyphicon-eye-open"></i>
									</a>
									<a ng-hide="{{item.styleLabel === 'VIGENTE'}}" class="btn btn-yellow btn-tools-table " title="Enviar Mensaje" ng-click="$owner.CCtrl.onEnviarNotificacion(item)">
										<i class="glyphicon glyphicon-envelope"></i>
									</a>
									<td ng-hide="true">{{$owner.CCtrl.filtrados = $filtered}}</td>
							</tr>
					</tbody>
					<tfoot>
						<tr ng-show="$filtered.length === $owner.appConstantsView.CERO && $owner.CCtrl.listadoClientesMatriculados.length !== $owner.appConstantsView.CERO">
							<td colspan="6">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
						</tr>
						<tr ng-show="$owner.CCtrl.listadoClientesMatriculados.length === $owner.appConstantsView.CERO">
							<td colspan="6">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
						</tr>
					</tfoot>
				</table>
				<div id="modalNotificacionMasivo" class="popover col-lg-12 col-sm-12 col-xs-12 col-md-12 popup-admisiones" style="width: 390px;min-width: 500px;"
					role="tooltip">
					<div class="arrow" style="left: 50%; top: 377px; display: none"></div>
					<h3 class="popover-title " style="text-transform: capitalize ;font-size: 16px;">Envio notificación masiva </h3>
					<div class="popover-content">
						<p style="font-style: italic; opacity: 1;display: block">¿Desea enviar notificacion a los clientes seleccionados?</p>
						<br/>
						<div class="button-pane">
							<input class="btn btn-primary" type="submit" value="Aceptar" ng-click="CCtrl.onNotificar()" />
							<input class="btn btn-danger" type="submit" value="Cancelar" ng-click="CCtrl.onCloseModal()" id="btnCancelModal" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>