<div id="page-title" ng-controller="ClientesCtrl as CCtrl">
	<h2>{{appConstantsView.TITLE_CLIENTES_REGISTRADOS}}</h2>
	<br>
	<div class="content-box">
		<div class="button-pane button-pane-top">
			<h3 class="float-left text-uppercase content-box-header-title btn-sm" ng-model="CCtrl.clientesEntity.estado">Información de Cliente </h3>
			<div class="float-right">
				<a href="#/clientes" ng-click="CCtrl.onLimpiarRegistro()" class="btn btn-sm btn-info icon-tool-add back-button" data-animation="flipOutX"
					style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
					<div class="glyph-icon">
						<i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
					</div>
				</a>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="content-box-wrapper">
			<div class="content-box">

				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6 col-sm-6">
							<div class="form-group">
								<label for="codigo" class="control-label">{{appConstantsView.LABEL_IDENTIFICACION}}</label>
								<input name="codigo" id="codigo" ng-disabled="true" class="text-uppercase form-control" type="text" ng-model="CCtrl.clientesEntity.identificacion">
							</div>
						</div>
						<div class="col-lg-6 col-sm-6">
							<div class="form-group">
								<label for="nombre" class="control-label">{{appConstantsView.LABEL_NOMBRE}}</label>
								<input class="text-uppercase form-control" type="text" ng-disabled="true" name="nombre" ng-model="CCtrl.clientesEntity.nombre">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-sm-6">
							<div class="form-group">
								<label for="programa" class="control-label">{{appConstantsView.LABEL_PROGRAMA_ACADEMICO}}</label>
								<input name="programa" id="programa" ng-disabled="true" class="text-uppercase form-control" type="text" ng-model="CCtrl.clientesEntity.programa">
							</div>
						</div>
						<div class="col-lg-6 col-sm-6">
							<div class="form-group">
								<label for="periodo" class="control-label">{{appConstantsView.LABEL_PERIODO_ACADEMICO}}</label>
								<select ng-options="item.id as item.nombrePeriodoAcademico for item in CCtrl.listadoPeriodos" name="periodoAcademico" id="periodoAcademico"
                                validation="required" class="form-control" ng-model="CCtrl.clientesEntity.periodo" ng-disabled="true">
                                <option ng-if="CCtrl.listadoPeriodos.length >= appConstantsView.CERO" value="" selected>{{appConstantsView.SELECCION_SELECT}}</option>
                            </select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-sm-6">
							<div class="form-group">
								<label for="tipoPlantilla" class="control-label">{{appConstantsView.LABEL_ETAPA_REGISTRO}}</label>
								<input name="codigo" id="codigo" ng-disabled="true" class="text-uppercase form-control" type="text" ng-model="CCtrl.clientesEntity.etapa">
							</div>
						</div>
						<div class="col-lg-6 col-sm-6">
							<div class="form-group">
								<label for="conceptoFacturacion" class="control-label">{{appConstantsView.LABEL_MODALIDAD}}</label>
								<select ng-options="item.codigo as item.valor for item in CCtrl.listadoModalidad" name="modalidad" id="modalidad" class="form-control"
									ng-model="CCtrl.clientesEntity.modalidadDetalle" ng-disabled="true">
                                <option ng-if="CCtrl.listadoModalidad.length >= appConstantsView.CERO" value="" selected>{{appConstantsView.SELECCION_SELECT}}</option>
                            </select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-sm-6">
							<div class="form-group">
								<label for="conceptoFacturacion" class="control-label">{{appConstantsView.LABEL_SEMESTRE}}</label>
								<input class="text-uppercase form-control" type="text" ng-disabled="true" name="nombre" ng-model="CCtrl.clientesEntity.semestre">
							</div>
						</div>

						<div class="col-lg-6 col-sm-6">
							<div class="form-group">
								<label for="leyenda" class="control-label">{{appConstantsView.LABEL_DIRECCION}}</label>
								<input name="codigo" id="codigo" ng-disabled="true" class="text-uppercase form-control" type="text" ng-model="CCtrl.clientesEntity.direccion">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-sm-6">
							<div class="form-group">
								<label for="leyenda" class="control-label">{{appConstantsView.LABEL_TELEFONO}}</label>
								<input name="codigo" id="codigo" ng-disabled="true" class="text-uppercase form-control" type="text" ng-model="CCtrl.clientesEntity.telefono">
							</div>
						</div>

						<div class="col-lg-6 col-sm-6">
							<div class="form-group">
								<label for="leyenda" class="control-label">{{appConstantsView.LABEL_EMAIL}}</label>
								<input name="codigo" id="codigo" ng-disabled="true" class="text-uppercase form-control" type="text" ng-model="CCtrl.clientesEntity.email">
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--<div class="button-pane" ng-if="!true">
                <button type="submit" class="btn btn-success " ng-click="CCtrl.onSubmitForm()">{{appConstantsView.BOTON_GUARDAR}}</button>
            </div>-->
		</div>
	</div>
</div>