<style>
    .mensajeError {
        margin: -1px -1px 0;
        padding: 15px;
        border-color: transparent;
        height: 50px;
    }
</style>

<div id="page-title" ng-controller="plantillaCtrl as PCtrl">
    <div style="height: 93px" class="content-box border-top border-blue" ng-if="PCtrl.plantillaVisor.banner">
        <h3 class="mensajeError clearfix title-resumen-blue">
            <div class="col-xs-12">
                <strong>{{appConstantsView.LABEL_TEN_CUENTA}}</strong><br/>
                <small class="content">Todos los conceptos de facturación se encuentran configurados. No podrás agregar más plantillas.</small>
            </div>
        </h3>
    </div>
    <div class="row" style="margin-bottom: -15px;">
        <div class="float-left" style="margin-left: 10px;">
            <h2 style="line-height: 30px;">Plantillas</h2>
        </div>
    </div>
    <br>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">Listado de Plantillas</h3>
            <div class="float-right" ng-if="!PCtrl.plantillaVisor.banner" ng-controller="menuCtrl as mCtrl">
                <a href="/#/plantillas-gestion" ng-click="PCtrl.onLimpiarRegistro()" class="btn btn-sm btn-info icon-tool-add" style="background-color: #00bca4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-plus"></i><span class="info-icon-tool text-capitalize">{{appConstantsView.BOTON_AGREGAR}}</span>
                    </div>
                </a>
                 <a ng-click="mCtrl.onListarOPciones('/#/menu-facturacion');PCtrl.cancelarInterval()" ng-click="" class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="dataTables_length" id="datatable-example_length">
                            <label>
                                <select ng-model="PCtrl.display" 
                                        ng-init="PCtrl.display = PCtrl.display || PCtrl.options[appConstantsView.CERO].value"
                                        ng-options="option.value as option.name for option in PCtrl.options">
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <table object-table class="hover-column" data="PCtrl.listaPlantillas" display="PCtrl.display" headers="Nombre Plantilla,Concepto,Formato Numeración,Opciones"
                        fields="descripcion,nombreConcepto,numeracion" sorting="compound" selected-model="PCtrl.report.selected"
                        editable="false" search="separate" resize="false" select="multiply" add-filter="| filter:$owner.all">
                        <tbody>
                            <tr>
                                <td>{{::item.descripcion}}</td>
                                <td>{{::item.nombreConcepto}}</td>
                                <td>{{item.literal}} - {{::item.numeracion}}</td>
                                <td class="opciones-table text-center">
                                    <div ng-hide="{{::item.codigo==='CPP01'}} || {{::item.codigo==='RC01'}} || {{::item.codigo==='CD01'}}">
                                        <a href="" ng-click="$owner.PCtrl.onClickToView(item)">
                                            <button class="btn btn-primary btn-tools-table" title="Ver detalles"> 
                                            <i class="glyphicon glyphicon-eye-open"></i>
                                        </button>
                                        </a>
                                        <a href="" ng-click="$owner.PCtrl.onConsultarConceptosAsociadosNoConfig(item)">
                                            <button class="btn btn-info btn-tools-table" title="Modificar"> 
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </button>
                                        </a>
                                        <button class="btn btn-danger btn-tools-table" title="Eliminar" ng-click="$owner.PCtrl.onClickToDelete(item)">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                    </div>
                                </td>
                            </tr>
                            <tfoot>
                                <tr ng-show="$filtered.length === $owner.appConstantsView.CERO && $owner.PCtrl.listaPlantillas.length !== $owner.appConstantsView.CERO">
                                    <td colspan="6">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                                </tr>
                                <tr ng-show="$owner.PCtrl.listaPlantillas.length === $owner.appConstantsView.CERO">
                                    <td colspan="6">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                </tr>
                            </tfoot>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>