<!DOCTYPE html>
<div id="page-title" ng-controller="seccionalesCtrl as seccionalCtrl">
    <div class="row">
        <div class="float-left" style="margin-left: 10px">
            <h2 style="line-height: 30px;">Seccionales</h2>
        </div>
    </div>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">listado de seccionales</h3>
            <div class="float-right"  ng-controller="menuCtrl as mCtrl">
                <a href="#/cud-seccionales" class="btn btn-sm btn-info icon-tool-add" ng-click="seccionalCtrl.onClickToAddSeccional()" style="background-color: #00bca4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-plus"></i><span class="info-icon-tool text-capitalize">{{appConstantsView.BOTON_AGREGAR}}</span>
                    </div>
                </a>
                <a ng-click="mCtrl.onListarOPciones('/#/administracion-general')" class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4; color: #ffffff;cursor: pointer; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="dataTables_length" id="datatable-example_length">
                            <label>
                                <select ng-model="seccionalCtrl.display" 
                                        ng-init="seccionalCtrl.display = seccionalCtrl.display || seccionalCtrl.options[appConstantsView.CERO].value"
                                        ng-options="option.value as option.name for option in seccionalCtrl.options">
                                </select> 
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <table object-table class="hover-column" data="seccionalCtrl.lista" display="seccionalCtrl.display" headers="Código,Nombre,Facultades,Opciones"
                        fields="codigoSeccional,nombreSeccional,nombreFacultad" sorting="compound" selected-model="seccionalCtrl.report.selected"
                        editable="false" search="separate" resize="false" select="multiply">
                        <tbody>
                            <tr>
                                <td>{{::item.codigoSeccional}}</td>
                                <td>{{::item.nombreSeccional}}</td>
                                <td>
                                    <div class="wrapping-text">{{::item.nombreFacultad}}</div>
                                </td>

                                <td class="text-center opciones-table">
                                    <a class="btn btn-primary btn-tools-table" title="Ver detalle" ng-click="$owner.seccionalCtrl.onClickToVerDetalleSeccional(item)">
                                        <i class="glyphicon glyphicon-eye-open"></i>
                                    </a>
                                    <a class="btn btn-info btn-tools-table" title="Modificar" ng-click="$owner.seccionalCtrl.onClickToUpdateSeccional(item)">
                                        <i class="glyphicon glyphicon-edit"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.seccionalCtrl.lista.length !== $owner.appConstantsView.CERO">
                                <td colspan="5">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                            </tr>
                            <tr ng-if="$owner.seccionalCtrl.lista.length === $owner.appConstantsView.CERO">
                                <td colspan="5">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>