<style>
    .info-icon-tool {
        padding: 5px;
    }
</style>
<script src="../../../js/main-app.js" type="text/javascript"></script>
<script src="../../../js/papaparse.js" type="text/javascript"></script>
<div id="page-title" ng-controller="candidatosCtrl as candCtrl">
    <div class="row">
        <div class="float-left" style="margin-left: 10px">
            <h2 style="line-height: 30px;">{{appConstantsView.TITLE_CANDIDATOS}}</h2>
        </div>
        <div class="float-right" style="margin-right: 10px">

        </div>
    </div>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">
                {{appConstantsView.TITLE_GRUPO_CANDIDATOS}}</h3>
            <div class="float-right">
                <a href="#/agregar-candidatos" class="btn btn-sm btn-info icon-tool-add"
                    ng-click="candCtrl.onIrRegistrar()"
                    style="background-color: #00bca4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-plus"></i><span
                            class="info-icon-tool text-capitalize">{{appConstantsView.BOTON_AGREGAR}}</span>
                    </div>
                </a>
                <div class="float-right" style="margin-right: 10px" ng-controller="menuCtrl as mCtrl">
                    <a ng-click="mCtrl.onListarOPciones('/#/crm')" class="btn btn-sm btn-info icon-tool-add back-button"
                        style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                        <div class="glyph-icon">
                            <i class="glyphicon glyphicon-arrow-left"></i><span
                                class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="panel-body">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="dataTables_length" id="datatable-example_length">
                            <label>
                                <select ng-model="candCtrl.display"
                                    ng-init="candCtrl.display = candCtrl.display || candCtrl.options[appConstantsView.CERO].value"
                                    ng-options="option.value as option.name for option in candCtrl.options">
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
                <table object-table class="hover-column" data="candCtrl.listaCandidatos" display="candCtrl.display"
                    headers="Periodo,Descripcion,Sin Asignar,Opciones"
                    fields="nombrePeridoAcademico,descripcion,sinAsignar" sorting="compound"
                    selected-model="candCtrl.report.selected" editable="false" search="separate" resize="false"
                    select="multiply">
                    <tbody>
                        <tr>
                            <td>{{::item.nombrePeridoAcademico}}</td>
                            <td>{{::item.descripcion}}</td>
                            <td style="text-align: center">
                                <span
                                    class="{{item.sinAsignar > 0 ? 'bs-label label-warning' : 'bs-label label-success'}}">{{::item.sinAsignar}}</span>
                            </td>
                            <td class="text-center opciones-table">
                                <a class="btn btn-primary btn-tools-table" title="Ver detalle"
                                    ng-click="$owner.candCtrl.onIrVerDetalle(item)">
                                    <i class="glyphicon glyphicon-eye-open"></i>
                                </a>
                                <a class="btn btn-primary btn-tools-table" title="Editar Candidato"
                                    ng-click="$owner.candCtrl.onEditarCandidatoDetalle(item)">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </a>
                                <a class="btn btn-info btn-tools-table" title="Gestionar Candidato"
                                    ng-click="$owner.candCtrl.onAgregarCandidatoDetalle(item)">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </a>
                                <a class="btn btn-danger btn-tools-table" title="Dashboard Candidato"
                                    ng-click="$owner.candCtrl.onDashboardCandidatos(item)">
                                    <i class="glyphicon glyphicon-stats"></i>
                                </a>
                                <a class="btn btn-danger btn-tools-table" title="Dashboard Candidato"
                                    ng-click="$owner.candCtrl.onCargarCandidatosArchivo(item)">
                                    <i class="glyphicon glyphicon-upload"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr
                            ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.candCtrl.campanias.length !== $owner.appConstantsView.CERO">
                            <td colspan="6">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                        </tr>
                        <tr ng-if="$owner.candCtrl.campanias.length === $owner.appConstantsView.CERO">
                            <td colspan="6">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div id="modalListaDetalleCanditatos" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!--Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="submit" class="float-right btn btn-sm btn-success icon-tool-add back-button"
                        ng-json-export-excel data="candCtrl.candidatos.listaDetalleCandidatos" report-fields="{
                            nombreEstudiante:'Estudiante',
                            programasInteres:'Programa Interes',
                            celularEstudiante:'Celular',
                            telefono:'Telefono',
                            direccion:'Dirección',
                            email:'Email',
                            colegio:'Colegio'
                            }" filename=" 'Listado Candidatos Registrados' " title="Listado Candidatos Registrados">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i> Listado Candidatos Registrados</button>
                    <button type="button" ng-click="candCtrl.onCloseModal()" class="close"
                        data-dismiss="modal">{{appConstantsView.CERRAR_MODAL}}</button>
                    <h4 class="modal-title">Listado de candidatos</h4>
                </div>

                <div class="modal-body">
                    {{candidatos.listaDetalleCandidatos}}
                    <table object-table class="hover-column" data="candCtrl.candidatos.listaDetalleCandidatos"
                        display="candCtrl.display"
                        headers="Nombre,Programas de Interes,Celular,Telefono,Direccion,E-mail,Colegio"
                        fields="nombreEstudiante,programasInteres,celularEstudiante,telefono,direccion,email,colegio"
                        sorting="compound" selected-model="candCtrl.report.selected" editable="false" search="separate"
                        resize="false">
                        <tbody>
                            <tr>
                                <td>{{::item.nombreEstudiante}}</td>
                                <td>{{::item.programasInteres}}</td>
                                <td>{{::(item.celularEstudiante === null||item.celularEstudiante ===""||item.celularEstudiante===undefined)?"No Tiene":item.celularEstudiante}}
                                </td>
                                <td>{{::(item.telefono === null||item.telefono ===""||item.telefono===undefined)?"No Tiene":item.telefono}}
                                </td>
                                <td>{{::(item.direccion === null||item.direccion ===""||item.direccion===undefined)?"No Tiene":item.direccion}}
                                </td>
                                <td>{{::(item.email === null||item.email ===""||item.email===undefined)?"No Tiene":item.email}}
                                </td>
                                <td>{{::(item.colegio === null||item.colegio ===""||item.colegio===undefined)?"No Tiene":item.colegio}}
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr
                                ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.candCtrl.campanias.length !== $owner.appConstantsView.CERO">
                                <td colspan="6">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                            </tr>
                            <tr ng-if="$owner.candCtrl.campanias.length === $owner.appConstantsView.CERO">
                                <td colspan="6">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <div id="modalCargarCandidatos" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-click="candCtrl.onCloseModal()" class="close"
                        data-dismiss="modal">{{appConstantsView.CERRAR_MODAL}}</button>
                    <h4 class="modal-title">Gestión Cargar Candidatos</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">Subir Archivo de Candidatos</label>
                        <div class="input-group">
                            <input type="file" id="files" class="form-control" accept=".csv" required />
                            <span class="input-group-btn">
                                <button ng-click="candCtrl.onCargarArchivo()" class="btn btn-primary">Cargar
                                    Archivo</button>
                            </span>
                        </div>
                    </div>
                    <div class="row" ng-show="candCtrl.listadoEstudianteArchivo.length > 0">
                       
                        <div class="row mrg20B">
                            <div class="col-md-6">
                                <a title="Candidatos Procesados Correctamente"
                                    class="tile-box tile-box-shortcut btn-primary ">
                                    <span
                                        class="bs-badge badge-absolute">{{candCtrl.listadoEstudianteArchivoTemporal.length}}</span>
                                    <div class="tile-header">
                                        Total Candidatos Procesados
                                    </div>
                                    <div class="tile-content-wrapper">
                                        <i class="glyph-icon icon-dashboard"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row mrg20B">
                            <div class="col-md-6">
                                <a title="Candidatos Procesados Correctamente"
                                    class="tile-box tile-box-shortcut btn-primary ">
                                    <span
                                        class="bs-badge badge-absolute">{{candCtrl.listadoEstudianteArchivo.length}}</span>
                                    <div class="tile-header">
                                        Candidatos Procesados Correctamente
                                    </div>
                                    <div class="tile-content-wrapper">
                                        <i class="glyph-icon icon-dashboard"></i>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="row mrg20B" ng-repeat="x in candCtrl.listadoEstudianteArchivoError">
                            <div class="col-md-4">
                                <a title="{{x.nombre}}"
                                    class="tile-box tile-box-shortcut {{x.cantidad > 0 ? 'btn-warning' : 'btn-primary'}} ">
                                    <span class="bs-badge badge-absolute">{{x.cantidad}}</span>
                                    <div class="tile-header">
                                        {{x.nombre}}
                                    </div>
                                    <div class="tile-content-wrapper">
                                        <i class="glyph-icon {{x.cantidad > 0 ? 'icon-dashboard' : 'icon-cogs'}}"></i>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <button class="btn btn-success" ng-json-export-excel
                                data="candCtrl.listadoEstudianteArchivoErrorExportar" report-fields="{
                                nombreEstudiante: 'Candidato',
                                programasInteres: 'Programa',
                                colegio: 'Colegio',
                                barrio: 'Barrio',
                                medioCaptura: 'Medio Captura',
                                medioDifusion: 'Medio Difusion',
                                error: 'Error'
                            }" filename=" 'Listado Candidatos Con Error ' "
                                title="Exportar listado general a formato csv">
                                <i class="fa fa-file-excel-o"></i>&nbsp;Exportar Listado Completo Errores</a>
                            </button>
                        </div>
                    </div>

                    <div class="button-pane">
                        <button type="submit" class="btn btn-success"
                            ng-click="candCtrl.procesarCandidatosDiligenciados()">{{appConstantsView.BOTON_GUARDAR}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>