<style>
    .modal-body {
        max-height: calc(100vh - 200px);
        overflow-y: auto;
    }

    .table>tbody>tr>td {
        padding: 4px !important;
    }

    td {
        text-align: center !important;
    }
</style>

<div id="page-title" ng-controller="candidatosCtrl as CCtrl">
    <h2>Clientes Registrados</h2>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm"
                ng-model="CCtrl.clientesEntity.estado">Información de Cliente </h3>
            <div class="float-right" ng-controller="menuCtrl as mCtrl">
                <a ng-click="mCtrl.onListarOPciones('#/candidatos')"
                    class="btn btn-sm btn-info icon-tool-add back-button"
                    style="background-color: #0096D4; color: #ffffff;cursor: pointer; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span
                            class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
                <button type="submit" class="btn btn-sm btn-success icon-tool-add back-button" ng-json-export-excel
                    data="CCtrl.candidatos.listDashboardEstadistica" report-fields="{
                        Medio_Captura:'valorCaptura',
                        Cantidad:'conteoCaptura'
                        }" filename=" 'Listado de Medios de Captura' " title="Listado de Medios de Captura">
                    <i class="fa fa-file-excel-o" aria-hidden="true"></i> Exportar</button>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="content-box-wrapper">
        <div class="content-box">

            <div class="panel-body">

                <table object-table class="hover-column" data="CCtrl.candidatos.listDashboardEstadistica" display="10"
                    headers="Medio Captura, # ,Opciones" fields="valorCaptura,conteo" sorting="compound"
                    editable="false" search="separate" resize="false">
                    <tbody>
                        <tr>
                            <td>{{::item.valorCaptura}}</td>
                            <td>{{::item.conteoCaptura}}</td>
                            <td class="text-center opciones-table">
                                <a class="btn btn-primary btn-tools-table" title="Ver detalle"
                                    ng-click="$owner.CCtrl.onModalEstadisticas(item)">
                                    <i class="glyphicon glyphicon-eye-open"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr
                            ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.candCtrl.campanias.length !== $owner.appConstantsView.CERO">
                            <td colspan="6">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                        </tr>
                        <tr ng-if="$owner.candCtrl.campanias.length === $owner.appConstantsView.CERO">
                            <td colspan="6">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                        </tr>
                    </tfoot>
                </table>

                <!--                    <div ng-repeat="dash in CCtrl.candidatos.listDashboardEstadistica" class="row">
                                        <div class="content-box col-md-12">
                                            <div class="button-pane button-pane-top">
                                                <h3 class="float-left text-uppercase content-box-header-title  btn-xs">
                                                    <button class="btn btn-xs btn-info icon-tool-add" 
                                                            id="btnListadoPeriodos" 
                                                            data-toggle="collapse" data-target="#dash{{dash.valorCaptura}}">
                                                        <i class="glyphicon glyphicon-collapse-down" ></i>
                                                    </button>  {{dash.valorCaptura}}
                                                </h3>
                                                <h3 class="float-right text-uppercase content-box-header-title  btn-xs">
                                                    <ul class="list-group list-group-separator row list-group-icons">
                                                        <li>
                                                            <div  class="tl-label bs-label label-danger">{{dash.valorCaptura}} : {{dash.conteoCaptura}}</div> 
                                                        </li>
                                                    </ul>
                                                </h3>
                                            </div>
                
                                            <div class="clearfix"></div>
                                            <div class="content-box-wrapper collapse" id="dash{{dash.valorCaptura}}">
                                                <div class="col-md-12" style="padding-top: 6px;" ng-repeat="difusion in dash.detalleDifusionPorCaptura">
                                                    <div class="profile-box content-box ">
                                                        <div class="content-box-header clearfix bg-primary">
                                                            <div class="user-details">
                                                                {{difusion.valor}} 
                                                                <span> 
                                                                    <ul class="list-group list-group-separator row list-group-icons">
                                                                        <li>
                                                                            <div  class="tl-label bs-label label-danger"> {{difusion.valor}} : {{difusion.conteo}}</div> 
                                                                        </li>
                                                                    </ul>
                                                                </span> 
                
                                                                <a class="btn btn-abs btn-success collapsed" title="" 
                                                                   id="btnListadoPrograma{{difusion.valor.replace(':', '').split(' ').join('')}}{{difusion.valor}}"
                                                                   data-toggle="collapse" data-target="#Pro{{difusion.valor.replace(':', '').split(' ').join('')}}{{difusion.valor}}">
                                                                    <i class="glyph-icon icon-money"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                
                                                        <div class="collapse" id="Pro{{difusion.valor.replace(':', '').split(' ').join('')}}{{difusion.valor}}">
                                                            <ul class="list-group list-group-separator row list-group-icons">
                                                                <li class="col-md-12" style="padding-top: 6px;">
                                                                    <table object-table class="hover-column"
                                                                           display=10 data="programa.liquidacion" 
                                                                           headers="Número de Referencia, Concepto, Fecha Vencimiento,  Estado,Valor Liquidado, Abonado, Saldo,Opciones"
                                                                           fields="referencia,detallesLiquidaciones[0].nombreConcepto,fechaLimitePago,valorLiquidado,estadoLiquidacion, saldoAbonado, saldoPendiente,,"
                                                                           search="false" sorting="compound"
                                                                           selected-model="estadoFCrtl.report.selected"
                                                                           editable="false" resize="false"
                                                                           select="false" id="obj-table-hisotiral_vigentes">
                                                                        <tbody>
                                                                            <tr style="height: 60px;">
                                                                                <td style="text-align: center">{{::item.referencia}}</td>
                                                                                <td style="text-align: center">{{::item.detallesLiquidaciones[0].nombreConcepto}}</td>
                                                                                <td style="text-align: center">{{::item.fechaLimitePago| date:'dd/MM/yyyy'}}</td>
                                                                                <td style="text-align: center"><span class="{{item.estadoLiquidacion === 'ABIERTA' ? 'bs-label label-danger' :  item.estadoLiquidacion === 'ANULADA' ?  'bs-label label-black' : 'bs-label label-success'}}">{{::item.estadoLiquidacion}}</span></td>
                                                                                <td style="text-align: center" class="money">{{::item.valorLiquidado| currency}}</td>
                                                                                <td style="text-align: center; background-color: #29b765;color: white;" class="money">{{::item.saldoAbonado| currency}}</td>
                                                                                <td style="text-align: center; background-color: {{item.saldoPendiente > 0 ? '#cf4436' : '#29b765'}};color: {{item.saldoPendiente > 0 ? 'white' : 'white'}}" class="money">{{::item.saldoPendiente| currency}}</td>
                                                                                <td class="text-center opciones-table">
                                                                                    <button class="btn btn-primary btn-tools-table" title="Ver Detalle" ng-click="$owner.estadoFCrtl.ModalLiquidacion(item)">
                                                                                        <i class="glyphicon glyphicon-eye-open "></i>
                                                                                    </button>
                                                                                    <button class="btn btn-primary btn-tools-table" title="Ver Detalle Recibos" ng-click="$owner.estadoFCrtl.modalHistoricoRecibos(item.listadoRecibos)">
                                                                                        <i class="glyphicon glyphicon-paperclip "></i>
                                                                                    </button>
                                                                                </td>
                                                                                <td ng-hide="true">{{$owner.hisotiralCrtl.filtrados = $filtered}}</td>
                                                                            </tr>
                                                                        </tbody>
                                                                        <tfoot>
                                                                            <tr>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td style="text-align: center">Totales</td>
                                                                                <td style="text-align: center" class="money">{{$owner.estadoFCrtl.getTotalValorLiquidado($filtered) | currency}}</td>
                                                                                <td style="text-align: center" class="money">{{$owner.estadoFCrtl.getTotalSaldoAbonado($filtered) | currency}}</td>
                                                                                <td style="text-align: center" class="money">{{$owner.estadoFCrtl.getTotalSaldoPendiente($filtered) | currency}}</td>
                                                                            </tr>
                                                                        </tfoot>
                                                                    </table>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>-->

            </div>

        </div>
    </div>

    <div id="modalGraficas" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">{{appConstantsView.CERRAR_MODAL}}</button>
                    <h4 class="modal-title">Detalle Grafica</h4>
                </div>

                <div class="modal-body">
                    <div class="col-xs-12 col-sm-6">
                        <form method="POST" novalidate name="listadoDifusion">
                            <div class="content-box">
                                <div class="button-pane button-pane-top">
                                    <h3 class="float-left text-uppercase content-box-header-title btn-sm">Listado de
                                        Difusión</h3>
                                    <div class="float-right">
                                        <button type="submit" class="tile-box tile-box-shortcut btn-success classReport"
                                            ng-json-export-excel data="CCtrl.listDifusionCaptura" report-fields="{
                                                Medio_Difusion:'valor',
                                                Cantidad:'conteo'
                                                }" filename=" 'Listado de Medios de Difusión' "
                                            title="Listado de Medios de Difusión">
                                            <i class="fa fa-file-excel-o" aria-hidden="true"></i> Exportar</button>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <table object-table class="hover-column" display="10"
                                        data="CCtrl.listDifusionCaptura" headers="Difusión,#,OP" fields="valor,conteo"
                                        sorting="compound" search="true" resize="false">
                                        <tbody>
                                            <tr>
                                                <td style="text-align:center; vertical-align: middle;width:60%">
                                                    {{::item.valor}}
                                                </td>
                                                <td style="text-align:center; vertical-align: middle;width:30%">
                                                    {{::item.conteo}}
                                                </td>
                                                <td class="text-center opciones-table">
                                                    <a class="btn btn-primary btn-tools-table"
                                                        title="Cargar Estadistica"
                                                        ng-click="$owner.CCtrl.onCargarBarriosEstadistica(item)">
                                                        <i class="glyphicon glyphicon-arrow-right"></i>
                                                    </a>
                                                </td>
                                                <!--<td ng-hide="true">{{ $owner.reportesCtrl.obtenerFiltrados($filtered)}}</td>-->
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td></td>
                                                <td style="text-align: center">
                                                    {{$owner.CCtrl.getTotalDifusion($filtered)}}</td>
                                                <td></td>
                                            </tr>
                                            <tr
                                                ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.CCtrl.listaDifusionPorCaptura.length !== $owner.appConstantsView.CERO">
                                                <td colspan="3">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                                            </tr>
                                            <tr
                                                ng-if="$owner.CCtrl.listaDifusionPorCaptura.length === $owner.appConstantsView.CERO">
                                                <td colspan="3">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <form method="POST" novalidate name="listBarrioPorDifusion">
                            <div class="content-box">
                                <div class="button-pane button-pane-top">
                                    <h3 class="float-left text-uppercase content-box-header-title btn-sm">Barrios por:
                                        {{CCtrl.titulo}}</h3>
                                    <div class="float-right">
                                        <button type="submit" class="tile-box tile-box-shortcut btn-success classReport"
                                            ng-json-export-excel data="CCtrl.listBarrioPorDifusion" report-fields="{
                                                    barrio:'Barrio',
                                                    conteo:'conteo'
                                                }" filename=" 'Listado de Medios de Difusión' "
                                            title="Listado de Medios de Difusión">
                                            <i class="fa fa-file-excel-o" aria-hidden="true"></i> Exportar</button>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <table object-table class="hover-column" display="10"
                                        data="CCtrl.listBarrioPorDifusion" headers="Barrio,#" fields="barrio,conteo"
                                        sorting="compound" search="true" resize="false">
                                        <tbody>
                                            <tr>
                                                <td style="text-align:center; vertical-align: middle;width:80%">
                                                    {{::item.barrio}}
                                                </td>
                                                <td style="text-align:center; vertical-align: middle;width:20%">
                                                    {{::item.conteo}}
                                                </td>
                                                <!--<td ng-hide="true">{{ $owner.reportesCtrl.obtenerFiltrados($filtered)}}</td>-->
                                            </tr>
                                        </tbody>

                                        <tfoot>
                                            <tr>
                                                <td></td>
                                                <td style="text-align: center">
                                                    {{$owner.CCtrl.getTotalBarrios($filtered)}}</td>
                                            </tr>
                                            <tr
                                                ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.CCtrl.listBarrioPorDifusion.length !== $owner.appConstantsView.CERO">
                                                <td colspan="2">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                                            </tr>
                                            <tr
                                                ng-if="$owner.CCtrl.listBarrioPorDifusion.length === $owner.appConstantsView.CERO">
                                                <td colspan="2">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>