<style>
    .info-icon-tool {
        padding: 5px;
    }
</style>
<script src="../../../js/main-app.js" type="text/javascript"></script>
<div id="page-title" ng-controller="candidatosCtrl as candCtrl">
    <div class="row">
        <div class="float-left" style="margin-left: 10px">
            <h2 style="line-height: 30px;">{{appConstantsView.TITLE_CANDIDATOS}}</h2>
        </div>
        <div class="float-right" style="margin-right: 10px">

        </div>
    </div>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">{{appConstantsView.TITLE_AGREGAR_CANDIDATOS}}</h3>
            <div class="float-right">
                <div class="float-right" ng-controller="menuCtrl as mCtrl">
                    <a ng-click="mCtrl.onListarOPciones('#/candidatos')" class="btn btn-sm btn-info icon-tool-add back-button" 
                       style="background-color: #0096D4; color: #ffffff;cursor: pointer; border: 0px solid #dfe8f1;">
                        <div class="glyph-icon">
                            <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="panel-body">
                <form method="POST" novalidate name="formCandidatos">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="periodoAcademico" class="control-label">{{appConstantsView.LABEL_PERIODO_ACADEMICO}}</label><label class="text-danger">*</label>
                                <select ng-options="item.id as item.nombre for item in candCtrl.listadoPeriodos" name="periodoAcademico" id="periodoAcademico"
                                        validation="required" class="form-control" ng-model="candCtrl.idPeriodo" ng-change="candCtrl.onChangeSelectPeriodo()">
                                    <option ng-if="candCtrl.listadoPeriodos.length >= appConstantsView.CERO" value="" selected>{{appConstantsView.SELECCION_SELECT}}</option>
                                </select>
                            </div>
                        </div>
                        <!--                        <div class="col-lg-6 col-sm-6">
                                                    <a  title="Adjuntar Archhivo" class="tile-box tile-box-shortcut btn-primary"
                                                        ngf-select ngf-drop ng-model="candCtrl.file" name="file"
                                                        accept=".xls" ngf-max-size="50MB" ngf-model-invalid="errorFile"
                                                        validation="required">
                                                        <fieldset><span ng-show="dropAvailable" class> or Drop File</span>
                                                            <span style="padding-left: 9px; padding-bottom: 10px" id="quitarHterterv" class=" bs-badge badge-absolute hover-red" 
                                                                  ng-click="candCtrl.file = null" ng-show="candCtrl.file" title="Cancelar"><i class="glyphicon glyphicon-remove"></i></span>
                                                            <div class="tile-header wrapping-text">
                                                                {{candCtrl.file.name}}
                                                            </div>
                                                            <div class="tile-content-wrapper center-container">
                                                                <i style="margin-right: 190px;" class="fa fa-file-excel-o fa-3x" aria-hidden="true"></i>
                                                            </div>
                                                        </fieldset>
                                                    </a>
                                                    <div ng-if='candCtrl.visible.validoFile'>
                                                        <div class="text-danger">{{appConstantsView.ERROR_CAMPO_REQUERIDO}}</div>
                                                    </div>
                                                </div>-->
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="descripcion" class="control-label">{{appConstantsView.LABEL_DESCRIPCION}}</label><label class="text-danger">*</label>
                                <textarea class="form-control descripcion" maxlength="250" ng-trim="false" id="descripcion" 
                                          validation="required" style="resize:none" name="id" row="6" ng-model="candCtrl.descripcion">
                                </textarea>
                                <span class="pull-right">{{250 - candCtrl.descripcion.length}} de 250</span>
                            </div>
                        </div>
                    </div>
                </form>
                <br>
                <div class="button-pane">
                    <input class="btn btn-info" type="submit" value="Guardar" ng-click="candCtrl.subirCandidato()">
                </div>
            </div>

        </div>

    </div>
</div>