<!DOCTYPE html>
<div id="page-title" ng-controller="UsuarioRolCtrller as usuarioRolCtrller">
    <h2>{{appConstantsView.ROLES_USUARIOS}}</h2>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">{{usuarioRolCtrller.usaurioRolAuxiliar.titulo}}</h3>
            <div class="float-right">
                <a href="/#/roles-usuario" ng-click="usuarioRolCtrller.onLimpiar()" class="btn btn-sm btn-info icon-tool-add back-button"
                   style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="panel-body">
                <div class="row">
                    <form method="POST" novalidate name="formRegistrarRol">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">{{appConstantsView.TITLE_FUNCIONARIO}} <span class="text-danger">*</span></label>
                                    <input validation="required" mask="p" repeat="20" restrict="reject" class="form-control text-uppercase" name="Código" maxlength="20"
                                           ng-disabled="usuarioRolCtrller.usaurioRolAuxiliar.disableVerDetalle || usuarioRolCtrller.usaurioRolAuxiliar.disableCodigo"
                                           ng-model="usuarioRolCtrller.usuarioRolEntity.funcionario">
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label"> {{appConstantsView.USUARIO}}<span class="text-danger">*</span></label>
                                    <input validation="required" name="Nombre" mask="H" repeat="50" restrict="reject" maxlength="50" class="form-control"
                                           ng-disabled="usuarioRolCtrller.usaurioRolAuxiliar.disableVerDetalle || usuarioRolCtrller.usaurioRolAuxiliar.disableCodigo"
                                           ng-model="usuarioRolCtrller.usuarioRolEntity.usuario">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6" ng-if="!usuarioRolCtrller.usaurioRolAuxiliar.onDeshabilitarCampoEstado">
                                <div class="form-group">
                                    <label class="control-label pull-left">{{appConstantsView.ROL}}</label><label class="text-danger pull-left">*</label>
                                    <select ng-options="item.id as item.nombre for item in usuarioRolCtrller.RolesActivos| orderBy:'nombre'" name="rol" id="rol" class="form-control"
                                            ng-model="usuarioRolCtrller.usuarioRolEntity.rol" validation="required">
                                        <option ng-if="usuarioRolCtrller.Rol.length > appConstantsView.CERO" value="">{{appConstantsView.SELECCION_SELECT}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6" ng-if="!usuarioRolCtrller.usaurioRolAuxiliar.onDeshabilitarCampoEstado">
                                <div class="form-group">
                                    <label class="control-label pull-left">{{appConstantsView.LABEL_ESTADO}}</label><label class="text-danger pull-left">*</label>
                                    <select ng-options="nivel.valor as nivel.valor for nivel in usuarioRolCtrller.listaEstados" name="estado" id="estado" class="form-control"
                                            ng-model="usuarioRolCtrller.usuarioRolEntity.estado" validation="required">
                                        <option ng-if="usuarioRolCtrller.listaEstados.length > appConstantsView.CERO" value="">{{appConstantsView.SELECCION_SELECT}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

      
        <br>

        <div class="button-pane">
            <button type="submit" class="btn btn-success" ng-click="usuarioRolCtrller.onSubmitForm()">{{appConstantsView.BOTON_GUARDAR}}</button>
        </div>
    </div>
</div>