<style>
    .info-icon-tool {
        padding: 5px;
    }
</style>
<script src="../../../js/main-app.js" type="text/javascript"></script>
<div id="page-title" ng-controller="auditoriaInicioSesionCtrl as asistenciaDCtrl">
    <div class="row">
        <div class="float-left" style="margin-left: 10px">
            <h2 style="line-height: 30px;">Auditoria</h2>
        </div>
    </div>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">Auditoria Inicio de Sesión</h3>
            <div class="float-right" style="margin-right: 10px" ng-controller="menuCtrl as mCtrl">
                <a ng-click="mCtrl.onListarOPciones('/#/auditoria')"
                    class="btn btn-sm btn-info icon-tool-add back-button"
                    style="background-color: #0096D4;cursor: pointer; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span
                            class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
                <a href="" ng-json-export-excel data="asistenciaDCtrl.listInicioSesion" report-fields="{
                    usuario:'Usuario',
                    funcionario:'Funcionario',
                    ultimoInicio:'Fecha'
                    }" filename=" 'Listado de Clientes' " title="Listado de Clientes" data-style="dark"
                    data-theme="bg-white" class="btn btn-sm btn-success icon-tool-add back-button"
                    data-animation="flipOutX" style="color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-print"></i><span
                            class="info-icon-tool">{{appConstantsView.BOTON_IMPRIMIR}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="panel-body">
                <table object-table class="hover-column" data="asistenciaDCtrl.listInicioSesion" display="10"
                    headers="Usuario,Funcionario,Ultimo Inicio,Respuesta,Opciones"
                    fields="usuario,funcionario,ultimoInicio,respuesta" sorting="compound" search="separate"
                    editable="false" resize="false">
                    <tbody>
                        <tr>
                            <td>{{::item.usuario}}</td>
                            <td>{{::item.funcionario}}</td>
                            <td>{{::item.ultimoInicio | date:'dd/MM/yyyy hh:mm:ss'}}</td>
                            <td>{{::item.respuesta}}</td>
                            <td class="opciones-table text-center">
                                <button ng-click="$owner.asistenciaDCtrl.onClickToView(item)"
                                    class="btn btn-primary btn-tools-table" title="Ver Detalle">
                                    <i class="glyphicon glyphicon-eye-open"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr
                            ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.asistenciaDCtrl.listEstudiantes.length !== $owner.appConstantsView.CERO">
                            <td colspan="2">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                        </tr>
                        <tr ng-if="$owner.asistenciaDCtrl.listEstudiantes.length === $owner.appConstantsView.CERO">
                            <td colspan="2">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div id="modalDatos" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">{{appConstantsView.CERRAR_MODAL}}</button>
                    <h4 class="modal-title">Detalle Inicio de Sesiones</h4>
                </div>
                <div class="modal-body">
                    <div class="content-box">
                        <div class="button-pane button-pane-top">
                            <div class="float-left">
                                <h3 class="text-uppercase content-box-header-title btn-sm">
                                    Detalle Inicio de Sesiones
                                </h3>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="caja" class="control-label">Funcionario</label>
                                        <input name="caja" id="caja" ng-disabled="true"
                                            class="text-uppercase form-control" type="text"
                                            ng-model="asistenciaDCtrl.detalle.funcionario">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <table object-table class="hover-column" data="asistenciaDCtrl.listHistorico"
                                    display="10" headers="Ultimo Inicio,Respuesta" fields="ultimoInicio,respuesta"
                                    sorting="compound" search="separate" editable="false" resize="false">
                                    <tbody>
                                        <tr>
                                            <td>{{::item.ultimoInicio}}</td>
                                            <td>{{::item.respuesta}}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr
                                            ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.asistenciaDCtrl.listEstudiantes.length !== $owner.appConstantsView.CERO">
                                            <td colspan="2">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                                        </tr>
                                        <tr
                                            ng-if="$owner.asistenciaDCtrl.listEstudiantes.length === $owner.appConstantsView.CERO">
                                            <td colspan="2">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>