<div id="page-title" ng-controller="AsistenciaCtrl
                        as
                        asistenciaCtrl">
    <div class="row">
        <div class="float-left" style="margin-left: 10px">
            <h2 style="line-height: 30px;">Asistencia de Programas</h2>
        </div>
    </div>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">Generar Cerfificados</h3>
            <div class="float-right">
                <a href="#/menu-estudiante" ng-click="asistenciaCtrl.cancelarInterval()" class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6 ">
                    <div class="dataTables_length" id="datatable-example_length">
                        <label>
                            <select ng-model="asistenciaCtrl.display" 
                                    ng-init="asistenciaCtrl.display = asistenciaCtrl.display || asistenciaCtrl.options[appConstantsView.CERO].value"
                                    ng-options="option.value as option.name for option in asistenciaCtrl.options"
                                    ng-change="asistenciaCtrl.display <= asistenciaCtrl.periodosAcademicos ? loadDat(n - 1) : ''">
                            </select>
                        </label>
                        <!--Por favor no borrar ya que este componente es de la funcionalidad de seleccionar todos los datos Jhon Murillo-->
                        <!--label class="control-label">Seleccionar Todos</label>
                        <input type="checkbox" 
                               ng-model="periodoCtrl.selectTodos"
                               name="selectTodos"
                               ng-disabled="periodoCtrl.periodosAcademicos.length === appConstantsView.CERO || periodoCtrl.filtrados.length === appConstantsView.CERO"
                               ng-true-value="true"
                               ng-false-value="false"
                               ng-change="periodoCtrl.onSelectTodos()"-->
                    </div>
                </div>
            </div>

            <table object-table class="hover-column" display="asistenciaCtrl.display" 
                   data="asistenciaCtrl.listAsistenciaEstudiante"
                   headers="Código,Nombre,Programa,Estado Liquidación,Estado Asistencia,FechaAsistencia,Opciones"
                   fields="codigo,nombreEstudiante,nombrePrograma,estadoLiquidacion,estadoAsistencia,fechaAsistencia"
                    sorting="compound" selected-model="asistenciaCtrl.report.selected" editable="false" search="false"
                   resize="false" select="multiply">
                <tbody>
                    <tr ng-click="$owner.asistenciaCtrl.onSelectTodosTable(ifSelected(item)); setSelected(item)">
                        <td><center>{{::item.codigo}}</center></td>
                <td style="text-transform: uppercase"><center>{{::item.nombreEstudiante}}</center></td>
                <td style="text-transform: uppercase"><center>{{::item.nombrePrograma}}</center></td>
                <td><center>{{::item.estadoLiquidacion.replace("_", " ").replace("PAGO", "PAGÓ")}}</center></td>
                <td><center>{{::item.listDetalleAsistencia[0].estadoAsistencia.replace("_", " ").replace("ASISTIO", "ASISTIÓ")}}</center></td>
                <td><center>{{::item.listDetalleAsistencia[0].fechaAsistencia.replace("_", " ")}}</center></td>
                <td class="text-center opciones-table" >
                    <a class="btn btn-success btn-tools-table" title="Generar Certificado" 
                       ng-show="item.porcentajeAsistencia === $owner.appConstantsView.ESTADO_APLICA && item.estadoLiquidacion === $owner.appConstantsView.ESTADO_PAGO"
                       ng-click="$owner.asistenciaCtrl.onBuscarConfiguracionEduCon(item)">
                        <i class="glyphicon glyphicon-download"></i>
                    </a>
                    <a class="btn btn-yellow btn-tools-table"  title="Enviar Certificado" ng-show="item.porcentajeAsistencia === $owner.appConstantsView.ESTADO_APLICA && item.estadoLiquidacion === $owner.appConstantsView.ESTADO_PAGO" ng-click="$owner.asistenciaCtrl.onBuscarConfiguracionEduConEmail(item)">
                        <i class="glyphicon glyphicon-envelope"></i>
                    </a>
                    <a class="btn btn-info btn-tools-table"  title="Ver Detalle" ng-click="$owner.asistenciaCtrl.onVerDetalleAsistencia(item)">
                        <i class="glyphicon glyphicon-eye-open"></i>
                    </a>
                </td>
                <td ng-hide="true">{{$owner.asistenciaCtrl.obtenerFiltrados($filtered)}}</td>
                </tr>
                <tfoot>
                    <tr ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.asistenciaCtrl.listAsistenciaEstudiante.length !== $owner.appConstantsView.CERO">
                        <td colspan="6">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                    </tr>
                    <tr ng-if="$owner.asistenciaCtrl.listAsistenciaEstudiante.length === $owner.appConstantsView.CERO">
                        <td colspan="6">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                    </tr>
                </tfoot>
                </tbody>
            </table>
        </div>
    </div>


    <div id="modalDestalleAsistencia" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button  type="button" class="close" data-dismiss="modal">{{appConstantsView.CERRAR_MODAL}}</button>
                    <h4 class="modal-title">Detalle de Asistencia del Estudiante {{asistenciaCtrl.nombreEstudianteModal}}</h4>
                </div>
                <div class="modal-body">
                    <form method="POST" novalidate name="formDetalleAsistencia">

                        <table object-table class="hover-column" display="asistenciaCtrl.display" data="asistenciaCtrl.listAsistenciaDetalle" headers="Estado Asistencia,Fecha"
                               fields="estadoAsistencia,fechaAsistencia"
                               search="separate" sorting="compound" selected-model="asistenciaCtrl.report.selected" editable="false" search="false"
                               resize="false" select="multiply">
                            <tbody>
                                <tr ng-click="$owner.asistenciaCtrl.onSelectTodosTable(ifSelected(item)); setSelected(item)">
                                    <td><center>{{::item.estadoAsistencia.replace("_", " ").replace("ASISTIO", "ASISTIÓ")}}</center></td>
                            <td><center>{{::item.fechaAsistencia.replace("_", " ")}}</center></td>

                            <td ng-hide="true">{{$owner.asistenciaCtrl.obtenerFiltrados($filtered)}}</td>
                            </tr>
                            <tfoot>
                                <tr ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.asistenciaCtrl.listAsistencia.length !== $owner.appConstantsView.CERO">
                                    <td colspan="6">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                                </tr>
                                <tr ng-if="$owner.asistenciaCtrl.listAsistencia.length === $owner.appConstantsView.CERO">
                                    <td colspan="6">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                </tr>
                            </tfoot>
                            </tbody>
                        </table>


                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="modalGenerarReporteVariosCongresos" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button  type="button" class="close" data-dismiss="modal">{{appConstantsView.CERRAR_MODAL}}</button>
                    <h4 class="modal-title">Detalle de Programas del Estudiante {{asistenciaCtrl.nombreEstudianteModal}}</h4>
                </div>
                <div class="modal-body">
                    <form method="POST" novalidate name="formDetalleAsistencia">

                        <table object-table class="hover-column" display="asistenciaCtrl.display" data="asistenciaCtrl.listadoProgramasCongreso" headers="Nombre Congreso, Opciones"
                               fields="nombrePrograma,Opciones"
                               search="separate" editable="false" search="false"
                               resize="false" >
                            <tbody>
                                <tr >
                                    <td style="text-transform: uppercase"><center>{{::item.nombrePrograma}}</center></td>
                            <td class="text-center opciones-table" >
                                <a class="btn btn-success btn-tools-table" title="Generar Certificado" 
                                   ng-click="$owner.asistenciaCtrl.onGenerarReporteCongresoSeleccionado(item.infoReporte)">
                                    <i class="glyphicon glyphicon-download"></i>
                                </a>
                                <a class="btn btn-yellow btn-tools-table"  title="Enviar Certificado" 
                                   ng-click="$owner.asistenciaCtrl.onGenerarReporteCongresoSeleccionadoEmail(item.infoReporte)">
                                    <i class="glyphicon glyphicon-envelope"></i>
                                </a>
                            </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>