<div id="page-title" ng-controller="AsistenciaCtrl
            as
            asistenciaCtrl">
    <div class="row">
        <div class="float-left" style="margin-left: 10px">
            <h2 style="line-height: 30px;">Asistencia de Programas</h2>
        </div>
    </div>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">Asistencia</h3>
            <div class="float-right" ng-controller="menuCtrl as mCtrl">
                <a ng-click="asistenciaCtrl.cancelarInterval();mCtrl.onListarOPciones('/#/admin-registro-control')" class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4; color: #ffffff;cursor: pointer; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="row">
                <form method="POST" name="formRegistrarAsistencia" novalidate>
                    <div class="panel-body">

                        <div class="row">

                            <div class="col-lg-12 col-sm-12">
                                <div class="alert alert-notice">
                                    <div class="bg-blue alert-icon" style="border-radius: 30px;">
                                        <i class="glyph-icon icon-info"></i>
                                    </div>
                                    <div class="alert-content">
                                        <div class="alert-title" style="font-size: 15px; font-weight: bolder">¡Ten en cuenta!</div>
                                        Esta funcionalidad es utilizada para registrar las asistencias diarias y la información solo se mostrará temporalmente. Para mayor detalle, haga clic <a href="#verificar-asistencia" title="Link" >AQUÍ
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4 col-sm-4">
                                    <div class="form-group">
                                        <label for="periodo" class="control-label">{{appConstantsView.LABEL_PERIODO_ACTUAL}}</label>
                                        <input type="text"  class="form-control text-uppercase" id="periodo" 
                                               ng-model="asistenciaCtrl.nombrePeriodoAcademico" ng-disabled="true"
                                               name="nFormacion">
                                    </div>
                                </div>

                                <div class="col-lg-4 col-sm-4">
                                    <div class="form-group">
                                        <label for="id" class="control-label">{{appConstantsView.LABEL_NIVEL_FORMACION}}</label>
                                        <input type="text" class="form-control text-uppercase" id="nFormacion" 
                                               value="EDUCACIÓN CONTINUADA" ng-disabled="true"
                                               name="nFormacion">
                                    </div>
                                </div>

                                <div class="col-lg-4 col-sm-4">
                                    <div class="form-group">
                                        <label for="programa" class="control-label">{{appConstantsView.LABEL_PROGRAMA_ACADEMICO}}</label><label class="text-danger">*</label>
                                        <ui-select name="programa" ng-model="asistenciaCtrl.programa"  class="form-control" ng-change="asistenciaCtrl.onFiltrarAsistenciaDelDia()"
                                                   >
                                            <ui-select-match placeholder="{{appConstantsView.SELECCION_SELECT}}">{{$select.selected.nombre}}</ui-select-match>
                                            <ui-select-choices repeat="programa in asistenciaCtrl.programas | filter: {nombre: $select.search}">
                                                <div ng-bind-html="programa.nombre"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="id" class="control-label">{{appConstantsView.LABEL_CODIGO}}</label><label class="text-danger">*</label>
                                    <input type="text"  class="form-control text-uppercase" id="codigo" 
                                           ng-model="asistenciaCtrl.codigo"
                                           ng-blur="asistenciaCtrl.onBlurText()" autofocus
                                           name="codigo">
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

                <div class="col-sm-12 ">
                    <div class="dataTables_length" id="datatable-example_length">
                        <label>
                            <select ng-model="asistenciaCtrl.display" 
                                    ng-init="asistenciaCtrl.display = asistenciaCtrl.display || asistenciaCtrl.options[appConstantsView.CERO].value"
                                    ng-options="option.value as option.name for option in asistenciaCtrl.options"
                                    ng-change="asistenciaCtrl.display <= asistenciaCtrl.periodosAcademicos ? loadDat(n - 1) : ''">
                            </select>
                        </label>
                        <!--Por favor no borrar ya que este componente es de la funcionalidad de seleccionar todos los datos Jhon Murillo-->
                        <!--label class="control-label">Seleccionar Todos</label>
                        <input type="checkbox" 
                               ng-model="periodoCtrl.selectTodos"
                               name="selectTodos"
                               ng-disabled="periodoCtrl.periodosAcademicos.length === appConstantsView.CERO || periodoCtrl.filtrados.length === appConstantsView.CERO"
                               ng-true-value="true"
                               ng-false-value="false"
                               ng-change="periodoCtrl.onSelectTodos()"-->
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="content-box border-top border-yellow" ng-if="!asistenciaCtrl.mensajeValidacion">
                <h3 class="content-box-header clearfix title-resumen-yellow">
                    <div class="col-xs-12">
                        <a ng-click="asistenciaCtrl.mensajeValidacion = false" class="btn btn-xs btn-danger pull-right">
                            <i class="glyph-icon icon-remove"></i>
                        </a>
                        {{appConstantsView.LABEL_ADVERTENCIA}}
                        <small>{{appConstantsView.ERROR_REGISTROS_NO_ELIMINADOS}}</small>
                    </div>
                </h3>
                <div class="content-box-wrapper">
                    <ul class="todo-box" style="overflow-y: scroll;height: 235px;">
                        <li class="border-yellow" ng-repeat="noEliminiado in asistenciaCtrl.listNoEliminados track by noEliminiado.id">
                            <label for="todo-1">{{appConstantsView.LABEL_CODIGO}}: {{noEliminiado.codigoPeriodoAcademico}}, {{appConstantsView.LABEL_NOMBRE}}: {{noEliminiado.nombrePeriodoAcademico}}</label>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <table object-table class="hover-column" display="asistenciaCtrl.display" data="asistenciaCtrl.listAsistencia" headers="Código,Nombre,Asistencia"
                       fields="codigo,nombreEstudiante,estadoAsistencia"
                       search="separate" sorting="compound" selected-model="asistenciaCtrl.report.selected" editable="false" search="false"
                       resize="false" select="multiply">
                    <tbody>
                        <tr ng-click="$owner.asistenciaCtrl.onSelectTodosTable(ifSelected(item)); setSelected(item)">
                            <td><center>{{::item.codigo}}</center></td>
                    <td style="text-transform: uppercase"><center>{{::item.nombreEstudiante}}</center></td>
                    <td><center>{{::item.estadoAsistencia.replace("_", " ").replace("ASISTIO","ASISTIÓ")}}</center></td>

                    <td ng-hide="true">{{ $owner.asistenciaCtrl.obtenerFiltrados($filtered)}}</td>
                    </tr>
                    <tfoot>
                        <tr ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.asistenciaCtrl.listAsistencia.length !== $owner.appConstantsView.CERO">
                            <td colspan="6">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                        </tr>
                        <tr ng-if="$owner.asistenciaCtrl.listAsistencia.length === $owner.appConstantsView.CERO">
                            <td colspan="6">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                        </tr>
                    </tfoot>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>