<!DOCTYPE html>
<script src="js/main-app.js"></script>
<script src="../../../../styles/assets/widgets/popover/popover.js" type="text/javascript"></script>
<style>
    .popup-instituciones{
        top: 92px !important;
        margin: auto ! important;
        right: 0px ! important;
    }
</style>
<div id="page-title" ng-controller=" colegioCtrl as colegioCtrl">
    <h2>{{appConstantsView.TITLE_INSTITUCIONES}}</h2>
    <p></p>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left content-box-header-title btn-sm">{{colegioCtrl.colegioAux.titleWindow}}</h3>
            <div class="float-right">
                <a href="#/institucion" ng-click="colegioCtrl.onVolver()" class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left" ></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="panel-body">     
                <div class="row">
                    <form method="POST" name="formRegistrarColegios" novalidate>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label pull-left">{{appConstantsView.TITLE_CARACTER_ACADEMICO}}</label><label class="text-danger pull-left">*</label>
                                    <select ng-options="cAcademico.codigo as cAcademico.valor for cAcademico in colegioCtrl.listCaracterAcademico  | orderBy:'valor'"
                                            name="cAca" 
                                            id="cAca" 
                                            class="form-control"
                                            ng-model="colegioCtrl.nuevoColegio.caracterAcademicoLV"
                                            ng-disabled="colegioCtrl.colegioAux.disabledCodeField || colegioCtrl.colegioAux.disabled"
                                            validation="required">
                                        <option ng-if="colegioCtrl.sector.length >= appConstantsView.CERO" value="">{{appConstantsView.SELECCION_SELECT}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="codigo" class="control-label pull-left">{{appConstantsView.LABEL_CODIGO}}</label><label class="text-danger pull-left">*</label>
                                    <input type="text" 
                                           id="codigo" 
                                           max-length="12" class="form-control text-uppercase"  
                                           id="codigo" mask='m' repeat='12' restrict='reject'
                                           name="codigo"
                                           ng-model="colegioCtrl.nuevoColegio.codigoInstitucionAcademica" 
                                           ng-disabled="colegioCtrl.colegioAux.disabledCodeField || colegioCtrl.colegioAux.disabled"
                                           validation="required" >
                                </div>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="nombre" class="control-label pull-left">{{appConstantsView.LABEL_NOMBRE}}</label><label class="text-danger pull-left">*</label>
                                    <input type="text" 
                                           id="nombre" 
                                           class="form-control text-uppercase"
                                           max-length="50"  
                                           mask='H' repeat='50' restrict='reject'
                                           name="nombre" 
                                           ng-model="colegioCtrl.nuevoColegio.nombreInstitucionAcademica"   
                                           ng-disabled="colegioCtrl.colegioAux.disabled"
                                           validation="required">
                                </div>
                            </div>


                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label pull-left">{{appConstantsView.LABEL_SECTOR}}</label><label class="text-danger pull-left">*</label>
                                    <select ng-options="sector.codigo as sector.valor for sector in colegioCtrl.sector  | orderBy:'valor'"
                                            ng-change="colegioCtrl.activarPais()"
                                            name="sector" 
                                            id="estado" 
                                            class="form-control"
                                            ng-model="colegioCtrl.nuevoColegio.sectorAcademicoLV"
                                            ng-disabled="colegioCtrl.colegioAux.disabled"
                                            validation="required">
                                        <option ng-if="colegioCtrl.sector.length >= appConstantsView.CERO" value="">{{appConstantsView.SELECCION_SELECT}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label pull-left">{{appConstantsView.LABEL_LUGAR}}</label><label class="text-danger pull-left">*</label>
                                    <div class="input-group">
                                        <input id="inputPDM" type="text" 
                                               ng-model="colegioCtrl.nuevoColegio.prueba" name="inputPDM" readonly="true"
                                               class="form-control"  validation="required"  validation-error-to="colegioError">
                                        <span class="input-group-btn" style="position: static" >
                                            <button title="Agregar" id="modalBtnPais" class="btn btn-primary btn-group-plus" ng-disabled="colegioCtrl.colegioAux.disabled" ng-click="colegioCtrl.activarCampos()"><i class="glyphicon glyphicon-plus"></i></button>
                                        </span>
                                    </div>
                                    <span id="colegioError"  class="validation text-danger pull-left"></span>
                                </div> 
                            </div>
                            <div class="col-lg-6 col-sm-6" ng-show="!colegioCtrl.colegioAux.showEditBtn || !colegioCtrl.colegioAux.showeEditBtn2">
                                <div class="form-group">
                                    <label class="control-label pull-left">{{appConstantsView.LABEL_ESTADO}}</label><label class="text-danger pull-left">*</label>
                                    <select ng-options="estado.codigo as estado.valor for estado in colegioCtrl.listEstado  | orderBy:'valor'"
                                            name="estado" 
                                            id="estado" 
                                            class="form-control"
                                            ng-model="colegioCtrl.nuevoColegio.estadoLV"
                                            ng-disabled="colegioCtrl.colegioAux.showeEditBtn2"
                                            validation="required">
                                        <option ng-if="colegioCtrl.listEstado.length >= appConstantsView.CERO" value="">{{appConstantsView.SELECCION_SELECT}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="button-pane">
                            <input class="btn btn-success" type="submit" value="Guardar" ng-click="colegioCtrl.onGuardar()" ng-disabled="colegioCtrl.colegioAux.disabled"  ng-show="colegioCtrl.colegioAux.showEditBtn">
                        </div>
                    </form>
                </div>
            </div>
            <div id="modalPais"  class="popover popup-instituciones col-lg-12 col-sm-12 col-xs-12 col-md-12"  role="tooltip" style="top: -216px; left: 6px; display: none; width: 100%">
                <div class="arrow" style="left: 50%; top: 377px; display: none"></div>
                <h3 class="popover-title">Diligencie Lugar <button type="button" 
                                                                   style="top: -4px;"
                                                                   id="cancelModal" 
                                                                   ng-click="colegioCtrl.modalCerrar()"
                                                                   class="btn btn-xs btn-danger editable-cancel pull-right">
                        <i class="glyph-icon icon-times"> </i>
                    </button></h3>

                <div class="popover-content"> 
                    <form method="POST" name="formPais"  novalidate> 
                        <div class="control-group form-group">
                            <div class="row">
                                <div class="col-lg-12 col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label pull-left">{{appConstantsView.LABEL_PAIS}}</label><label class="text-danger pull-left">*</label>
                                        <select ng-options="pais.id as pais.nombrePais for pais in colegioCtrl.listPais  | orderBy:'nombrePais'"
                                                ng-change="colegioCtrl.consultarDepartamentosPorPais(colegioCtrl.nuevoColegio.idPais)"
                                                name="pais" 
                                                id="pais" 
                                                class="form-control"
                                                ng-model="colegioCtrl.nuevoColegio.idPais"
                                                validation="required">
                                            <option ng-if="colegioCtrl.listPais.length >= appConstantsView.CERO" value="">{{appConstantsView.SELECCION_SELECT}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label pull-left">{{appConstantsView.LABEL_DEPARTAMENTO}}</label><label class="text-danger pull-left">*</label>
                                        <select ng-options="departamento.id as departamento.nombreDepartamento for departamento in colegioCtrl.listDepartamento  | orderBy:'nombreDepartamento'"
                                                ng-change="colegioCtrl.consultarMunicipioPorDepartamento(colegioCtrl.nuevoColegio.idDepartamento)"
                                                name="departamento" 
                                                id="deoartamento" 
                                                class="form-control"
                                                ng-model="colegioCtrl.nuevoColegio.idDepartamento"
                                                ng-disabled="colegioCtrl.auxiliarListas.disbaledDepartamento"
                                                validation="required">
                                            <option ng-if="colegioCtrl.listDepartamento.length >= appConstantsView.CERO" value="">{{appConstantsView.SELECCION_SELECT}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label pull-left">{{appConstantsView.LABEL_MUNICIPIO}}</label><label class="text-danger pull-left">*</label>
                                        <select ng-options="municipio.id as municipio.nombreMunicipio for municipio in colegioCtrl.listMunicipio  | orderBy:'nombreMunicipio'"
                                                name="municipio" 
                                                id="estado" 
                                                class="form-control"
                                                ng-model="colegioCtrl.nuevoColegio.idMunicipio"
                                                ng-disabled="colegioCtrl.auxiliarListas.disbaledMunicipio"
                                                validation="required">
                                            <option ng-if="colegioCtrl.listMunicipio.length >= appConstantsView.CERO" value="">{{appConstantsView.SELECCION_SELECT}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="editable-error-block help-block" style="display: none;"></div>
                        </div>
                        <div class="button-pane">
                            <input class="btn btn-success" id="btnAceptarPais" type="submit" value="Aceptar" ng-click="colegioCtrl.onValidarCampoPaisDepratamentoMunicipio()"  ng-show="colegioCtrl.colegioAux.showEditBtn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

//            $(document).ready(function () {
//    var item = document.getElementById('cAca').value;
//            if (item === "") {
//    $("#codigo").attr('maxlength', '0');
//    }
//
//    $("#codigo").keydown(function (event) {
//    if (event.shiftKey)
//    {
//    event.preventDefault();
//    }
//
//    if (event.keyCode == 46 || event.keyCode == 8) {
//    } else {
//    if (event.keyCode < 95) {
//    if (event.keyCode < 48 || event.keyCode > 57) {
//    event.preventDefault();
//    }
//    } else {
//    if (event.keyCode < 96 || event.keyCode > 105) {
//    event.preventDefault();
//    }
//    }
//    }
//    });
//    });
//            $("#nombre").on("input", function () {
//    var regexp = /[^a-zA-Z- ñÁÉÍÓÚ]/g;
//            if ($(this).val().match(regexp)) {
//    $(this).val($(this).val().replace(regexp, ''));
//    }
//    });
//                                            function soloLetras(e) {
//                                                key = e.keyCode || e.which;
//                                                tecla = String.fromCharCode(key).toString();
//                                                letras = " áéíóúabcdefghijklmnñopqrstuvwxyzÁÉÍÓÚABCDEFGHIJKLMNÑOPQRSTUVWXYZ";
//                                                //Se define todo el abecedario que se quiere que se muestre.
//                                                especiales = [8, 37, 39, 46, 6]; //Es la validación del KeyCodes, que teclas recibe el campo de texto.
//
//                                                tecla_especial = false
//                                                for (var i in especiales) {
//                                                    if (key == especiales[i]) {
//                                                        tecla_especial = true;
//                                                        break;
//                                                    }
//                                                }
//
//                                                if (letras.indexOf(tecla) == -1 && !tecla_especial)
//                                                    return false;
//                                            }


//            function tamañoCampoCodigo() {
//            var item = document.getElementById('cAca').value;
//                    if (item === "5") {
//            $("#codigo").attr('maxlength', '12');
//                    $("#codigo").attr('pattern', '[0-9]{12}');
//                    document.getElementById("codigo").value = "";
//            } else if (item === "1" || item === "2" || item === "3" || item === "4") {
//            $("#codigo").attr('maxlength', '4');
//                    $("#codigo").attr('pattern', '[0-9]{4}');
//                    document.getElementById("codigo").value = "";
//            } else {
//            $("#codigo").attr('maxlength', '0');
//                    document.getElementById("codigo").value = "";
//            }
//
//            }

//            $("#modalBtnPais").click(function () {
//    $("#modalPais").show();
//    });
//            $("#cancelModal").click(function () {
//    $('#departamento').prop('disabled', true);
//            $('#municipio').prop('disabled', true);
//            $("#pais").val("");
//            $("#inputPDM").val("");
//            $("#modalPais").hide();
//    });
</script>


