<!DOCTYPE html>
<style>
    @media screen and (max-width: 2500px) {
        .table-scroll-x {
            overflow-x: scroll;
        }
    }
</style>
<div id="page-title" ng-controller="asistenciaDiariaCtrl as asistenciaDCtrl">
    <h2>Registro de Asistencias</h2>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">Registrar Asistencias</h3>
            <div class="float-right" ng-controller="menuCtrl as mCtrl">
                <a ng-click="mCtrl.onListarOPciones('/#/docente')" class="btn btn-sm btn-info icon-tool-add back-button"
                    data-animation="flipOutX"
                    style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span
                            class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="panel-body">
                <form method="POST" novalidate name="formAsistenciaDiaria">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{appConstantsView.LABEL_MODULO}}</label><label
                                    class="text-danger">*</label>
                                <input class="form-control hidden" ng-model="asistenciaDCtrl.modulo" name="modulo"
                                    id="modulo" validation="required" validation-error-to="validacionModulo">
                                <ui-select name="modulos" id="modulos" title="{{$select.selected.nombreModulo}}"
                                    ng-model="asistenciaDCtrl.modulo"
                                    ng-change="asistenciaDCtrl.onBuscarGruposByModulo()" class="form-control">
                                    <ui-select-match placeholder="--Seleccione--">{{$select.selected.nombreModulo}}
                                    </ui-select-match>
                                    <ui-select-choices
                                        repeat="modulo as modulo in asistenciaDCtrl.listadoModulos | filter: {nombreModulo: $select.search}">
                                        <small class="text-uppercase" title="{{modulo.nombreModulo}}">
                                            {{modulo.nombreModulo}}
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                                <span id="validacionModulo"
                                    class="validation validation-select text-danger pull-left"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{appConstantsView.LABEL_GRUPO}}</label>
                                <select class="form-control" ng-model="asistenciaDCtrl.idGrupo"
                                    ng-change="asistenciaDCtrl.onConsultarEstudiantes()" name="grupo" id="grupo"
                                    validation="required"
                                    ng-options="grupo as grupo.nombreGrupo for grupo in asistenciaDCtrl.listadoGrupos| orderBy:'nombreGrupo'">
                                    <option ng-if="asistenciaDCtrl.listadoGrupos.length >= appConstantsView.CERO"
                                        value="">{{appConstantsView.SELECCION_SELECT}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Asistencia #</label>
                                <select class="form-control" ng-model="asistenciaDCtrl.idDiaAsistencia" name="asis"
                                    id="asis" ng-change="asistenciaDCtrl.onConsultarEstudiantes()"
                                    ng-options="numero.id as numero.cantidadDias for numero in asistenciaDCtrl.cantidadDiasSelect| orderBy:'id'">
                                    <option ng-if="asistenciaDCtrl.cantidadDiasSelect.length >= appConstantsView.CERO"
                                        value="">{{appConstantsView.SELECCION_SELECT}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="content-box" ng-hide="asistenciaDCtrl.listadoEstudiantes.length === appConstantsView.CERO">
                    <div class="button-pane button-pane-top">
                        <h3 class="float-left text-uppercase content-box-header-title btn-sm">Asistencias</h3>
                        <div class="float-right">

                            <button type="submit " class="btn btn-success " ng-disabled="asistenciaDCtrl.idDiaAsistencia === undefined || asistenciaDCtrl.idDiaAsistencia === null"
                                ng-hide="asistenciaDCtrl.listadoEstudiantes.length === appConstantsView.CERO"
                                ng-click="asistenciaDCtrl.onSubmitForm()">{{appConstantsView.BOTON_GUARDAR}}</button>
                        </div>
                    </div>
                    <div class="panel-body table-scroll-x">
                        <div class="content-box-wrapper">
                            <div class="back-cover ">
                                <table class="table table-hover table-condensed dias table-scroll-x">
                                    <thead>
                                        <tr style="font-weight: bold"></tr>
                                        <th style="width:30%" class="dias">Estudiante</th>
                                        <th ng-repeat="diaAsistencia in asistenciaDCtrl.cantidadDias" class="dias">
                                            {{diaAsistencia.cantidadDias}}</th>
                                    </thead>
                                    <tr ng-repeat="datos in asistenciaDCtrl.listadoEstudiantes| filter:search as filtered"
                                        ng-class="{'selected': datos.selected}">
                                        <td class="dias form-group" style="width:30%;text-align: center">
                                            <label class="control-label"
                                                style="text-align: center">{{datos.nombreEstudiante}}</label>
                                        </td>
                                        <td ng-repeat="asis in datos.asistenciasNew" class="dias"
                                            style="text-align: center;padding-top: 19px">
                                            <div class="col-lg-12 col-sm-12">
                                                <input bs-switch data-size="mini" class="form-control"
                                                    name="asistio{{datos.idEstudiante + '' + asis.numeroAsistencia}}"
                                                    id="asistio{{datos.idEstudiante + '' + asis.numeroAsistencia}}"
                                                    ng-model="asis.asistencia" type="checkbox"
                                                    switch-active="{{ asis.id !== null ? false : asistenciaDCtrl.idDiaAsistencia === asis.numeroAsistencia? true  :  asistenciaDCtrl.idDiaAsistencia === 0 ? true : false }}"
                                                    ng-true-value="'SI'" ng-false-value="'NO'" switch-on-text="SI"
                                                    switch-off-text="NO">
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
