
    <!DOCTYPE html>
    <div id="page-title" ng-controller="liquidarCongresoCtrl as liqCongCtrl">
      <div class="content-box">
        <div class="button-pane button-pane-top">
          <div class="float-left">
            <h3 class="text-uppercase content-box-header-title btn-sm">{{appConstantsView.TITLE_INSCRIPCION_ASPIRANTES}}</h3>
          </div>
          <div class="float-right" ng-controller="menuCtrl as mCtrl">
            <a ng-click="mCtrl.onListarOPciones('/#/financiero')" class="btn btn-sm btn-info icon-tool-add back-button"
                data-animation="flipOutX"
                style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                <div class="glyph-icon">
                    <i class="glyphicon glyphicon-arrow-left"></i><span
                        class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                </div>
            </a>
        </div>
          <div class="float-right" ng-if="liqCongCtrl.visible.ocultarbotonsalir">
            <a href="#/pagainscripcion" ng-click="liqCongCtrl.onSalir()" class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
              <div class="glyph-icon">
                <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_SALIR}}</span>
              </div>
            </a>
          </div>
        </div>
        <div class="panel-default">
          <div class="panel-body">
            <form method="POST" name="liqCongCtrl.forminicioinscripcion1" novalidate>
              <div class="row">
                <div class="col-lg-6 col-sm-6">
                  <div class="form-group">
                    <label class="control-label">{{appConstantsView.LABEL_PERIODO_ACADEMICO}}</label><label class="text-danger">*</label>
                    <input type="text"
                           class="form-control text-uppercase"
                           name="nombreInforPersonal"
                           mask='H'
                           restrict="reject"
                           repeat="100"
                           ng-model="liqCongCtrl.periodo"
                           ng-disabled="true"
                           validation="required">
                  </div>
                  </div>
                <div class="col-lg-6 col-sm-6">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-sm-6">
                  <div class="form-group">
                    <label class="control-label">Numero de documento</label><label class="text-danger">*</label>
                    <input type="text"
                           class="form-control text-uppercase"
                           name="nombreInforPersonal"
                           mask="9"
                           restrict="reject"
                           repeat="100"
                           ng-model="liqCongCtrl.documento"
                           ng-blur="liqCongCtrl.findPreinscripcion()"
                           validation="required">
                  </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                  <div class="form-group">
                    <label class="control-label">Congresos.</label><label class="text-danger">*</label>
                    <ui-select name="congreso"
                               ng-model="liqCongCtrl.liquidarCongresoForm.curso"
                               class="form-control"
                               on-select="liqCongCtrl.onChangeSelectPrograma();">
                      <ui-select-match placeholder="{{appConstantsView.SELECCION_SELECT}}">{{$select.selected.nombreProgram}}</ui-select-match>
                      <ui-select-choices  repeat="congreso in liqCongCtrl.congresos | filter: {nombreProgram: $select.search}">
                        <small ng-bind="congreso.nombreProgram"></small>
                      </ui-select-choices>
                    </ui-select>
                    <span  class="validation text-danger"></span>
                    <input type="text"
                           name="fakeInputIdTipoConvenio"
                           class="hidden"
                           ng-model="liqCongCtrl.liquidarCongresoForm.congreso"
                           validation="required"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6 col-sm-6">
                  <div class="form-group">
                    <label class="control-label">Nombre estudiandte</label><label class="text-danger">*</label>
                    <input type="text"
                           class="form-control text-uppercase"
                           name="nombreInforPersonal"
                           mask='H'
                           restrict="reject"
                           ng-disabled="true"
                           repeat="100"
                           ng-model="liqCongCtrl.estudiante.nombreCompleto"
                           ng-blur="liqCongCtrl.findPreinscripcion()"
                           validation="required">
                  </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                  <div class="form-group">
                    <label class="control-label">Precio congreso</label><label class="text-danger">*</label>
                    <input type="text"
                           class="form-control text-uppercase"
                           name="nombreInforPersonal"
                           mask='H'
                           restrict="reject"
                           repeat="100"
                           ng-disabled="true"
                           ng-model="liqCongCtrl.congreso.valorMatricula"
                           ng-blur="liqCongCtrl.findPreinscripcion()"
                           validation="required">
                  </div>
                </div>
            </div>
              <br/>
              <div class="button-pane">
                <input type="submit" class="btn"
                      style="background-color: #00bca4;color: #ffffff;border: 0px solid #dfe8f1;"
                      ng-click="liqCongCtrl.send()"
                      value="Ingresar"
                       ng-disabled="liqCongCtrl.validateSend()">
              </div>
            </form>
          </div>
        </div>
      </div>
      <br/>
  </div>
