<style>
    .validation-select{
        margin-top: -10px;
    }
</style>
<div id="page-title"   ng-controller="confiCertificadosCtrl as certificadoCtrl">
    <h2>{{appConstantsView.LABEL_CONFIGURACION_CERTIFICADOS}}</h2>
    <p></p>
    <br>
    <div class="content-box">        
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm ">{{certificadoCtrl.certificadoAuxiliar.titulo}}</h3>
            <div class="float-right">
                <a href="/#/configuracion-certificado" ng-click="certificadoCtrl.onLimpiar()" class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left" ></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="panel-body">     
                <div class="row">
                    <form  method="POST"  name="formCrudGrupo" novalidate>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="id" class="control-label">{{appConstantsView.LABEL_CODIGO}}</label><label class="text-danger">*</label>
                                    <input type="text" maxlength="10" class="form-control text-uppercase"  
                                           id="codigo" mask='X' repeat='10' restrict='reject'
                                           ng-model="certificadoCtrl.certificado.codigo"                      
                                           ng-disabled="certificadoCtrl.certificadoAuxiliar.disableVerDetalle || certificadoCtrl.certificadoAuxiliar.disableCodigo"
                                           name="codigo" validation="required">
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="nombre" class="control-label">{{appConstantsView.LABEL_NOMBRE}}</label><label class="text-danger">*</label>
                                    <input type="text" maxlength="50"  
                                           id="nombre"   mask='H' repeat='50' restrict='reject'
                                           class="form-control text-uppercase" 
                                           name="nombre"
                                           ng-disabled="certificadoCtrl.certificadoAuxiliar.disableVerDetalle"
                                           ng-model="certificadoCtrl.certificado.nombre" validation="required" >
                                </div>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="conceptoFacturacion" class="control-label">{{appConstantsView.LABEL_CONCEPTO_FACTURACION}}<label class="text-danger">*</label></label>
                                    <select ng-options="item.id as item.nombre for item in certificadoCtrl.listaConceptoValor" class="form-control"
                                            ng-model="certificadoCtrl.certificado.idConcepto" 
                                            ng-disabled="certificadoCtrl.certificadoAuxiliar.disableVerDetalle"
                                            name="conceptoFacturacion" id="conceptoFacturacion" validation="required">
                                        <option value="">{{appConstantsView.SELECCION_SELECT}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6" ng-if="certificadoCtrl.certificadoAuxiliar.onDeshabilitarCampoEstado">
                                <div class="form-group">
                                    <label for="estado" class="control-label">{{appConstantsView.LABEL_ESTADO}}<label class="text-danger">*</label></label>
                                    <select ng-options="item.valor as item.valor for item in certificadoCtrl.listaEstados" 
                                            class="form-control" ng-model="certificadoCtrl.certificado.estado"
                                            ng-disabled="certificadoCtrl.certificadoAuxiliar.disableVerDetalle" 
                                            name="estado" id="estado"
                                            validation="required">
                                        <option value="">{{appConstantsView.SELECCION_SELECT}}</option>
                                    </select>
                                </div>
                            </div>  
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="form-group">
                                    <label for="leyenda" class="control-label">Leyenda</label>
                                    <textarea class="form-control descripcion" maxlength="1000"
                                              placeholder="Digite la leyenda del certificado..."
                                              ng-trim="false" id="leyenda" style="resize:none"
                                              name="leyenda" row="12" ng-model="certificadoCtrl.certificado.leyenda" 
                                              ng-disabled="certificadoCtrl.certificadoAuxiliar.disableVerDetalle"></textarea>
                                    <span class="pull-right" ng-if="!DOCtrl.nivelFormacionVisor.onDeshabilitar">{{1000 - DOCtrl.docenteEntity.observacion.length}} de 1000</span>
                                </div>
                            </div>
                        </div>
                        <div class="button-pane">
                            <input type="submit" class="btn btn-success" ng-if="!(certificadoCtrl.certificadoAuxiliar.disableVerDetalle && certificadoCtrl.certificadoAuxiliar.disableCodigo)" value="Guardar" ng-click="certificadoCtrl.onSubmitForm()">
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


