<style>
    .info-icon-tool {
        padding: 5px;
    }

    tr {
        height: 0px !important
    }

    td {
        text-align: center;
    }
</style>
<script src="js/main-app.js"></script>
<div id="page-title" ng-controller="DashboardCarteraCtrl as dashCarteraCtrl">
    <!--<h2>Cartera</h2>-->
    <div class="row">
        <div class="float-left" style="margin-left: 10px">
            <h2 style="line-height: 30px;">Cartera</h2>
        </div>
        <div class="float-right" style="margin-right: 10px" ng-controller="menuCtrl as mCtrl">
            <a ng-click="mCtrl.onListarOPciones('/#/dashboard-interno')"
                class="btn btn-sm btn-info icon-tool-add back-button"
                style="background-color: #0096D4;cursor: pointer; color: #ffffff; border: 0px solid #dfe8f1;">
                <div class="glyph-icon">
                    <i class="glyphicon glyphicon-arrow-left"></i><span
                        class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                </div>
            </a>
        </div>
    </div>

    <br>
    <div class="row">
        <form class="form form-horizontal">
            <div class="col-lg-4 col-sm-4 col-xs-6">
                <label for="valorPeriodoAcademico"
                    class="control-label pull-right">{{appConstantsView.LABEL_PERIODO_ACADEMICO}}</label>
            </div>
            <div class="col-lg-5 col-sm-5 col-xs-4">
                <div class="form-group">
                    <select
                        ng-options="periodoAcademico as periodoAcademico.nombrePeriodoAcademico for periodoAcademico in dashCarteraCtrl.listaPeriodoAcademicosCartera"
                        name="valorPeriodoAcademico" id="valorPeriodoAcademico" class="form-control"
                        ng-model="dashCarteraCtrl.dashboardCartera.periodoAcademico"
                        ng-change="dashCarteraCtrl.onCambiarSelectPeriodoAcademico()">
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">

            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    <h3 class="title-hero">
                        <button class="float-right btn btn-sm btn-info icon-tool-add back-button collapsed" title=""
                            id="btndiv1" data-toggle="collapse" data-target="#div1">
                            <i class="glyph-icon icon-arrow-down"></i>
                        </button>

                        Listado de Cantidad de Cuotas Por Estado

                        <a href="" ng-json-export-excel data="dashCarteraCtrl.listCuotasByEstado" report-fields="{
                            mes:'Mes',
                            estadoCuotas:'Estado',
                            cantidadCuotas:'Cantidad'
                            }" filename=" 'Listado pagos por modalidad' " title="Listado pagos por modalidad"
                            data-style="dark" data-theme="bg-white"
                            class="float-right btn btn-sm btn-success icon-tool-add back-button {{dashCarteraCtrl.listCuotasByEstado.length === appConstantsView.CERO?'disabled':' '}}"
                            data-animation="flipOutX" style="color: #ffffff; border: 0px solid #dfe8f1;">
                            <div class="glyph-icon">
                                <i class="glyphicon glyphicon-print"></i><span
                                    class="info-icon-tool">{{appConstantsView.BOTON_IMPRIMIR}}</span>
                            </div>
                        </a>
                    </h3>
                    <hr>
                    <div class="collapse" id="div1">
                        <table object-table class="hover-column" display="10" data="dashCarteraCtrl.listCuotasByEstado"
                            headers="Mes, Estado, Cantidad" fields="mes,estadoCuotas,cantidadCuotas" sorting="compound"
                            search="separate" resize="false" select="false">
                            <tbody>
                                <tr style="height: 60px;">
                                    <td>{{::item.mes}}</td>
                                    <td style="text-align: center">{{::item.estadoCuotas}}</td>
                                    <td style="text-align: center">{{::item.cantidadCuotas}}</td>
                                    <td ng-hide="true">{{$owner.psaCtrl.filtrados = $filtered}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr
                                    ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.psaCtrl.listCuotasByEstado.length !== $owner.appConstantsView.CERO">
                                    <td colspan="8">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                                </tr>
                                <tr ng-if="$owner.psaCtrl.listCuotasByEstado.length === $owner.appConstantsView.CERO">
                                    <td colspan="8">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    <h3 class="title-hero">
                        <button class="float-right btn btn-sm btn-info icon-tool-add back-button collapsed" title=""
                            id="btndiv2" data-toggle="collapse" data-target="#div2">
                            <i class="glyph-icon icon-arrow-down"></i>
                        </button>
                        Listado de Cantidad de Cuotas Por Programa y mes
                        <a href="" ng-json-export-excel data="dashCarteraCtrl.listCuotasEstadoPrograma" report-fields="{
                            programa:'Programa',
                            mes:'Mes',
                            estadoCuotas:'Estado',
                            cantidadCuotas:'Cantidad'
                            }" filename=" 'Listado pagos por modalidad' " title="Listado pagos por modalidad"
                            data-style="dark" data-theme="bg-white"
                            class="float-right btn btn-sm btn-success icon-tool-add back-button {{dashCarteraCtrl.listCuotasEstadoPrograma.length === appConstantsView.CERO?'disabled':' '}}"
                            data-animation="flipOutX" style="color: #ffffff; border: 0px solid #dfe8f1;">
                            <div class="glyph-icon">
                                <i class="glyphicon glyphicon-print"></i><span
                                    class="info-icon-tool">{{appConstantsView.BOTON_IMPRIMIR}}</span>
                            </div>
                        </a>
                    </h3>
                    <hr>

                    <div class="collapse" id="div2">
                        <table object-table class="hover-column" display="10"
                            data="dashCarteraCtrl.listCuotasEstadoPrograma" headers="Programa, Mes, Estado, Cantidad"
                            fields="programa,mes,estadoCuotas,cantidadCuotas" sorting="compound" search="separate"
                            resize="false" select="false">
                            <tbody>
                                <tr style="height: 60px;">
                                    <td>{{::item.programa}}</td>
                                    <td>{{::item.mes}}</td>
                                    <td style="text-align: center">{{::item.estadoCuotas}}</td>
                                    <td style="text-align: center">{{::item.cantidadCuotas}}</td>
                                    <td ng-hide="true">{{$owner.psaCtrl.filtrados = $filtered}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr
                                    ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.psaCtrl.listCuotasEstadoPrograma.length !== $owner.appConstantsView.CERO">
                                    <td colspan="8">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                                </tr>
                                <tr
                                    ng-if="$owner.psaCtrl.listCuotasEstadoPrograma.length === $owner.appConstantsView.CERO">
                                    <td colspan="8">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    <h3 class="title-hero">
                        <button class="float-right btn btn-sm btn-info icon-tool-add back-button collapsed" title=""
                            id="btndiv3" data-toggle="collapse" data-target="#div3">
                            <i class="glyph-icon icon-arrow-down"></i>
                        </button>
                        Listado de Cantidad de Créditos Por Estado y Mes
                        <a href="" ng-json-export-excel data="dashCarteraCtrl.listCreditosByEstado" report-fields="{
                            mes:'Mes',
                            estado:'Estado',
                            cantidad:'Cantidad'
                            }" filename=" 'Listado pagos por modalidad' " title="Listado pagos por modalidad"
                            data-style="dark" data-theme="bg-white"
                            class="float-right btn btn-sm btn-success icon-tool-add back-button {{dashCarteraCtrl.listCreditosByEstado.length === appConstantsView.CERO?'disabled':' '}}"
                            data-animation="flipOutX" style="color: #ffffff; border: 0px solid #dfe8f1;">
                            <div class="glyph-icon">
                                <i class="glyphicon glyphicon-print"></i><span
                                    class="info-icon-tool">{{appConstantsView.BOTON_IMPRIMIR}}</span>
                            </div>
                        </a>
                    </h3>
                    <hr>
                    <div class="collapse" id="div3">
                        <table object-table class="hover-column" display="10"
                            data="dashCarteraCtrl.listCreditosByEstado" headers="Mes, Estado, Cantidad"
                            fields="mes,estado,cantidad" sorting="compound" search="separate" resize="false"
                            select="false">
                            <tbody>
                                <tr style="height: 60px;">
                                    <td>{{::item.mes}}</td>
                                    <td style="text-align: center">{{::item.estado}}</td>
                                    <td style="text-align: center">{{::item.cantidad}}</td>
                                    <td ng-hide="true">{{$owner.psaCtrl.filtrados = $filtered}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr
                                    ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.psaCtrl.listCreditosByEstado.length !== $owner.appConstantsView.CERO">
                                    <td colspan="8">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                                </tr>
                                <tr ng-if="$owner.psaCtrl.listCreditosByEstado.length === $owner.appConstantsView.CERO">
                                    <td colspan="8">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    <h3 class="title-hero">
                        <button class="float-right btn btn-sm btn-info icon-tool-add back-button collapsed" title=""
                            id="btndiv4" data-toggle="collapse" data-target="#div4">
                            <i class="glyph-icon icon-arrow-down"></i>
                        </button>

                        Listado de Cantidad de Créditos Por Estado, Programa y Mes
                        <a href="" ng-json-export-excel data="dashCarteraCtrl.listCreditosByEstadoPrograma"
                            report-fields="{
                            programa:'Programa',
                            mes:'Mes',
                            estado:'Estado',
                            cantidad:'Cantidad'
                            }" filename=" 'Listado pagos por modalidad' " title="Listado pagos por modalidad"
                            data-style="dark" data-theme="bg-white"
                            class="float-right btn btn-sm btn-success icon-tool-add back-button {{dashCarteraCtrl.listCreditosByEstadoPrograma.length === appConstantsView.CERO?'disabled':' '}}"
                            data-animation="flipOutX" style="color: #ffffff; border: 0px solid #dfe8f1;">
                            <div class="glyph-icon">
                                <i class="glyphicon glyphicon-print"></i><span
                                    class="info-icon-tool">{{appConstantsView.BOTON_IMPRIMIR}}</span>
                            </div>
                        </a>
                    </h3>
                    <hr>
                    <div class="collapse" id="div4">
                        <table object-table class="hover-column" display="10"
                            data="dashCarteraCtrl.listCreditosByEstadoPrograma"
                            headers="Programa, Mes, Estado, Cantidad" fields="prorgama,mes,estado,cantidad"
                            sorting="compound" search="separate" resize="false" select="false">
                            <tbody>
                                <tr style="height: 60px;">
                                    <td>{{::item.programa}}</td>
                                    <td>{{::item.mes}}</td>
                                    <td style="text-align: center">{{::item.estado}}</td>
                                    <td style="text-align: center">{{::item.cantidad}}</td>
                                    <td ng-hide="true">{{$owner.psaCtrl.filtrados = $filtered}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr
                                    ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.psaCtrl.listCreditosByEstadoPrograma.length !== $owner.appConstantsView.CERO">
                                    <td colspan="8">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                                </tr>
                                <tr
                                    ng-if="$owner.psaCtrl.listCreditosByEstadoPrograma.length === $owner.appConstantsView.CERO">
                                    <td colspan="8">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    <h3 class="title-hero">
                        <button class="float-right btn btn-sm btn-info icon-tool-add back-button collapsed" title=""
                            id="btndiv5" data-toggle="collapse" data-target="#div5">
                            <i class="glyph-icon icon-arrow-down"></i>
                        </button>
                        Listado de Cantidad de Creditos General por Estado
                        <a href="" ng-json-export-excel data="dashCarteraCtrl.listCreditosGeneralEstado" report-fields="{
                        estado:'Estado',
                        cantidad:'Cantidad'
                        }" filename=" 'Listado pagos por modalidad' " title="Listado pagos por modalidad"
                            data-style="dark" data-theme="bg-white"
                            class="float-right btn btn-sm btn-success icon-tool-add back-button {{dashCarteraCtrl.listCreditosGeneralEstado.length === appConstantsView.CERO?'disabled':' '}}"
                            data-animation="flipOutX" style="color: #ffffff; border: 0px solid #dfe8f1;">
                            <div class="glyph-icon">
                                <i class="glyphicon glyphicon-print"></i><span
                                    class="info-icon-tool">{{appConstantsView.BOTON_IMPRIMIR}}</span>
                            </div>
                        </a>
                    </h3>
                    <hr>
                    <div class="collapse" id="div5">
                        <table object-table class="hover-column" display="10"
                            data="dashCarteraCtrl.listCreditosGeneralEstado" headers="Estado, Cantidad"
                            fields="estado,cantidad" sorting="compound" search="separate" resize="false" select="false">
                            <tbody>
                                <tr style="height: 60px;">
                                    <td>{{::item.estado}}</td>
                                    <td style="text-align: center">{{::item.cantidad}}</td>
                                    <td ng-hide="true">{{$owner.psaCtrl.filtrados = $filtered}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr
                                    ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.psaCtrl.listCreditosGeneralEstado.length !== $owner.appConstantsView.CERO">
                                    <td colspan="8">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                                </tr>
                                <tr
                                    ng-if="$owner.psaCtrl.listCreditosGeneralEstado.length === $owner.appConstantsView.CERO">
                                    <td colspan="8">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    <h3 class="title-hero">
                        <button class="float-right btn btn-sm btn-info icon-tool-add back-button collapsed" title=""
                            id="btndiv6" data-toggle="collapse" data-target="#div6">
                            <i class="glyph-icon icon-arrow-down"></i>
                        </button>
                        Listado de Cantidad de Creditos General por Estado y Programa
                        <a href="" ng-json-export-excel data="dashCarteraCtrl.listCreditosGeneralEstadoPrograma"
                            report-fields="{
                            estado:'Estado',
                            cantidad:'Cantidad'
                            }" filename=" 'Listado pagos por modalidad' " title="Listado pagos por modalidad"
                            data-style="dark" data-theme="bg-white"
                            class="float-right btn btn-sm btn-success icon-tool-add back-button {{dashCarteraCtrl.listCreditosGeneralEstadoPrograma.length === appConstantsView.CERO?'disabled':' '}}"
                            data-animation="flipOutX" style="color: #ffffff; border: 0px solid #dfe8f1;">
                            <div class="glyph-icon">
                                <i class="glyphicon glyphicon-print"></i><span
                                    class="info-icon-tool">{{appConstantsView.BOTON_IMPRIMIR}}</span>
                            </div>
                        </a>
                    </h3>
                    <hr>
                    <div class="collapse" id="div6">
                        <table object-table class="hover-column" display="10"
                            data="dashCarteraCtrl.listCreditosGeneralEstadoPrograma"
                            headers="Programa, Estado, Cantidad" fields="programa,estado,cantidad" sorting="compound"
                            search="separate" resize="false" select="false">
                            <tbody>
                                <tr style="height: 60px;">
                                    <td>{{::item.programa}}</td>
                                    <td>{{::item.estado}}</td>
                                    <td style="text-align: center">{{::item.cantidad}}</td>
                                    <td ng-hide="true">{{$owner.psaCtrl.filtrados = $filtered}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr
                                    ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.psaCtrl.listCreditosGeneralEstadoPrograma.length !== $owner.appConstantsView.CERO">
                                    <td colspan="8">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                                </tr>
                                <tr
                                    ng-if="$owner.psaCtrl.listCreditosGeneralEstadoPrograma.length === $owner.appConstantsView.CERO">
                                    <td colspan="8">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>










    <br>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    <h3 class="title-hero">
                        Crédito por estado
                    </h3>
                    <hr>
                    <nvd3 options="dashCarteraCtrl.optionsDoughNut" data="dashCarteraCtrl.dataDoughtNut"
                        class="with-3d-shadow with-transitions" config="config"></nvd3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    <h3 class="title-hero">
                        Conceptos pagados por modalidad
                        <a href="" ng-json-export-excel data="dashCarteraCtrl.dataLinea" report-fields="{
                           x:'Concepto',
                           y:'Cantidad'
                           }" filename=" 'Listado pagos por modalidad' " title="Listado pagos por modalidad"
                            data-style="dark" data-theme="bg-white"
                            class="float-right btn btn-sm btn-success icon-tool-add back-button {{dashCarteraCtrl.dataLinea.length === appConstantsView.CERO?'disabled':' '}}"
                            data-animation="flipOutX" style="color: #ffffff; border: 0px solid #dfe8f1;">
                            <div class="glyph-icon">
                                <i class="glyphicon glyphicon-print"></i><span
                                    class="info-icon-tool">{{appConstantsView.BOTON_IMPRIMIR}}</span>
                            </div>
                        </a>
                    </h3>
                    <hr>
                    <div class="example-box-wrapper text-center">
                        <div class="row">
                            <form class="form form-horizontal">
                                <div class="col-sm-offset-1 col-xs-offset-1 col-lg-offset-1 col-lg-2 col-sm-2 col-xs-1">
                                    <label for="valorModalidadLinea"
                                        class="control-label pull-right">{{appConstantsView.LABEL_MODALIDAD}}</label>
                                </div>
                                <div class="col-sm-offset-2 col-xs-offset-2 col-lg-offset-1 col-lg-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <select
                                            ng-options="modalidad.valor for modalidad in dashCarteraCtrl.listaModalidadesCartera| orderBy:'valor'"
                                            name="valorModalidadLinea" id="valorModalidadLinea" class="form-control"
                                            ng-model="dashCarteraCtrl.dashboardCartera.modalidadLinea"
                                            ng-change="dashCarteraCtrl.onCambiarSelectModalidadLinea()">
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <table object-table class="hover-column" display="10" data="dashCarteraCtrl.dataLinea"
                            headers="Concepto, Cantidad" fields="x,y" sorting="compound" search="separate"
                            resize="false" select="false">
                            <tbody>
                                <tr style="height: 60px;">
                                    <td>{{::item.x}}</td>
                                    <td style="text-align: center">{{::item.y}}</td>
                                    <td ng-hide="true">{{$owner.psaCtrl.filtrados = $filtered}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr
                                    ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.psaCtrl.listaNotas.length !== $owner.appConstantsView.CERO">
                                    <td colspan="8">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                                </tr>
                                <tr ng-if="$owner.psaCtrl.listaNotas.length === $owner.appConstantsView.CERO">
                                    <td colspan="8">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                </tr>
                            </tfoot>
                        </table>

                        <!--<nvd3 options="dashCarteraCtrl.optionsBarNo" data="dashCarteraCtrl.lineasSerie" class="with-3d-shadow with-transitions" config="config"></nvd3>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    <h3 class="title-hero">
                        <span class="header-chart ">Créditos no pagados por programa</span>
                        <!--                        <span class="header-chart pull-right" style="position: relative;top: -7px;">
                            <select ng-options="modalidad.valor for modalidad in dashCarteraCtrl.listaModalidadesCartera| orderBy:'valor' track by modalidad.valor"
                                    name="valorModalidad" 
                                    id="valorModalidad" 
                                    class="form-control"
                                    ng-model="dashCarteraCtrl.dashboardCartera.modalidad"
                                    ng-change="dashCarteraCtrl.onCambiarSelectModalidadBarHorizontal()">
                            </select>
                        </span>-->

                        <a href="" ng-json-export-excel data="dashCarteraCtrl.dataBarHorizontalNoPagados" report-fields="{
                           x:'Programa',
                           y:'Cantidad'
                           }" filename=" 'Listado Creditos no pagados por programa' "
                            title="Listado Creditos no pagados por programa" data-style="dark" data-theme="bg-white"
                            class="float-right btn btn-sm btn-success icon-tool-add back-button {{dashCarteraCtrl.dataLinea.length === appConstantsView.CERO?'disabled':' '}}"
                            data-animation="flipOutX" style="color: #ffffff; border: 0px solid #dfe8f1;">
                            <div class="glyph-icon">
                                <i class="glyphicon glyphicon-print"></i><span
                                    class="info-icon-tool">{{appConstantsView.BOTON_IMPRIMIR}}</span>
                            </div>
                        </a>

                    </h3>
                    <hr>
                    <div class="example-box-wrapper text-center">
                        <div class="row">
                            <form class="form form-horizontal">
                                <div class="col-sm-offset-1 col-xs-offset-1 col-lg-offset-1 col-lg-2 col-sm-2 col-xs-1">
                                    <label for="valorModalidad"
                                        class="control-label pull-right">{{appConstantsView.LABEL_MODALIDAD}}</label>
                                </div>
                                <div class="col-sm-offset-2 col-xs-offset-2 col-lg-offset-1 col-lg-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <select
                                            ng-options="modalidad.valor for modalidad in dashCarteraCtrl.listaModalidadesCartera| orderBy:'valor'"
                                            name="valorModalidad" id="valorModalidad" class="form-control"
                                            ng-model="dashCarteraCtrl.dashboardCartera.modalidad"
                                            ng-change="dashCarteraCtrl.onCambiarSelectModalidadBarHorizontal()">
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <table object-table class="hover-column" display="10"
                            data="dashCarteraCtrl.dataBarHorizontalNoPagados" headers="Programa, Cantidad" fields="x,y"
                            sorting="compound" search="separate" resize="false" select="false">
                            <tbody>
                                <tr style="height: 60px;">
                                    <td>{{::item.x}}</td>
                                    <td style="text-align: center">{{::item.y}}</td>
                                    <td ng-hide="true">{{$owner.psaCtrl.filtrados = $filtered}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr
                                    ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.psaCtrl.listaNotas.length !== $owner.appConstantsView.CERO">
                                    <td colspan="8">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                                </tr>
                                <tr ng-if="$owner.psaCtrl.listaNotas.length === $owner.appConstantsView.CERO">
                                    <td colspan="8">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                </tr>
                            </tfoot>
                        </table>
                        <!--                        <nvd3 options="dashCarteraCtrl.optionsBarNo" data="dashCarteraCtrl.dataBarraNoPagados" class="with-3d-shadow with-transitions"
                                                      api="api" config="config"></nvd3>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    <h3 class="title-hero">
                        <span class="header-chart ">Créditos pagados por programa</span>
                        <a href="" ng-json-export-excel data="dashCarteraCtrl.dataBarHorizontalPagados" report-fields="{
                           x:'Programa',
                           y:'Cantidad'
                           }" filename=" 'Listado Créditos pagados por programa' "
                            title="Listado Créditos pagados por programa" data-style="dark" data-theme="bg-white"
                            class="float-right btn btn-sm btn-success icon-tool-add back-button {{dashCarteraCtrl.dataLinea.length === appConstantsView.CERO?'disabled':' '}}"
                            data-animation="flipOutX" style="color: #ffffff; border: 0px solid #dfe8f1;">
                            <div class="glyph-icon">
                                <i class="glyphicon glyphicon-print"></i><span
                                    class="info-icon-tool">{{appConstantsView.BOTON_IMPRIMIR}}</span>
                            </div>
                        </a>
                    </h3>
                    <hr>
                    <div class="example-box-wrapper text-center">
                        <div class="row">
                            <form class="form form-horizontal">
                                <div class="col-sm-offset-1 col-xs-offset-1 col-lg-offset-1 col-lg-2 col-sm-2 col-xs-1">
                                    <label for="valorModalidad"
                                        class="control-label pull-right">{{appConstantsView.LABEL_MODALIDAD}}</label>
                                </div>
                                <div class="col-sm-offset-2 col-xs-offset-2 col-lg-offset-1 col-lg-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <select
                                            ng-options="modalidad.valor for modalidad in dashCarteraCtrl.listaModalidadesCartera| orderBy:'valor'"
                                            name="valorModalidad" id="valorModalidad" class="form-control"
                                            ng-model="dashCarteraCtrl.dashboardCartera.modalidadPagados"
                                            ng-change="dashCarteraCtrl.onCambiarSelectPagadosModalidadBarHorizontal()">
                                        </select>

                                    </div>
                                </div>
                            </form>
                        </div>

                        <table object-table class="hover-column" display="10"
                            data="dashCarteraCtrl.dataBarHorizontalPagados" headers="Programa, Cantidad" fields="x,y"
                            sorting="compound" search="separate" resize="false" select="false">
                            <tbody>
                                <tr style="height: 60px;">
                                    <td>{{::item.x}}</td>
                                    <td style="text-align: center">{{::item.y}}</td>
                                    <td ng-hide="true">{{$owner.psaCtrl.filtrados = $filtered}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr
                                    ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.psaCtrl.listaNotas.length !== $owner.appConstantsView.CERO">
                                    <td colspan="8">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                                </tr>
                                <tr ng-if="$owner.psaCtrl.listaNotas.length === $owner.appConstantsView.CERO">
                                    <td colspan="8">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                </tr>
                            </tfoot>
                        </table>
                        <!--                        <nvd3 options="dashCarteraCtrl.optionsBar" data="dashCarteraCtrl.dataBarraPagados" class="with-3d-shadow with-transitions"
                                                      api="api2" config="config"></nvd3>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>