<!DOCTYPE html>

<script src="js/main-app.js"></script>
<div id="page-title" ng-controller="CuentasCtrl as cuentasCtrl">
    <h2>{{appConstantsView.TITLE_CUENTASCONTABLES}}</h2>
    <p></p>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">{{cuentasCtrl.cuentaAux.titleWindow}} </h3>
            <div class="float-right">
                <a href="#/gestionar-puc-cuentas-contables" class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="panel-body">
                <div class="row">
                    <form method="POST" name="formRegistrarCuenta" novalidate>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="tipo" class="control-label pull-left">{{appConstantsView.LABEL_TIPO}}<label class="text-danger">*</label></label>
                                    <select ng-options="item.valor as item.valor for item in cuentasCtrl.listaTipo" name="tipo" id="pais" class="form-control"
                                        ng-model="cuentasCtrl.nuevaCuenta.tipo" ng-disabled="cuentasCtrl.cuentaAux.disabled" validation="required">
                                        <option ng-if="cuentasCtrl.listaTipo.length > appConstantsView.CERO" value="">{{appConstantsView.SELECCION_SELECT}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label pull-left">{{appConstantsView.LABEL_CODIGO}}<label class="text-danger">*</label></label>
                                    <input type="text" id="codigo" class="form-control text-uppercase" name="codigo" ng-model="cuentasCtrl.nuevaCuenta.codigo"
                                        ng-disabled="cuentasCtrl.cuentaAux.disabledCodeField" validation="required" mask="X" restrict="reject" repeat="10">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label pull-left">{{appConstantsView.LABEL_NOMBRE_CUENTA}}</label><label class="text-danger">*</label>
                                    <input type="text" id="nombreCuenta" class="form-control text-uppercase" name="nombreCuenta" ng-model="cuentasCtrl.nuevaCuenta.nombre"
                                        ng-disabled="cuentasCtrl.cuentaAux.disabled" validation="required" maxlength="60">
                                </div>
                            </div>
                        </div>

                        <div class="button-pane">
                            <input class="btn btn-success" type="submit" value="Guardar" ng-click="cuentasCtrl.onGuardar()" ng-show="cuentasCtrl.cuentaAux.showEditBtn">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>