<div id="page-title" ng-controller="CuentasCtrl as cuentasCtrl">
    <div class="row">
        <div class="float-left" style="margin-left: 10px">
            <h2 style="line-height: 30px;">{{appConstantsView.TITLE_CUENTASCONTABLES}}</h2>
        </div>
    </div>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm ">{{appConstantsView.TITLE_LISTADO_CUENTAS_CONTABLES}}</h3>
            <div class="float-right" ng-controller="menuCtrl as mCtrl">
                <a href="/#/gestionar-cuentas-contables-cud" ng-click="cuentasCtrl.onAgregar()" class="btn btn-sm btn-info icon-tool-add"
                   style="background-color: #00bca4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-plus"></i><span class="info-icon-tool text-capitalize">{{appConstantsView.BOTON_AGREGAR}}</span>
                    </div>
                </a>
                <a ng-click="mCtrl.onListarOPciones('/#/menu-facturacion'); cuentasCtrl.cancelarInterval()" class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>


        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6 col-xs-6">
                        <div class="dataTables_length" id="datatable-example_length">
                            <label>
                                <select ng-model="cuentasCtrl.display" 
                                        ng-init="cuentasCtrl.display = cuentasCtrl.display || cuentasCtrl.options[appConstantsView.CERO].value"
                                        ng-options="option.value as option.name for option in cuentasCtrl.options">
                                </select>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <table object-table class="hover-column" data="cuentasCtrl.listCuentasContables" display="cuentasCtrl.display" headers="Código,Nombre,Tipo,Opciones"
                           fields="codigoCuenta,nombreCuenta,clase" sorting="compound" selected-model="cuentasCtrl.report.selected"
                           editable="false" search="separate" resize="false" select="multiply" add-filter="| filter:$owner.all">
                        <tbody>
                            <tr>
                                <td>{{item.codigoCuenta}}</td>
                                <td>{{item.nombreCuenta}}</td>
                                <td>{{item.clase}}</td>
                                <td class="text-center opciones-table back-button">
                                    <a class="btn btn-info btn-tools-table" title="Modificar" ng-click="$owner.cuentasCtrl.onEdit(item)" href="/#/gestionar-cuentas-contables-cud">
                                        <i class="glyphicon glyphicon-edit"></i>
                                    </a>

                                    <a class="btn btn-danger btn-tools-table" title="Eliminar" ng-click="$owner.cuentasCtrl.onEliminarCuenta(item)">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </a>

                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr ng-show="$filtered.length === $owner.appConstantsView.CERO && $owner.cuentasCtrl.listCuentasContables.length !== $owner.appConstantsView.CERO">
                                <td colspan="6">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                            </tr>
                            <tr ng-show="$owner.cuentasCtrl.listCuentasContables.length === $owner.appConstantsView.CERO">
                                <td colspan="6">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>