<script src="../../../../styles/assets/widgets/popover/popover.js" type="text/javascript"></script>
<script src="../../../../js/main-app.js" type="text/javascript"></script>
<style>
    .panel {padding: 10px;border-width: 1px 0 0 0;border-style: solid;border-top-left-radius: 0;border-top-right-radius: 0;}
    .btn-consultar-inscritos {color: #fff;background-color: #337ab7;border-color: #2e6da4;}
    .btn-consultar-inscritos:hover {color: #fff;background-color: #5B90BD;border-color: #2e6da4; }
    @media screen and (max-width: 1135px) {.table-scroll-x {overflow-x: scroll;}}
</style>
<div id="page-title" ng-controller="SolicitudHabilitacionCtrl  as SolicitudHabilCtrl">
    <h2>Solicitud de Habilitación</h2>
    <p></p>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">

            <h3 class="float-left text-uppercase content-box-header-title btn-sm">Solicitud de Habilitación</h3>
            <div class="float-right" ng-controller="menuCtrl as mCtrl">
                <a ng-click="mCtrl.onListarOPciones('/#/adminstrativo')" class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4;cursor: pointer; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="content-box-wrapper">
            <div class="panel-body">
                <div class="content-box">
                    <div class="button-pane button-pane-top">
                        <h3 class="float-left text-uppercase content-box-header-title btn-sm">{{appConstantsView.CONSULTA_MODULO}}</h3>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-box-wrapper">
                        <form role="form" novalidate name="formBusquedaModulo">
                            <div class="row">
                                <div class="col-lg-4 col-sm-4"></div>
                                <div class="col-lg-4 col-sm-4">
                                    <div class="form-group">
                                        <label for="numeroRef" class="control-label">{{appConstantsView.TITLE_NUM_REFERENCIA}} <label class="text-danger">*</label></label>
                                        <input type="text" class="form-control text-uppercase" id="numeroRef" ng-model="SolicitudHabilCtrl.buscarModulo.numeroRef"
                                               name="numeroRef" ng-model-options="{debounce: 0}" validation="{{SolicitudHabilCtrl.requerido}}" 
                                               ng-keyup="SolicitudHabilCtrl.onPresionarEnter($event, SolicitudHabilCtrl.buscarModulo.numeroRef);"
                                               mask="Q" restrict="reject" repeat="40" ng-change="SolicitudHabilCtrl.onCampoVacio()">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4"></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 text-center">
                                    <a href="" ng-click="SolicitudHabilCtrl.onConsultarRef(SolicitudHabilCtrl.buscarModulo.numeroRef)" class="btn btn-sm btn-info icon-tool-add" style="background-color: #00bca4; color:
                                       #ffffff; border: 0px solid #dfe8f1; ">
                                        <div class="glyph-icon">
                                            <i class="glyphicon glyphicon-search "></i><span class="info-icon-tool text-capitalize ">Consultar</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="content-box" id="divDatosEstudiante">
                    <div class="button-pane button-pane-top">
                        <h3 class="float-left text-uppercase content-box-header-title btn-sm">Datos de Estudiante</h3>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-box-wrapper">
                        <form method="POST" name="formCambioHorario" novalidate>
                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="tipodocumento" class="control-label">{{appConstantsView.LABEL_NOMBRE_MODULO}}</label>
                                        <input type="text" id="tipodocumento" class="form-control" maxlength="100" minlength="1" name="tipodocumento" 
                                               ng-model="SolicitudHabilCtrl.newSolicitud.nombreModulo" ng-disabled="true" validation="required">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="numdocumento" class="control-label">{{appConstantsView.NOTA_DEFINITIVA}}</label>
                                        <input type="text" id="numdocumento" class="form-control" maxlength="20" minlength="1" name="numdocumento" 
                                               ng-model="SolicitudHabilCtrl.newSolicitud.notaDefinitiva" ng-disabled="true" validation="required">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="clearfix"></div>
                        <div class="button-pane">
                            <input type="submit" class="btn" style="background-color: #00bca4;color: #ffffff;border: 0px solid #dfe8f1;" ng-click="SolicitudHabilCtrl.onGuardar()"
                                   value="Solicitar" ng-if="!SolicitudHabilCtrl.visible.hayPeriodo">
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>


<script>
                    $(document).ready(function () {
                        $('#inputCodigo').keyup(function () {
                            if ($(this).val().length !== 0)
                                $('.btnCodigoConsultar').prop('disabled', false);
                            else
                                $('.btnCodigoConsultar').prop('disabled', true);
                        });
                    });

</script>