<style>
    @media screen and (max-width: 2000px) {
        .table-scroll-x {
            overflow-x: scroll !important;
        }
    }
</style>
<div id="page-title" ng-controller="CorteGestionCtrl as reportesCtrl">
    <h2>Cartera</h2>
    <br>

    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">Filtro de Busqueda </h3>
            <div class="float-right">
                <a href="#/auditoria" class="btn btn-sm btn-info icon-tool-add back-button"
                   data-animation="flipOutX" style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <form method="POST" novalidate name="formFechaBusqueda">
                <div id="fechaCampanha" class="input-daterange input-group">
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label class="control-label pull-left">{{appConstantsView.LABEL_FECHA}}</label>
                            <div id="fecha-inicio" class="input-group date">
                                <input id="fechaBusqueda" name="fechaBusqueda" 
                                       style="text-align: left;" mask="39/19/9999" restrict="reject" 
                                       readonly="true" 
                                       placeholder="dd/mm/aaaa" 
                                       type="text" 
                                       ng-model="reportesCtrl.fechaBusqueda"
                                       validation-error-to="validacionFechaBusqueda" 
                                       class="form-control date" 
                                       validation="required"
                                       >
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                            <span id="validacionFechaBusqueda" class="validation text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-4 hidden">
                        <div class="form-group">
                            <label class="control-label pull-left">{{appConstantsView.LABEL_FECHA}}</label>
                            <div id="fecha-fin" class="input-group date">
                                <input id="fechaBusqueda2" 
                                       name="fechaBusqueda2" 
                                       style="text-align: left;" mask="39/19/9999" 
                                       restrict="reject" 
                                       readonly="true" 
                                       placeholder="dd/mm/aaaa" 
                                       type="text"
                                       ng-model="reportesCtrl.fechaBusqueda2"
                                       validation-error-to="validacionFechaBusqueda2"
                                       class="form-control date hide" 
                                       validation="required"
                                       >
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                            <span id="validacionFechaBusqueda2" class="validation text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="nombreDetalle" class="control-label pull-left">Días Vencidos Mayores A</label>
                        <input id="nombreDetalle" type="text" 
                               ng-keypress="reportesCtrl.onChangeInputDiasVencidos()"
                               ng-model="reportesCtrl.diasVencidos" class="form-control">
                    </div>
                </div>

                <div class="button-pane button-pane-top">
                    <div class="col-lg-12 col-sm-12">
                        <a ng-click="reportesCtrl.onChangeFechasCorte();" class="btn btn-sm btn-info icon-tool-add" data-animation="flipOutX" style="background-color: #0096D4;cursor: pointer; color: #ffffff; border: 0px solid #dfe8f1;">
                            <div class="glyph-icon">
                                <i class="glyphicon glyphicon-search"></i><span class="info-icon-tool">Consultar</span>
                            </div>
                        </a>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="content-box" ng-show="reportesCtrl.listadoCorteGeneral.length > 0">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">Listado de Reportes
                <button class="btn btn-xs btn-info icon-tool-add"  data-toggle="collapse" data-target="#demo">
                    <i class="glyphicon glyphicon-collapse-down"></i>
                </button> 
            </h3>
            <div class="float-right">
                <a href="#/auditoria" class="btn btn-sm btn-info icon-tool-add back-button"
                   data-animation="flipOutX" style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper collapse" id="demo">
            <div class="panel-body" ng-show="reportesCtrl.isDirector === 1">
                <div class="col-xs-6 col-sm-6" ng-show="reportesCtrl.listadoCorteGeneralExportar.length > 0">
                    <a href="" 
                       ng-json-export-excel 
                       data="reportesCtrl.listadoCorte"
                       report-fields="{
                       codigoEstudiante:'Identificacion',
                       nombreEstudiante:'Estudiante',
                       nombrePrograma:'Programa',
                       nombrePeriodo:'Periodo',
                       horario:'Horario',
                       estadoEstudiante:'Estado Estudiante',
                       estadoCartera:'Activo',
                       celular:'Celular',
                       semestre:'Semestre',
                       numeroConvenio:'Numero Convenio',
                       valorLiquidadoOriginal: 'Valor Liquidado Original',
                       valorLiquidadoTotal:'Total Liquidado',
                       valorAnuladoTotal:'Total Anulado',
                       valorDescuentoTotal:'Total Descuento',
                       saldoAbonadoTotal:'Total Abonado',
                       saldoPendientetotal:'Total Pendiente',
                       seccional:'Seccional'
                       }"
                       filename=" 'Listado de Estudiantes General' " 
                       title="Listado de Estudiantes General"
                       data-style="dark" 
                       data-theme="bg-white" 
                       class="tile-box tile-box-shortcut btn-success classReport"
                       data-animation="flipOutX" style="color: #ffffff; border: 0px solid #dfe8f1;">
                        <div class="glyph-icon">
                            <i class="glyphicon glyphicon-print"></i><span class="info-icon-tool">{{appConstantsView.BOTON_IMPRIMIR}} Listado de Estudiantes General</span>
                        </div>
                    </a>
                </div>

                <div class="col-xs-6 col-sm-6" ng-show="reportesCtrl.listadoCorteGeneralExportar.length > 0">
                    <a href="" 
                       ng-json-export-excel 
                       data="reportesCtrl.listadoCorteGeneralExportar"
                       report-fields="{
                       codigoEstudiante:'Identificacion',
                       nombreEstudiante:'Estudiante',
                       nombrePrograma:'Programa',
                       horario:'Horario',
                       estadoCartera:'Activo',
                       celular:'Celular',
                       semestre:'Semestre',
                       estadoEstudiante:'Estado Estudiante',
                       periodo:'Periodo',
                       referencia:'referencia',
                       estadoLiquidacion:'Estado Liquidacion',
                       fechaLimite:'Fecha Limite',
                       numeroConvenio:'Numero Convenio',
                       diasVencidos:'Dias Vencidos',
                       totalOriginal: 'Total Liquidado Original',
                       totalLiquidado:'Total Liquidado',
                       totalDescuento:'Total Descuento',
                       totalAnulado:'Total Anulado',
                       totalAbonado:'Total Abonado',
                       totalPendiente:'Total Pendiente',
                       seccional:'Seccional'
                       }"
                       filename=" 'Listado de Estudiantes Cuota y Dias Vencidos' " 
                       title="Listado de Estudiantes Cuota Vencida"
                       data-style="dark" 
                       data-theme="bg-white" 
                       class="tile-box tile-box-shortcut btn-success classReport"
                       data-animation="flipOutX" style="color: #ffffff; border: 0px solid #dfe8f1;">
                        <div class="glyph-icon">
                            <i class="glyphicon glyphicon-print"></i><span class="info-icon-tool">{{appConstantsView.BOTON_IMPRIMIR}} Listado de Estudiantes Cuota y Dias Vencidos</span>
                        </div>
                    </a>
                </div>


                <div class="col-xs-6 col-sm-6" ng-show="reportesCtrl.listadoCorteGeneralDiasVencidoExportar.length > 0">
                    <a href="" 
                       ng-json-export-excel 
                       data="reportesCtrl.listadoCorteGeneralDiasVencidoExportar"
                       report-fields="{
                       codigoEstudiante:'Identificacion',
                       nombreEstudiante:'Estudiante',
                       nombrePrograma:'Programa',
                       horario:'Horario',
                       estadoCartera:'Activo',
                       celular:'Celular',
                       semestre:'Semestre',
                       estadoEstudiante:'Estado Estudiante',
                       periodo:'Periodo',
                       referencia:'referencia',
                       estadoLiquidacion:'Estado Liquidacion',
                       fechaLimite:'Fecha Limite',
                       numeroConvenio:'Numero Convenio',
                       diasVencidos:'Dias Vencidos',
                       totalOriginal: 'Total Liquidado Original',
                       totalLiquidado:'Total Liquidado',
                       totalDescuento:'Total Descuento',
                       totalAnulado:'Total Anulado',
                       totalAbonado:'Total Abonado',
                       totalPendiente:'Total Pendiente',
                       seccional:'Seccional'
                       }"
                       filename=" 'Listado de Estudiantes Cuota Vencida Dias Mayores a 0' " 
                       title="Listado de Estudiantes Cuota Vencida Dias Mayores a 0"
                       data-style="dark" 
                       data-theme="bg-white" 
                       class="tile-box tile-box-shortcut btn-success classReport"
                       data-animation="flipOutX" style="color: #ffffff; border: 0px solid #dfe8f1;">
                        <div class="glyph-icon">
                            <i class="glyphicon glyphicon-print"></i><span class="info-icon-tool">{{appConstantsView.BOTON_IMPRIMIR}} Listado de Estudiantes Cuota Vencida Dias Mayores a 0</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="panel-body">
                <div class="col-xs-6 col-sm-6" ng-show="reportesCtrl.listadoEstudianteSeguimientoCartera.length > 0">
                    <a href="" 
                       ng-json-export-excel 
                       data="reportesCtrl.listadoEstadisticaSeguimientoCartera"
                       report-fields="{
                       identificacion:'Identificacion',
                       nombreEstudiante:'Nombre',
                       celular:'Celular',
                       telefono:'Telefono',
                       fechaLlamada:'Fecha Llamada',
                       estado: 'Estado',
                       estadoPendiente: 'Motivo'
                       }"
                       filename=" 'Listado de Estudiantes General' " 
                       title="Listado de Estudiantes General"
                       data-style="dark" 
                       data-theme="bg-white" 
                       class="tile-box tile-box-shortcut btn-success classReport"
                       data-animation="flipOutX" style="color: #ffffff; border: 0px solid #dfe8f1;">
                        <div class="glyph-icon">
                            <i class="glyphicon glyphicon-print"></i><span class="info-icon-tool">{{appConstantsView.BOTON_IMPRIMIR}} Listado de Estudiantes Por Estado</span>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-12">
                    <table object-table class="hover-column"
                           display=10 data="reportesCtrl.listadoSeguimientoLlamadaDelDia" 
                           headers="Identificación, Estudiante, Celular, Telefono, Seguimiento"
                           fields="identificacion,nombreEstudiante,celular,telefono"
                           search="separate" 
                           sorting="compound"
                           editable="false" 
                           resize="false"
                           select="false" >
                        <tbody>
                            <tr style="height: 60px;">
                                <td style="text-align: center">{{::item.identificacion}}</td>
                                <td style="text-align: center">{{::item.nombreEstudiante}}</td>
                                <td style="text-align: center">{{::item.celular}}</td>
                                <td style="text-align: center">{{::item.telefono}}</td>
                                <td class="text-center opciones-table">
                                    <a class="btn btn-success btn-tools-table" 
                                       title="Seguimiento de llamadas" 
                                       ng-click="$owner.reportesCtrl.onAbrirPopupSeguimientoLlamadas(item)">
                                        <i class="glyphicon glyphicon-phone-alt"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="content-box" >
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">Listado de llamadas por día
                <button class="btn btn-xs btn-info icon-tool-add"  data-toggle="collapse" data-target="#demo01">
                    <i class="glyphicon glyphicon-collapse-down"></i>
                </button> 
            </h3>

            <div class="float-right">
                <a href="#/auditoria" class="btn btn-sm btn-info icon-tool-add back-button"
                   data-animation="flipOutX" style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper collapse" id="demo01">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="profile-box content-box ">
                            <div class="button-pane button-pane-top">
                                <a href="" 
                                   ng-json-export-excel 
                                   data="reportesCtrl.listDashLLamadasRealizadas"
                                   report-fields="{
                                   diaLlamada:'Día',
                                   cantidadPendiente:'Cantidad Pendiente',
                                   cantidadRetirado:'Cantidad Retirado',
                                   cantidadPagada:'Cantidad Pagada'
                                   }"
                                   filename=" 'Listado Pendientes Campaña' " 
                                   title="Listado Llamadas Realizadas"
                                   data-style="dark" 
                                   data-theme="bg-white" 
                                   class="float-right btn btn-sm btn-success icon-tool-add back-button "
                                   data-animation="flipOutX" style="color: #ffffff; border: 0px solid #dfe8f1;">
                                    <div class="glyph-icon">
                                        <i class="glyphicon glyphicon-print"></i><span class="info-icon-tool">{{appConstantsView.BOTON_IMPRIMIR}}</span>
                                    </div>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                            <div class="content-box-wrapper">
                                <div class="panel-body">
                                    <table object-table class="hover-column"
                                           display=10 data="reportesCtrl.listDashLLamadasRealizadas" 
                                           headers="Día, Pendiente, Retirado, Pagó, Total"
                                           fields="diaLlamada,cantidadPendiente,cantidadRetirado,cantidadPagada"
                                           search="separate" 
                                           sorting="compound"
                                           editable="false" 
                                           resize="false"
                                           select="false" >
                                        <tbody>
                                            <tr style="height: 60px;">
                                                <td style="text-align: center">{{::item.diaLlamada}}</td>
                                                <td style="text-align: center">{{::item.cantidadPendiente}}</td>
                                                <td style="text-align: center">{{::item.cantidadRetirado}}</td>
                                                <td style="text-align: center">{{::item.cantidadPagada}}</td>
                                                <td style="text-align: center">{{::item.cantidadPendiente + item.cantidadRetirado + item.cantidadPagada}}</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">Seguimiento Estudiantes Con Cuotas Vencidas 
                <button class="btn btn-xs btn-info icon-tool-add"  data-toggle="collapse" data-target="#demo02">
                    <i class="glyphicon glyphicon-collapse-down"></i>
                </button> 
            </h3>
            <div class="float-right">
                <a href="#/auditoria" class="btn btn-sm btn-info icon-tool-add back-button"
                   data-animation="flipOutX" style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper collapse" id="demo02">
            <div class="panel-body">
                <table object-table class="hover-column" 
                       data="reportesCtrl.listadoCorteGeneral" 
                       display="reportesCtrl.display" 
                       headers="Código,Cliente,Programa,Horario,Celular,Semestre,Estado,Seccional,Opciones"
                       fields="codigoEstudiante,nombreEstudiante,nombrePrograma,horario,celular,semestre,estadoEstudiante,seccional" 
                       sorting="compound" 
                       editable="false" 
                       search="separate" 
                       resize="false" 
                       add-filter="| filter:$owner.all">
                    <tbody>
                        <tr>
                            <td>{{::item.codigoEstudiante}}</td>
                            <td>{{::item.nombreEstudiante}}</td>
                            <td>{{::item.nombrePrograma}}</td>
                            <td>{{::item.horario}}</td>
                            <td>{{::item.celular}}</td>
                            <td>{{::item.semestre}}</td>
                            <td>{{::item.estadoEstudiante}}</td>
                            <td>{{::item.seccional}}</td>
                            <td class="text-center opciones-table">
                                <a class="btn btn-success btn-tools-table" 
                                   title="Seguimiento de llamadas" 
                                   ng-click="$owner.reportesCtrl.onAbrirPopupSeguimientoLlamadas(item)">
                                    <i class="glyphicon glyphicon-phone-alt"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr ng-show="$filtered.length === $owner.appConstantsView.CERO && $owner.reportesCtrl.listadoCorteGeneral.length !== $owner.appConstantsView.CERO">
                            <td colspan="6">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                        </tr>
                        <tr ng-show="$owner.reportesCtrl.listadoCorteGeneral.length === $owner.appConstantsView.CERO">
                            <td colspan="6">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <div id="modalSeguimientoLlamadas" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <form method="POST" novalidate name="formAgregarSeguimientoLlamada">
                    <div class="modal-content" style="height: 300px">
                        <div class="content-box">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">{{appConstantsView.CERRAR_MODAL}}</button>
                                <h4 class="modal-title">{{reportesCtrl.tituloModal}} Seguimiento </h4>
                                <h4 class="modal-title text-uppercase">{{reportesCtrl.nuevoSeguimiento.nombreEstudiante}}</h4>
                            </div>
                            <div class="modal-body">

                                <table object-table class="hover-column" 
                                       data="reportesCtrl.listadoReferenciasEstudiante" 
                                       display="reportesCtrl.display" 
                                       headers="Numero Convenio,Periodo,Referencia,Fecha Vencimiento,Dias Vencidos,Estado,Liquidado,Abonado,Pendiente"
                                       fields="numeroConvenio,periodo,referencia,fechaLimite,diasVencidos,estado,totalLiquidado,totalAbonado,totalPendiente" 
                                       sorting="compound" 
                                       editable="false" 
                                       search="separate" 
                                       resize="false" 
                                       add-filter="| filter:$owner.all">
                                    <tbody>
                                        <tr>
                                            <td>{{::item.numeroConvenio}}</td>
                                            <td>{{::item.periodo}}</td>
                                            <td>{{::item.referencia}}</td>
                                            <td>{{::item.fechaLimite| date:'dd/MM/yyyy'}}</td>
                                            <td>{{::item.diasVencidos}}</td>
                                            <td><span class="{{item.estadoLiquidacion === 'ABIERTA' ? 'bs-label label-danger' : 'bs-label label-success'}}">{{::item.estadoLiquidacion}}</span></td>
                                            <td style="text-align: center" class="money">{{::item.totalLiquidado| currency}}</td>
                                            <td style="text-align: center" class="money">{{::item.totalAbonado| currency}}</td>
                                            <td style="text-align: center" class="money">{{::item.totalPendiente| currency}}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td style="text-align: center" class="money">{{$owner.reportesCtrl.getTotalValorSeguimiento($filtered) | currency}}</td>
                                            <td style="text-align: center" class="money">{{$owner.reportesCtrl.getTotalAbonadoSeguimiento($filtered) | currency}}</td>
                                            <td style="text-align: center" class="money">{{$owner.reportesCtrl.getTotalPendienteSeguimiento($filtered) | currency}}</td>
                                        </tr>
                                        <tr ng-show="$filtered.length === $owner.appConstantsView.CERO && $owner.reportesCtrl.listadoCorteGeneral.length !== $owner.appConstantsView.CERO">
                                            <td colspan="6">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                                        </tr>
                                        <tr ng-show="$owner.reportesCtrl.listadoCorteGeneral.length === $owner.appConstantsView.CERO">
                                            <td colspan="6">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                        </tr>
                                    </tfoot>
                                </table>
                                <div class="col-lg-12 col-sm-12">
                                    <textarea name="descripcionListaSeguimientoLlamada" class="form-control" ng-trim="false" rows="4" cols="75" max-length="750"
                                              style="overflow-y: scroll; height: 150px;resize: none;" ng-model="reportesCtrl.nuevaActividad.seguimientoLlamada" ng-disabled="reportesCtrl.esvisible.eseditable || reportesCtrl.esvisibleevento.disabledDetalle"
                                              validation="required" validation-error-to="seguimientoError"></textarea>
                                    <span class="pull-left validation text-danger" id="seguimientoError"></span>
                                    <span class="pull-right"> {{750 - reportesCtrl.nuevaActividad.seguimientoLlamada.length}} de 750</span>
                                </div>

                                <br/>

                                <div id="divFechaSeguimiento" class="input-daterange input-group">
                                    <div class="col-lg-12 col-sm-12">
                                        <div class="form-group">
                                            <label class="control-label">Proxima LLamada</label>
                                            <div id="fecha-inicio1" class="input-group date">
                                                <input id="fechaSeguimiento" name="fechainicio1" 
                                                       mask="39/19/9999" restrict="reject" readonly="true" 
                                                       validation="required"
                                                       placeholder="dd/mm/aaaa"
                                                       type="text" 
                                                       ng-model="reportesCtrl.nuevaActividad.proximaLlamada"
                                                       class="form-control date text-left"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label">Estado Candidato</label><label class="text-danger">*</label>
                                        <select  ng-options="estado.nombre as estado.nombre for estado in reportesCtrl.listEstadosCandidato | orderBy:'nombre'" 
                                                 name="selectEstado" id="selectEstado" 
                                                 debounce="5000"
                                                 validation="required" class="form-control"
                                                 ng-model="reportesCtrl.nuevaActividad.estadoCandidato"> 
                                            <option ng-if="reportesCtrl.listEstadosCandidato.length >= appConstantsView.CERO" value="">{{appConstantsView.SELECCION_SELECT}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-sm-12" ng-if="reportesCtrl.nuevaActividad.estadoCandidato === 'Pendiente'">
                                    <div class="form-group">
                                        <label class="control-label">Motivo Pendiente</label><label class="text-danger">*</label>
                                        <select  ng-options="estado.nombre as estado.nombre for estado in reportesCtrl.listPendiente | orderBy:'nombre'" 
                                                 name="selectPendiente" id="selectPendiente"
                                                 debounce="5000"
                                                 class="form-control"
                                                 validation="required"
                                                 ng-model="reportesCtrl.nuevaActividad.motivoPendiente"> 
                                            <option ng-if="reportesCtrl.listPendiente.length >= appConstantsView.CERO" value="">{{appConstantsView.SELECCION_SELECT}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="float-right">
                                    <input class="btn btn-success" 
                                           type="submit"
                                           ng-click="reportesCtrl.onGuardarSeguimientoLlamada()" 
                                           value="Agregar Seguimiento">
                                </div>
                                <br/>
                            </div>
                            <div class="modal-footer btnCenter" style="margin-top: 5px" >
                                <div class="col-sm-12 col-xs-12">
                                    <div class="content-box">
                                        <div class="button-pane button-pane-top">
                                            <h3 class="float-left text-uppercase content-box-header-title btn-xs">
                                                <button class="btn btn-xs btn-info icon-tool-add" data-toggle="collapse" data-target="#lista2">
                                                    <i class="glyphicon glyphicon-collapse-down"></i>
                                                </button> {{appConstantsView.BUTTON_SEGUIMIENTO_LLAMADAS}} </h3>
                                        </div>
                                        <div class="content-box-wrapper collapse" id="lista2">
                                            <div class="panel-body">
                                                <table object-table 
                                                       data="reportesCtrl.nuevaActividad.listaSeguimientosLlamadasContacto" 
                                                       display="4" 
                                                       headers="Comentario,Autor,Fecha,Estado,Opciones"
                                                       fields="descripcion,nombreUsuario,fechaString,estado" 
                                                       sorting="compound" 
                                                       selected-model="reportesCtrl.report.selectedSeguimiento"
                                                       editable="false" 
                                                       search="separate" 
                                                       resize="false" 
                                                       select="false">
                                                    <tbody>
                                                        <tr>
                                                            <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100px;">{{::item.descripcion}}</td>
                                                            <td>{{::item.nombreUsuario}}</td>
                                                            <td>{{::item.fechaString}}</td>
                                                            <td>{{::item.estado}}</td>
                                                            <td class="text-center opciones-table">
                                                                <a class="btn btn-primary btn-tools-table" title="Ver detalle" ng-click="$owner.reportesCtrl.onVerDetalleSeguimientoLlamadas(item)">
                                                                    <i class="glyphicon glyphicon-eye-open"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.reportesCtrl.nuevaActividad.listaSeguimientosLlamadasContacto.length !== $owner.appConstantsView.CERO">
                                                            <td colspan="5">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                                                        </tr>
                                                        <tr ng-if="$owner.reportesCtrl.nuevaActividad.listaSeguimientosLlamadasContacto.length === $owner.appConstantsView.CERO">
                                                            <td colspan="5">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--    <div class="content-box">
            <div class="button-pane button-pane-top">
                <h3 class="float-left text-uppercase content-box-header-title btn-sm">Detalle Cartera General</h3>
                <div class="float-right">
                    <a href="#/auditoria" ng-click="reportesCtrl.onLimpiarRegistro()" class="btn btn-sm btn-info icon-tool-add back-button"
                       data-animation="flipOutX" style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                        <div class="glyph-icon">
                            <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                        </div>
                    </a>
                    <a href="" 
                       ng-json-export-excel 
                       data="reportesCtrl.listadoCorte"
                       report-fields="{
                       codigoEstudiante:'Identificacion',
                       nombreEstudiante:'Estudiante',
                       nombrePrograma:'Programa',
                       nombrePeriodo:'Periodo',
                       horario:'Horario',
                       estadoCartera:'Activo',
                       celular:'Celular',
                       semestre:'Semestre',
                       referencia:'referencia',
                       valorLiquidadoTotal:'Total Liquidado',
                       saldoAbonadoTotal:'Total Abonado',
                       saldoPendientetotal:'Total Pendiente'
                       }"
                       filename=" 'Listado de Clientes' " 
                       title="Listado de Clientes"
                       data-style="dark" 
                       data-theme="bg-white" 
                       class="btn btn-sm btn-success icon-tool-add back-button {{reportesCtrl.filtrados.length === appConstantsView.CERO?'disabled':' '}}"
                       data-animation="flipOutX" style="color: #ffffff; border: 0px solid #dfe8f1;">
                        <div class="glyph-icon">
                            <i class="glyphicon glyphicon-print"></i><span class="info-icon-tool">{{appConstantsView.BOTON_IMPRIMIR}}</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="content-box-wrapper">
                <div class="panel-body">
                    <table object-table class="hover-column" 
                           data="reportesCtrl.listadoCorte" 
                           display="reportesCtrl.display" 
                           headers="Código,Cliente,Programa,Periodo,Horario,Celular,Semestre,Liquidado,Pendiente,Abonado"
                           fields="codigoEstudiante,nombreEstudiante,nombrePrograma,nombrePeriodo,horario,celular,semestre,valorLiquidadoTotal,saldoPendientetotal,saldoAbonadoTotal" 
                           sorting="compound" 
                           editable="false" 
                           search="separate" 
                           resize="false" 
                           add-filter="| filter:$owner.all">
                        <tbody>
                            <tr>
                                <td>{{::item.codigoEstudiante}}</td>
                                <td>{{::item.nombreEstudiante}}</td>
                                <td>{{::item.nombrePrograma}}</td>
                                <td>{{::item.nombrePeriodo}}</td>
                                <td>{{::item.horario}}</td>
                                <td>{{::item.celular}}</td>
                                <td>{{::item.semestre}}</td>
                                <td style="text-align: center" class="money">{{::item.valorLiquidadoTotal| currency}}</td>
                                <td style="text-align: center" class="money">{{::item.saldoPendientetotal| currency}}</td>
                                <td style="text-align: center" class="money">{{::item.saldoAbonadoTotal| currency}}</td>
                                <td ng-hide="true">{{$owner.reportesCtrl.filtrados = $filtered}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                                            <td style="text-align: center" class="money">{{$owner.reportesCtrl.getTotalValorSeguimiento($filtered) | currency}}</td>
                                                            <td style="text-align: center" class="money">{{$owner.reportesCtrl.getTotalPendienteSeguimiento($filtered) | currency}}</td>
                                                            <td style="text-align: center" class="money">{{$owner.reportesCtrl.getTotalAbonadoSeguimiento($filtered) | currency}}</td>
                            </tr>
                            <tr ng-show="$filtered.length === $owner.appConstantsView.CERO && $owner.reportesCtrl.listadoCarteraSeguimiento.length !== $owner.appConstantsView.CERO">
                                <td colspan="6">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                            </tr>
                            <tr ng-show="$owner.reportesCtrl.listadoCarteraSeguimiento.length === $owner.appConstantsView.CERO">
                                <td colspan="6">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    
        <div class="content-box">
            <div class="button-pane button-pane-top">
                <h3 class="float-left text-uppercase content-box-header-title btn-sm">Detalle Cartera </h3>
                <div class="float-right">
                    <a href="#/auditoria" ng-click="reportesCtrl.onLimpiarRegistro()" class="btn btn-sm btn-info icon-tool-add back-button"
                       data-animation="flipOutX" style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                        <div class="glyph-icon">
                            <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                        </div>
                    </a>
                    <a href="" 
                       ng-json-export-excel 
                       data="reportesCtrl.listadoCorteGeneral"
                       report-fields="{
                       codigoEstudiante:'Identificacion',
                       nombreEstudiante:'Estudiante',
                       nombrePrograma:'Programa',
                       horario:'Horario',
                       estadoCartera:'Activo',
                       celular:'Celular',
                       semestre:'Semestre',
                       periodo:'Periodo',
                       referencia:'referencia',
                       fechaLimite:'Fecha Limite',
                       diasVencidos:'Dias Vencidos',
                       totalLiquidado:'Total Liquidado',
                       totalAbonado:'Total Abonado',
                       totalPendiente:'Total Pendiente'
                       }"
                       filename=" 'Listado de Cartera Referencia' " 
                       title="Listado de Clientes"
                       data-style="dark" 
                       data-theme="bg-white" 
                       class="btn btn-sm btn-success icon-tool-add back-button {{reportesCtrl.filtrados.length === appConstantsView.CERO?'disabled':' '}}"
                       data-animation="flipOutX" style="color: #ffffff; border: 0px solid #dfe8f1;">
                        <div class="glyph-icon">
                            <i class="glyphicon glyphicon-print"></i><span class="info-icon-tool">{{appConstantsView.BOTON_IMPRIMIR}}</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="content-box-wrapper">
    
                <div class="panel-body">
                    <table object-table class="hover-column" 
                           data="reportesCtrl.listadoCorteGeneral" 
                           display="reportesCtrl.display" 
                           headers="Periodo,Referencia,Fecha Vencimiento,Dias Vencidos,Liquidado,Abonado,Pendiente"
                           fields="periodo,referencia,fechaLimite,diasVencidos,totalLiquidado,totalAbonado,totalPendiente" 
                           sorting="compound" 
                           editable="false" 
                           search="separate" 
                           resize="false" 
                           add-filter="| filter:$owner.all">
                        <tbody>
                            <tr>
                                <td>{{::item.codigoEstudiante}}</td>
                                <td>{{::item.nombreEstudiante}}</td>
                                <td>{{::item.nombrePrograma}}</td>
                                <td>{{::item.horario}}</td>
                                <td>{{::item.celular}}</td>
                                <td>{{::item.semestre}}</td>
                                <td>{{::item.periodo}}</td>
                                <td>{{::item.referencia}}</td>
                                <td>{{::item.fechaLimite| date:'dd/MM/yyyy'}}</td>
                                <td>{{::item.diasVencidos}}</td>
                                <td style="text-align: center" class="money">{{::item.totalLiquidado| currency}}</td>
                                <td style="text-align: center" class="money">{{::item.totalAbonado| currency}}</td>
                                <td style="text-align: center" class="money">{{::item.totalPendiente| currency}}</td>
                                <td ng-hide="true">{{$owner.reportesCtrl.filtrados = $filtered}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="text-align: center" class="money">{{$owner.reportesCtrl.getTotalValorSeguimiento($filtered) | currency}}</td>
                                <td style="text-align: center" class="money">{{$owner.reportesCtrl.getTotalAbonadoSeguimiento($filtered) | currency}}</td>
                                <td style="text-align: center" class="money">{{$owner.reportesCtrl.getTotalPendienteSeguimiento($filtered) | currency}}</td>
                            </tr>
                            <tr ng-show="$filtered.length === $owner.appConstantsView.CERO && $owner.reportesCtrl.listadoCarteraSeguimiento.length !== $owner.appConstantsView.CERO">
                                <td colspan="6">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                            </tr>
                            <tr ng-show="$owner.reportesCtrl.listadoCarteraSeguimiento.length === $owner.appConstantsView.CERO">
                                <td colspan="6">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>-->

</div>