<div id="page-title" ng-controller="movCajaCtrl as movCCtrl">
    <h2>{{appConstantsView.LABEL_HISTORIAL_MOVIMIENTOS_CAJA}}</h2>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">{{appConstantsView.LABEL_DETALLE_MOVIMIENTO_CAJA}}</h3>
            <div class="float-right">
                <a href="#/historial-movimiento-caja" class="btn btn-sm btn-info icon-tool-add back-button"
                   data-animation="flipOutX" style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i>
                        <span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}} </span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="content-box">
                <div class="button-pane button-pane-top">
                    <div class="float-left">
                        <h3 class="text-uppercase content-box-header-title btn-sm">{{appConstantsView.LABEL_INFO_GENERAL_MOVIMIENTO}} </h3>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="caja" class="control-label">{{appConstantsView.LABEL_CAJA}}</label>
                                <input name="caja" id="caja" ng-disabled="true" class="text-uppercase form-control" type="text" ng-model="movCCtrl.movCajaEntity.caja">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="ubicacion" class="control-label">{{appConstantsView.LABEL_UBICACION}}</label>
                                <input name="ubicacion" id="ubicacion" ng-disabled="true" class="text-uppercase form-control" type="text" ng-model="movCCtrl.movCajaEntity.ubicacion">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="cajero" class="control-label">{{appConstantsView.LABEL_NOMBRE_CAJERO}}</label>
                                <input class="text-uppercase form-control" type="text" ng-disabled="true" name="cajero" ng-model="movCCtrl.movCajaEntity.cajero">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="idCajero" class="control-label">{{appConstantsView.LABEL_IDENTIFICACION}}</label>
                                <input name="idCajero" id="idCajero" ng-disabled="true" class="text-uppercase form-control" type="text" ng-model="movCCtrl.movCajaEntity.idCajero">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="fechaLiquidacion" class="control-label">{{appConstantsView.LABEL_FECHA_LIQUIDACION}}</label>
                                <input class="text-uppercase form-control" type="text" ng-disabled="true" name="fechaLiquidacion" ng-model="movCCtrl.movCajaEntity.fechaLiquidacion">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="fechaPago" class="control-label">{{appConstantsView.LABEL_FECHA_PAGO}}</label>
                                <input name="fechaPago" id="fechaPago" ng-disabled="true" class="text-uppercase form-control" type="text" ng-model="movCCtrl.movCajaEntity.fechaPago">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="consecutivo" class="control-label">{{appConstantsView.LABEL_CONSECUTIVO}}</label>
                                <input name="consecutivo" id="consecutivo" ng-disabled="true" class="text-uppercase form-control" type="text" ng-model="movCCtrl.movCajaEntity.consecutivo">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="reciboPago" class="control-label">{{appConstantsView.LABEL_RECIBO_PAGO}}</label>
                                <input class="text-uppercase form-control" type="text" ng-disabled="true" name="reciboPago" ng-model="movCCtrl.movCajaEntity.reciboPago">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="concepto" class="control-label">{{appConstantsView.LABEL_CONCEPTO_FACTURACION}}</label>
                                <input name="concepto" id="concepto" ng-disabled="true" class="text-uppercase form-control" type="text" ng-model="movCCtrl.movCajaEntity.concepto">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="claseConcepto" class="control-label">{{appConstantsView.LABEL_CLASE_CONCEPTO}}</label>
                                <input class="text-uppercase form-control" type="text" ng-disabled="true" name="claseConcepto" ng-model="movCCtrl.movCajaEntity.claseConcepto">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="referenciaLiquidacion" class="control-label">{{appConstantsView.LABEL_REFERENCIA_LIQUIDACION}}</label>
                                <input name="referenciaLiquidacion" id="referenciaLiquidacion" ng-disabled="true" class="text-uppercase form-control" type="text"
                                       ng-model="movCCtrl.movCajaEntity.referenciaLiquidacion">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="valor" class="control-label">{{appConstantsView.LABEL_VALOR}}</label>
                                <input name="valor" id="valor" ng-disabled="true" class="text-uppercase form-control" type="text" ng-model="movCCtrl.movCajaEntity.valor">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="estadoLiquidacion" class="control-label">{{appConstantsView.LABEL_ESTADO_LIQUIDACION}}</label>
                                <input class="text-uppercase form-control" type="text" ng-disabled="true" name="estadoLiquidacion" ng-model="movCCtrl.movCajaEntity.estadoLiquidacion">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="estadoRecibo" class="control-label">{{appConstantsView.LABEL_ESTADO_RECIBO}}</label>
                                <input class="text-uppercase form-control" type="text" ng-disabled="true" name="estadoRecibo" ng-model="movCCtrl.movCajaEntity.estadoRecibo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-box">
                <div class="button-pane button-pane-top">
                    <div class="float-left">
                        <h3 class="text-uppercase content-box-header-title btn-sm">{{appConstantsView.TITLE_INFO_ESTUDIANTE}} </h3>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="nombreEstudiante" class="control-label">{{appConstantsView.LABEL_NOMBRE_ESTUDIANTE}}</label>
                                <input name="nombreEstudiante" id="nombreEstudiante" ng-disabled="true" class="text-uppercase form-control" type="text" ng-model="movCCtrl.movCajaEntity.nombreEstudiante">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="codigoEstudiante" class="control-label">{{appConstantsView.LABEL_CODIGO}}</label>
                                <input name="codigoEstudiante" id="codigoEstudiante" ng-disabled="true" class="text-uppercase form-control" type="text" ng-model="movCCtrl.movCajaEntity.codigoEstudiante">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="periodo" class="control-label">{{appConstantsView.LABEL_PERIODO_ACADEMICO}}</label>
                                <input class="text-uppercase form-control" type="text" ng-disabled="true" name="periodo" ng-model="movCCtrl.movCajaEntity.periodo">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="programa" class="control-label">{{appConstantsView.LABEL_PROGRAMA_ACADEMICO}}</label>
                                <input name="codigo" id="codigo" ng-disabled="true" class="text-uppercase form-control" type="text" ng-model="movCCtrl.movCajaEntity.programa">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-pane">
                <input class="btn btn-info" type="submit" value="Imprimir" title="Descargar Reporte" ng-click="movCCtrl.onGenerarReporte(movCCtrl.movCajaEntity)">
            </div>
        </div>
    </div>
</div>