<style>
    .info-icon-tool {
        padding: 5px;
    }

    @media screen and (max-width: 1135px) {
        .table-scroll-x {
            overflow-x: scroll;
        }
    }
</style>
<script src="../../../js/main-app.js" type="text/javascript"></script>
<div id="page-title" ng-controller="publicoobjetivoCtrl as publicoCtrl">
    <h2>{{appConstantsView.LABEL_PUBLICO_OBJETIVO}}</h2>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">{{appConstantsView.TITLE_LISTADO_PUBLICOS_OBJETIVOS}} </h3>
            <div class="float-right" ng-controller="menuCtrl as mCtrl">
                <a href="" class="btn btn-sm btn-info icon-tool-add" ng-click="publicoCtrl.onIrRegistrar()" style="background-color: #00bca4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-plus"></i><span class="info-icon-tool text-capitalize">{{appConstantsView.BOTON_AGREGAR}}</span>
                    </div>
                </a>
                <a ng-click="mCtrl.onListarOPciones('/#/crm-mercadeo')"  class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4;cursor: pointer; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="panel-body">
                <div class="content-box border-top border-yellow" ng-if="!publicoCtrl.mensajeValidacion">
                    <h3 class="content-box-header clearfix title-resumen-yellow">
                        <div class="col-xs-12">
                            <a ng-click="publicoCtrl.mensajeValidacion = false" class="btn btn-xs btn-danger pull-right">
                                <i class="glyph-icon icon-remove"></i>
                            </a>
                            {{appConstantsView.LABEL_ADVERTENCIA}}
                            <small>{{appConstantsView.ERROR_REGISTROS_NO_ELIMINADOS}}</small>
                        </div>
                    </h3>
                    <div class="content-box-wrapper">
                        <ul class="todo-box" style="overflow-y: scroll;height: 235px;">
                            <li class="border-yellow" ng-repeat="noEliminiado in publicoCtrl.listNoEliminados track by noEliminiado.id">
                                <label for="todo-1">{{appConstantsView.LABEL_CODIGO}}: {{noEliminiado.codigo}}, {{appConstantsView.LABEL_NOMBRE}}: {{noEliminiado.nombre}}</label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="dataTables_length" id="datatable-example_length">
                            <label>
                                <select ng-model="publicoCtrl.display" 
                                        ng-init="publicoCtrl.display = publicoCtrl.display || publicoCtrl.options[appConstantsView.CERO].value"
                                        ng-options="option.value as option.name for option in publicoCtrl.options">
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
                <table object-table data="publicoCtrl.publicoobjetivos" display="publicoCtrl.display" headers="Código,Nombre,Opciones" fields="codigo,nombre"
                       sorting="compound" selected-model="publicoCtrl.report.selected" editable="false" search="separate" resize="false"
                       select="multiply">
                    <tbody>
                        <tr>
                            <td style="max-width: 28em;word-wrap: break-word;" class="text-uppercase">{{::item.codigo}}</td>
                            <td style="max-width: 28em;word-wrap: break-word;" class="text-uppercase">{{::item.nombre}}</td>
                            <td class="text-center opciones-table">
                                <a class="btn btn-primary btn-tools-table" title="Ver detalle" ng-click="$owner.publicoCtrl.onIrVerDetalle(item)">
                                    <i class="glyphicon glyphicon-eye-open"></i>
                                </a>
                                <a class="btn btn-info btn-tools-table" title="Modificar" ng-click="$owner.publicoCtrl.onIrEditar(item)">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </a>
                                <a class="btn btn-danger btn-tools-table" title="Eliminar" ng-click="$owner.publicoCtrl.onEliminarUno(item)">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </td>
                        </tr>
                    <tfoot>
                        <tr ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.publicoCtrl.publicoobjetivos.length !== $owner.appConstantsView.CERO">
                            <td colspan="6">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                        </tr>
                        <tr ng-if="$owner.publicoCtrl.publicoobjetivos.length === $owner.appConstantsView.CERO">
                            <td colspan="6">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                        </tr>
                    </tfoot>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>