<div id="page-title"   ng-controller="ParametrosCreditoCtrl as parametroCtrl">
    <h2>{{appConstantsView.LINEAS_CREDITO}}</h2>
    <p></p>
    <br>
    <div class="content-box">        
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">{{appConstantsView.CONF_LINEA_CREDITO}}</h3>
            <div class="float-right">
                <a href="/#/parametros-creditos" class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left" ></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="panel-body">     
                <div class="row">
                    <form  method="POST"  name="formCrudParametroCredito" novalidate>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="minimo" class="control-label">{{appConstantsView.LABEL_CODIGO}}</label><label class="text-danger">*</label>
                                    <div class="input-group">
                                        <input type="text"  id="codigo"  class="form-control"
                                               name="codigo" ng-disabled="parametroCtrl.parametroCreditoAuxiliar.disableVerDetalle"
                                               ng-model="parametroCtrl.parametroCredito.codigo" 
                                               validation="required" >
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="minimo" class="control-label">{{appConstantsView.LABEL_NOMBRE}}</label><label class="text-danger">*</label>
                                    <div class="input-group">
                                        <input type="text"  id="codigo"  class="form-control"
                                               name="codigo" ng-disabled="parametroCtrl.parametroCreditoAuxiliar.disableVerDetalle"
                                               ng-model="parametroCtrl.parametroCredito.nombre" 
                                               validation="required" >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--                        <div class="row">
                                                    <div class="col-lg-6 col-sm-6">
                                                        <div class="form-group">
                                                            <label for="minimo" class="control-label">{{appConstantsView.VALOR_MINIMO_FINANCIAR}}</label><label class="text-danger">*</label>
                                                            <div class="input-group">
                                                                <input type="text"  id="minimo"  class="form-control porcentaje" placeholder='99.99%' 
                                                                       name="minimo" ng-disabled="parametroCtrl.parametroCreditoAuxiliar.disableVerDetalle"
                                                                       restrict="reject" ui-percentage-mask ui-percentage-value maxlength="8"
                                                                       ng-model="parametroCtrl.parametroCredito.valorMinimo"  ng-blur="parametroCtrl.onBlurValorMinimo()"
                                                                       validation="required" validation-error-to="errorValorMinimo">
                                                                <span class="input-group-addon">
                                                                    %
                                                                </span>
                                                            </div>
                                                            <span id="errorValorMinimo" class="validation text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-sm-6">
                                                        <div class="form-group">
                                                            <label for="maximo" class="control-label">{{appConstantsView.VALOR_MAXIMO_FINANCIAR}}</label><label class="text-danger">*</label>
                                                            <div class="input-group">
                                                                <input type="text"  id="maximo"  class="form-control porcentaje"  placeholder='99.99%' 
                                                                       name="maximo" ng-disabled="parametroCtrl.parametroCreditoAuxiliar.disableVerDetalle"
                                                                       restrict="reject" ui-percentage-mask ui-percentage-value maxlength="8"
                                                                       ng-model="parametroCtrl.parametroCredito.valorMaximo" ng-blur="parametroCtrl.onBlurValorMaximo()"
                                                                       validation="required" validation-error-to="errorValorMaximo">
                                                                <span class="input-group-addon">
                                                                    %
                                                                </span>
                                                            </div>
                                                            <span id="errorValorMaximo" class="validation text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>                       -->
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="cuotaMinima" class="control-label">{{appConstantsView.CUOTA_MINIMA_FINANCIAR}}</label><label class="text-danger">*</label>
                                    <div class="form-group" style="margin-bottom: 1px;">
                                        <input type="text"
                                               id="cuotaMinima"  
                                               class="form-control spinner-input"
                                               maxlength="2"
                                               name="cuotaMinima"
                                               ng-disabled="parametroCtrl.parametroCreditoAuxiliar.disableVerDetalle"
                                               restrict="reject"
                                               mask="99"
                                               repeat="2"
                                               min="0" 
                                               max="{{parametroCtrl.parametroCredito.cuotaMaxima}}"
                                               ng-model="parametroCtrl.parametroCredito.cuotaMinima" 
                                               validation="required" validation-error-to="errorCuotaMinima">                                   
                                    </div>
                                    <span id="errorCuotaMinima" class="validation text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group" >
                                    <label for="cuotaMaxima" class="control-label">{{appConstantsView.CUOTA_MAXIMA_FINANCIAR}}</label><label class="text-danger">*</label>
                                    <div class="form-group" style="margin-bottom: 1px;">
                                        <input type="text"  id="cuotaMaxima"  class="form-control spinner-input" 
                                               name="cuotaMaxima" ng-disabled="parametroCtrl.parametroCreditoAuxiliar.disableVerDetalle"
                                               restrict="reject" mask="99" repeat="2" maxlength="2" validation-error-to="errorCuotaMaxima"
                                               ng-model="parametroCtrl.parametroCredito.cuotaMaxima" validation="required">
                                    </div>
                                    <span id="errorCuotaMaxima" class="validation text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <!--                        <div class="row">
                                                    <div class="col-lg-6 col-sm-6">
                                                        <div class="form-group">
                                                            <label for="interesCorriente" class="control-label">{{appConstantsView.TASA_INTERES_CORRIENTE}}</label><label class="text-danger">*</label>
                                                            <div class="input-group">
                                                                <input type="text"  id="interesCorriente"  class="form-control" placeholder='99.99%' 
                                                                       name="interesCorriente" 
                                                                       restrict="reject" ui-percentage-mask ui-percentage-value maxlength="8"
                                                                       ng-model="parametroCtrl.parametroCredito.interesCorriente"
                                                                       ng-blur="parametroCtrl.onBlurInteresCorriente()"
                                                                       validation="required" validation-error-to="errorInteresCorriente">
                                                                <span class="input-group-addon">
                                                                    %
                                                                </span>
                                                            </div>
                                                            <span id="errorInteresCorriente" class="validation text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-sm-6">
                                                        <div class="form-group">
                                                            <label for="interesMora" class="control-label">{{appConstantsView.TASA_INTERES_MORA}}</label><label class="text-danger">*</label>
                                                            <div class="input-group">
                                                                <input type="text"  id="interesMora"  class="form-control"  placeholder='99.99%' 
                                                                       name="interesMora" 
                                                                       restrict="reject" ui-percentage-mask ui-percentage-value maxlength="8"
                                                                       ng-model="parametroCtrl.parametroCredito.interesMora" 
                                                                       ng-blur="parametroCtrl.onBlurInteresMora()"
                                                                       validation="required" validation-error-to="errorInteresMora">
                                                                <span class="input-group-addon">
                                                                    %
                                                                </span>
                                                            </div>
                                                            <span id="errorInteresMora" class="validation text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>-->
                        <div class="row">
<!--                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">{{appConstantsView.FORMA_FINANCIACION}}</label><label class="text-danger">*</label>                           
                                    <select ng-options="forma.id as forma.nombre for forma in parametroCtrl.formasPagos" 
                                            name="selectFormaPago" id="selectFormaPago" 
                                            validation="required" class="form-control"
                                            ng-model="parametroCtrl.parametroCredito.formaPago">
                                        <option ng-if="parametroCtrl.formasPagos.length >= appConstantsView.CERO" value="">{{appConstantsView.SELECCION_SELECT}}</option>
                                    </select>
                                </div>
                            </div> -->
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="linea" class="control-label">Línea De Crédito</label><label class="text-danger">*</label>
                                    <select class="form-control" 
                                            ng-model="parametroCtrl.parametroCredito.idLineaCredito"  
                                            ng-options="linea.codigo as linea.valor for linea in parametroCtrl.listaLineasCredito| orderBy:'valor'"
                                            name="linea" 
                                            id="linea" validation="required">
                                        <option ng-if="parametroCtrl.listaLineasCredito.length >= appConstantsView.CERO"  value="" >{{appConstantsView.SELECCION_SELECT}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="button-pane">
                            <input type="submit" class="btn btn-success" ng-hide="parametroCtrl.parametroCreditoAuxiliar.disableVerDetalle && parametroCtrl.parametroCreditoAuxiliar.disableCodigo" value="Guardar" ng-click="parametroCtrl.onSubmitForm()">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
                    $(".spinner-input").TouchSpin({
                        verticalbuttons: true,
                        min: 0,
                        max: 100
                    });



</script>

