<div id="page-title" ng-controller="ParametrosCreditoCtrl as parametroCtrl">
    <div class="row">
        <div class="float-left" style="margin-left: 10px">
            <h2 style="line-height: 30px;">{{appConstantsView.LINEAS_CREDITO}} </h2>
        </div>
    </div>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">{{appConstantsView.LISTADO_LINEAS_CREDITO}}</h3>
            <div class="float-right" ng-controller="menuCtrl as mCtrl">
                <a  ng-click="parametroCtrl.cancelarInterval(); mCtrl.onListarOPciones('/#/financiero')" class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4;cursor: pointer; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
                <a class="btn btn-sm btn-info icon-tool-add" ng-click="parametroCtrl.onClickToAddParametroCredito()" style="background-color: #00bca4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-plus"></i><span class="info-icon-tool text-capitalize">{{appConstantsView.BOTON_AGREGAR}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="row">
                <div class="col-sm-6">
                    <div class="dataTables_length" id="datatable-example_length">
                        <label>
                            <select ng-model="parametroCtrl.display" 
                                    ng-init="parametroCtrl.display = parametroCtrl.display || parametroCtrl.options[appConstantsView.CERO].value"
                                    ng-options="option.value as option.name for option in parametroCtrl.options"
                                    ng-change="parametroCtrl.display <= parametroCtrl.periodosAcademicos ? loadDat(n - 1) : ''">
                            </select>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div>
                <table object-table display=parametroCtrl.display data="parametroCtrl.listadoLineasDeCredito" headers="Código, Nombre, Opciones"
                       fields="codigo,nombre" search="separate" sorting="compound" selected-model="parametroCtrl.report.selected"
                       editable="false" search="false" resize="false" select="multiply">
                    <tbody>
                        <tr ng-click="$owner.parametroCtrl.onSelectTodosTable(ifSelected(item)); setSelected(item)">
                            <td>{{::item.codigo}}</td>
                            <td>{{::item.nombre}}</td>
                            <td class="text-center opciones-table">
                                <a class="btn btn-info btn-tools-table" title="Configurar" ng-click="$owner.parametroCtrl.onClickToUpdateParametroCredito(item)">
                                    <i class="glyph-icon icon-cogs"></i>
                                </a>
                            </td>
                            <td ng-hide="true">{{ $owner.parametroCtrl.obtenerFiltrados($filtered)}}</td>
                        </tr>
                    <tfoot>
                        <tr ng-show="$filtered.length === $owner.appConstantsView.CERO && $owner.parametroCtrl.listadoLineasDeCredito.length !== $owner.appConstantsView.CERO">
                            <td colspan="6">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                        </tr>
                        <tr ng-show="$owner.parametroCtrl.listadoLineasDeCredito.length === $owner.appConstantsView.CERO">
                            <td colspan="6">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                        </tr>
                    </tfoot>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>