<div id="page-title" ng-controller="formaPagoCtrl as FPCtrl">
    <h2>Formas de Pago</h2>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">{{appConstantsView.H3_LISTADO_FORMAS_PAGO}}</h3>
            <div class="float-right" ng-controller="menuCtrl as mCtrl">
                <a href="/#/formas-de-pago-gestion" ng-click="FPCtrl.onLimpiarRegistro()" class="btn btn-sm btn-info icon-tool-add" style="background-color: #00bca4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-plus"></i><span class="info-icon-tool text-capitalize">{{appConstantsView.BOTON_AGREGAR}}</span>
                    </div>
                </a>
                <a ng-click="mCtrl.onListarOPciones('/#/tesoreria')" class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4; color: #ffffff;cursor: pointer; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="dataTables_length" id="datatable-example_length">
                            <label>
                                <select ng-model="FPCtrl.display" 
                                        ng-init="FPCtrl.display = FPCtrl.display || FPCtrl.options[appConstantsView.CERO].value"
                                        ng-options="option.value as option.name for option in FPCtrl.options">
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <table object-table data="FPCtrl.listaFP" display="FPCtrl.display" headers="Código,Nombre,Descripción,Opciones" fields="codigoFormaPago,nombreFormaPago,descripcionFormaPago"
                        sorting="compound" selected-model="FPCtrl.report.selected" editable="false" search="separate" resize="false"
                        select="multiply" add-filter="| filter:$owner.all">
                        <tbody>
                            <tr>
                                <td>{{::item.codigoFormaPago}}</td>
                                <td>{{::item.nombreFormaPago}}</td>
                                <td>
                                    <div class="wrapping-text">{{::item.descripcionFormaPago}}</div>
                                </td>
                                <td class="opciones-table text-center">
                                    <a href="" ng-click="$owner.FPCtrl.onClickToEditar(item)">
                                        <button class="btn btn-info btn-tools-table" title="Modificar"> 
                                        <i class="glyphicon glyphicon-edit"></i>
                                    </button></a>
                                    <button class="btn btn-danger btn-tools-table" title="Eliminar" ng-click="$owner.FPCtrl.onClickToDelete(item)">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                </td>
                            </tr>
                            <tfoot>
                                <tr ng-show="$filtered.length === $owner.appConstantsView.CERO && $owner.FPCtrl.listaFP.length !== $owner.appConstantsView.CERO">
                                    <td colspan="6">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                                </tr>
                                <tr ng-show="$owner.FPCtrl.listaFP.length === $owner.appConstantsView.CERO">
                                    <td colspan="6">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                </tr>
                            </tfoot>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>