<div id="page-title" ng-controller="formaPagoCtrl as FPCtrl">
    <h2>Formas de Pago</h2>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">{{FPCtrl.formaPagoVisor.titulo}}</h3>
            <div class="float-right">
                <a href="#/formas-de-pago" ng-click="FPCtrl.onLimpiarRegistro()" class="btn btn-sm btn-info icon-tool-add back-button" data-animation="flipOutX" style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <form method="POST" novalidate name="formAgregarFormaDePago">
                <fieldset ng-disabled="FPCtrl.formaPagoVisor.onDeshabilitar">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="codigo" class="control-label">{{appConstantsView.LABEL_CODIGO}}<label class="text-danger">*</label></label>
                                    <input ng-disabled="FPCtrl.formaPagoVisor.onDeshabilitar || FPCtrl.formaPagoVisor.onDeshabilitarCodigo" type="text" required
                                        class="form-control text-uppercase" id="codigo" name="codigo" mask="T" repeat="10" restrict="reject"
                                        ng-model="FPCtrl.formaPagoEntity.codigoFormaPago" validation="required">
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="nombre" class="control-label">{{appConstantsView.LABEL_NOMBRE}}<label class="text-danger">*</label></label>
                                    <input maxlength="60" ng-disabled="FPCtrl.formaPagoVisor.onDeshabilitar" type="text" class="form-control text-uppercase" required id="nombre" name="nombre" ng-model="FPCtrl.formaPagoEntity.nombreFormaPago"
                                        validation="required">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="id" class="control-label">{{appConstantsView.LABEL_DESCRIPCION}}</label>
                                    <textarea maxlength="250" style="resize:none" ng-trim="false" ng-disabled="FPCtrl.categoriaActividadesVisor.onDeshabilitar" class="form-control" name="id" row="6" ng-model="FPCtrl.formaPagoEntity.descripcionFormaPago"></textarea>
                                    <span class="pull-right" ng-if="!FPCtrl.categoriaActividadesVisor.onDeshabilitar">{{250 - FPCtrl.formaPagoEntity.descripcion.length}} de 250</span>
                                </div>
                            </div>
                        </div>
                        <div class="button-pane" ng-disabled="FPCtrl.categoriaActividadesVisor.onDeshabilitar">
                            <button type="submit" class="btn btn-success" ng-click="FPCtrl.onSubmitForm()">{{appConstantsView.BOTON_GUARDAR}}</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>