<!DOCTYPE html>
<style>
    @media screen and (max-width: 1135px) {
        .table-scroll-x {
            overflow-x: scroll;
        }
    }
</style>
<div id="page-title" ng-controller="grupoMatriculaCtrl as gruMatriCtrl ">
    <h2> {{appConstantsView.LABEL_GRUPO_MATRICULA}} </h2>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <div class="float-left">
                <h3 class="text-uppercase content-box-header-title btn-sm">{{gruMatriCtrl.esvisible.titulo}}</h3>
            </div>
            <div class="float-right">
                <a href="/#/admin-registro-control" ng-click="gruMatriCtrl.onLimpiar()"
                    class="btn btn-sm btn-info icon-tool-add back-button"
                    style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span
                            class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="panel-default">
            <div class="panel-body">
                <form method="POST" name="formgeneralpublico" novalidate>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{appConstantsView.LABEL_PERIODO_ACADEMICO}}</label><label
                                    class="text-danger">*</label>
                                <input class="form-control hidden"
                                    ng-model="gruMatriCtrl.grupoMatricula.idPeriodoAcademico" name="periodo"
                                    id="periodo" validation="required" validation-error-to="validacionPeriodo">
                                <ui-select name="periodos" id="periodos"
                                    ng-change="gruMatriCtrl.onBuscarGrupos(gruMatriCtrl.grupoMatricula.idPeriodoAcademico)"
                                    ng-disabled="gruMatriCtrl.grupoAuxiliar.disableVerDetalle"
                                    title="{{$select.selected.nombrePeriodoAcademico}}"
                                    ng-model="gruMatriCtrl.grupoMatricula.idPeriodoAcademico" class="form-control">
                                    <ui-select-match placeholder="--Seleccione--">
                                        {{$select.selected.nombrePeriodoAcademico}}</ui-select-match>
                                    <ui-select-choices
                                        repeat="periodo.id as periodo in gruMatriCtrl.listaPeriodo | filter: {nombrePeriodoAcademico: $select.search}">
                                        <small class="text-uppercase" title="{{periodo.nombrePeriodoAcademico}}">
                                            {{periodo.nombrePeriodoAcademico}}
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                                <span id="validacionPeriodo"
                                    class="validation validation-select text-danger pull-left"></span>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="grupos" class="control-label">{{appConstantsView.TITLE_LISTADO_GRUPOS}}
                                </label>
                                <select
                                    ng-options="grupos as grupos.nombreGrupo for grupos in gruMatriCtrl.listadoGrupos| orderBy:'nombreGrupo'"
                                    class="form-control" ng-model="gruMatriCtrl.grupoMatricula.idGrupo"
                                    ng-change="gruMatriCtrl.onChangePublicoObjectivoPadre(gruMatriCtrl.grupoMatricula.idGrupo)"
                                    ng-disabled=" gruMatriCtrl.esvisible.eseditable || gruMatriCtrl.listadoGrupos.length <= 0"
                                    id="grupos" name="grupos">
                                    <!--<option value="">{{appConstantsView.SELECCION_SELECT}}</option>-->
                                </select>
                                <span ng-show="gruMatriCtrl.esvisible.estadopublicopadre"
                                    class="validation text-danger pull-left">{{appConstantsView.ERROR_CAMPO_REQUERIDO}}</span>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <label class="control-label">{{appConstantsView.LABEL_MODULO_ASOCIADO}}</label>
                            <input ng-disabled="true" type="text" class="form-control text-uppercase"
                                name="moduloAsociado" ng-model="gruMatriCtrl.grupoMatricula.nombreModulo">
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="nombre"
                                    class="control-label">{{appConstantsView.LABEL_HORARIO_ASOCIADO}}</label>
                                <input ng-disabled="true" type="text" class="form-control text-uppercase"
                                    name="HorarioAsociado" ng-model="gruMatriCtrl.grupoMatricula.nombreHorario">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <label class="control-label">{{appConstantsView.LABEL_MINIMO_ESTUDIANTES}}</label>
                            <input ng-disabled="true" type="text" class="form-control text-uppercase" name="minE"
                                ng-model="gruMatriCtrl.grupoMatricula.minEstudiante">
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="nombre"
                                    class="control-label">{{appConstantsView.LABEL_MAXIMO_ESTUDIANTES}}</label>
                                <input ng-disabled="true" type="text" class="form-control text-uppercase" name="maxE"
                                    ng-model="gruMatriCtrl.grupoMatricula.maxEstudiante">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <label class="control-label">{{appConstantsView.TTTLE_DOCENTE}}</label>
                            <input ng-disabled="true" type="text" class="form-control text-uppercase" name="docente"
                                ng-model="gruMatriCtrl.grupoMatricula.nombreDocente">
                        </div>

                    </div>
                    <!-- tabla agregar publico --->
                    <br />
                    <div class="clearfix"></div>
                    <div class="content-box">
                        <div class="button-pane button-pane-top">
                            <h3 class="float-left text-uppercase content-box-header-title btn-sm">
                                <i class="glyph-icon icon-cog"></i>
                                {{appConstantsView.TITLE_LISTADO_EST}}
                                <a class="btn  btn-primary btn-tools-table"
                                    ng-click="gruMatriCtrl.onChangePublicoObjectivoPadre(gruMatriCtrl.grupoMatricula.idGrupo)">
                                    <i class="glyphicon glyphicon-plus" title="Asociar contacto">Refrescar Listado
                                        Estudiantes</i>
                                </a>
                            </h3>
                        </div>
                        <div class="content-box-wrapper">
                            <div class="panel-body">
                                <div class="margTop0 pull-right">
                                    {{appConstantsView.TODOS}}
                                    <input bs-switch
                                        switch-active="{{!(gruMatriCtrl.filtrados.length === appConstantsView.CERO || gruMatriCtrl.disabledCampos)}}"
                                        ng-model="gruMatriCtrl.selectTodos"
                                        ng-disabled="gruMatriCtrl.filtrados.length === appConstantsView.CERO"
                                        type="checkbox" ng-true-value="true" ng-false-value="false" switch-on-text="Si"
                                        switch-off-text="No" ng-change="gruMatriCtrl.onSelectTodos()"
                                        class="form-control col-xs-12 pull-left">
                                </div>
                                <div class="row">
                                    <h3>{{gruMatriCtrl.esvisible.titulocontactodisponibles}}</h3>
                                    <div class="form-group">
                                        <table object-table data="gruMatriCtrl.estudiantesMatriculados" display="10"
                                            headers="Semestre,Nombre Completo,Identificacion,Programa, Estado Matricula, Opciones"
                                            fields="idNivel,nombreCompleto,identificacionEstudiante,nombrePrograma,matricula,estadoDetalleLiquidacion"
                                            sorting="compound" selected-model="gruMatriCtrl.report.selected"
                                            editable="false" search="separate" resize="false"
                                            add-filter="| filter:$owner.all">
                                            <tbody>
                                                <tr>
                                                    <td style="word-wrap: break-word;" class="text-uppercase">
                                                        {{item.idNivel}}</td>
                                                    <td style="word-wrap: break-word;" class="text-uppercase">
                                                        {{item.nombreCompleto}}</td>
                                                    <td style="word-wrap: break-word;" class="text-uppercase">
                                                        {{item.identificacionEstudiante}}</td>
                                                    <td style="word-wrap: break-word;" class="text-uppercase">
                                                        {{item.nombrePrograma}}</td>
                                                    <td style="word-wrap: break-word;" class="text-uppercase">
                                                        {{item.matricula === 1 ? 'Pagó' : 'No Pagó'}}</td>
                                                    <td style="width: 40px; height: 50px; vertical-align: middle;"
                                                        class="text-center">
                                                        <a class="btn  btn-primary btn-tools-table"
                                                            ng-show="item.matricula === 1"
                                                            ng-click="$owner.gruMatriCtrl.selectContacto(item)">
                                                            <i class="glyphicon glyphicon-plus"
                                                                title="Asignar Estudiante"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr
                                                    ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.gruMatriCtrl.contactos.length !== $owner.appConstantsView.CERO">
                                                    <td colspan="7">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                                                </tr>
                                                <tr
                                                    ng-if="$owner.gruMatriCtrl.contactos.length === $owner.appConstantsView.CERO">
                                                    <td colspan="7">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                                </tr>
                                                <td ng-hide="true">{{$owner.gruMatriCtrl.filtrados = $filtered}}</td>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-box">
                        <div class="button-pane button-pane-top">
                            <h3 class="float-left text-uppercase content-box-header-title btn-sm">
                                <i class="glyph-icon icon-cog"></i>
                                {{appConstantsView.TITLE_LISTADO_EST_SELECT}}
                            </h3>
                        </div>
                        <div class="content-box-wrapper">
                            <div class="panel-body">
                                <div class="margTop0 pull-right">
                                    {{appConstantsView.TODOS}}
                                    <input bs-switch
                                        switch-active="{{!(gruMatriCtrl.filtrado.length === appConstantsView.CERO || gruMatriCtrl.disabledCampos)}}"
                                        ng-model="gruMatriCtrl.desDelectTodos"
                                        ng-disabled="gruMatriCtrl.filtrado.length === appConstantsView.CERO"
                                        type="checkbox" ng-true-value="true" ng-false-value="false" switch-on-text="Si"
                                        switch-off-text="No" ng-change="gruMatriCtrl.onDesSelectTodos()"
                                        class="form-control col-xs-12 pull-left">
                                </div>
                                <div class="row">
                                    <div>
                                        <h3>{{gruMatriCtrl.esvisible.titulocontacto}}</h3>
                                        <div class="form-group">
                                            <table object-table data="gruMatriCtrl.estudiantesSeleccionados"
                                                display="10"
                                                headers="Semestre,Nombre Completo,Identificacion,Programa, Opciones"
                                                fields="idNivel,nombreCompleto,identificacionEstudiante,nombrePrograma,"
                                                sorting="compound" selected-model="gruMatriCtrl.report.selected"
                                                editable="false" search="separate" resize="false"
                                                add-filter="| filter:$owner.all">
                                                <tbody>
                                                    <tr
                                                        style="color: {{item.estadoDetalleLiquidacion === 'ABIERTA' ? 'red' : 'black'}}">
                                                        <td style="word-wrap: break-word;" class="text-uppercase">
                                                            {{item.idNivel}}</td>
                                                        <td style="word-wrap: break-word;" class="text-uppercase">
                                                            {{item.nombreCompleto}}</td>
                                                        <td style="word-wrap: break-word;" class="text-uppercase">
                                                            {{item.identificacionEstudiante}}</td>
                                                        <td style="word-wrap: break-word;" class="text-uppercase">
                                                            {{item.nombrePrograma}}</td>
                                                        <td style="width: 50px; height: 50px; vertical-align: middle;"
                                                            class="text-center">
                                                            <a class="btn btn-danger btn-tools-table"
                                                                ng-hide="item.idGrupoMatricula !== undefined"
                                                                ng-disabled="$owner.gruMatriCtrl.esvisible.eseditable"
                                                                title="Quitar estdiante"
                                                                ng-click="$owner.gruMatriCtrl.onEliminarUnContacto(item)">
                                                                <i class="glyphicon glyphicon-remove"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr
                                                        ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.gruMatriCtrl.contactosseleccionados.length !== $owner.appConstantsView.CERO">
                                                        <td colspan="6">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}
                                                        </td>
                                                    </tr>
                                                    <tr
                                                        ng-if="$owner.gruMatriCtrl.contactosseleccionados.length === $owner.appConstantsView.CERO">
                                                        <td colspan="6">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                                    </tr>
                                                    <td ng-hide="true">{{$owner.gruMatriCtrl.filtrado = $filtered}}</td>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </form>
                <br />
                <br />
                <div class="button-pane">
                    <input type="submit" class="btn"
                        style="background-color: #00bca4;color: #ffffff;border: 0px solid #dfe8f1;"
                        ng-click="gruMatriCtrl.onGuardar()" value="Guardar">
                </div>
            </div>
        </div>
    </div>

    <div id="modalResultadoMatricula" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">{{appConstantsView.CERRAR_MODAL}}</button>
                    <h4 class="modal-title">Detalle de Matricula</h4>

                    <div class="float-right">
                        <button type="submit" class="tile-box tile-box-shortcut btn-success classReport"
                            ng-json-export-excel data="gruMatriCtrl.listResultado" report-fields="{
                                nombreEstudiante:'Estudiante',
                                identificacion:'Identificacion',
                                resultado:'Resultado'
                                    }" filename=" 'Listado de Resultado Grupo Matricula' "
                            title="Listado de Resultado Grupo Matricula">
                            <i class="fa fa-file-excel-o" aria-hidden="true"></i> Exportar</button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <table object-table data="gruMatriCtrl.listResultado" display="10"
                            headers="Nombre Completo,Identificacion,Resultado"
                            fields="nombreEstudiante,identificacion,resultado" sorting="compound" editable="false"
                            search="separate" resize="false" add-filter="| filter:$owner.all">
                            <tbody>
                                <tr>
                                    <td style="word-wrap: break-word;" class="text-uppercase">
                                        {{item.nombreEstudiante}}</td>
                                    <td style="word-wrap: break-word;" class="text-uppercase">
                                        {{item.identificacion}}</td>
                                    <td style="word-wrap: break-word;" class="text-uppercase">
                                        {{item.resultado}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr
                                    ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.gruMatriCtrl.listResultado.length !== $owner.appConstantsView.CERO">
                                    <td colspan="7">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                                </tr>
                                <tr ng-if="$owner.gruMatriCtrl.listResultado.length === $owner.appConstantsView.CERO">
                                    <td colspan="7">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                </tr>
                                <td ng-hide="true">{{$owner.gruMatriCtrl.filtrados = $filtered}}</td>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#grupos').select2();
            $("#grupos").select2({ width: 'resolve' });
        });</script>