<div id="page-title" ng-controller="EntidadesBancariasRecaudosCtrl as ebrCtrl">
    <div class="row">
        <div class="float-left" style="margin-left: 10px">
            <h2 style="line-height: 30px;">{{appConstantsView.ENTIDADESBANC_O_RECAUDO}}</h2>
        </div>
        <div class="float-right" style="margin-right: 10px">

        </div>
    </div>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">{{appConstantsView.LISTADO_ENTIDADESBANC_O_RECAUDO}}</h3>
            <div class="float-right" ng-controller="menuCtrl as mCtrl">
                <a href="#/gestionar-entidad-banco-recaudo" class="btn btn-sm btn-info icon-tool-add" ng-click="ebrCtrl.onAgregar()" style="background-color: #00bca4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-plus"></i><span class="info-icon-tool text-capitalize">{{appConstantsView.BOTON_AGREGAR}}</span>
                    </div>
                </a>
                <a ng-click="mCtrl.onListarOPciones('/#/financiero');ebrCtrl.cancelarInterval()" class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4; color: #ffffff;cursor: pointer; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="dataTables_length" id="datatable-example_length">
                            <label>
                                <select ng-model="ebrCtrl.display" 
                                        ng-init="ebrCtrl.display = ebrCtrl.display || ebrCtrl.options[appConstantsView.CERO].value"
                                        ng-options="option.value as option.name for option in ebrCtrl.options">
                                </select> 
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <table object-table class="hover-column" data="ebrCtrl.entidBancariasRecaudos" display="ebrCtrl.display" headers="Código,Nombre,Estado,Opciones"
                        fields="codigoBanco,nombreBanco,estadoBanco" sorting="compound" selected-model="ebrCtrl.report.selected"
                        editable="false" search="separate" resize="false" select="multiply">
                        <tbody>
                            <tr>
                                <td>{{item.codigoBanco}}</td>
                                <td>{{item.nombreBanco}}</td>
                                <td>{{item.estadoBanco}}</td>
                                <td class="text-center opciones-table">
                                    <a class="btn btn-primary btn-tools-table" ng-click="$owner.ebrCtrl.onVerEntidadBancaria(item)" title="Ver Detalle">
                                        <i class="glyphicon glyphicon-eye-open"></i>
                                    </a>
                                    <a class="btn btn-info btn-tools-table" ng-click="$owner.ebrCtrl.onEditar(item)" title="Modificar">
                                        <i class="glyphicon glyphicon-edit"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr ng-show="$filtered.length === $owner.appConstantsView.CERO && $owner.ebrCtrl.entidBancariasRecaudos.length !== $owner.appConstantsView.CERO">
                                <td colspan="5">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                            </tr>
                            <tr ng-show="$owner.ebrCtrl.entidBancariasRecaudos.length===0">
                                <td colspan="5">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>