<style>
    .info-icon-tool {
        padding: 5px;
    }

    .btn-generar-turno{
        width: 100%;
    }
</style>
<script src="../../../js/main-app.js" type="text/javascript"></script>
<div id="page-title" ng-controller="TurnoCtrl as turnoCtrl">
    <div class="row">
        <div class="float-left" style="margin-left: 10px">
            <h2 style="line-height: 30px;">GENERA TU TURNO</h2>
        </div>
    </div>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">GENERA TU TURNO</h3>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <form method="POST" name="buscarEstudiante" novalidate>
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{appConstantsView.LABEL_CODIGO_ESTUDIANTIL}}</label>
                            <div class="input-group">
                                <input id="inputCodigo" type="text" 
                                       validation="required" 
                                       mask="9" 
                                       restrict="reject" 
                                       repeat="15" 
                                       ng-model="turnoCtrl.identificacionConsultar"
                                       class="form-control"  
                                       ng-model-options="{bounce: 0}" 
                                       name="inputCodigo" 
                                       validation-error-to="errorConsultaSolicitud" 
                                       ng-keyup="turnoCtrl.onKeyUpCleanField()">
                                <span class="input-group-btn" style="position: static">
                                    <button type="submit" title="Consultar" id="btnCodigoConsultar"
                                            ng-click="turnoCtrl.onConsultarHistorialEstudiante(turnoCtrl.identificacionConsultar)"
                                            class="btn btn-primary btn-group-plus" >
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </span>
                            </div>
                            <span id="errorConsultaSolicitud" class="validation text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group" id="divNombre">
                            <label for="nombre" class="control-label pull-left">{{appConstantsView.LABEL_NOMBRE}}</label>
                            <input type="text" 
                                   ng-disabled="turnoCtrl.disabledCampos" 
                                   id="nombre"
                                   class="form-control text-uppercase"
                                   name="nombre"
                                   ng-change="turnoCtrl.onChangeNombre()"
                                   ng-model="turnoCtrl.turno.nombre"
                                   validation="required">
                        </div>
                    </div>
                </div>
            </form>

            <div class="panel-body" ng-show="turnoCtrl.showUbicacionTurno">
                <div class="col-md-6">
                    <div class="panel-layout">
                        <div class="panel-box">
                            <div class="panel-content bg-orange">
                                <div class="">
                                    <img src="../../assets/image-resources/gravatar.jpg" alt="" class="img-bordered border-red img-circle mrg10B">
                                    <h5>Recepción</h5>
                                    <span>Solicitudes de inscripción e información de programas</span>
                                </div>
                            </div>
                            <div class="panel-content pad15A bg-orange" >
                                <div class="center-vertical">
                                    <ul class="center-content list-group list-group-separator row mrg0A">
                                        <li class="col-md-12">
                                            <a title="Generar Turno" class="btn btn-primary btn-generar-turno" ng-click="turnoCtrl.onGenerarTurno('RECEPCION')">
                                                GENERAR TURNO
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel-layout">
                        <div class="panel-box">
                            <div class="panel-content bg-blue">
                                <div class="">
                                    <img src="../../assets/image-resources/gravatar.jpg" alt="" class="img-bordered border-red img-circle mrg10B">
                                    <h5>Cartera</h5>
                                    <span>Consultar Estado Financiero, solicitudes de convenio y paz y salvo</span>
                                </div>
                            </div>
                            <div class="panel-content pad15A bg-blue" >
                                <div class="center-vertical">
                                    <ul class="center-content list-group list-group-separator row mrg0A">
                                        <li class="col-md-12">
                                            <a title="Generar Turno"  class="btn btn-primary btn-generar-turno" ng-click="turnoCtrl.onGenerarTurno('CARTERA')">
                                                GENERAR TURNO
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel-layout">
                        <div class="panel-box">
                            <div class="panel-content bg-green">
                                <div class="">
                                    <img src="../../assets/image-resources/gravatar.jpg" alt="" class="img-bordered border-red img-circle mrg10B">
                                    <h5>Admisiones</h5>
                                    <span>Consultar estado admision, solicitudes de cambio de documento</span>
                                </div>
                            </div>
                            <div class="panel-content pad15A bg-green" >
                                <div class="center-vertical">
                                    <ul class="center-content list-group list-group-separator row mrg0A">
                                        <li class="col-md-12">
                                            <a title="Generar Turno"  class="btn btn-primary btn-generar-turno" ng-click="turnoCtrl.onGenerarTurno('ADMISIONES')">
                                                GENERAR TURNO
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel-layout">
                        <div class="panel-box">
                            <div class="panel-content bg-purple">
                                <div class="">
                                    <img src="../../assets/image-resources/gravatar.jpg" alt="" class="img-bordered border-red img-circle mrg10B">
                                    <h5>Practicas</h5>
                                    <span>Solicitud de practicas academicas y consulta de estado de solicitud</span>
                                </div>
                            </div>
                            <div class="panel-content pad15A bg-purple" >
                                <div class="center-vertical">
                                    <ul class="center-content list-group list-group-separator row mrg0A">
                                        <li class="col-md-12">
                                            <a title="Generar Turno"  class="btn btn-primary btn-generar-turno" ng-click="turnoCtrl.onGenerarTurno('PRACTICAS')">
                                                GENERAR TURNO
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel-layout">
                        <div class="panel-box">
                            <div class="panel-content bg-black">
                                <div class="">
                                    <img src="../../assets/image-resources/gravatar.jpg" alt="" class="img-bordered border-red img-circle mrg10B">
                                    <h5>Carnetización</h5>
                                    <span>Solicitud de carnets y toma de fotos</span>
                                </div>
                            </div>
                            <div class="panel-content pad15A bg-black" >
                                <div class="center-vertical">
                                    <ul class="center-content list-group list-group-separator row mrg0A">
                                        <li class="col-md-12">
                                            <a title="Generar Turno"  class="btn btn-primary btn-generar-turno" ng-click="turnoCtrl.onGenerarTurno('CARNETS')">
                                                GENERAR TURNO
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>