<style>
  .info-icon-tool {
    padding: 5px;
  }

  /* Add an italic font style to all quotes */
  q {
    font-style: italic;
  }

  /* Add a blue color to the author */
  .author {
    color: cornflowerblue;
  }
</style>
<script src="../../../js/main-app.js" type="text/javascript"></script>
<div id="page-title" ng-controller="TurnoPantallaCtrl as turnoCtrl">
  <!--    <div class="row">
        <div class="float-left" style="margin-left: 10px">
            <h2 style="line-height: 30px;">SALA DE ESPERA</h2>
        </div> 
    </div>-->
  <div class="content-box">
    <div class="button-pane button-pane-top">
      <h3 class="float-left text-uppercase content-box-header-title btn-sm">
        SALA DE ESPERA
      </h3>
    </div>
    <div class="clearfix"></div>
    <div class="content-box-wrapper">
      <div class="row">
        <div class="col-sm-4">
          <iframe
            width="100%"
            height="400"
            src="https://www.youtube.com/embed/
                    videoseries?si=OYERV9Rp7J-0kqAc&amp;list=PLECv7qFP45ehKJFoz6h4vjhRAjV-im6sS&start=1&autoplay=1&loop=1"
            title="Elyon Yireh"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="col-sm-8">
          <table
            object-table
            class="hover-column table-scroll-x"
            display="10"
            data="turnoCtrl.listEstudianteLLamado"
            headers="Nombre,Turno,Módulo"
            fields="nombreCompleto,numeroTurno,modulo"
            search="false"
            sorting="simple"
          >
            <tbody>
              <tr>
                <td>
                  <h3>{{::item.nombre}}</h3>
                </td>
                <td>
                  <h3>{{::item.numeroTurno}}</h3>
                </td>
                <td>
                  <h3>{{::item.modulo}}</h3>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr
                ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.adCtrl.turnoCtrl.listEstudianteLLamado.length !== $owner.appConstantsView.CERO"
              >
                <td colspan="3">
                  {{$owner.appConstantsView.SIN_COINCIDENCIAS}}
                </td>
              </tr>
              <tr
                ng-if="$owner.turnoCtrl.listEstudianteLLamado.length === $owner.appConstantsView.CERO"
              >
                <td colspan="2">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
  <audio id="sound">
    <source src="../../../images/turn-sound.mp3" type="audio/mp3" />
  </audio>
</div>
