<style>
    .colNiveles {
        float: left;
        width: 120px;
    }

    .colModulos {
        float: left;
        width: 50px;
    }

    .bootstrap-switch {
        margin-top: -24px !important;
        height: 35px !important;
    }

    .bootstrap-switch .bootstrap-switch-handle-on {
        height: 35px !important;
    }
</style>

<script>
    $('.input-switch').bootstrapSwitch();
</script>
<script src="../../../../styles/assets/widgets/input-switch/inputswitch.js" type="text/javascript"></script>

<div id="page-title" ng-controller="MallaCtrl as mallaController">
    <h2>{{appConstantsView.LABEL_MALLA_ACADEMICA}}</h2>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">{{mallaController.mallaEntityAuxiliar.titulo}}</h3>
            <div class="float-right">
                <a href="#/malla-academica" ng-click="mallaController.onLimpiarRegistro()" class="btn btn-sm btn-info icon-tool-add back-button"
                   data-animation="flipOutX" style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="panel-body">
            <form name="formMalla" method="POST" novalidate>
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label for="codigo" class="control-label">{{appConstantsView.LABEL_CODIGO}}<label class="text-danger">*</label></label>
                            <input name="codigo" id="codigo" mask="T" repeat="10" class="text-uppercase form-control" type="text" ng-model="mallaController.mallaEntity.codigo"
                                   validation="required" ng-disabled="mallaController.mallaEntityAuxiliar.onDeshabilitar">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label for="nombre" class="control-label">{{appConstantsView.LABEL_NOMBRE}}<label class="text-danger">*</label></label>
                            <input class="text-uppercase form-control" type="text" name="nombre" maxlength="100" ng-model="mallaController.mallaEntity.nombre"
                                   validation="required" ng-disabled="mallaController.mallaEntityAuxiliar.onDeshabilitarEditables">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label for="nivel" class="control-label">{{appConstantsView.LABEL_NIVEL_FORMACION}}<label class="text-danger">*</label></label>
                            <select ng-options="item.id as item.nombreNivelFormacion for item in mallaController.listaNivelesFormacion" class="form-control"
                                    ng-model="mallaController.mallaEntity.nivel" ng-disabled="mallaController.mallaEntityAuxiliar.onDeshabilitar"
                                    name="nivel" id="nivel" validation="required" ng-change="mallaController.onConsultarXNivel(mallaController.mallaEntity.nivel)">
                                <option value="">{{appConstantsView.SELECCION_SELECT}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6" ng-if="!mallaController.mallaEntityAuxiliar.onDeshabilitar">
                        <div class="form-group">
                            <label for="programa" class="control-label">{{appConstantsView.LABEL_PROGRAMA_ACADEMICO}}<label class="text-danger">*</label></label>
                            <select ng-options='item.id as (item.nombrePrograma+ " ["+ item.codigoPrograma + "]") for item in mallaController.mallaEntity.listaProgramas | orderBy: "nombrePrograma" ' class="form-control"
                                    ng-model="mallaController.mallaEntity.programaid" ng-disabled="mallaController.mallaEntityAuxiliar.onDeshabilitar || !mallaController.mallaEntity.nivel"
                                    name="programa" id="programa" validation="required" ng-change="mallaController.onConsultarXPrograma(mallaController.mallaEntity.programaid)">
                                <option value="">{{appConstantsView.SELECCION_SELECT}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6" ng-if="mallaController.mallaEntityAuxiliar.onDeshabilitar">
                        <div class="form-group">
                            <label for="programaCampo" class="control-label">{{appConstantsView.LABEL_PROGRAMA_ACADEMICO}}<label class="text-danger">*</label></label>
                            <input name="programaCampo" id="programaCampo" class="text-uppercase form-control" type="text" ng-model="mallaController.mallaEntity.programa"
                                   ng-disabled="true">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-6" ng-if="!mallaController.mallaEntityAuxiliar.onOcultar">
                        <div class="form-group">
                            <label for="estado" class="control-label">{{appConstantsView.LABEL_ESTADO}}<label class="text-danger">*</label></label>
                            <select ng-options="item.valor as item.valor for item in mallaController.listaEstados" class="form-control" ng-model="mallaController.mallaEntity.estado"
                                    ng-disabled="mallaController.mallaEntityAuxiliar.onDeshabilitarEditables" name="estado" id="estado" validation="required">
                                <option value="">{{appConstantsView.SELECCION_SELECT}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="button-pane" ng-if="!mallaController.mallaEntityAuxiliar.onDeshabilitarEditables">
                    <button ng-click="mallaController.onSubmitForm()" type="submit" class="btn btn-success">{{appConstantsView.BOTON_GUARDAR}}</button>
                </div>
            </form>
        </div>
    </div>
    
    <div class="content-box" ng-if="mallaController.mallaEntityAuxiliar.estructuraMalla">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">{{appConstantsView.ESTRUCTURA_MALLA_ACADEMICA}}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-2 col-sm-1 col-lg-1">
                    <div class="colModulos text-center"><strong>{{appConstantsView.LABEL_MODULOS}}</strong>
                        <hr>
                        <div ng-repeat="modulos in mallaController.listaCantidadModulos track by $index" class="text-center">
                            <div class="form-control"><strong>{{$index + 1}}</strong></div>
                            <br><br>
                        </div>
                    </div>
                </div>
                <div class="col-xs-10 col-sm-11 col-lg-11">
                    <div class="colNiveles text-center" ng-repeat="(j,item) in mallaController.listaNivelesProgramas track by $index" style="margin-right: 5px">
                        <strong> {{appConstantsView.LABEL_NIVEL}} {{item.nivel}}</strong>
                        <hr>
                        <div ng-repeat="(i,modulo) in mallaController.listaNivelesProgramas[$index].cantidadModulos track by $index" class="text-center"
                             style:="margin-bottom:18px">
                             <a href="" ng-click="mallaController.onOpenModalConfigModal(j + 1, i + 1)" class="btn btn-sm btn-info icon-tool-add" style="background-color: #00bca4; color: #ffffff; border: 0px solid #dfe8f1;height: 34px;margin-bottom:18px">
                                <div class="glyph-icon" style="margin-top: 3px;">
                                    <i class="glyphicon glyphicon-plus"></i><span class="info-icon-tool text-capitalize">Módulo {{i + 1}}</span>
                                </div>
                            </a>
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


 <div id="modalConfigModulo" class="modal fade" role="dialog">

        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button ng-click="mallaController.onCerrarModalConfigModal()" type="button" class="close" data-dismiss="modal">{{appConstantsView.CERRAR_MODAL}}</button>
                    <h4 class="modal-title">  {{appConstantsView.LABEL_CONF_MODULO}}</h4>
                </div>
                <div class="modal-body">
                    <form method="POST" novalidate name="formDatosModulo">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="numeroNivel" class="control-label"> {{appConstantsView.LABEL_NIVEL}} <label class="text-danger">&nbsp;</label></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control money" name="numeroNivel" id="numeroNivel" ng-model="mallaController.mallaEntity.numeroNivel"
                                                   ng-disabled="true" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="numeroModulo" class="control-label"> {{appConstantsView.LABEL_MODULO}} <label class="text-danger">&nbsp;</label></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control money" name="numeroModulo" id="numeroModulo" ng-model="mallaController.mallaEntity.numeroModulo"
                                                   ng-disabled="true" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="nombreModulo" class="control-label"> {{appConstantsView.LABEL_NOMBRE_MODULO}}<label class="text-danger">*</label></label>
                                    <select ng-options='item.id as (item.nombre + " - [" + item.codigo + "]") for item in mallaController.listaModulos | orderBy: "nombre" ' 
                                        class="form-control" ng-model="mallaController.mallaEntity.nombreModulo" name="nombreModulo" id="nombreModulo"
                                        validation="required" ng-change="mallaController.buscarModuloPorId(mallaController.mallaEntity.nombreModulo)">
                                        <option value="">{{appConstantsView.SELECCION_SELECT}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="numeroCreditos" class="control-label">{{appConstantsView.NUM_CREDITOS}}<label class="text-danger">*</label></label>
                                    <div class="input-group">
                                        <input type="text" mask="99" restrict="reject" name="numeroCreditos" ng-model="mallaController.mallaEntity.numeroCreditos"
                                               class="form-control spinner-input" id="numeroCreditos">
                                        <script>
                                            $('.spinner-input').TouchSpin({
                                                verticalbuttons: true,
                                                min: 0,
                                                max: 100
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="habilitable" class="control-label">{{appConstantsView.LABEL_HABILITABLE}}<label class="text-danger">*</label></label>
                                    <div class="input-group">
                                        <br>
                                        <input bs-switch class="form-control col-xs-12 habilitable" name="habilitable" id="habilitable" ng-model="mallaController.mallaEntity.habilitable"
                                               type="checkbox" switch-active="true" ng-true-value="'SI'" ng-false-value="'NO'" switch-on-text="SI" switch-off-text="NO">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="!mallaController.mallaEntity.esTransversal">

                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="prerequisito" class="control-label">{{appConstantsView.PRERREQUISITOS}}<label class="text-danger">*</label></label>
                                    <div class="input-group">
                                        <br>
                                        <input bs-switch class="form-control col-xs-12 habilitable" name="prerequisito" id="prerequisito" ng-model="mallaController.mallaEntity.prerequisito"
                                               type="checkbox" switch-active="true" ng-true-value="'SI'" ng-false-value="'NO'" switch-on-text="SI" switch-off-text="NO">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6" ng-if="mallaController.mallaEntity.prerequisito === 'SI'">
                                <div class="form-group">
                                    <label for="moduloCorrequisito" class="control-label">{{appConstantsView.MODULO_PRE}}<label class="text-danger">*</label></label>
                                    <select ng-options="item.id as item.nombre for item in mallaController.listaModulosAux.listModulo| orderBy: 'nombreModuloPrerrequsito'" class="form-control"
                                            ng-model="mallaController.mallaEntity.moduloCorrequisito" name="moduloCorrequisito" id="moduloCorrequisito" validation="required">
                                        <option value="">{{appConstantsView.SELECCION_SELECT}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                
                        <div class="row">
                            <div class="col-lg-6 col-sm-6" ng-if="!mallaController.mallaEntity.esTransversal">
                                <div class="form-group">
                                    <label for="par" class="control-label">Par<label class="text-danger">*</label></label>
                                    <div class="input-group">
                                        <br>
                                        <input bs-switch class="form-control col-xs-12 habilitable" name="par" id="par" ng-model="mallaController.mallaEntity.par"
                                               type="checkbox" switch-active="true" ng-true-value="'SI'" ng-false-value="'NO'" switch-on-text="SI" switch-off-text="NO">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="content-box" ng-if="mallaController.mallaEntity.par === 'SI'">
                            <div class="button-pane button-pane-top">
                                <h3 class="float-none text-uppercase content-box-header-title btn-sm">Modulo(s) pare(s)</h3>
                            </div>
                            <div class="panel-body">
                                <div class="content-box-wrapper">
                                    <div class="back-cover table-scroll-x table-scroll-y">
                                        <a href="" ng-click="mallaController.par()" class="btn btn-sm btn-info icon-tool-add float-right" 
                                           style="background-color: #00bca4; color: #ffffff; border: 0px solid #dfe8f1; margin-bottom: 6px;">
                                            <div class="glyph-icon">
                                                <i class="glyphicon glyphicon-plus"></i><span class="info-icon-tool text-capitalize">Agregar Módulo</span>
                                            </div>
                                        </a>
                                        <table class="table table-hover table-condensed dias">
                                            <thead>
                                                <tr style="font-weight: bold">
                                                    <th style="width:30%">Nivel de Formacion</th>
                                                    <th style="width:30%">Programa</th>
                                                    <th style="width:30%">Módulo</th>
                                                    <th style="width:10%">
                                                        Opciones
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tr ng-repeat="datos in mallaController.mallaEntity.listaPar| filter:search as filtered" ng-class="{'selected': datos.selected}">
                                                <td class="col-lg-4">
                                                    <div class="form-group">
                                                        <label for="nivelPar" class="control-label">{{appConstantsView.LABEL_NIVEL_FORMACION}}<label class="text-danger">*</label></label>
                                                        <select ng-options="item.id as item.nombreNivelFormacion for item in mallaController.listaNivelesFormacion" class="form-control"
                                                                ng-init="pnivelIndex = $index"
                                                                ng-model="datos.idNivelPar" 
                                                                name="{{'nivelPar' + $index}}" id="{{'nivelPar' + $index}}" validation="required" ng-change="mallaController.onConsultarXNivelPar(datos.idNivelPar,pnivelIndex)"
                                                                validation-error-to="{{'ValidanivelPar' + $index}}">
                                                            <option value="">{{appConstantsView.SELECCION_SELECT}}</option>
                                                        </select>
                                                        <span id="{{'ValidanivelPar' + $index}}" class="validation text-danger"></span>
                                                    </div>
                                                </td>
                                                <td class="col-lg-4">
                                                    <div class="form-group">
                                                        <label for="programaPar" class="control-label">{{appConstantsView.LABEL_PROGRAMA_ACADEMICO}}<label class="text-danger">*</label></label>
                                                        <select ng-options="item.id as item.nombrePrograma for item in mallaController.listaProgramasPar[$index]" class="form-control"
                                                                ng-model="datos.idProgramaPar" ng-disabled="!datos.idNivelPar"
                                                                name="{{'programaPar' + $index}}" id="{{'nombreProgramaPar' + $index}}" validation="required" ng-change="mallaController.onConsultarXProgramaPar(datos.idProgramaPar,$index)"
                                                                validation-error-to="{{'ValidaprogramaPar' + $index}}">
                                                            <option value="">{{appConstantsView.SELECCION_SELECT}}</option>
                                                        </select>
                                                       <span id="{{'ValidaprogramaPar' + $index}}" class="validation text-danger"></span>
                                                    </div>
                                                </td>
                                                <td class="col-lg-4">
                                                    <div class="form-group">
                                                        <label for="nombreModuloPar" class="control-label">Nombre de módulo<label class="text-danger">*</label></label>
                                                        <select ng-options="item.id as item.nombre for item in mallaController.listaModulosProgramaPar[$index]" class="form-control"
                                                                ng-model="datos.idModuloPar" name="{{'nombreModuloPar' + $index}}" id="{{'nombreModuloPar' + $index}}" validation="required"
                                                                validation-error-to="{{'ValidanombreModuloPar' + $index}}" ng-disabled="!datos.idProgramaPar">
                                                            <option value="">{{appConstantsView.SELECCION_SELECT}}</option>
                                                        </select>
                                                         <span id="{{'ValidanombreModuloPar' + $index}}" class="validation text-danger"></span>
                                                    </div>
                                                </td>
                                                <td style=" margin-bottom: 14px; border-bottom-width: 19px;">
                                                    <div class="opciones-table text-center" ng-show="!rowform.$visible">
                                                        <button ng-hide="mallaController.calendariosAcademicosVisor.onDeshabilitar || $index === appConstantsView.CERO" title="Eliminar" class="btn btn-danger btn-tools-table"
                                                                ng-click="mallaController.removePar($index)">
                                                            <i class="glyphicon glyphicon-remove"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer btnCenter">
                    <input class="btn btn-success" type="submit" ng-click="mallaController.onGuardarDatosModulo()" value="Agregar">
                </div>
            </div>
        </div>
    </div>
</div>