<style>
    .validation-select{
        margin-top: -10px;
    }
</style>
<div id="page-title"   ng-controller="GrupoCtrl as grupoCtrl">
    <h2>{{appConstantsView.LABEL_GRUPOS}}</h2>
    <p></p>
    <br>
    <div class="content-box">        
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm ">{{grupoCtrl.grupoAuxiliar.titulo}} Grupo</h3>
            <div class="float-right">
                <a href="/#/grupos" ng-click="grupoCtrl.onVolver()" class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left" ></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="panel-body">     
                <div class="row">
                    <form  method="POST"  name="formCrudGrupo" novalidate>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="id" class="control-label">{{appConstantsView.LABEL_CODIGO}}</label><label class="text-danger">*</label>
                                    <input type="text" maxlength="10" class="form-control text-uppercase"  
                                           id="codigo" mask='X' repeat='10' restrict='reject'
                                           ng-model="grupoCtrl.grupo.codigoGrupo"                      
                                           ng-disabled="grupoCtrl.grupoAuxiliar.disableVerDetalle || grupoCtrl.grupoAuxiliar.disableCodigo"
                                           name="codigo" validation="required">
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="nombre" class="control-label">{{appConstantsView.LABEL_NOMBRE}}</label><label class="text-danger">*</label>
                                    <input type="text" maxlength="50"  
                                           id="nombre"   mask='H' repeat='50' restrict='reject'
                                           class="form-control text-uppercase" 
                                           name="nombre"
                                           ng-disabled="grupoCtrl.grupoAuxiliar.disableVerDetalle"
                                           ng-model="grupoCtrl.grupo.nombreGrupo" validation="required" >
                                </div>
                            </div>
                        </div>                       
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="minimoEstudiante" class="control-label">{{appConstantsView.LABEL_MINIMO_ESTUDIANTES}}</label><label class="text-danger">*</label>
                                    <div class="form-group minimo" style="margin-bottom: 1px;">
                                        <input type="text"
                                               id="minimoEstudiante"  
                                               class="form-control spinner-input"
                                               maxlength="3"
                                               name="minimoEstudiante"
                                               ng-disabled="grupoCtrl.grupoAuxiliar.disableVerDetalle"
                                               restrict="reject"
                                               mask="999"
                                               repeat="3"
                                               min="0" 
                                               ng-blur="grupoCtrl.onChangeMinimoEstudiante()"
                                               max="{{grupoCtrl.grupo.maximoEstudiante}}"
                                               ng-model="grupoCtrl.grupo.minimoEstudiante" 
                                               validation="required" validation-error-to="errorMinimoEstudiante">                                   
                                    </div>
                                    <span id="errorMinimoEstudiante" class="validation text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group" >
                                    <label for="maximoEstudiante" class="control-label">{{appConstantsView.LABEL_MAXIMO_ESTUDIANTES}}</label><label class="text-danger">*</label>
                                    <div class="form-group maximo" style="margin-bottom: 1px;">
                                        <input type="text"  
                                               id="maximoEstudiante"  
                                               class="form-control spinner-input" 
                                               name="maximoEstudiante" 
                                               ng-disabled="true"
                                               restrict="reject" 
                                               mask="999" 
                                               repeat="3" 
                                               maxlength="3"
                                               ng-blur="grupoCtrl.onChangeMaximoEstudiante()"
                                               validation-error-to="errorMaximoEstudiante"
                                               ng-model="grupoCtrl.grupo.maximoEstudiante" validation="required">
                                    </div>
                                    <span id="errorMaximoEstudiante" class="validation text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">{{appConstantsView.LABEL_HORARIO}}</label><label class="text-danger">*</label>                                                                
                                    <input class="form-control hidden" ng-model="grupoCtrl.grupo.idHorario"
                                           name="horario"
                                           id="horario" validation="required" validation-error-to="validacionHorario">
                                    <ui-select name="horarioS" id="horarioS" ng-change="grupoCtrl.onBuscarModulos()"
                                               ng-disabled="grupoCtrl.grupoAuxiliar.disableVerDetalle" title="{{$select.selected.valor}}"
                                               ng-model="grupoCtrl.grupo.idHorario"  class="form-control">
                                        <ui-select-match   placeholder="--Seleccione--">{{$select.selected.valor}}</ui-select-match>
                                        <ui-select-choices  repeat="horario.codigo as horario in grupoCtrl.listadoHorarios | filter: {valor: $select.search}">
                                            <small class="text-uppercase" title="{{horario.valor}}">
                                                {{horario.valor}}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span id="validacionHorario" class="validation validation-select text-danger pull-left"></span>
                                </div>  
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">{{appConstantsView.LABEL_MODULO}}</label><label class="text-danger">*</label>                                                                
                                    <input class="form-control hidden" ng-model="grupoCtrl.grupo.idModulo"
                                           name="modulo"
                                           id="modulo" validation="required" validation-error-to="validacionModulo">
                                    <ui-select name="modulos" id="modulos"  ng-change="grupoCtrl.onBuscarModulos()"
                                               ng-disabled="grupoCtrl.grupoAuxiliar.disableVerDetalle" title="{{$select.selected.nombre}}"
                                               ng-model="grupoCtrl.grupo.idModulo"  class="form-control">
                                        <ui-select-match   placeholder="--Seleccione--">{{$select.selected.nombre}}</ui-select-match>
                                        <ui-select-choices  repeat="modulo.id as modulo in grupoCtrl.listadoModulos | filter: {nombre: $select.search}">
                                            <small class="text-uppercase" title="{{modulo.nombre}}">
                                                {{modulo.nombre}}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span id="validacionModulo" class="validation validation-select text-danger pull-left"></span>
                                </div>  
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">{{appConstantsView.LABEL_PERIODO_ACADEMICO}}</label><label class="text-danger">*</label>
                                    <select ng-options="item.id as item.nombrePeriodoAcademico for item in grupoCtrl.listaPeriodo" class="form-control" ng-model="grupoCtrl.grupo.idPeriodoAcademico"
                                            ng-disabled="grupoCtrl.grupoAuxiliar.disableVerDetalle" name="periodoAcademico" id="periodoAcademico"
                                            ng-change="grupoCtrl.onBuscarModulos()" validation="required">
                                        <option value="">{{appConstantsView.SELECCION_SELECT}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">{{appConstantsView.TTTLE_DOCENTE}}</label><label class="text-danger">*</label>                            
                                    <select ng-options="item as item.modulo for item in grupoCtrl.listadoDocente track by item.idConfiguracionProgramacionAcade" 
                                            name="selectModulo" id="selectModulo" 
                                            validation="required" class="form-control"
                                            ng-model="grupoCtrl.grupo.docente"
                                             ng-disabled="grupoCtrl.grupoAuxiliar.disableVerDetalle"
                                             ng-change="grupoCtrl.NumeroModulo(grupoCtrl.grupo.docente)"
                                            >
                                        <option ng-if="grupoCtrl.modulo.length >= appConstantsView.CERO" value="" selected>{{appConstantsView.SELECCION_SELECT}}</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6" ng-if="!grupoCtrl.grupoAuxiliar.campoEstado">
                                <div class="form-group">
                                    <label for="estado" class="control-label">{{appConstantsView.LABEL_ESTADO}}<label class="text-danger">*</label></label>
                                    <select ng-options="item.valor as item.valor for item in grupoCtrl.estados" class="form-control" ng-model="grupoCtrl.grupo.estado"
                                            ng-disabled="grupoCtrl.grupoAuxiliar.disableVerDetalle" name="estado" id="estado"
                                            validation="required">
                                        <option value="">{{appConstantsView.SELECCION_SELECT}}</option>
                                    </select>
                                </div>
                            </div>  
                        </div>
                        <div class="button-pane">
                            <input type="submit" class="btn btn-success" ng-if="!(grupoCtrl.grupoAuxiliar.disableVerDetalle && grupoCtrl.grupoAuxiliar.disableCodigo)" value="Guardar" ng-click="grupoCtrl.onSubmitForm()">
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


