<!DOCTYPE html>
<div ng-controller="inscripcionCtrl
        as inspCtrl">
    <h2 >{{appConstantsView.TITLE_INSCRIPCION}}</h2>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <div class="float-left">
                <h3 class="text-uppercase content-box-header-title btn-sm">{{appConstantsView.TITLE_INSCRIPCION_REALIZADAS}}</h3>
            </div>
            <div class="float-right" ng-if="true">
                <a href="#/pagainscripcion" ng-click="inspCtrl.onSalir()" class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left" ></i><span class="info-icon-tool">{{appConstantsView.BOTON_SALIR}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="content-box pad20A">
                        <div class="ribbon ribbon-tr">
                            <div class="bg-primary">{{appConstantsView.TITLE_INFORMACION}}</div>
                        </div>

                        <br/>
                        <p>{{appConstantsView.INFO_ASPIRANTE}}</p>
                        <p>{{appConstantsView.INCONVENIENTE}}</p>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-lg-6 col-sm-6" ng-repeat="inscrip in inspCtrl.lstinscripcionestemps">
                        <div class="form-group">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{appConstantsView.LABEL_PROGRAMA_ACADEMICO}}: {{inscrip.nombrePrograma}}</h3>
                                </div>
                                <div class="panel-body">
                                    <strong>{{appConstantsView.LABEL_FECHA_REGISTRO}}:</strong> {{inscrip.fechaInscripcion | date:'dd/MM/yyyy'}}<br>
                                    <strong>{{appConstantsView.LABEL_PERIODO_REGISTRO}}:</strong> {{inscrip.nombrePeriodoAcademico}}<br>
                                    <strong>{{appConstantsView.LABEL_MODALIDAD}}:</strong> {{inscrip.modalidadDTO.nombreModalidad}}<br>
                                    <strong>{{appConstantsView.LABEL_HORARIO}}:</strong> {{inscrip.horarioDTO.nombreHorario}}<br>
                                    <strong>{{appConstantsView.LABEL_ESTADO_REGISTRO}}: {{inscrip.estadoInscripcion}}
                                </div>
                                <div class="button-pane">
                                    <input type="submit" class="btn" style="background-color: #00bca4;color: #ffffff;border: 0px solid #dfe8f1;" ng-click="inspCtrl.onIrInscripcion(inscrip)" value="Continuar">
                                </div>
                            </div> 
                        </div>
                    </div>
                    
                </div>
                

                <br/>
<!--                <div class="clearfix"></div>
                <div class="button-pane">
                    <input type="submit" class="btn" style="background-color: #00bca4;color: #ffffff;border: 0px solid #dfe8f1;" ng-click="inspCtrl.onIniciarInscripcionPreliminar()" value="Continuar">
                </div>-->
            </div>
            <br/>
        </div>
