<!DOCTYPE html>
<div ng-controller="inscripcionCtrl as inspCtrl">
    <div class="row">
        <div class="float-left" style="margin-left: 10px">
            <h2 style="line-height: 30px;">{{appConstantsView.TITLE_INSCRIPCION}}</h2>
        </div>
    </div>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <div class="float-left">
                <h3 class="text-uppercase content-box-header-title btn-sm">{{appConstantsView.TITLE_INSCRIPCION_ASPIRANTES}}</h3>
            </div>
            <div class="float-right" ng-if="inspCtrl.soloInscripcion.es" id="volverIns"  ng-controller="menuCtrl as mCtrl">
                <a  ng-click="mCtrl.onListarOPciones('/#/admin-registro-control')" class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4;cursor: pointer; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
            <div class="float-right" ng-if="inspCtrl.visible.ocultarbotonsalir">
                <a href="#/pagainscripcion" ng-click="inspCtrl.onSalir()" class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_SALIR}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="content-box pad20A">
                        <div class="ribbon ribbon-tr">
                            <div class="bg-primary">{{appConstantsView.LABEL_INFO}}</div>
                        </div>

                        <br/>
                        <p>{{appConstantsView.LABEL_INICIO_SESION_NFO_USUARIO}}</p>
                        <p>DEBE VALIDAR LA EXISTENCIA DEL ESTUDIANTE ANTES DE REGISTRARLO, EN LA PARTE SUPERIOR TIENE UNA OPCIÓN DE CONSULTA DEL ESTUDIANTE Y VERIFICAR SI EXISTE O NO DENTRO DEL SISTEMA</p>
                    </div>
                </div>
                <form method="POST" name="inspCtrl.forminicioinscripcion1" novalidate>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{appConstantsView.LABEL_TIPO_DOCUMENTO}}</label><label class="text-danger">*</label>
                                <select class="form-control" 
                                        ng-model="inspCtrl.nuevaInscripcionInicial.identificacionAspirante.idTipoIdentificacion" 
                                        name="tipodocInicioInscripcion" 
                                        id="tipodocInicioInscripcion"                                        
                                        validation="required"
                                        ng-options="tipodoc.codigo as tipodoc.valor for tipodoc in inspCtrl.lsttipodocumentos | orderBy:'valor'">
                                        <option ng-if="inspCtrl.lsttipodocumentos.length >= appConstantsView.CERO" value="" selected="tipodoc.codigo">{{appConstantsView.SELECCION_SELECT}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{appConstantsView.LABEL_NUMERO_DOCUMENTO}}</label><label class="text-danger">*</label>
                                <input type="text" 
                                       id="numerodocumentoInicioInscripcion" 
                                       class="form-control " 
                                       mask="9"
                                       repeat="20" 
                                       restrict="reject" 
                                       name="numerodocumentoInicioInscripcion"
                                       ng-model="inspCtrl.nuevaInscripcionInicial.identificacionAspirante.identificacion"
                                       ng-blur="inspCtrl.onBlurNumeroIdentificacion()"
                                       validation="required">
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="button-pane">
                        <input type="submit" class="btn" 
                               style="background-color: #00bca4;color: #ffffff;border: 0px solid #dfe8f1;" 
                               ng-click="inspCtrl.onIniciarInscripcionPreliminar()"
                               value="Ingresar">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
</div>