<script src="../../../js/main-app.js" type="text/javascript"></script>
<!--<div id="page-title" ng-controller="inscripcionCtrl as inspCtrl">
    <p>Inicio / <a href="">Administrativo</a> / Admisiones, Registro y Control/ Inscripción</p>
    <br>
    <h2>Menú Inscripción</h2>
    <br>
    <div class="clearfix"></div>
    <div class="row mrg20B">
        <div class="col-md-3">
            <a href="" ng-click="inspCtrl.onIrPagar()" title="Paga Inscripción" class="tile-box tile-box-shortcut btn-primary back-button">
                <div class="tile-header">
                    Paga Inscripción
                </div>
                <div class="tile-content-wrapper">
                    <i class="glyph-icon icon-dashboard"></i>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="" ng-click="inspCtrl.onIrNoPagar()" title="No paga Inscripción" class="tile-box tile-box-shortcut btn-primary back-button">
                <div class="tile-header">
                    No paga Inscripción
                </div>
                <div class="tile-content-wrapper">
                    <i class="glyph-icon icon-dashboard"></i>
                </div>
            </a>
        </div>

    </div>
    
</div>-->
