<script src="../../../../styles/assets/widgets/popover/popover.js" type="text/javascript"></script>
<script src="../../../../js/main-app.js" type="text/javascript"></script>
<style>
    .panel {
        padding: 10px;
        border-width: 1px 0 0 0;
        border-style: solid;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .btn-consultar-inscritos {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
    }

    .btn-consultar-inscritos:hover {
        color: #fff;
        background-color: #5B90BD;
        border-color: #2e6da4;
    }

    @media screen and (max-width: 1135px) {
        .table-scroll-x {
            overflow-x: scroll;
        }
    }
</style>
<div id="page-title" ng-controller="MatricularCursoCtrl
        as
        mcCtrl">
    <div class="row">
        <div class="float-left" style="margin-left: 10px">
            <h2 style="line-height: 30px;">{{appConstantsView.TITLE_MATRICULA_CURSO}</h2>
        </div>
    </div>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">{{appConstantsView.TITLE_MATRICULA_CURSO_EDUCACION_C}} </h3>
            <div class="float-right"  ng-controller="menuCtrl as mCtrl">
                <a   ng-click="mCtrl.onListarOPciones('/#/admin-registro-control')" class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4;cursor: pointer; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="panel-body">
            <div class="content-box">
                <div class="button-pane button-pane-top">
                    <h3 class="float-left text-uppercase content-box-header-title btn-sm">{{appConstantsView.TITLE_CRITERIOS_BUSQUEDA}}</h3>
                </div>
                <div class="content-box-wrapper">
                    <form method="POST" name="formConsultarEstudiantes" novalidate>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">{{appConstantsView.LABEL_PERIODO_ACADEMICO}}</label>
                                        <select class="form-control" 
                                                ng-model="mcCtrl.matricula.idPeriodo" 
                                                ng-disabled="mcCtrl.disabledCampos"
                                                name="periodo"
                                                id="periodo" 
                                                validation="required"
                                                ng-options="nivel.id as nivel.nombrePeriodoAcademico for nivel in mcCtrl.listadoPeriodosAcademicos| orderBy:'nombrePeriodoAcademico'">
                                            <option ng-if="mcCtrl.listadoPeriodosAcademicos.length >= appConstantsView.CERO" value="" >{{appConstantsView.SELECCION_SELECT}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">{{appConstantsView.LABEL_NIVEL_FORMACION}}</label>
                                        <select class="form-control" 
                                                ng-model="mcCtrl.matricula.idNivelFormacion" 
                                                ng-disabled="true" 
                                                name="nivelFormacion"
                                                id="nivelFormacion" 
                                                validation="required"
                                                ng-change="mcCtrl.onBuscarProgramasAcademicos()" 
                                                ng-options="nivel.id as nivel.nombreNivelFormacion for nivel in mcCtrl.listadoNivelesFormacion| orderBy:'nombreNivelFormacion'">
                                            <option ng-if="mcCtrl.listadoNivelesFormacion.length >= appConstantsView.CERO" value="" >{{appConstantsView.SELECCION_SELECT}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">{{appConstantsView.LABEL_PROGRAMA_ACADEMICO}}</label>
                                        <select class="form-control" 
                                                ng-model="mcCtrl.matricula.idPrograma" 
                                                name="programa" 
                                                id="programa" 
                                                ng-disabled="mcCtrl.disabledCampos"
                                                ng-change="mcCtrl.onBuscarHorarioByPrograma()"
                                                validation="required"
                                                ng-options="programa.id as programa.nombrePrograma for programa in mcCtrl.listadoProgramas| orderBy:'nombrePrograma'">
                                            <option ng-if="mcCtrl.listadoProgramas.length >= appConstantsView.CERO" value="" >{{appConstantsView.SELECCION_SELECT}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">{{appConstantsView.LABEL_MODALIDAD}}</label>
                                        <select class="form-control" 
                                                ng-model="mcCtrl.matricula.idHorario" 
                                                name="horario" 
                                                id="horario" 
                                                ng-disabled="mcCtrl.disabledCampos"
                                                validation="required"
                                                ng-options="horario.id as horario.nombreHorario for horario in mcCtrl.listadoHorarios| orderBy:'nombreHorario'">
                                            <option ng-if="mcCtrl.listadoHorarios.length >= appConstantsView.CERO" value="" >{{appConstantsView.SELECCION_SELECT}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">{{appConstantsView.LABEL_NIVEL}}</label>
                                        <select class="form-control" 
                                                ng-model="mcCtrl.matricula.idNivel" 
                                                name="nivel" 
                                                id="nivel" 
                                                ng-disabled="mcCtrl.disabledCampos"
                                                validation="required"
                                                ng-options="nivel.id as nivel.idNivel for nivel in mcCtrl.listadoNiveles| orderBy:'idNivel'">
                                            <option ng-if="mcCtrl.listadoNiveles.length >= appConstantsView.CERO" value="" >{{appConstantsView.SELECCION_SELECT}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="button-pane">
                                <a class="btn btn-primary btn-consultar-inscritos" ng-disabled="mcCtrl.disabledCampos" ng-click="mcCtrl.onConsultarEstudiantes()">
                                    <i class="glyphicon glyphicon-search" style="color: #ffffff; border: 0px solid #dfe8f1;"></i>{{appConstantsView.BOTON_CONSULTAR}}</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="content-box">
                <div class="button-pane button-pane-top">
                    <h3 class="float-left text-uppercase content-box-header-title btn-sm">{{appConstantsView.TITLE_LISTADO_EST}}</h3>
                    <div class="float-right">
                        <a href="" title="Imprimir"  ng-click="mcCtrl.onGenerarReporte()" data-style="dark" data-theme="bg-white" class="btn btn-sm btn-success icon-tool-add back-button {{!mcCtrl.filtrados.length === appConstantsView.CERO?'disabled':' '}}"
                           data-animation="flipOutX" style="color: #ffffff; border: 0px solid #dfe8f1;">
                            <div class="glyph-icon">
                                <i class="glyphicon glyphicon-print"></i><span class="info-icon-tool">{{appConstantsView.BOTON_IMPRIMIR}}</span>
                            </div>
                        </a>
                        <a href="" title="Matricula Masiva" ng-click="mcCtrl.onOpenModalMasivo()" data-style="dark" data-theme="bg-white" 
                           class="btn btn-sm btn-success icon-tool-add back-button {{!mcCtrl.report.selected.length === appConstantsView.CERO|| !mcCtrl.report.selected.length === appConstantsView.UNO?'disabled':' '}}"
                           data-animation="flipOutX"  style="color: #ffffff; border: 0px solid #dfe8f1;">
                            <div class="glyph-icon">
                                <i class="glyph-icon  tooltip-button icon-linecons-thumbs-up"></i><span class="info-icon-tool">Matricula Masiva</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="content-box-wrapper">
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="dataTables_length" id="datatable-example_length">
                                <label>
                                    <select ng-model="mcCtrl.display" 
                                            ng-init="mcCtrl.display = mcCtrl.display || mcCtrl.options[appConstantsView.CERO].value"
                                            ng-options="option.value as option.name for option in mcCtrl.options"
                                            ng-change="mcCtrl.display <= mcCtrl.listadoEstudiante ? loadDat(n - 1) : ''">
                                    </select>
                                </label>
                            </div>
                            <div class="margTop0 pull-left">
                                Marcar Todos
                                <input bs-switch switch-active="{{!(mcCtrl.filtrados.length === appConstantsView.CERO || mcCtrl.disabledCampos)}}" ng-model="mcCtrl.selectTodos"
                                       ng-disabled="mcCtrl.filtrados.length === appConstantsView.CERO" type="checkbox" ng-true-value="true" ng-false-value="false"
                                       switch-on-text="Si" switch-off-text="No" ng-change="mcCtrl.onSelectTodos()" class="form-control col-xs-12 pull-left">
                            </div>
                        </div>
                    </div>
                    <div>
                        <table object-table class="hover-column" display="mcCtrl.display" data="mcCtrl.listadoEstudiante" headers="Nombre,Documento,Fecha Registro,Estado Matricula,Opciones"
                               fields="nombreCompleto,identificacionfull,fechaRegistro,nombreEstadoMatricula" search="separate"
                               sorting="compound" selected-model="mcCtrl.report.selected" editable="false" search="false" resize="false"
                               select="multiply">
                            <tbody>
                                <tr style="height: 60px;" ng-click="$owner.mcCtrl.onSelectTodosTable(ifSelected(item), item);
                                            setSelected(item)">
                                    <td>{{::item.nombreCompleto}}</td>
                                    <td>{{::item.identificacionfull}}</td>
                                    <td>{{::item.fechaRegistro}}</td>
                                    <td><span class="{{$owner.mcCtrl.onEstadoEstilo(item.nombreEstadoMatricula)}}">{{::item.nombreEstadoMatricula}}</span></td>
                                    <td class="text-center opciones-table" style="min-width: 200px;">
                                        <div>
                                            <a class="btn btn-info btn-tools-table" ng-disabled="$owner.mcCtrl.disabledCampos || item.estado === 'MATRICULADO'" title="Matricular"
                                               id="modalBtnAdmisionesByAngular" ng-click="$owner.mcCtrl.onOpenModal(item)">
                                                <i class="glyphicon glyphicon-saved"></i>
                                            </a>
                                        </div>
                                    </td>
                                    <td ng-hide="true">{{$owner.mcCtrl.filtrados = $filtered}}</td>
                                </tr>
                            <tfoot>
                                <tr ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.mcCtrl.listadoEstudiante.length !== $owner.appConstantsView.CERO">
                                    <td colspan="8">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                                </tr>
                                <tr ng-if="$owner.mcCtrl.listadoEstudiante.length === $owner.appConstantsView.CERO">
                                    <td colspan="8">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                </tr>
                            </tfoot>
                            </tbody>
                        </table>
                    </div>
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog modal-sm">
                            <!--Modal content-->
                            <div class="modal-content" style="margin-top: 204px; width: 414px;">
                                <div class="modal-header">
                                    <button type="button" ng-click="mcCtrl.onCloseModal()" class="close" data-dismiss="modal">{{appConstantsView.CERRAR_MODAL}}</button>
                                    <h4 class="modal-title">Confirmar</h4>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" name="formMatricular" novalidate>
                                        <div class="control-group form-group">
                                            <div class="row"   style="padding-left: 11px;padding-right: 11px;padding-bottom: 20px;">
                                                <p style="text-align: justify">
                                                {{appConstantsView.SELECCION_GRUPO_MATRICULA_EST}} 
                                                </p>
                                            </div>
                                            <div class="editable-error-block help-block" style="display: none;"></div>
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-6">
                                                    <div class="form-group">
                                                        <label class="control-label">{{appConstantsView.LABEL_PERIODO_ACADEMICO}}</label>
                                                        <select class="form-control" ng-model="mcCtrl.matricula.idPeriodo"  ng-disabled="true" name="periodo2"
                                                                id="periodo2" ng-options="nivel.id as nivel.nombrePeriodoAcademico for nivel in mcCtrl.listadoPeriodosAcademicos| orderBy:'nombrePeriodoAcademico'">
                                                            <option ng-if="mcCtrl.listadoPeriodosAcademicos.length >= appConstantsView.CERO" value="" >{{appConstantsView.SELECCION_SELECT}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-sm-6">
                                                    <div class="form-group">
                                                        <label class="control-label">{{appConstantsView.LABEL_PROGRAMA_ACADEMICO}}</label>
                                                        <select class="form-control" ng-model="mcCtrl.matricula.idPrograma" name="programa2" id="programa2" ng-disabled="true"
                                                                ng-options="programa.id as programa.nombrePrograma for programa in mcCtrl.listadoProgramas| orderBy:'nombrePrograma'">
                                                            <option ng-if="mcCtrl.listadoProgramas.length >= appConstantsView.CERO" value="" >{{appConstantsView.SELECCION_SELECT}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-6">
                                                    <div class="form-group">
                                                        <label class="control-label">{{appConstantsView.LABEL_NIVEL}}</label>
                                                        <select class="form-control" ng-model="mcCtrl.matricula.idNivel" name="nivel2" id="nivel2" ng-disabled="true"
                                                                ng-options="nivel.id as nivel.idNivel for nivel in mcCtrl.listadoNiveles| orderBy:'idNivel'">
                                                            <option ng-if="mcCtrl.listadoNiveles.length >= appConstantsView.CERO" value="" >{{appConstantsView.SELECCION_SELECT}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-sm-6">
                                                    <div class="form-group">
                                                        <label class="control-label">{{appConstantsView.LABEL_GRUPO}}</label>
                                                        <select class="form-control" ng-model="mcCtrl.matricula.idGrupo" name="grupo" id="grupo" validation="required"
                                                                ng-options="grupo.id as grupo.nombreGrupo for grupo in mcCtrl.listadoGrupos| orderBy:'nombreGrupo'">
                                                            <option ng-if="mcCtrl.listadoGrupos.length >= appConstantsView.CERO" value="" >{{appConstantsView.SELECCION_SELECT}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer btnCenter button-pane">
                                    <input class="btn btn-primary" type="submit" value="Aceptar" ng-click="mcCtrl.onAceptar()" />
                                    <!--<input class="btn btn-warning" type="submit" value="Rechazar" ng-click="mcCtrl.onRechazar()" id="btnCancelModal" />-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>