<div id="page-title"   ng-controller="RecursoEducativoCtrl as recursoCtrl">
    <h2>{{appConstantsView.TITLE_RECURSO_EDUCATIVO}}</h2>
    <p></p>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">{{recursoCtrl.recursoEduAuxiliar.titulo}}</h3>
            <div class="float-right">
                <a href="/#/recurso-educativo" class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left" ></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="panel-body">     
                <div class="row">
                    <form  method="POST"  name="formRegistrarRecursoEdu" novalidate>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="id" class="control-label">{{appConstantsView.LABEL_CODIGO}}</label><label class="text-danger">*</label>
                                    <input type="text" mask="X" repeat="10" restrict="reject" class="form-control text-uppercase" id="codigo" ng-model="recursoCtrl.recursoEdu.codigo" 
                                           ng-disabled="recursoCtrl.recursoEduAuxiliar.disableCodigo||recursoCtrl.recursoEduAuxiliar.disableVerDetalle"
                                           name="codigo" validation="required">
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="nombre" class="control-label">{{appConstantsView.LABEL_NOMBRE}}</label><label class="text-danger">*</label>
                                    <input type="text" mask="l" repeat="50" restrict="reject" id="nombre" class="form-control text-uppercase"  name="nombre" onblur="this.value = this.value.toUpperCase();"
                                            ng-model="recursoCtrl.recursoEdu.nombre" validation="required" 
                                             ng-disabled="recursoCtrl.recursoEduAuxiliar.disableVerDetalle">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">{{appConstantsView.LABEL_TIPO_RECURSO}} </label><label class="text-danger">*</label>
                                     <select ng-options="item.codigo as item.valor for item in recursoCtrl.tiposRecursos| orderBy:'valor'"
                                        class="form-control" ng-model="recursoCtrl.recursoEdu.tipo" name="tipoRecurso"
                                       ng-disabled="recursoCtrl.recursoEduAuxiliar.disableCodigo|| recursoCtrl.recursoEduAuxiliar.disableVerDetalle" id="tipoRecurso" validation="required">
                                    <option value="">{{appConstantsView.SELECCION_SELECT}}</option>
                                </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Sede</label><label class="text-danger">*</label> 
                                     <select ng-options="item.id  as item.nombreSeccional for item in recursoCtrl.sedes| orderBy:'nombreSeccional'"
                                        class="form-control" ng-model="recursoCtrl.recursoEdu.sede" name="sede"
                                        ng-disabled="recursoCtrl.recursoEduAuxiliar.disableCodigo||recursoCtrl.recursoEduAuxiliar.disableVerDetalle" id="sede" validation="required">
                                    <option value="">{{appConstantsView.SELECCION_SELECT}}</option>
                                </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">{{appConstantsView.LABEL_UBICACION}}</label>
                                    <input type="text" maxlength="50"   class="form-control text-uppercase"  
                                           name="ubicacion" id="ubicacion" ng-model="recursoCtrl.recursoEdu.ubicacion"   
                                             
                                           ng-disabled="recursoCtrl.recursoEduAuxiliar.disableVerDetalle">
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="capacidad" class="control-label">{{appConstantsView.LABEL_CAPACIDAD}}</label>
                                    <input type="text" mask="999"  restrict="reject" class="form-control text-uppercase" id="capacidad" ng-model="recursoCtrl.recursoEdu.capacidad" 
                                           ng-disabled="recursoCtrl.recursoEduAuxiliar.disableVerDetalle"
                                           name="capacidad">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">{{appConstantsView.LABEL_DESCRIPCION}}</label>
                                    <textarea class="form-control" maxlength="250" ng-trim="false"
                                              ng-disabled="recursoCtrl.recursoEduAuxiliar.disableVerDetalle"
                                              name="descripcion"  style="resize: none" 
                                              id="descripcion" ng-model="recursoCtrl.recursoEdu.descripcion"></textarea>
                                    <span class="pull-right">{{250 - recursoCtrl.recursoEdu.descripcion.length}} de 250</span>
                                    
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Estado</label>
                                     <select ng-options="item.codigo as item.valor for item in recursoCtrl.listEstados| orderBy:'valor'"
                                        class="form-control" ng-model="recursoCtrl.recursoEdu.estado" name="estado"
                                       ng-disabled="recursoCtrl.recursoEduAuxiliar.disableCodigo|| recursoCtrl.recursoEduAuxiliar.disableVerDetalle" id="estado" validation="required">
                                    <option value="">{{appConstantsView.SELECCION_SELECT}}</option>
                                </select>
                                </div>
                            </div>

                        </div>
                        <div class="button-pane">
                            <input type="submit" class="btn btn-success" ng-hide="recursoCtrl.recursoEduAuxiliar.disableVerDetalle" value="Guardar" ng-click="recursoCtrl.onSubmitForm()">                    
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
