<!DOCTYPE html>
<script src="../../../js/papaparse.js" type="text/javascript"></script>
<div id="page-title" ng-controller="asignarNotaCtrlGnrl as asignarNotaCtrl">
    <h2>Registro de Notas</h2>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">Asignar Nota</h3>
            <div class="float-right">
                <a href="#/"  class="btn btn-sm btn-info icon-tool-add back-button"
                   data-animation="flipOutX" style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>

                <a ng-click="asignarNotaCtrl.onNotaMasivo('modalNotaMasivo')" class="btn btn-sm btn-success icon-tool-add back-button"
                   data-animation="flipOutX" style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon"></i><span class="info-icon-tool">Asignar Nota Masiva</span>
                    </div>
                </a>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="panel-body">
                <form method="POST" novalidate name="formAsignarNota">
                    <center>
                        <div class="row">
                            <div class="form form-horizontal">
                                <div class="col-xs-1 col-sm-3">
                                    <label for="periodo" class="control-label">{{appConstantsView.LABEL_PERIODO_ACTUAL}}</label><label class="text-danger">*</label>
                                </div>
                                <div class="col-lg-8 col-sm-6">
                                    <ui-select name="periodo" ng-model="asignarNotaCtrl.idPeriodo"  class="form-control" >
                                        <ui-select-match placeholder="{{appConstantsView.SELECCION_SELECT}}">{{$select.selected.nombre}}</ui-select-match>
                                        <ui-select-choices repeat="periodo in asignarNotaCtrl.listadoPeriodos | filter: {nombre: $select.search}">
                                            <div ng-bind-html="periodo.nombre"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>

                        <div class="row">                           
                            <div class="form form-horizontal">
                                <div class="col-xs-1 col-sm-3">
                                    <label for="programa" class="control-label">{{appConstantsView.LABEL_PROGRAMA_ACADEMICO}}</label><label class="text-danger">*</label>
                                </div>
                                <div class="col-lg-8 col-sm-6">
                                    <ui-select name="programa" ng-model="asignarNotaCtrl.idPrograma"  class="form-control" 
                                               ng-change="asignarNotaCtrl.onChangePrograma()">
                                        <ui-select-match placeholder="{{appConstantsView.SELECCION_SELECT}}">{{$select.selected.nombre}}</ui-select-match>
                                        <ui-select-choices repeat="programa in asignarNotaCtrl.programas | filter: {nombre: $select.search}">
                                            <div ng-bind-html="programa.nombre"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form form-horizontal">
                                <div class="col-xs-1 col-sm-3">
                                    <label class="control-label">{{appConstantsView.LABEL_MODULO}}</label><label class="text-danger">*</label>
                                    <input class="form-control hidden" ng-model="asignarNotaCtrl.idModulo"
                                           name="modulo"
                                           id="modulo" validation="required" validation-error-to="validacionModulo">
                                </div>
                                <div class="col-lg-8 col-sm-6">
                                    <ui-select name="modulos" id="modulos"  
                                               title="{{$select.selected.nombre}}"
                                               ng-model="asignarNotaCtrl.idModulo"  ng-change="asignarNotaCtrl.onBuscarGruposByModulo()" 
                                               class="form-control">
                                        <ui-select-match   placeholder="--Seleccione--">{{$select.selected.nombre}}</ui-select-match>
                                        <ui-select-choices  repeat="modulo.id as modulo in asignarNotaCtrl.listadoModulos | filter: {nombre: $select.search}">
                                            <small class="text-uppercase" title="{{modulo.nombre}}">
                                                {{modulo.nombre}}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span id="validacionModulo" class="validation validation-select text-danger pull-left"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form form-horizontal">
                                <div class="col-xs-1 col-sm-3">
                                    <label class="control-label">{{appConstantsView.LABEL_GRUPO}}</label>
                                </div>
                                <div class="col-lg-8 col-sm-6">
                                    <select class="form-control angular-with-newlines" ng-model="asignarNotaCtrl.idGrupo" ng-change="asignarNotaCtrl.onConsultarEstudiantes()" name="grupo" id="grupo" validation="required"
                                            ng-options="grupo.id as (grupo.nombreGrupo +          ' ' +          grupo.nombreDocente +          ' - [' +          grupo.numeroModulo +          ']' ) for grupo in asignarNotaCtrl.listadoGrupos| orderBy:'nombreGrupo'">
                                        <option ng-if="asignarNotaCtrl.listadoGrupos.length >= appConstantsView.CERO" value="" >{{appConstantsView.SELECCION_SELECT}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </center>
                    <div class="content-box-wrapper">
                        <div class="form-group" ng-hide="asignarNotaCtrl.listadoEstudiantes.length === appConstantsView.CERO">
                            <label class="control-label">Subir Archivo de Notas</label>
                            <div class="input-group" >
                                <input type="file" id="files"  class="form-control" accept=".csv" required />
                                <span class="input-group-btn" >
                                    <button ng-click="asignarNotaCtrl.onCargarArchivo()" class="btn btn-primary">Cargar Notas</button> 
                                </span>
                            </div>
                        </div>

                        <table object-table class="hover-column" display="20" data="asignarNotaCtrl.listadoEstudiantes" headers="Estudiante,Valor Pagado,Nota 1,Nota 2,Nota 3,Nota Habilitacion,Nota Definitiva, ¿Pagó?, Opciones"
                               fields="estudiante,abonosMatricula,nota1,nota2,nota3,notaHabilitacion,notaDefinitiva,esPago"
                               search="separate" sorting="compound" search="false"
                               resize="false" >
                            <tbody>
                                <tr style="color: {{item.esPago === 'ABIERTA' ? 'red' : 'black'}}">
                                    <td style="text-align:center; vertical-align: middle;">
                                        {{::item.estudiante}}
                                    </td>

                                    <td style="width:12%">
                                        <div class="input-group">
                                            <input type="text"  style="text-align: right; color: {{item.esPago === 'ABIERTA' ? 'red' : 'black'}}"  
                                                   ng-disabled="true"
                                                   ng-value="item.abonosMatricula | currency"
                                                   class="form-control">
                                        </div>
                                    </td>

                                    <td style="width:10%">
                                        <div class="input-group">
                                            <input type="number" 
                                                   style="text-align: right"  
                                                   ng-model="item.nota1"
                                                   min="0" max="5"
                                                   class="form-control">
                                        </div>
                                    </td>

                                    <td style="width:10%">
                                        <div class="input-group">
                                            <input type="number" 
                                                   style="text-align: right"  
                                                   ng-model="item.nota2"
                                                   min="0" max="5"
                                                   class="form-control">
                                        </div>
                                    </td>

                                    <td style="width:10%">
                                        <div class="input-group">
                                            <input type="number" 
                                                   style="text-align: right"  
                                                   ng-model="item.nota3"
                                                   min="0" max="5"
                                                   class="form-control">
                                        </div>
                                    </td>

                                    <td style="width:10%">
                                        <div class="input-group">
                                            <input type="number" style="text-align: right"  
                                                   ng-model="item.notaHabilitacion"
                                                   ng-disabled ="true"
                                                   min="0" max="5"
                                                   class="form-control">
                                        </div>
                                    </td>

                                    <td style="width:10%">
                                        <div class="input-group">
                                            <input type="number" 
                                                   style="text-align: right"  
                                                   ng-model="item.notaDefinitiva"
                                                   ng-disabled ="true"
                                                   min="0" max="5"
                                                   class="form-control">
                                        </div>
                                    </td>

                                    <td style="width:10%">
                                        <div class="input-group">
                                            <input  style="text-align: right"  
                                                    ng-value="item.esPago"
                                                    ng-disabled ="true"
                                                    class="form-control">
                                        </div>
                                    </td>
                                    <td class="text-center opciones-table" style="width:5%">
                                        <button class="btn btn-primary btn-tools-table" title="Historial de Notas" 
                                                ng-click="$owner.asignarNotaCtrl.ModalUsuario(item)">
                                            <i class="glyphicon glyphicon-eye-open "></i>
                                        </button>
                                    </td>
                                    <td ng-hide="true">{{ $owner.asignarNotaCtrl.obtenerFiltrados($filtered)}}</td>
                                </tr>
                            </tbody>

                            <tfoot>
                                <tr ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.asignarNotaCtrl.listadoEstudiantes.length !== $owner.appConstantsView.CERO">
                                    <td colspan="6">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                                </tr>
                                <tr ng-if="$owner.asignarNotaCtrl.listadoEstudiantes.length === $owner.appConstantsView.CERO">
                                    <td colspan="6">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                </tr>
                            </tfoot>
                        </table>

                        <div class=" button-pane ">
                            <button type="submit " class="btn btn-success " ng-hide="asignarNotaCtrl.listadoEstudiantes.length === appConstantsView.CERO" ng-click="asignarNotaCtrl.guardarNota()">{{appConstantsView.BOTON_GUARDAR}}</button>
                        </div>
                    </div>

                    <div id="modalNotaMasivo" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button  type="button" class="close" data-dismiss="modal">{{appConstantsView.CERRAR_MODAL}}</button>
                                    <h4 class="modal-title"></h4>
                                </div>
                                <div class="modal-body">


                                    <div class="row">
                                        <div class="col-lg-6 col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Seleccione Nota Masiva</label><label class="text-danger">*</label>
                                                <select ng-options="tipoNota.id as tipoNota.nombreNota for tipoNota in asignarNotaCtrl.listaNotas" 
                                                        class="form-control"
                                                        name="idTipoConsulta"
                                                        ng-model="asignarNotaCtrl.idNotaMasiva"
                                                        ng-change="asignarNotaCtrl.onChangeValorNota()">
                                                    <option ng-if="asignarNotaCtrl.listaNotas.length >= appConstantsView.CERO" value="" >{{appConstantsView.SELECCION_SELECT}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Valor</label><label class="text-danger">*</label>
                                                <input type="number"
                                                       class="form-control" 
                                                       mask="9"
                                                       name="notaMasiva"
                                                       repeat="15"
                                                       min="1" max="5"
                                                       restrict="reject"
                                                       ng-disabled="asignarNotaCtrl.idNotaMasiva === '' || asignarNotaCtrl.idNotaMasiva === null"
                                                       ng-model="asignarNotaCtrl.valorNotaMasiva"  
                                                       >
                                            </div>
                                        </div>
                                    </div>



                                    <div class="button-pane">
                                        <input class="btn btn-success" id="btnAceptarNotaMasiva" type="submit" 
                                               value="Aceptar"
                                               data-dismiss="modal"
                                               ng-disabled="asignarNotaCtrl.idNotaMasiva === ''
                                                           || asignarNotaCtrl.idNotaMasiva === null
                                                           || asignarNotaCtrl.valorNotaMasiva === ''
                                                           || asignarNotaCtrl.valorNotaMasiva === null"
                                               ng-click="asignarNotaCtrl.onSubmitFormNotaMasiva()"
                                               style="background-color: #00bca4;color: #ffffff;border: 0px solid #dfe8f1; width: 83px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">{{appConstantsView.CERRAR_MODAL}}</button>
                                    <h4 class="modal-title">{{appConstantsView.AUDITORIA_NOTA}}</h4>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" id="formDetalleSolicitud" name="formDetalleSolicitud" novalidate>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label for="nombre" class="control-label pull-left">{{appConstantsView.H3_INFORMACION_ESTUDIANTE}}</label>
                                                <input id="inputCodigo" type="text" ng-disabled="true" ng-model="asignarNotaCtrl.nombreModal" class="form-control">
                                            </div>

                                            <div class="col-sm-12">

                                                <table object-table class="hover-column" display=5 data="asignarNotaCtrl.listaAuditoria" headers="Fecha Registro,Nota 1,Nota 2, Nota 3,Habilitación,Definitiva, Acción, Usuario"
                                                       fields="fecha_registro,nota1,nota2,nota3,nota_definitiva,nota_habilitacion,accion,user_name"
                                                       search="false" sorting="simple" editable="false" resize="false">
                                                    <tbody>
                                                        <tr style="height: 60px;">
                                                            <td>{{::item.fecha_registro| date: 'dd/MM/yyyy'}}</td>
                                                            <td>{{::item.nota1}}</td>
                                                            <td>{{::item.nota2}}</td>
                                                            <td>{{::item.nota3}}</td>
                                                            <td>{{::item.nota_habilitacion}}</td>
                                                            <td>{{::item.nota_definitiva}}</td>
                                                            <td>{{::item.accion}}</td>
                                                            <td>{{::item.user_name}}</td>
                                                            <td ng-hide="true">{{$owner.hisotiralCrtl.filtrados = $filtered}}</td>
                                                        </tr>
                                                    <tfoot>
                                                        <tr ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.asignarNotaCtrl.listaAuditoria.length !== $owner.appConstantsView.CERO">
                                                            <td colspan="8">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                                                        </tr>
                                                        <tr ng-if="$owner.asignarNotaCtrl.listaAuditoria.length === $owner.appConstantsView.CERO">
                                                            <td colspan="8">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                                        </tr>
                                                    </tfoot>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

