<style>
    .mensajesErrorModal {
        padding-top: 5px;
        height: 85px;
        background-color: #fc0;
        color: #fff;
        border-radius: 5px;
    }
</style>
<div id="page-title" ng-controller="ConsultarCreditoCtrl as CreditoCtrl">
    <div class="row">
        <div class="float-left" style="margin-left: 10px">
            <h2 style="line-height: 30px;">{{appConstantsView.TITLE_CREDITO_FINANCIERO}}</h2>
        </div>
    </div>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">{{appConstantsView.CREDITO_SOLICITUD}}
            </h3>
            <div class="float-right" ng-controller="menuCtrl as mCtrl">
                <a ng-click="CreditoCtrl.cancelarInterval();mCtrl.onListarOPciones('/#/financiero')"
                    class="btn btn-sm btn-info icon-tool-add back-button"
                    style="background-color: #0096D4; cursor: pointer; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span
                            class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="content-box-wrapper">
            <div class="panel-body">
                <div style="height: 70px" class="content-box border-top border-yellow"
                    ng-if="CreditoCtrl.consultarCreditoAuxiliar.noParametroCredito">
                    <h3 class="content-box-header clearfix title-resumen-yellow">
                        <div class="col-xs-12">
                            {{appConstantsView.Advertencia}} <br />
                            <small> {{appConstantsView.ERROR_PERIODO}} </small>
                        </div>
                    </h3>
                </div>
                <div class="content-box">
                    <div class="button-pane button-pane-top">
                        <h3 class="float-left text-uppercase content-box-header-title btn-sm">
                            {{appConstantsView.CONSULTAR_ESTUDIANTE}} </h3>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-box-wrapper">
                        <form method="POST" name="comprobarSolicitudCredito" novalidate>
                            <div class="panel-body">
                                <div class="alert alert-notice">
                                    <div class="bg-yellow alert-icon" style="border-radius: 30px;">
                                        <i class="glyph-icon icon-info"></i>
                                    </div>
                                    <div class="alert-content">
                                        <div class="alert-title" style="font-size: 15px; font-weight: bolder">¡Ten
                                            en cuenta!</div>
                                        <ul>
                                            <li>Si el estudiante es mayor de edad puedes proseguir al siguiente
                                                formulario.</li>
                                            <li>Si el estudiante es mayor de edad y necesita codeudor, puedes llenar la
                                                información.</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <label for="identificacionEstudiante"
                                                class="control-label pull-left">{{appConstantsView.LABEL_ESTUDIANTE}}</label>
                                            <label class="text-danger pull-left">*</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="identificacionEstudiante"
                                                    ng-model="CreditoCtrl.identificacionEstudianteSolicitud"
                                                    name="identificacionEstudiante" maxlength="15" mask="9"
                                                    restrict="reject" repeat="15"
                                                    autocomplete="{{CreditoCtrl.identificacionEstudianteSolicitud.length >=5?'on':'off'}}"
                                                    ng-keyup="CreditoCtrl.onPresionarEnter($event)"
                                                    validation="required" validation-error-to="errorConsultaSolicitud">
                                                <span class="input-group-btn" style="position: static">
                                                    <button title="Consultar"
                                                        ng-click="CreditoCtrl.onComprobarNuevaSolicitud(CreditoCtrl.identificacionEstudianteSolicitud)"
                                                        class="btn btn-primary btn-group-plus"><i
                                                            class="glyphicon glyphicon-search"></i></button>
                                                </span>
                                            </div>
                                            <span id="errorConsultaSolicitud" class="validation text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6"
                                        ng-hide="CreditoCtrl.consultarCreditoAuxiliar.camposNuevaSolicitud">
                                        <div class="form-group">
                                            <label for="nombreEstudianteSolicitud"
                                                class="control-label pull-left">{{appConstantsView.LABEL_NOMBRE}}</label>
                                            <input type="text" class="form-control text-uppercase"
                                                id="nombreEstudianteSolicitud" disabled ng-disabled="true"
                                                ng-model="CreditoCtrl.consultarCredito.nombreEstudianteSolicitud"
                                                name="nombreEstudianteSolicitud">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6"
                                        ng-hide="CreditoCtrl.consultarCreditoAuxiliar.camposNuevaSolicitud">
                                        <div class="form-group">
                                            <label for="nombreEstudianteSolicitud"
                                                class="control-label pull-left">Edad</label>
                                            <input type="text" class="form-control text-uppercase"
                                                id="nombreEstudianteSolicitud" disabled ng-disabled="true"
                                                ng-model="CreditoCtrl.consultarCredito.edad"
                                                name="nombreEstudianteSolicitud">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6"
                                        ng-hide="CreditoCtrl.consultarCreditoAuxiliar.camposNuevaSolicitud">
                                        <div class="form-group">
                                            <label for="programaSolicitud"
                                                class="control-label pull-left">{{appConstantsView.LABEL_PROGRAMA_ACADEMICO}}</label>
                                            <select
                                                ng-options="programa as programa.programa for programa in CreditoCtrl.consultarCredito.listaProgramas  | orderBy:'programa'"
                                                class="form-control"
                                                ng-model="CreditoCtrl.consultarCredito.programaSolicitud"
                                                name="programaSolicitud" ng-change="CreditoCtrl.onChangePrograma()"
                                                ng-disabled="CreditoCtrl.consultarCredito.listaProgramas.length === appConstantsView.UNO"
                                                id="programaSolicitud">
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" ng-show="CreditoCtrl.consultarCredito.aplicaEdad">
                                    <div class="col-lg-12 col-sm-12"
                                        ng-hide="CreditoCtrl.consultarCreditoAuxiliar.camposNuevaSolicitud">
                                        <div class="button-pane">
                                            <input class="btn btn-success" type="submit"
                                                ng-click="CreditoCtrl.onNuevaSolicitud()" value="Aceptar">
                                            <input class="btn btn-danger" type="submit"
                                                ng-click="CreditoCtrl.onCancelarBusqueda()" value="Cancelar">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="panel-body" ng-show="!CreditoCtrl.consultarCredito.aplicaEdad">
                            <div class="row">
                                <div class="alert alert-warning">
                                    <div class="bg-yellow alert-icon" style="border-radius: 30px;">
                                        <i class="glyph-icon icon-info"></i>
                                    </div>
                                    <div class="alert-content">
                                        <div class="alert-title" style="font-size: 15px; font-weight: bolder">¡Ten
                                            en cuenta!</div>
                                        El estudiante a realizar convenio es menor de edad, por favor digitar datos
                                        de codeudor.
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <label
                                                class="control-label">{{appConstantsView.LABEL_TIPO_DOCUMENTO}}</label><label
                                                class="text-danger">*</label>
                                            <select
                                                ng-options="tipodoc.codigo as tipodoc.valor for tipodoc in CreditoCtrl.lsttipodocumentos"
                                                name="tipodocacudiente" id="tipodocacudiente" validation="required"
                                                class="form-control"
                                                ng-model="CreditoCtrl.consultarCredito.acudiente.idTipoIdentificacion">
                                                <option
                                                    ng-if="CreditoCtrl.lsttipodocumentos.length >= appConstantsView.CERO"
                                                    value="">{{appConstantsView.SELECCION_SELECT}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label
                                                    class="control-label">{{appConstantsView.LABEL_NUMERO_DOCUMENTO}}</label><label
                                                    class="text-danger">*</label>
                                                <input type="text" id="numdoc" class="form-control" name="numdoc"
                                                    mask='9' restrict="reject" repeat="20"
                                                    ng-model="CreditoCtrl.consultarCredito.acudiente.identificacion"
                                                    validation="required">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Ciudad Expedición</label><label
                                                class="text-danger">*</label>
                                            <input type="text" id="nombre" class="form-control text-uppercase"
                                                name="nombreacudiente" mask='H' restrict="reject" repeat="100"
                                                ng-model="CreditoCtrl.consultarCredito.acudiente.ciudadExpedicion"
                                                validation="required">
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <label
                                                class="control-label">{{appConstantsView.LABEL_NOMBRES}}</label><label
                                                class="text-danger">*</label>
                                            <input type="text" id="nombre" class="form-control text-uppercase"
                                                name="nombreacudiente" mask='H' restrict="reject" repeat="100"
                                                ng-model="CreditoCtrl.consultarCredito.acudiente.nombre"
                                                validation="required">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label
                                                    class="control-label">{{appConstantsView.LABEL_APELLIDOS}}</label><label
                                                    class="text-danger">*</label>
                                                <input type="text" id="apellidos" class="form-control text-uppercase"
                                                    name="apellidosacudiente" mask='H' restrict="reject" repeat="100"
                                                    ng-model="CreditoCtrl.consultarCredito.acudiente.apellido"
                                                    validation="required">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="emailacudiente"
                                                    class="control-label">{{appConstantsView.LABEL_EMAIL}}</label><label
                                                    class="text-danger">*</label>
                                                <input type="emailacudiente" id="emailacudiente"
                                                    placeholder="ejemplo@correo.com" class="form-control" maxlength="50"
                                                    name="emailacudiente" restrict="reject" repeat="50"
                                                    ng-model="CreditoCtrl.consultarCredito.acudiente.email"
                                                    validation="email|required">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label>{{appConstantsView.LABEL_TELEFONO}}</label>
                                                <input type="text" id="telfacudiente" class="form-control"
                                                    name="telfacudiente" placeholder="9999-999" maxlength="12"
                                                    mask="9999-999" clean="true" restrict="reject" repeat="12"
                                                    ng-model="CreditoCtrl.consultarCredito.acudiente.telefono"
                                                    validation="exact_len:7:alt=Debe contener exactamente 7 dígitos">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <label
                                                class="control-label">{{appConstantsView.LABEL_CELULAR}}</label><label
                                                class="text-danger">*</label>
                                            <input type="text" id="celmadre" class="form-control"
                                                placeholder="(999)-9999-999" maxlength="14" name="celacudiente"
                                                mask="(999)-9999-999" clean="true" restrict="reject"
                                                ng-model="CreditoCtrl.consultarCredito.acudiente.celular" repeat="14"
                                                validation="exact_len:10:alt=Debe contener exactamente 10 dígitos|required">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                </div>
                                <div class="col-lg-12 col-sm-12">
                                    <div class="button-pane">
                                        <input class="btn btn-success" type="submit"
                                            ng-click="CreditoCtrl.onNuevaSolicitud()" value="Aceptar">
                                        <input class="btn btn-danger" type="submit"
                                            ng-click="CreditoCtrl.onCancelarBusqueda()" value="Cancelar">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>