<style>
  .info-icon-tool {
    padding: 5px;
  }

  .classReport {
    width: 100%;
  }
</style>
<div id="page-title" ng-controller="auditoriaEntregaCtrl as auditoriaNotaCtrl">
  <div class="row">
    <div class="float-left" style="margin-left: 10px">
      <h2 style="line-height: 30px;">Auditoria</h2>
    </div>
  </div>
  <br>
  <div class="content-box">
    <div class="button-pane button-pane-top">
      <h3 class="float-left text-uppercase content-box-header-title btn-sm">Auditoria Entrega Uniforme</h3>
      <div class="float-right" style="margin-right: 10px" ng-controller="menuCtrl as mCtrl">
        <a ng-click="mCtrl.onListarOPciones('/#/auditoria')" class="btn btn-sm btn-info icon-tool-add back-button"
          style="background-color: #0096D4;cursor: pointer; color: #ffffff; border: 0px solid #dfe8f1;">
          <div class="glyph-icon">
            <i class="glyphicon glyphicon-arrow-left"></i><span
              class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
          </div>
        </a>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="content-box-wrapper">
      <div class="panel-body">
        <uib-tabset justify="false">
          <uib-tab index="0" heading="Recibos sin Uniformes Entregados">
            <div class="content-box">
              <div class="button-pane button-pane-top">
                <h3 class="float-left text-uppercase content-box-header-title btn-sm">Entrega de Uniformes</h3>
                <div class="float-right" style="margin-right: 10px" ng-controller="menuCtrl as mCtrl">

                </div>
              </div>
              <div class="clearfix"></div>
              <div class="content-box-wrapper">
                <div class="panel-body">
                  <table object-table class="hover-column" data="auditoriaNotaCtrl.listSinEntregar" display="15"
                    headers="Codigo,Estudiante,Celular,Tipo Descripcion,Descripcion,Estado,Referencia,Estado Liquidacion,Opciones"
                    fields="codigo,estudiante,celular,tipoDescripcion,descripcion,estado,referencia,estadoLiquidacion,"
                    sorting="compound" search="separate" editable="false" resize="false">
                    <tbody>
                      <tr>
                        <td>{{::item.codigo}}</td>
                        <td>{{::item.estudiante}}</td>
                        <td>{{::item.celular}}</td>
                        <td>{{::item.tipoDescripcion}}</td>
                        <td>{{::item.descripcion}}</td>
                        <td>{{::item.estado}}</td>
                        <td>{{::item.referencia}}</td>
                        <td>{{::item.estadoLiquidacion}}</td>
                        <td class="opciones-table text-center">
                          <button ng-show="{{item.estadoLiquidacion === 'PAGADA'}}"
                            ng-click="$owner.auditoriaNotaCtrl.onModalEntrega(item)"
                            class="btn btn-primary btn-tools-table" title="Entregar">
                            Entregar
                          </button>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr
                        ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.auditoriaNotaCtrl.listEstudiantes.length !== $owner.appConstantsView.CERO">
                        <td colspan="2">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                      </tr>
                      <tr ng-if="$owner.auditoriaNotaCtrl.listEstudiantes.length === $owner.appConstantsView.CERO">
                        <td colspan="2">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </uib-tab>
          <uib-tab index="1" heading="Recibos Con Uniformes Entregados">
            <div class="content-box">
              <div class="button-pane button-pane-top">
                <h3 class="float-left text-uppercase content-box-header-title btn-sm">Grupos sin Asistencia</h3>
                <div class="float-right" style="margin-right: 10px" ng-controller="menuCtrl as mCtrl">
                  <button type="submit" class="float-right btn btn-sm btn-success icon-tool-add back-button"
                    ng-json-export-excel data="auditoriaNotaCtrl.listEstudiantesAsistencia" report-fields="{
                      codigo:'Identificacion',
                      estudiante:'Estudiante',
                      tipoDescripcion:'Tipo Descripción',
                      descripcion:'Descripción',
                      estado:'estado',
                      referencia:'Referencia Pago',
                      estadoLiquidacion:'Estado Liquidación'
                                          }" filename=" 'Listado De Uniformes Entregados' "
                    title="Listado De Uniformes Entregados">
                    <i class="fa fa-file-excel-o" aria-hidden="true"></i> Listado De Uniformes Entregados</button>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="content-box-wrapper">
                <div class="panel-body">
                  <table object-table class="hover-column" data="auditoriaNotaCtrl.listEntregadas" display="10"
                    headers="Codigo,Estudiante,Tipo Descripcion,Descripcion,Estado,Referencia,Estado Liquidacion,Opciones"
                    fields="codigo,estudiante,tipoDescripcion,descripcion,estado,referencia,estadoLiquidacion"
                    sorting="compound" search="separate" editable="false" resize="false">
                    <tbody>
                      <tr>
                        <td>{{::item.codigo}}</td>
                        <td>{{::item.estudiante}}</td>
                        <td>{{::item.tipoDescripcion}}</td>
                        <td>{{::item.descripcion}}</td>
                        <td>{{::item.estado}}</td>
                        <td>{{::item.referencia}}</td>
                        <td>{{::item.estadoLiquidacion}}</td>
                        <td class="opciones-table text-center">
                          <button ng-click="$owner.auditoriaNotaCtrl.onClickToView(item)"
                            class="btn btn-primary btn-tools-table" title="Ver Detalle">
                            <i class="glyphicon glyphicon-eye-open"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr
                        ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.auditoriaNotaCtrl.listEstudiantes.length !== $owner.appConstantsView.CERO">
                        <td colspan="2">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                      </tr>
                      <tr ng-if="$owner.auditoriaNotaCtrl.listEstudiantes.length === $owner.appConstantsView.CERO">
                        <td colspan="2">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
  </div>

  <div id="modalEntregarDescripcion" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">{{appConstantsView.CERRAR_MODAL}}</button>
          <h4 class="modal-title">Detalle Recibos de Pago</h4>
        </div>
        <div class="modal-body">
          <div class="content-box">
            <div class="button-pane button-pane-top">
              <div class="float-left">
                <h3 class="text-uppercase content-box-header-title btn-sm">
                  Generar Entrega {{auditoriaNotaCtrl.item.tipoDescripcion +' '+auditoriaNotaCtrl.item.descripcion}}
                </h3>
              </div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-6 col-sm-6">
                  <div class="form-group">
                    <label for="caja" class="control-label">Tipo Descripción</label>
                    <input name="caja" id="caja" ng-disabled="true" class="text-uppercase form-control" type="text"
                      ng-model="auditoriaNotaCtrl.item.tipoDescripcion">
                  </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                  <div class="form-group">
                    <label for="ubicacion" class="control-label">Descripción</label>
                    <input name="ubicacion" id="ubicacion" ng-disabled="true" class="text-uppercase form-control"
                      type="text" ng-model="auditoriaNotaCtrl.item.descripcion">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-sm-6">
                  <div class="form-group">
                    <label for="cajero" class="control-label">Referencia Pago</label>
                    <input class="text-uppercase form-control" type="text" ng-disabled="true" name="cajero"
                      ng-model="auditoriaNotaCtrl.item.referencia">
                  </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                  <div class="form-group">
                    <label for="idCajero" class="control-label">Estado Referencia</label>
                    <input name="idCajero" id="idCajero" ng-disabled="true" class="text-uppercase form-control"
                      type="text" ng-model="auditoriaNotaCtrl.item.estadoLiquidacion">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="motivo" class="control-label pull-left">Observacion</label>
                    <textarea id="motivo" type="text" ng-model="auditoriaNotaCtrl.observacion"
                      class="form-control"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="button-pane">
            <input class="btn btn-info" type="submit" value="Guardar Entrega" title="Guardar Entrega"
              ng-click="auditoriaNotaCtrl.onGenerarEntrega()">
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="modalDatos" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">{{appConstantsView.CERRAR_MODAL}}</button>
          <h4 class="modal-title">Detalle Recibos de Pago</h4>
        </div>
        <div class="modal-body">
          <div class="content-box">
            <div class="button-pane button-pane-top">
              <div class="float-left">
                <h3 class="text-uppercase content-box-header-title btn-sm">
                  Detalle Entrega {{auditoriaNotaCtrl.item.tipoDescripcion +' '+auditoriaNotaCtrl.item.descripcion}}
                </h3>
              </div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-6 col-sm-6">
                  <div class="form-group">
                    <label for="caja" class="control-label">Tipo Descripción</label>
                    <input name="caja" id="caja" ng-disabled="true" class="text-uppercase form-control" type="text"
                      ng-model="auditoriaNotaCtrl.item.tipoDescripcion">
                  </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                  <div class="form-group">
                    <label for="ubicacion" class="control-label">Descripción</label>
                    <input name="ubicacion" id="ubicacion" ng-disabled="true" class="text-uppercase form-control"
                      type="text" ng-model="auditoriaNotaCtrl.item.descripcion">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-sm-6">
                  <div class="form-group">
                    <label for="cajero" class="control-label">Referencia Pago</label>
                    <input class="text-uppercase form-control" type="text" ng-disabled="true" name="cajero"
                      ng-model="auditoriaNotaCtrl.item.referencia">
                  </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                  <div class="form-group">
                    <label for="idCajero" class="control-label">Estado Referencia</label>
                    <input name="idCajero" id="idCajero" ng-disabled="true" class="text-uppercase form-control"
                      type="text" ng-model="auditoriaNotaCtrl.item.estadoLiquidacion">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="motivo" class="control-label pull-left">Observacion</label>
                    <textarea id="motivo" disabled type="text" ng-model="auditoriaNotaCtrl.item.estadoLiquidacion"
                      class="form-control"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>