<style>
    .info-icon-tool {
        padding: 5px;
    }

    tr {
        height: 0px !important
    }
</style>
<div id="page-title" ng-controller="DashboardTotalesCtrl as dashTotalesCtrl">
    <div class="row">
        <div class="float-left" style="margin-left: 10px">
            <h2 style="line-height: 30px;">TOTALES  {{appConstantsView.TITLE_CLIENTES}}</h2>
        </div>
        <div class="float-right" style="margin-right: 10px" ng-controller="menuCtrl as mCtrl">
            <a ng-click="mCtrl.onListarOPciones('/#/dashboard-interno')"  class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4;cursor: pointer; color: #ffffff; border: 0px solid #dfe8f1;">
                <div class="glyph-icon">
                    <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                </div>
            </a>
        </div>
    </div>
    <br>
    <!-- Grafica Totales por Matriculados por periodo-->
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    <span class="header-chart ">Matriculados por periodos académicos</span>
                    <a href="" 
                       ng-json-export-excel 
                       data="dashTotalesCtrl.dataMatriculadosPeriodo"
                       report-fields="{
                       nombrePrograma:'Programa',
                       periodo:'Período',
                       cantidad:'Cantidad',
                       nivelFormacion:'Nivel Formación'
                       }"
                       filename=" 'MATRICULADOS POR PERIODOS ACADÉMICOS' " 
                       title="MATRICULADOS POR PERIODOS ACADÉMICOS"
                       data-style="dark" 
                       data-theme="bg-white" 
                       class="float-right btn btn-sm btn-success icon-tool-add back-button {{dashTotalesCtrl.dataMatriculadosPeriodo.length === appConstantsView.CERO?'disabled':' '}}"
                       data-animation="flipOutX" style="color: #ffffff; border: 0px solid #dfe8f1;">
                        <div class="glyph-icon">
                            <i class="glyphicon glyphicon-print"></i><span class="info-icon-tool">{{appConstantsView.BOTON_IMPRIMIR}}</span>
                        </div>
                    </a>
                </h3>
                <hr>
                <div class="example-box-wrapper text-center">
                    <!--                        <nvd3 options="dashTotalesCtrl.opcionesStack" data="dashTotalesCtrl.dataMatriculadosPeriodo">
                                            </nvd3>-->
                    <!-- class="with-3d-shadow with-transitions" config="{refreshDataOnly: true, deepWatchData: true}" -->

                    <table object-table
                           display="10"
                           data="dashTotalesCtrl.dataMatriculadosPeriodo" 
                           headers="Programa, Nivel Formación ,Período, Cantidad"
                           fields="nombrePrograma,nivelFormacion,periodo,cantidad"
                           search="separate">
                        <tbody>
                            <tr>
                                <td style="text-align: center;">{{::item.nombrePrograma}}</td>
                                <td style="text-align: center">{{::item.nivelFormacion}}</td>
                                <td style="text-align: center">{{::item.periodo}}</td>
                                <td style="text-align: center">{{::item.cantidad}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td style="text-align: center"></td>
                                <td style="text-align: center"></td>
                                <td style="text-align: center"></td>
                                <td style="text-align: center">{{$owner.dashTotalesCtrl.getTotalMatriculadosPeriodo($filtered)}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Grafica Totales por modalidad por periodo-->
    <br>
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    <span class="header-chart">{{appConstantsView.TITLE_TOTAL_MODALIDAD_PERIODO}}</span>
                    <a href="" 
                       ng-json-export-excel 
                       data="dashTotalesCtrl.dataTotalModalidadesPeriodo"
                       report-fields="{
                       nombreModalidad:'Modalidad',
                       periodo:'Período',
                       cantidad:'Cantidad'
                       }"
                       filename=" 'TOTAL DE ESTUDIANTES POR MODALIDAD Y PERIODO' " 
                       title="TOTAL DE ESTUDIANTES POR MODALIDAD Y PERIODO"
                       data-style="dark" 
                       data-theme="bg-white" 
                       class="float-right btn btn-sm btn-success icon-tool-add back-button {{dashTotalesCtrl.dataTotalModalidadesPeriodo.length === appConstantsView.CERO?'disabled':' '}}"
                       data-animation="flipOutX" style="color: #ffffff; border: 0px solid #dfe8f1;">
                        <div class="glyph-icon">
                            <i class="glyphicon glyphicon-print"></i><span class="info-icon-tool">{{appConstantsView.BOTON_IMPRIMIR}}</span>
                        </div>
                    </a>
                </h3>
                <hr>
                <div class="example-box-wrapper text-center">
                    <div class="row">
                        <table object-table
                               display="10"
                               data="dashTotalesCtrl.dataTotalModalidadesPeriodo" 
                               headers="Modalidad, Período, Cantidad"
                               fields="nombreModalidad,periodo,cantidad"
                               search="separate" 
                               >
                            <tbody>
                                <tr>
                                    <td style="text-align: center;">{{::item.nombreModalidad}}</td>
                                    <td style="text-align: center">{{::item.periodo}}</td>
                                    <td style="text-align: center">{{::item.cantidad}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td style="text-align: center"></td>
                                    <td style="text-align: center"></td>
                                    <td style="text-align: center">{{$owner.dashTotalesCtrl.getTotalMatriculadosPeriodoModalidad($filtered)}}</td>
                                </tr>
                            </tfoot>
                        </table>
                        <!--                        <nvd3 options="dashTotalesCtrl.opcionesBarHorizontal" data="dashTotalesCtrl.dataTotalModalidadesPeriodo" class="with-3d-shadow with-transitions"
                                                      config="config"></nvd3>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <!-- Combo listado de periodos-->
    <div class="row">
        <form class="form form-horizontal">
            <div class="col-lg-4 col-sm-4 col-xs-6">
                <label for="valorPeriodoAcademico" class="control-label pull-right">{{appConstantsView.LABEL_PERIODO_ACADEMICO}}</label>
            </div>
            <div class="col-lg-5 col-sm-5 col-xs-4">
                <div class="form-group">
                    <select ng-options="item.id as item.nombrePeriodoAcademico for item in dashTotalesCtrl.listaPeriodoAcademicos" name="valorPeriodoAcademico"
                            id="valorPeriodoAcademico" class="form-control" ng-model="dashTotalesCtrl.dashboardTotales.periodoAcademico" ng-change="dashTotalesCtrl.onCambiarSelectPeriodoAcademico()">
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
            </div>
        </form>
    </div>
    <!-- Grafica de modalidades por barrios totalizados-->
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    <span class="header-chart">{{appConstantsView.TITLE_TOTAL_BARRIOS_PERIODO}}</span>
                    <a href="" 
                       ng-json-export-excel 
                       data="dashTotalesCtrl.dataTotalModalidadesBarrios"
                       report-fields="{
                       barrio:'Barrio',
                       estado:'Estado',
                       cantidad:'Cantidad'
                       }"
                       filename=" 'TOTAL DE ESTUDIANTES POR (BARRIOS / MODALIDAD) Y PERIODO' " 
                       title="TOTAL DE ESTUDIANTES POR (BARRIOS / MODALIDAD) Y PERIODO"
                       data-style="dark" 
                       data-theme="bg-white" 
                       class="float-right btn btn-sm btn-success icon-tool-add back-button {{dashTotalesCtrl.dataTotalModalidadesBarrios.length === appConstantsView.CERO?'disabled':' '}}"
                       data-animation="flipOutX" style="color: #ffffff; border: 0px solid #dfe8f1;">
                        <div class="glyph-icon">
                            <i class="glyphicon glyphicon-print"></i><span class="info-icon-tool">{{appConstantsView.BOTON_IMPRIMIR}}</span>
                        </div>
                    </a>
                </h3>
                <hr>
                <div class="example-box-wrapper text-center">
                    <div class="row">

                        <table object-table
                               display="10"
                               data="dashTotalesCtrl.dataTotalModalidadesBarrios" 
                               headers="Barrio, Estado, Cantidad"
                               fields="barrio,estado,cantidad"
                               search="separate" 
                               >
                            <tbody>
                                <tr>
                                    <td style="text-align: center;">{{::item.barrio}}</td>
                                    <td style="text-align: center">{{::item.estado}}</td>
                                    <td style="text-align: center">{{::item.cantidad}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td style="text-align: center"></td>
                                    <td style="text-align: center"></td>
                                    <td style="text-align: center">{{$owner.dashTotalesCtrl.getTotalMatriculadosBarrioEstado($filtered)}}</td>
                                </tr>
                            </tfoot>
                        </table>

                        <!--                        <nvd3 options="dashTotalesCtrl.opcionesBarHorizontalBarrios" data="dashTotalesCtrl.dataTotalModalidadesBarrios" class="with-3d-shadow with-transitions"
                                                      config="config"></nvd3>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Grafica total matriculados semestre-->
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    <span class="header-chart">{{appConstantsView.TITLE_TOTAL_MATRICULADOS_SEMESTRE}}</span>
                    <a href="" 
                       ng-json-export-excel 
                       data="dashTotalesCtrl.dataTotalMatriculadosSemestre"
                       report-fields="{
                       periodo:'Período',
                       semestre:'Semestre',
                       cantidad:'Cantidad',
                       total:'Total'
                       }"
                       filename=" 'TOTAL DE ESTUDIANTES MATRICULADOS POR SEMESTRE' " 
                       title="TOTAL DE ESTUDIANTES MATRICULADOS POR SEMESTRE"
                       data-style="dark" 
                       data-theme="bg-white" 
                       class="float-right btn btn-sm btn-success icon-tool-add back-button {{dashTotalesCtrl.dataTotalMatriculadosSemestre.length === appConstantsView.CERO?'disabled':' '}}"
                       data-animation="flipOutX" style="color: #ffffff; border: 0px solid #dfe8f1;">
                        <div class="glyph-icon">
                            <i class="glyphicon glyphicon-print"></i><span class="info-icon-tool">{{appConstantsView.BOTON_IMPRIMIR}}</span>
                        </div>
                    </a>
                </h3>
                <hr>
                <div class="example-box-wrapper text-center">
                    <div class="row">

                        <table object-table
                               display="10"
                               data="dashTotalesCtrl.dataTotalMatriculadosSemestre" 
                               headers="Período, Semestre, Cantidad, Total"
                               fields="periodo,semestre,cantidad,total"
                               search="separate" 
                               >
                            <tbody>
                                <tr>
                                    <td style="text-align: center;">{{::item.periodo}}</td>
                                    <td style="text-align: center">{{::item.semestre}}</td>
                                    <td style="text-align: center">{{::item.cantidad}}</td>
                                    <td style="text-align: center">{{::item.total| currency}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td style="text-align: center"></td>
                                    <td style="text-align: center"></td>
                                    <td style="text-align: center">{{$owner.dashTotalesCtrl.getTotalCantidadMatriculadoSemestre($filtered)}}</td>
                                    <td style="text-align: center">{{$owner.dashTotalesCtrl.getTotalDineroMatriculadoSemestre($filtered) | currency}}</td>
                                </tr>
                            </tfoot>
                        </table>
                        <!--                        <nvd3 options="dashTotalesCtrl.opcionesBarHorizontal" data="dashTotalesCtrl.dataTotalMatriculadosSemestre" class="with-3d-shadow with-transitions"
                                                      config="config"></nvd3>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Grafica total matriculados semestre PROGRAMA-->
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    <span class="header-chart">{{appConstantsView.TITLE_TOTAL_MATRICULADOS_SEMESTRE_PROGRAMA}}</span>
                    <a href="" 
                       ng-json-export-excel 
                       data="dashTotalesCtrl.dataTotalMatriculadosSemestrePrograma"
                       report-fields="{
                       periodo:'Período',
                       programa:'Programa',
                       cantidad:'Cantidad',
                       total:'Total'
                       }"
                       filename=" 'TOTAL DE ESTUDIANTES MATRICULADOS POR SEMESTRE Y PROGRAMAS' " 
                       title="TOTAL DE ESTUDIANTES MATRICULADOS POR SEMESTRE Y PROGRAMAS"
                       data-style="dark" 
                       data-theme="bg-white" 
                       class="float-right btn btn-sm btn-success icon-tool-add back-button {{dashTotalesCtrl.dataTotalMatriculadosSemestrePrograma.length === appConstantsView.CERO?'disabled':' '}}"
                       data-animation="flipOutX" style="color: #ffffff; border: 0px solid #dfe8f1;">
                        <div class="glyph-icon">
                            <i class="glyphicon glyphicon-print"></i><span class="info-icon-tool">{{appConstantsView.BOTON_IMPRIMIR}}</span>
                        </div>
                    </a>
                </h3>
                <hr>
                <div class="example-box-wrapper text-center">
                    <div class="row">
                        <table object-table
                               display="10"
                               data="dashTotalesCtrl.dataTotalMatriculadosSemestrePrograma" 
                               headers="Período, Programa, Cantidad, Total"
                               fields="periodo,programa,cantidad,total"
                               search="separate">
                            <tbody>
                                <tr>
                                    <td style="text-align: center;">{{::item.periodo}}</td>
                                    <td style="text-align: center">{{::item.programa}}</td>
                                    <td style="text-align: center">{{::item.cantidad}}</td>
                                    <td style="text-align: center">{{::item.total| currency}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td style="text-align: center"></td>
                                    <td style="text-align: center"></td>
                                    <td style="text-align: center">{{$owner.dashTotalesCtrl.getTotalCantidadMatriculadoSemestrePrograma($filtered)}}</td>
                                    <td style="text-align: center">{{$owner.dashTotalesCtrl.getTotalDineroMatriculadoSemestrePrograma($filtered) | currency}}</td>
                                </tr>
                            </tfoot>
                        </table>
                        <!--                        <nvd3 options="dashTotalesCtrl.opcionesBarHorizontal" data="dashTotalesCtrl.dataTotalMatriculadosSemestrePrograma" class="with-3d-shadow with-transitions"
                                                      config="config"></nvd3>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Grafica total matriculados semestre BARRIOS>
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    <span class="header-chart">{{appConstantsView.TITLE_TOTAL_MATRICULADOS_SEMESTRE_BARRIOS}}</span>
                </h3>
                <hr>
                <div class="example-box-wrapper text-center">
                    <div class="row">
                        <nvd3 options="dashTotalesCtrl.opcionesBarHorizontal" data="dashTotalesCtrl.dataTotalMatriculadosSemestreBarrios" class="with-3d-shadow with-transitions"
                              config="config"></nvd3>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <br/>
    <!-- Combo listado de periodos-->
    <div class="row">
        <form class="form form-horizontal">
            <div class="col-lg-4 col-sm-4 col-xs-6">
                <label for="valorSemestre" class="control-label pull-right">{{appConstantsView.LABEL_SEMESTRE}}</label>
            </div>
            <div class="col-lg-5 col-sm-5 col-xs-4">
                <div class="form-group">
                    <select ng-options="item.id as item.nombre for item in dashTotalesCtrl.listaSemestreAcademico" name="valorSemestre"
                            id="valorSemestre" class="form-control" ng-model="dashTotalesCtrl.dashboardTotales.semestre" 
                            ng-change="dashTotalesCtrl.onCambiarSelectSemestre()">
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
            </div>
        </form>
    </div>
    <!-- Grafica de modalidades por barrios totalizados-->
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    <span class="header-chart">{{appConstantsView.TITLE_TOTAL_BARRIOS}}</span>
                    <a href="" 
                       ng-json-export-excel 
                       data="dashTotalesCtrl.dataTotalMatriculadosBarriosSemestre"
                       report-fields="{
                       barrio:'Barrio',
                       periodo:'Período',
                       cantidad:'Cantidad',
                       total:'Total'
                       }"
                       filename=" 'TOTAL DE BARRIOS POR SEMESTRE Y PERIODO' " 
                       title="TOTAL DE BARRIOS POR SEMESTRE Y PERIODO"
                       data-style="dark" 
                       data-theme="bg-white" 
                       class="float-right btn btn-sm btn-success icon-tool-add back-button {{dashTotalesCtrl.dataTotalMatriculadosSemestrePrograma.length === appConstantsView.CERO?'disabled':' '}}"
                       data-animation="flipOutX" style="color: #ffffff; border: 0px solid #dfe8f1;">
                        <div class="glyph-icon">
                            <i class="glyphicon glyphicon-print"></i><span class="info-icon-tool">{{appConstantsView.BOTON_IMPRIMIR}}</span>
                        </div>
                    </a>
                </h3>
                <hr>
                <div class="example-box-wrapper text-center">
                    <div class="row">
                        <table object-table
                               display="10"
                               data="dashTotalesCtrl.dataTotalMatriculadosBarriosSemestre" 
                               headers="Barrio,Período,Cantidad, Total"
                               fields="barrio,periodo,cantidad,total"
                               search="separate">
                            <tbody>
                                <tr>
                                    <td style="text-align: center;">{{::item.barrio}}</td>
                                    <td style="text-align: center;">{{::item.periodo}}</td>
                                    <td style="text-align: center">{{::item.cantidad}}</td>
                                    <td style="text-align: center">{{::item.total}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td style="text-align: center">{{$owner.dashTotalesCtrl.getTotalCantidadMatriculadoSemestreBarrio($filtered)}}</td>
                                    <td style="text-align: center">{{$owner.dashTotalesCtrl.getTotalDineroMatriculadoSemestreBarrio($filtered) | currency}}</td>
                                </tr>
                            </tfoot>
                        </table>

                        <!--                        <nvd3 options="dashTotalesCtrl.opcionesBarHorizontal" data="dashTotalesCtrl.dataTotalMatriculadosBarriosSemestre" class="with-3d-shadow with-transitions"
                                                      config="config"></nvd3>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- GRAFICA DE MATRICULADOS COLEGIOS-->
    <!-- Combo listado de periodos-->
    <div class="row">
        <form class="form form-horizontal">
            <div class="col-lg-4 col-sm-4 col-xs-6">
                <label for="valorPeriodoAcademico2" class="control-label pull-right">{{appConstantsView.LABEL_PERIODO_ACADEMICO}}</label>
            </div>
            <div class="col-lg-5 col-sm-5 col-xs-4">
                <div class="form-group">
                    <select ng-options="item.id as item.nombrePeriodoAcademico for item in dashTotalesCtrl.listaPeriodoAcademicos" name="valorPeriodoAcademico2"
                            id="valorPeriodoAcademico2" class="form-control" ng-model="dashTotalesCtrl.dashboardTotales.periodoAcademico2" ng-change="dashTotalesCtrl.onCambiarSelectPeriodoAcademico()">
                    </select>
                </div>
            </div>
            <!-- CANTIDAD TOP-->
            <!--            <div class="col-lg-4 col-sm-4 col-xs-6">
                            <label for="valorTop" class="control-label pull-right">Cantidad Registros</label>
                        </div>
                        <div class="col-lg-5 col-sm-5 col-xs-4">
                            <div class="form-group">
                                <select ng-options="item.id as item.nombreTop for item in dashTotalesCtrl.listaTop" name="valorTop"
                                        id="valorTop" class="form-control" ng-model="dashTotalesCtrl.dashboardTotales.top" ng-change="dashTotalesCtrl.onCambiarSelectTop()">
                                </select>
                            </div>
                        </div>
                         CANTIDAD ORDEN
                        <div class="col-lg-4 col-sm-4 col-xs-6">
                            <label for="valorOrden" class="control-label pull-right">Ordenamiento</label>
                        </div>
                        <div class="col-lg-5 col-sm-5 col-xs-4">
                            <div class="form-group">
                                <select ng-options="item.id as item.nombreOrden for item in dashTotalesCtrl.listaOrden" name="valorOrden"
                                        id="valorOrden" class="form-control" ng-model="dashTotalesCtrl.dashboardTotales.orden" ng-change="dashTotalesCtrl.onCambiarSelectOrden()">
                                </select>
                            </div>
                        </div>-->
            <div class="col-lg-3 col-sm-4">
            </div>
        </form>
    </div>
    <!-- Grafica de modalidades por colegios totalizados-->
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    <span class="header-chart">{{appConstantsView.TITLE_TOTAL_COLEGIOS_PERIODO}}</span>
                    <a href="" 
                       ng-json-export-excel 
                       data="dashTotalesCtrl.dataTotalMatriculadosColegios"
                       report-fields="{
                       periodo:'Período',
                       colegio:'Colegio',
                       cantidad:'Cantidad'
                       }"
                       filename=" 'TOTAL DE ESTUDIANTES POR COLEGIOS Y PERIODO ACADEMICO' " 
                       title="TOTAL DE ESTUDIANTES POR COLEGIOS Y PERIODO ACADEMICO"
                       data-style="dark" 
                       data-theme="bg-white" 
                       class="float-right btn btn-sm btn-success icon-tool-add back-button {{dashTotalesCtrl.dataTotalMatriculadosColegios.length === appConstantsView.CERO?'disabled':' '}}"
                       data-animation="flipOutX" style="color: #ffffff; border: 0px solid #dfe8f1;">
                        <div class="glyph-icon">
                            <i class="glyphicon glyphicon-print"></i><span class="info-icon-tool">{{appConstantsView.BOTON_IMPRIMIR}}</span>
                        </div>
                    </a>
                </h3>
                <hr>
                <div class="example-box-wrapper text-center">
                    <div class="row">

                        <table object-table
                               display="10"
                               data="dashTotalesCtrl.dataTotalMatriculadosColegios" 
                               headers="Periodo,Colegio,Cantidad"
                               fields="periodo,colegio,cantidad"
                               search="separate">
                            <tbody>
                                <tr>
                                    <td style="text-align: center;">{{::item.periodo}}</td>
                                    <td style="text-align: center;">{{::item.colegio}}</td>
                                    <td style="text-align: center">{{::item.cantidad}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td style="text-align: center">{{$owner.dashTotalesCtrl.getTotalCantidadMatriculadoColegioPeriodo($filtered)}}</td>
                                </tr>
                            </tfoot>
                        </table>
                        <!--                        <nvd3 options="dashTotalesCtrl.opcionesBarHorizontal" data="dashTotalesCtrl.dataTotalMatriculadosColegios" class="with-3d-shadow with-transitions"
                                                      config="config"></nvd3>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- -->
    <!--    <div class="row">
            <div class="panel">
                <div class="panel-body">
                    <h3 class="title-hero">
                        <span class="header-chart">{{appConstantsView.TITLE_TOTAL_MODALIDAD_HORARIO_PERIODO}}</span>
                    </h3>
                    <hr>
                    <div class="example-box-wrapper text-center">
                        <div class="row">
                            
                            
                            <nvd3 options="dashTotalesCtrl.opcionesBarHorizontal" data="dashTotalesCtrl.dataTotalModalidadesHorariosPeriodos" class="with-3d-shadow with-transitions"
                                  config="config"></nvd3>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->

    <!-- Combo listado de periodos-->
    <!--    <div class="row">
            <form class="form form-horizontal">
                <div class="col-lg-4 col-sm-4 col-xs-6">
                    <label for="valorSemestre" class="control-label pull-right">{{appConstantsView.LABEL_SEMESTRE}}</label>
                </div>
                <div class="col-lg-5 col-sm-5 col-xs-4">
                    <div class="form-group">
                        <select ng-options="item.id as item.nombre for item in dashTotalesCtrl.listaSemestreAcademico" name="valorSemestreMatriculadosHorarios"
                                id="valorSemestreMatriculadosHorarios" class="form-control" ng-model="dashTotalesCtrl.dashboardTotales.semestreMatriculadosHorarios" 
                                ng-change="dashTotalesCtrl.onCambiarSelectSemestreMatriculadosHorarios()">
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4">
                </div>
            </form>
        </div>-->
    <!-- dataTotalModalidadesHorariosPeriodosSemestre -->
    <!--    <div class="row">
            <div class="panel">
                <div class="panel-body">
                    <h3 class="title-hero">
                        <span class="header-chart">{{appConstantsView.TITLE_TOTAL_MODALIDAD_HORARIO_PERIODO_SEMESTRE}}</span>
                    </h3>
                    <hr>
                    <div class="example-box-wrapper text-center">
                        <div class="row">
                            <nvd3 options="dashTotalesCtrl.opcionesBarHorizontal" data="dashTotalesCtrl.dataTotalModalidadesHorariosPeriodosSemestre" class="with-3d-shadow with-transitions"
                                  config="config"></nvd3>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
</div>