<!DOCTYPE html>

<div id="page-title" ng-controller="confiEducacionContinuadaCtrl as confiEduConCtrl">
    <div class="row">
        <div class="float-left" style="margin-left: 10px">
            <h2 style="line-height: 30px;">{{appConstantsView.TITLE_CONF_EDUCACION_CONTINUADA}}</h2>
        </div>
    </div>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">{{appConstantsView.TITLE_LISTA_PROGRAMA_ACADEMICOS}} </h3>
            <div class="float-right" ng-controller="menuCtrl as mCtrl">
                <a ng-click="confiEduConCtrl.cancelarInterval();mCtrl.onListarOPciones('/#/admin-registro-control')" class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6 col-xs-6">
                        <div class="dataTables_length" id="datatable-example_length">
                            <label>
                                <select ng-model="confiEduConCtrl.display"
                                        ng-init="confiEduConCtrl.display = confiEduConCtrl.display || confiEduConCtrl.options[appConstantsView.CERO].value"
                                        ng-options="option.value as option.name for option in confiEduConCtrl.options">
                                </select>
                            </label>
                        </div>
                    </div>

                </div>
                <table object-table class="hover-column" data="confiEduConCtrl.Programas" display="confiEduConCtrl.display" headers="Código,Programa,Opciones"
                       fields="codigoPrograma,nombrePrograma" sorting="compound" selected-model="confiEduConCtrl.report.selected"
                       editable="false" search="separate" resize="false" add-filter="| filter:$owner.all">
                    <tbody>
                        <tr>
                            <td>{{item.codigoPrograma}}</td>
                            <td>{{item.nombrePrograma}}</td>
                            <td class="text-center opciones-table back-button">
                                <a class="btn btn-primary btn-tools-table" title="Ver Detalle" ng-click="$owner.confiEduConCtrl.onClickToView(item)">

                                    <i class="glyphicon glyphicon-eye-open"></i>

                                </a>
                                <a class="btn btn-blue-alt btn-tools-table" title="Configurar" ng-click="$owner.confiEduConCtrl.onConfiguracionPrograma(item)">

                                    <i class="glyph-icon icon-cogs"></i>

                                </a>


                            </td>
                        </tr>
                    <tfoot>
                        <tr ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.confiEduConCtrl.Programas.length !== $owner.appConstantsView.CERO">
                            <td colspan="6">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                        </tr>
                        <tr ng-if="$owner.confiEduConCtrl.Programas.length === $owner.appConstantsView.CERO">
                            <td colspan="6">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                        </tr>
                    </tfoot>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
