<!DOCTYPE html>
<script src="../../../js/papaparse.js" type="text/javascript"></script>
<div id="page-title" ng-controller="CruceReferenciaMasivoGrupoGnrl as asignarNotaCtrl">
    <h2>Cruce de Referencia</h2>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">Cruzar Referencias</h3>
            <div class="float-right">
                <a href="#/"  class="btn btn-sm btn-info icon-tool-add back-button"
                   data-animation="flipOutX" style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
                <a ng-if="asignarNotaCtrl.user.username === 'admin'"  class="btn btn-sm btn-info icon-tool-add back-button"  ng-click="asignarNotaCtrl.onConsultarEstudiantesCruce2()"
                    data-animation="flipOutX" style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-adjust"></i><span class="info-icon-tool">Cruzar Referencia por bloque</span>
                    </div>
                </a>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="panel-body">
                <form method="POST" novalidate name="formAsignarNota">
                    <center>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">{{appConstantsView.LABEL_CODIGO_ESTUDIANTIL}}</label>
                                    <div class="input-group">
                                        <input id="inputCodigo1" type="text" validation="required" mask="9" restrict="reject" repeat="15" ng-model="asignarNotaCtrl.identificacionConsultar"
                                               class="form-control"  ng-model-options="{bounce:0}" name="inputCodigo" validation-error-to="errorConsultaSolicitud" ng-keyup="asignarNotaCtrl.onKeyUpCleanField()">
                                        <span class="input-group-btn" style="position: static">
                                            <button type="submit" title="Consultar" id="btnCodigoConsultar"
                                                    ng-click="asignarNotaCtrl.onConsultarEstudiantesCruce()"
                                                    class="btn btn-primary btn-group-plus" >
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <span id="errorConsultaSolicitud" class="validation text-danger"></span>
                                </div>
                            </div>
                        </div>

                    </center>
                    <div class="content-box-wrapper">

                        <table object-table class="hover-column" display="20" data="asignarNotaCtrl.listadoEstudiantes" headers="Estudiante,Valor Pagado,Opciones"
                               fields="estudiante,abonosMatricula"
                               search="separate" sorting="compound" search="false"
                               resize="false" >
                            <tbody>
                                <tr style="color: {{item.esPago === 'ABIERTA' ? 'red' : 'black'}}">
                                    <td style="text-align:center; vertical-align: middle;width:60%">
                                        {{::item.estudiante}}
                                    </td>

                                    <td style="width:30%">
                                        <div class="input-group">
                                            <input type="text"  style="text-align: right; color: {{item.esPago === 'ABIERTA' ? 'red' : 'black'}}"  
                                                   ng-disabled="true"
                                                   ng-value="item.abonosMatricula | currency"
                                                   class="form-control">
                                        </div>
                                    </td>

                                    <td class="text-center opciones-table" style="width:10%">
                                        <button class="btn btn-primary btn-tools-table" title="R" 
                                                ng-click="$owner.asignarNotaCtrl.ModalUsuario(item)">
                                            <i class="glyphicon glyphicon-eye-open "></i>
                                        </button>
                                    </td>

                                    <td ng-hide="true">{{ $owner.asignarNotaCtrl.obtenerFiltrados($filtered)}}</td>
                                </tr>


                            <tfoot>
                                <tr ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.asignarNotaCtrl.listadoEstudiantes.length !== $owner.appConstantsView.CERO">
                                    <td colspan="6">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                                </tr>
                                <tr ng-if="$owner.asignarNotaCtrl.listadoEstudiantes.length === $owner.appConstantsView.CERO">
                                    <td colspan="6">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                </tr>
                            </tfoot>
                            </tbody>
                        </table>

                        <div class=" button-pane ">
                            <button type="submit " class="btn btn-success " ng-hide="asignarNotaCtrl.listadoEstudiantes.length === appConstantsView.CERO" ng-click="asignarNotaCtrl.guardarNota()">{{appConstantsView.BOTON_GUARDAR}}</button>
                        </div>
                    </div>

                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">{{appConstantsView.CERRAR_MODAL}}</button>
                                    <h4 class="modal-title">Generar Cruce de Referencias Masivo</h4>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" id="formDetalleSolicitud" name="formDetalleSolicitud" novalidate>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label for="nombre" class="control-label pull-left">{{appConstantsView.H3_INFORMACION_ESTUDIANTE}}</label>
                                                <input id="inputCodigo" type="text" ng-disabled="true" ng-model="asignarNotaCtrl.nombreModal" class="form-control">
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="nombre" class="control-label pull-left">Total Abonos</label>
                                                <input id="totalAbonos" type="text" ng-disabled="true"
                                                       ng-value="asignarNotaCtrl.totalAbonos | currency" 
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="content-box-wrapper">

                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="back-cover table-scroll-x">
                                                        <table class="table table-hover table-condensed dias " style="min-width: 665px;">
                                                            <thead>
                                                                <tr style="font-weight: bold">
                                                                    <th style="width:45%">Referencia</th>
                                                                    <th style="width:50%">Valor</th>
                                                                    <th style="width:5%"><input type="checkbox" id="selectAllOtro" ng-click="asignarNotaCtrl.checkAllOtros('selectAllOtro', 'checkboxOtro')">  </th>
                                                                </tr>
                                                            </thead>
                                                            <tr ng-repeat="item in asignarNotaCtrl.listaOtros">
                                                                <td style="text-align:justify; vertical-align: middle;">
                                                                    {{item.referencia}}
                                                                </td>
                                                                <td style="min-width: 200px;">
                                                                    <div class="input-group">
                                                                        <input ui-money-mask  
                                                                               id="inputValorCheques" 
                                                                               type="text" ng-disabled="true"
                                                                               class="form-control"
                                                                               ng-model="item.valorLiquidado"
                                                                               style="text-align: right">
                                                                    </div>
                                                                </td>
                                                                <td style="text-align:center;">
                                                                    <input type="checkbox" 
                                                                           ng-true-value='true'
                                                                           ng-false-value='false'
                                                                           id="chekValorOtro{{item.id}}"
                                                                           ng-model="item.seleccionado"
                                                                           class="checkboxOtro"
                                                                           ng-change="asignarNotaCtrl.checkOtros(item, 'selectAllOtro', 'checkboxOtro', 'chekValorOtro')" >
                                                                </td>
                                                            </tr>
                                                            <tfoot>
                                                                <tr>
                                                                    <td style="text-align:right; vertical-align: middle;">
                                                                        Total
                                                                    </td>
                                                                    <td style="text-align:center;">
                                                                        <div class="input-group">
                                                                            <input ui-money-mask 
                                                                                   id="inputTotalArqueoEfectivo"  
                                                                                   type="text"
                                                                                   ng-disabled="true"
                                                                                   class="form-control borderTotales" 
                                                                                   ng-model="asignarNotaCtrl.totalArqueoOtro"
                                                                                   style="text-align: right">
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tfoot>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="botonGuardar" class="button-pane" ng-hide="asignarNotaCtrl.totalArqueoOtro === 0 || asignarNotaCtrl.totalArqueoOtro > asignarNotaCtrl.totalAbonos" >
                                            <input class="btn btn-success" type="submit" value="Generar Cruce" ng-click="asignarNotaCtrl.onGuardarCruce()">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

