<style>
    .info-icon-tool {
        padding: 5px;
    }
</style>
<script src="../../../../js/main-app.js" type="text/javascript"></script>
<div id="page-title" ng-controller="categoriaActividadesCtrl as CACtrl">
    <h2>{{appConstantsView.TITLE_MAESTRO_CATEGORIAS_ACTIVIDADES}}</h2>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <div class="float-right">
                <a href="" ng-click="CACtrl.onLimpiarRegistro()" class="btn btn-sm btn-info icon-tool-add" style="background-color: #00bca4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-plus"></i><span class="info-icon-tool text-capitalize">{{appConstantsView.BOTON_AGREGAR}}</span>
                    </div>
                </a>
                <a href="" class="btn btn-sm btn-info icon-tool-add {{CACtrl.report.selected.length === appConstantsView.CERO || CACtrl.report.selected.length === appConstantsView.UNO?'disabled':' '}}"
                    ng-click="CACtrl.onClickToDeleteMasivo()"
                    data-style="dark" data-theme="bg-white" data-opacity="40" style="background-color: #e74c3c; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-remove"></i><span class="info-icon-tool text-capitalize">{{appConstantsView.SPAN_ELIMINAR_MASIVO}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="dataTables_length" id="datatable-example_length">
                            <label>
                                <select ng-model="CACtrl.display" 
                                        ng-init="CACtrl.display = CACtrl.display || CACtrl.options[appConstantsView.CERO].value"
                                        ng-options="option.value as option.name for option in CACtrl.options">
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <table object-table data="CACtrl.lista" display="CACtrl.display" headers="Código,Nombre,Estado,Opciones" fields="codigo,nombre,estado"
                        sorting="compound" selected-model="CACtrl.report.selected" editable="false" search="separate" resize="false"
                        select="multiply" add-filter="| filter:$owner.all">
                        <tbody>
                            <tr>
                                <td>{{::item.codigo}}</td>
                                <td>{{::item.nombre}}</td>
                                <td>{{::item.estado}}</td>
                                <td class="text-center opciones-table">
                                    <a ng-click="$owner.CACtrl.onClickToView(item)">
                                        <button title="Ver detalles" class="btn btn-primary btn-tools-table">
                                            <i class="glyphicon glyphicon-eye-open"></i>
                                        </button>
                                    </a>
                                    <a ng-click="$owner.CACtrl.onClickToEditar(item);">
                                        <button title="Modificar" class="btn btn-info btn-tools-table"> 
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </button>
                                    </a>
                                    <button title="Eliminar" class="btn btn-danger btn-tools-table" ng-click="$owner.CACtrl.onClickToDelete(item)">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                </td>
                            </tr>
                            <tfoot>
                                <tr ng-show="$filtered.length === $owner.appConstantsView.CERO && $owner.CACtrl.lista.length !== $owner.appConstantsView.CERO">
                                    <td colspan="6">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                                </tr>
                                <tr ng-show="$owner.CACtrl.lista.length === $owner.appConstantsView.CERO">
                                    <td colspan="6">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                </tr>
                            </tfoot>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>