<style>
    .altoImp {
        height: 92px !Important;
    }

    li>.col-sm-3>.active {
        color: #555555;
        background-color: red;
    }
</style>
<div id="page-title">
    <div class="content-box">
        <div class="row">
            <div class="col-md-12">
                <table object-table class="hover-column" display="liqMatCtrl.display" data="auditoriaEstudianteCtrl.listaNotas"
                    headers="Asignatura,Estado,Nota 1,Nota 2,Nota 3,Nota Habilitacion ,Nota Definitiva"
                    fields="nombreModulo,estadoMatricula,nota1,nota2,nota3,notaHabilitacion,notaDefinitiva"
                    sorting="compound" selected-model="liqMatCtrl.report.selected" editable="false" search="false"
                    resize="false" select="false">
                    <tbody>
                        <tr style="height: 60px;">
                            <td>{{::item.nombreModulo}}</td>
                            <td>{{::item.estadoMatricula}}</td>
                            <td>{{::item.nota1}}</td>
                            <td>{{::item.nota2}}</td>
                            <td>{{::item.nota3}}</td>
                            <td>{{::item.notaHabilitacion}}</td>
                            <td>{{::item.notaDefinitiva}} </td>
                            <td ng-hide="true">{{$owner.liqMatCtrl.filtrados = $filtered}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr
                            ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.liqMatCtrl.listaNotas.length !== $owner.appConstantsView.CERO">
                            <td colspan="8">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                        </tr>
                        <tr ng-if="$owner.liqMatCtrl.listaNotas.length === $owner.appConstantsView.CERO">
                            <td colspan="8">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>