<style>
  .info-icon-tool {
    padding: 5px;
  }

  .classReport {
    width: 100%;
  }
</style>
<div id="page-title" ng-controller="auditoriaNotaCtrl as auditoriaNotaCtrl">
  <div class="row">
    <div class="float-left" style="margin-left: 10px">
      <h2 style="line-height: 30px;">Auditoria</h2>
    </div>
  </div>
  <br>
  <div class="content-box">
    <div class="button-pane button-pane-top">
      <h3 class="float-left text-uppercase content-box-header-title btn-sm">Auditoria Notas Modulo</h3>
      <div class="float-right" style="margin-right: 10px" ng-controller="menuCtrl as mCtrl">
        <a ng-click="mCtrl.onListarOPciones('/#/auditoria')" class="btn btn-sm btn-info icon-tool-add back-button"
          style="background-color: #0096D4;cursor: pointer; color: #ffffff; border: 0px solid #dfe8f1;">
          <div class="glyph-icon">
            <i class="glyphicon glyphicon-arrow-left"></i><span
              class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
          </div>
        </a>
        <button type="submit" class="float-right btn btn-sm btn-success icon-tool-add back-button" ng-json-export-excel
          data="auditoriaNotaCtrl.listEstudiantes" report-fields="{
                            nombreGrupo:'Grupo',
                            numeroModulo:'Numero Modulo',
                            docente:'Docente',
                            cantidadEstudiante:'Cantidad Estudiante'
                        }" filename=" 'Listado De Grupos' " title="Listado De Grupos">
          <i class="fa fa-file-excel-o" aria-hidden="true"></i> Listado De Grupos</button>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="content-box-wrapper">
      <div class="panel-body">
        <div class="row">
          <div class="form form-horizontal">
            <div class="col-xs-1 col-sm-3">
              <label for="periodo" class="control-label">{{appConstantsView.LABEL_PERIODO_ACTUAL}}</label><label
                class="text-danger">*</label>
            </div>
            <div class="col-lg-8 col-sm-6">
              <ui-select name="periodo" ng-model="auditoriaNotaCtrl.idPeriodo"
                ng-change="auditoriaNotaCtrl.onConsultarListadoAuditoriaNotasFaltantes()" class="form-control">
                <ui-select-match placeholder="{{appConstantsView.SELECCION_SELECT}}">{{$select.selected.nombre}}
                </ui-select-match>
                <ui-select-choices
                  repeat="periodo in auditoriaNotaCtrl.listadoPeriodos | filter: {nombre: $select.search}">
                  <div ng-bind-html="periodo.nombre"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
        </div>

        <uib-tabset justify="false">
          <uib-tab index="0" heading="Grupos sin Nota">
            <div class="content-box">
              <div class="button-pane button-pane-top">
                <h3 class="float-left text-uppercase content-box-header-title btn-sm">Grupos sin Nota</h3>
                <div class="float-right" style="margin-right: 10px" ng-controller="menuCtrl as mCtrl">
                  <button type="submit" class="float-right btn btn-sm btn-success icon-tool-add back-button"
                    ng-json-export-excel data="auditoriaNotaCtrl.listEstudiantes" report-fields="{
                                          nombreGrupo:'Grupo',
                                          numeroModulo:'Numero Modulo',
                                          docente:'Docente',
                                          cantidadEstudiante:'Cantidad Estudiante'
                                      }" filename=" 'Listado De Grupos' " title="Listado De Grupos">
                    <i class="fa fa-file-excel-o" aria-hidden="true"></i> Listado De Grupos sin Nota</button>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="content-box-wrapper">
                <div class="panel-body">
                  <table object-table class="hover-column" data="auditoriaNotaCtrl.listEstudiantes" display="10"
                    headers="Grupo,Numero Modulo,Docente,Cantidad Estudiante"
                    fields="nombreGrupo,numeroModulo,docente,cantidadEstudiante" sorting="compound" search="separate"
                    editable="false" resize="false">
                    <tbody>
                      <tr>
                        <td>{{::item.nombreGrupo}}</td>
                        <td>{{::item.numeroModulo}}</td>
                        <td>{{::item.docente}}</td>
                        <td>{{::item.cantidadEstudiante}}</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr
                        ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.auditoriaNotaCtrl.listEstudiantes.length !== $owner.appConstantsView.CERO">
                        <td colspan="2">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                      </tr>
                      <tr ng-if="$owner.auditoriaNotaCtrl.listEstudiantes.length === $owner.appConstantsView.CERO">
                        <td colspan="2">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </uib-tab>
          <uib-tab index="1" heading="Grupos sin asistencia">
            <div class="content-box">
              <div class="button-pane button-pane-top">
                <h3 class="float-left text-uppercase content-box-header-title btn-sm">Grupos sin Asistencia</h3>
                <div class="float-right" style="margin-right: 10px" ng-controller="menuCtrl as mCtrl">
                  <button type="submit" class="float-right btn btn-sm btn-success icon-tool-add back-button"
                    ng-json-export-excel data="auditoriaNotaCtrl.listEstudiantesAsistencia" report-fields="{
                                              nombreGrupo:'Grupo',
                                              numeroModulo:'Numero Modulo',
                                              docente:'Docente'
                                          }" filename=" 'Listado De Grupos' " title="Listado De Grupos">
                    <i class="fa fa-file-excel-o" aria-hidden="true"></i> Listado De Grupos sin Asistencia</button>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="content-box-wrapper">
                <div class="panel-body">
                  <table object-table class="hover-column" data="auditoriaNotaCtrl.listEstudiantesAsistencia"
                    display="10" headers="Grupo,Numero Modulo,Docente" fields="nombreGrupo,numeroModulo,docente"
                    sorting="compound" search="separate" editable="false" resize="false">
                    <tbody>
                      <tr>
                        <td>{{::item.nombreGrupo}}</td>
                        <td>{{::item.numeroModulo}}</td>
                        <td>{{::item.docente}}</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr
                        ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.auditoriaNotaCtrl.listEstudiantesAsistencia.length !== $owner.appConstantsView.CERO">
                        <td colspan="2">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                      </tr>
                      <tr
                        ng-if="$owner.auditoriaNotaCtrl.listEstudiantesAsistencia.length === $owner.appConstantsView.CERO">
                        <td colspan="2">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
  </div>
</div>