<!DOCTYPE html>
<div ng-controller="preinscripcionCtrl as preCtrl">
    <style>
        .mensajeError {
            margin: -1px -1px 0;
            padding: 15px;
            border-color: transparent;
            height: 50px;
        }
    </style>
    <div style="height: 93px" class="content-box border-top border-blue" ng-if="preCtrl.visible.hayPeriodo">
        <h3 class="mensajeError clearfix title-resumen-blue">
            <div class="col-xs-12">
                <strong>{{appConstantsView.LABEL_TEN_CUENTA}}</strong><br/>
                <small class="content">{{appConstantsView.ERROR_PERIODO_PREINSCRIPCION}}</small>
            </div>
        </h3>
    </div>
    <h2>{{appConstantsView.LABEL_PREINSCRIPCION}}</h2>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <div class="float-left">
                <h3 class="text-uppercase content-box-header-title btn-sm">{{appConstantsView.LABEL_FORM_INSCRIPCION}}</h3>
            </div>
            <div class="float-right" id="volverPreIns" ng-hide="preCtrl.visible.es" ng-controller="menuCtrl as mCtrl">
                <a  ng-click="preCtrl.onVolver();mCtrl.onListarOPciones('/#/admin-registro-control')" class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4;cursor: pointer; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="panel-default">
            <div class="panel-body">
                <form method="POST" name="formpreinscripcion" novalidate>
                    <div class="row">

                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="periodo" class="control-label">{{appConstantsView.LABEL_PERIODO_ACADEMICO}}</label><label class="text-danger">*</label>
                                <ui-select name="periodo" id="periodo" ng-model="preCtrl.nuevaPreinscripcion.periodo.nombre" class="form-control" ng-change="preCtrl.onChangeSelectPeriodo();;preCtrl.onFiltrarProgramaPorNivelFormacion(preCtrl.nuevaPreinscripcion.formacion,preCtrl.nuevaPreinscripcion.periodo.nombre)"
                                           ng-disabled="preCtrl.visible.hayPeriodo">
                                    <ui-select-match placeholder="{{appConstantsView.SELECCION_SELECT}}">{{$select.selected.nombre}}</ui-select-match>
                                    <ui-select-choices repeat="periodo as periodo in preCtrl.periodosAcademicos | filter: {nombre: $select.search} | orderBy: 'nombre'">
                                        <div ng-bind-html="periodo.nombre"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <div ng-if='preCtrl.visible.validoPeriodo'>
                                    <div class="text-danger">{{appConstantsView.ERROR_CAMPO_REQUERIDO}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="seccional" class="control-label">{{appConstantsView.LABEL_SECCIONAL}}</label><label class="text-danger">*</label>
                                <ui-select name="seccional" id="seccional" ng-model="preCtrl.nuevaPreinscripcion.seccional" class="form-control" ng-change="preCtrl.onChangeSelectSeccional()"
                                           ng-disabled="preCtrl.visible.hayPeriodo">
                                    <ui-select-match placeholder="{{appConstantsView.SELECCION_SELECT}}">{{$select.selected.nombre}}</ui-select-match>
                                    <ui-select-choices repeat="seccional as seccional in preCtrl.seccionales | filter: {nombre: $select.search} ">
                                        <div ng-bind-html="seccional.nombre"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <div ng-if='preCtrl.visible.validoseccional'>
                                    <div class="text-danger">{{appConstantsView.ERROR_CAMPO_REQUERIDO}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="nivelforma" class="control-label">{{appConstantsView.LABEL_NIVEL_FORMACION}}</label><label class="text-danger">*</label>
                                <ui-select validation="required" name="nivelforma" ng-model="preCtrl.nuevaPreinscripcion.formacion" class="form-control"
                                           ng-change="preCtrl.onChangeSelectFormacion(); preCtrl.onFiltrarProgramaPorNivelFormacion(preCtrl.nuevaPreinscripcion.formacion,preCtrl.nuevaPreinscripcion.periodo.nombre)"
                                           ng-disabled="preCtrl.visible.hayPeriodo">
                                    <ui-select-match placeholder="{{appConstantsView.SELECCION_SELECT}}">{{$select.selected.nombreNivelFormacion}}</ui-select-match>
                                    <ui-select-choices repeat="nivelform in preCtrl.nivelesformacion | filter: {nombreNivelFormacion: $select.search}">
                                        <div ng-bind-html="nivelform.nombreNivelFormacion"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <div ng-if='preCtrl.visible.validoformacion'>
                                    <div class="text-danger">{{appConstantsView.ERROR_CAMPO_REQUERIDO}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="programa" class="control-label">{{appConstantsView.LABEL_PROGRAMA_ACADEMICO}}</label><label class="text-danger">*</label>
                                <ui-select name="programa" ng-model="preCtrl.nuevaPreinscripcion.programa" ng-disabled="preCtrl.disabledPrograma" class="form-control"
                                           ng-change="preCtrl.onChangeSelectPrograma(); preCtrl.onFiltrarModalidadYHorarioPorPorgrama(preCtrl.nuevaPreinscripcion.programa)">
                                    <ui-select-match placeholder="{{appConstantsView.SELECCION_SELECT}}">{{$select.selected.nombre}}</ui-select-match>
                                    <ui-select-choices repeat="programa in preCtrl.programas | filter: {nombre: $select.search}">
                                        <div ng-bind-html="programa.nombre"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <div ng-if='preCtrl.visible.validoprograma'>
                                    <div class="text-danger" style="margin-top: -10px;">{{preCtrl.visibleMensaje}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="modalidad" class="control-label">{{appConstantsView.LABEL_MODALIDAD}}</label><label class="text-danger">*</label>
                                
                                <!--ng-disabled="preCtrl.disabledModalidad"-->
                                <ui-select validation="modalidad" name="modalidad"  ng-model="preCtrl.nuevaPreinscripcion.modalidad"
                                           class="form-control" ng-change="preCtrl.onChangeSelectModalidad(); ">
                                    <ui-select-match placeholder="{{appConstantsView.SELECCION_SELECT}}">{{$select.selected.nombre}}</ui-select-match>
                                    <ui-select-choices repeat="modalidad in preCtrl.modalidadesList | filter: {nombre: $select.search}">
                                        <div ng-bind-html="modalidad.nombre"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <div ng-if='preCtrl.visible.validomodalidad'>
                                    <div class="text-danger">{{appConstantsView.ERROR_CAMPO_REQUERIDO}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <!--ng-disabled="preCtrl.disabledHorario"-->
                                <label for="horario" class="control-label">{{appConstantsView.LABEL_HORARIO}}</label><label class="text-danger">*</label>
                                <ui-select name="horario" ng-model="preCtrl.nuevaPreinscripcion.horario"  class="form-control"
                                           ng-change="preCtrl.onChangeSelectHorario()">
                                    <ui-select-match placeholder="{{appConstantsView.SELECCION_SELECT}}">{{$select.selected.nombre}}</ui-select-match>
                                    <ui-select-choices repeat="horario in preCtrl.horariosList | filter: {nombre: $select.search}">
                                        <div ng-bind-html="horario.nombre"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <div ng-if='preCtrl.visible.validohorario'>
                                    <div class="text-danger">{{appConstantsView.ERROR_CAMPO_REQUERIDO}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{appConstantsView.LABEL_TIPO_DOCUMENTO}}</label><label class="text-danger">*</label>
                                <select ng-options="doc.valor for doc in preCtrl.lsttipodocumentos track by doc.codigo" name="selectdoc" id="selectdoc" validation="required"
                                        class="form-control" ng-model="preCtrl.nuevaPreinscripcion.tipodocumento" ng-change="preCtrl.onChangeTipoDocumento()"
                                        ng-disabled="preCtrl.visible.hayPeriodo"> 
                                    <option ng-if="preCtrl.lsttipodocumentos.length >= appConstantsView.CERO" value="">{{appConstantsView.SELECCION_SELECT}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="numdocumento" class="control-label">{{appConstantsView.LABEL_NUMERO_DOCUMENTO}}</label><label class="text-danger">*</label>
                                <input type="text" id="numdocumento" class="form-control" maxlength="20" minlength="1" name="numdocumento" mask='9' restrict="reject"
                                       repeat="20" ng-blur="preCtrl.onBlurConsultarAspirante()" ng-model="preCtrl.nuevaPreinscripcion.identificacion" ng-disabled=" preCtrl.disableIdentificacion"
                                       validation="required">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="nombres" class="control-label">{{appConstantsView.LABEL_NOMBRES}}</label><label class="text-danger">*</label>
                                <input type="text" id="nombres" class="form-control text-uppercase" maxlength="100" minlength="1" name="nombres" ng-model="preCtrl.nuevaPreinscripcion.nombres"
                                       validation="required" ng-disabled="preCtrl.visible.hayPeriodo">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="apellidos" class="control-label">{{appConstantsView.LABEL_APELLIDOS}}</label><label class="text-danger">*</label>
                                <input type="text" id="apellidos" class="form-control text-uppercase" maxlength="100" minlength="1" name="apellidos" ng-model="preCtrl.nuevaPreinscripcion.apellidos"
                                       validation="required" ng-disabled="preCtrl.visible.hayPeriodo">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="telefono" class="control-label">{{appConstantsView.LABEL_TELEFONO}}</label><label class="text-danger">&nbsp;</label>
                                <input type="text" id="telefono" placeholder="(9)-9999 999" class="form-control" maxlength="12" mask="(9)-9999 999" clean="true"
                                       restrict="reject" repeat="12" name="telefono" ng-model="preCtrl.nuevaPreinscripcion.telefono"
                                       ng-disabled="preCtrl.visible.hayPeriodo">	
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="celular" class="control-label">{{appConstantsView.LABEL_CELULAR}}</label><label class="text-danger">*</label>
                                <input type="text" id="celular" placeholder="(999)-9999 999" class="form-control" maxlength="14" name="celular" mask="(999)-9999 999"
                                       clean="true" restrict="reject" repeat="14" ng-model="preCtrl.nuevaPreinscripcion.celular" ng-blur="preCtrl.onValidarCelular()"
                                       ng-disabled="preCtrl.visible.hayPeriodo">
                                <div ng-if='preCtrl.visible.validocelular'>
                                    <div class="text-danger">{{appConstantsView.ERROR_CAMPO_REQUERIDO}}</div>
                                </div>
                                <div ng-if='preCtrl.visible.validocelularsize'>
                                    <div class="text-danger"> Campo requiere 10 dígitos</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="email" class="control-label">{{appConstantsView.LABEL_EMAIL}}</label><label class="text-danger">*</label>
                                <input type="email" id="email" placeholder="ejemplo@correo.com" class="form-control" maxlength="50" name="email" minlength="1"
                                        ng-model="preCtrl.nuevaPreinscripcion.email" 
                                       validation="required" ng-disabled="preCtrl.visible.hayPeriodo">
                                <div ng-if='preCtrl.visible.validoemail'>
                                    <div class="text-danger">{{appConstantsView.ERROR_EMAIL_INVALIDO}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="barrio" class="control-label">{{appConstantsView.LABEL_BARRIO}}</label><label class="text-danger">*</label>
                                <div>
                                    <ui-select name="barrio" ng-model="preCtrl.nuevaPreinscripcion.barrio" class="form-control" ng-change="preCtrl.onChangeSelectBarrio()"
                                               ng-disabled="preCtrl.visible.hayPeriodo">
                                        <ui-select-match placeholder="{{appConstantsView.SELECCION_SELECT}}">{{$select.selected.nombre}}</ui-select-match>
                                        <ui-select-choices repeat="barrio in preCtrl.barrios | filter: {nombre: $select.search}">
                                            <div ng-bind-html="barrio.nombre"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <div ng-if='preCtrl.visible.validobarrio'>
                                        <div class="text-danger">{{appConstantsView.ERROR_CAMPO_REQUERIDO}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="colegio" class="control-label">{{appConstantsView.LABEL_INSTITUCION}}</label><label class="text-danger">*</label>
                                <ui-select name="colegio" ng-model="preCtrl.nuevaPreinscripcion.institucion" class="form-control" ng-change="preCtrl.onChangeSelectInstitucion()"
                                           >
                                    <ui-select-match placeholder="{{appConstantsView.SELECCION_SELECT}}">{{$select.selected.nombre}}</ui-select-match>
                                    <ui-select-choices repeat="institucion in preCtrl.colegios | filter: {nombre: $select.search}">
                                        <div ng-bind-html="institucion.nombre"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <div ng-if='preCtrl.visible.validoinstitucion'>
                                    <div class="text-danger">{{appConstantsView.ERROR_CAMPO_REQUERIDO}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group" ng-if="preCtrl.showCualInstituciones">
                                <label for="cualinstitucion" class="control-label">¿Cuál?</label><label class="text-danger">*</label>
                                <input type="text" id="cualinstitucion"  class="form-control text-uppercase"
                                       maxlength="100" minlength="1" name="cualinstitucion" ng-model="preCtrl.nuevaPreinscripcion.cual" validation="required">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="colegio" class="control-label">{{appConstantsView.LABEL_MEDIO_DIFUSION}}</label><label class="text-danger">*</label>
                                <ui-select name="colegio" ng-model="preCtrl.nuevaPreinscripcion.medioDifusion" class="form-control" ng-change="preCtrl.onChangeSelectDifusion()"
                                           ng-disabled="preCtrl.visible.hayPeriodo">
                                    <ui-select-match placeholder="{{appConstantsView.SELECCION_SELECT}}">{{$select.selected.nombre}}</ui-select-match>
                                    <ui-select-choices repeat="difusion in preCtrl.medioDifusion | filter: {nombre: $select.search}">
                                        <div ng-bind-html="difusion.nombre"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <div ng-if='preCtrl.visible.validodifusion'>
                                    <div class="text-danger">{{appConstantsView.ERROR_CAMPO_REQUERIDO}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group" ng-if="preCtrl.showCualDifusion">
                                <label for="cualDifusion" class="control-label">¿Cuál?</label><label class="text-danger">*</label>
                                <input type="text" id="cualDifusion" ng-disabled="!preCtrl.showCualDifusion" class="form-control text-uppercase" maxlength="100"
                                       minlength="1" name="cualDifusion" ng-model="preCtrl.nuevaPreinscripcion.cualMedio" validation="required">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label for="convenios" class="control-label">{{appConstantsView.LABEL_TIPO_CONVENIO}}</label><label class="text-danger">*</label>
                                <div>
                                    <ui-select name="convenios" ng-model="preCtrl.nuevaPreinscripcion.convenio" class="form-control" ng-change="preCtrl.onChangeSelectConvenio()"
                                               ng-disabled="preCtrl.visible.hayPeriodo">
                                        <ui-select-match placeholder="{{appConstantsView.SELECCION_SELECT}}">{{$select.selected.nombre}}</ui-select-match>
                                        <ui-select-choices repeat="conven in preCtrl.convenios | filter: {nombre: $select.search}">
                                            <div ng-bind-html="conven.nombre"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <div ng-if='preCtrl.visible.validoconvenio'>
                                        <div class="text-danger">{{appConstantsView.ERROR_CAMPO_REQUERIDO}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <br/>
                <div class="clearfix"></div>
                <div class="button-pane">
                    <input type="submit" class="btn" style="background-color: #00bca4;color: #ffffff;border: 0px solid #dfe8f1;" ng-click="preCtrl.onGuardar()"
                           value="Guardar" ng-if="!preCtrl.visible.hayPeriodo">
                </div>
            </div>
            <br/>
        </div>
    </div>
</div>