<style>
    .validation-select{
        margin-top: -10px;
    }
</style>
<div id="page-title"  ng-controller="GrupoModuloCtrl as grupoMCtrl">
    <h2>{{appConstantsView.TITLE_GRUPO_MODULO}}</h2>
    <p></p>
    <br>
    <div class="content-box">        
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm ">{{grupoMCtrl.grupoModuloAuxiliar.titulo}} {{appConstantsView.TITLE_GRUPO_MODULO}}</h3>
            <div class="float-right">
                <a href="/#/grupo-modulo" ng-click="grupoMCtrl.onVolver()" class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left" ></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="panel-body">     
                <div class="row">
                    <form  method="POST"  name="formCrudGrupoModulo" novalidate>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="nombre" class="control-label">{{appConstantsView.LABEL_NOMBRE}}</label><label class="text-danger">*</label>
                                    <input type="text" maxlength="50"  
                                           id="nombre"   mask='H' repeat='50' restrict='reject'
                                           class="form-control text-uppercase" 
                                           name="nombre"
                                           
                                           ng-model="grupoMCtrl.grupoModulo.nombre" validation="required" >
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">{{appConstantsView.LABEL_PERIODO_ACADEMICO}}</label><label class="text-danger">*</label>
                                    <input class="form-control hidden" ng-model="grupoMCtrl.grupoModulo.idPeriodoAcademico"
                                           name="periodo"
                                           id="periodo" validation="required" validation-error-to="validacionPeriodo">

                                    <ui-select  name="periodo" id="periodos" 
                                                title="{{$select.selected.idNivel}}"
                                                ng-model="grupoMCtrl.grupoModulo.idPeriodoAcademico"  class="form-control">
                                        <ui-select-match   placeholder="--Seleccione--">{{$select.selected.nombrePeriodoAcademico}}</ui-select-match>
                                        <ui-select-choices  repeat="periodo.id as periodo in grupoMCtrl.listadoPeriodosAcademicos | filter: {nombrePeriodoAcademico: $select.search}| orderBy:'nombrePeriodoAcademico'">
                                            <small class="text-uppercase" title="{{periodo.nombrePeriodoAcademico}}">
                                                {{periodo.nombrePeriodoAcademico}}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span id="validacionPeriodo" class="validation validation-select text-danger pull-left"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">{{appConstantsView.LABEL_HORARIO}}</label><label class="text-danger">*</label>                                                                
                                    <input class="form-control hidden" ng-model="grupoMCtrl.grupoModulo.idHorario"
                                           name="horario"
                                           id="horario" validation="required" validation-error-to="validacionHorario">
                                    <ui-select name="horarioS" id="horarioS"  
                                                title="{{$select.selected.nombreHorario}}"
                                               ng-model="grupoMCtrl.grupoModulo.idHorario"  class="form-control">
                                        <ui-select-match   placeholder="--Seleccione--">{{$select.selected.nombre}}</ui-select-match>
                                        <ui-select-choices  repeat="horario.id as horario in grupoMCtrl.listadoHorarios | filter: {nombre: $select.search}">
                                            <small class="text-uppercase" title="{{horario.nombre}}">
                                                {{horario.nombre}}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span id="validacionHorario" class="validation validation-select text-danger pull-left"></span>
                                </div>  
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">{{appConstantsView.LABEL_MODULO}}</label><label class="text-danger">*</label>                                                                
                                    <input class="form-control hidden" ng-model="grupoMCtrl.grupoModulo.idModulo"
                                           name="modulo"
                                           id="modulo" validation="required" validation-error-to="validacionModulo">
                                    <ui-select name="modulos" id="modulos"  
                                               title="{{$select.selected.nombre}}"
                                               ng-model="grupoMCtrl.grupoModulo.idModulo"  class="form-control">
                                        <ui-select-match   placeholder="--Seleccione--">{{$select.selected.nombre}}</ui-select-match>
                                        <ui-select-choices  repeat="modulo.id as modulo in grupoMCtrl.listadoModulos | filter: {nombre: $select.search}">
                                            <small class="text-uppercase" title="{{modulo.nombre}}">
                                                {{modulo.nombre}}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span id="validacionModulo" class="validation validation-select text-danger pull-left"></span>
                                </div>  

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">{{appConstantsView.LABEL_GRUPO}}</label><label class="text-danger">*</label>                                                                
                                    <input class="form-control hidden" ng-model="grupoMCtrl.grupoModulo.idGrupo"
                                           name="grupo"
                                           id="grupo" validation="required" validation-error-to="validacionGrupo">
                                    <ui-select name="grupos" id="grupos"  
                                                title="{{$select.selected.nombreModulo}}"
                                               ng-model="grupoMCtrl.grupoModulo.idGrupo"  class="form-control">
                                        <ui-select-match   placeholder="--Seleccione--">{{$select.selected.nombreGrupo}}</ui-select-match>
                                        <ui-select-choices  repeat="grupo.id as grupo in grupoMCtrl.listadoGrupos | filter: {nombreGrupo: $select.search}">
                                            <small class="text-uppercase" title="{{grupo.nombreGrupo}}">
                                                {{grupo.nombreGrupo}}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span id="validacionGrupo" class="validation validation-select text-danger pull-left"></span>
                                </div>  
                            </div>
                        </div>
                        <div class="button-pane">
                            <input type="submit" class="btn btn-success" ng-if="!(grupoMCtrl.grupoModuloAuxiliar.disableVerDetalle && grupoMCtrl.grupoModuloAuxiliar.disableCodigo)" value="Guardar" ng-click="grupoMCtrl.onSubmitForm()">
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



