<div id="page-title" ng-controller="GrupoModuloCtrl as grupoMCtrl">
    <div class="row">
        <div class="float-left" style="margin-left: 10px">
            <h2 style="line-height: 30px;">{{appConstantsView.TITLE_GRUPO_MODULO}}</h2>
        </div>
    </div>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">{{appConstantsView.TITLE_LISTADO_GRUPO_MODULO}}</h3>
            <div class="float-right" ng-controller="menuCtrl as mCtrl">
                <a class="btn btn-sm btn-info icon-tool-add" ng-click="grupoMCtrl.onClickToAddGrupoModulo()" style="background-color: #00bca4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-plus"></i><span class="info-icon-tool text-capitalize">{{appConstantsView.BOTON_AGREGAR}}</span>
                    </div>
                </a>
                <a  ng-click="mCtrl.onListarOPciones('/#/admin-registro-control')" class="btn btn-sm btn-info icon-tool-add back-button"
                    style="background-color: #0096D4; color: #ffffff;cursor: pointer; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="row">
                <div class="col-sm-6">
                    <div class="dataTables_length" id="datatable-example_length">
                        <label>
                            <select ng-model="grupoMCtrl.display" 
                                    ng-init="grupoMCtrl.display = grupoMCtrl.display || grupoMCtrl.options[appConstantsView.CERO].value"
                                    ng-options="option.value as option.name for option in grupoMCtrl.options"
                                    ng-change="grupoMCtrl.display <= grupoMCtrl.listadoGrupos ? loadDat(n - 1) : ''">
                            </select>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div>
                <table object-table display=parametroCtrl.display data="grupoMCtrl.listadoGrupoModulo" headers="Nombre,Periodo Academico,Modulo,Grupo,Horario,Opciones"
                    fields="nombre,nombrePeriodo,nombreModulo,nombreGrupo,nombreHorario" search="separate" sorting="compound"
                    selected-model="grupoMCtrl.report.selected" editable="false" search="false" resize="false" select="multiply">
                    <tbody>
                        <tr ng-click="$owner.grupoMCtrl.onSelectTodosTable(ifSelected(item)); setSelected(item)">
                            <td>{{::item.nombre}}</td>
                            <td>{{::item.nombrePeriodo}}</td>
                            <td>{{::item.nombreModulo}}</td>
                            <td>{{::item.nombreGrupo}}</td>
                            <td>{{::item.nombreHorario}}</td>
                            <td class="text-center opciones-table">
<!--                                <a class="btn btn-primary btn-tools-table" title="Ver Detalle" ng-click="$owner.grupoMCtrl.onClickToVerDetalleGrupoModulo(item)">
                                    <i class="glyphicon glyphicon-eye-open "></i>
                                </a>-->
                                <a class="btn btn-info btn-tools-table" title="Modificar" ng-click="$owner.grupoMCtrl.onClickToUpdateGrupoModulo(item)">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </a>
                            </td>
                            <td ng-hide="true">{{$owner.grupoMCtrl.filtrados = $filtered}}</td>
                        </tr>
                        <tfoot>
                            <tr ng-show="$filtered.length === $owner.appConstantsView.CERO && $owner.grupoMCtrl.listadoGrupoModulo.length !== $owner.appConstantsView.CERO">
                                <td colspan="6">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                            </tr>
                            <tr ng-show="$owner.grupoMCtrl.listadoGrupoModulo.length === $owner.appConstantsView.CERO">
                                <td colspan="6">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                            </tr>
                        </tfoot>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>