<style>
    .info-icon-tool {
        padding: 5px;
    }

    tr {
        height: 0px !important
    }
</style>
<script>
    $("#fechainicio").focus(function () {
    value = $("#fechainicio").val();
    });
    $("#fechainicio").blur(function () {
    $("#fechainicio").val(value);
    });
    $("#fechafin").focus(function () {
    value = $("#fechafin").val();
    });
    $("#fechafin").blur(function () {
    $("#fechafin").val(value);
    });</script>
<script src="js/main-app.js"></script>
<div id="page-title" ng-controller="CarteraCtrl as carteraController">
    <h2>Cartera</h2>
    <p></p>
    <br>
    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left content-box-header-title btn-sm">{{appConstantsView.CONSULTA_CARTERA}}</h3>
            <div class="float-right" style="margin-right: 10px" ng-controller="menuCtrl as mCtrl">
                <a ng-click="mCtrl.onListarOPciones('/#/crm')" class="btn btn-sm btn-info icon-tool-add back-button" style="background-color: #0096D4;cursor: pointer; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
                <a ng-click="mCtrl.onListarOPciones('/#/cartera-gestion')" class="btn btn-sm btn-danger icon-tool-add " style="background-color: #0096D4;cursor: pointer; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-adjust"></i><span class="info-icon-tool">Gestionar Cartera</span>
                    </div>
                </a>
            </div>
        </div>

        <div class="content-box-wrapper">
            <div class="panel-body">
                <div class="row">
                    <div id="fechaCampanha" class="input-daterange input-group">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label pull-left">{{appConstantsView.LABEL_FECHA_INICIO}}</label>
                                <div id="fecha-inicio" class="input-group date">
                                    <input id="fechainicio" name="fechainicio" style="text-align: left;" mask="39/19/9999" restrict="reject" readonly="true"
                                           placeholder="dd/mm/aaaa" type="text" ng-model="carteraController.carteraEntity.fechainicio"
                                           validation-error-to="validacionFechaInicial" class="form-control date">
                                    <span
                                        class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                                <span id="validacionFechaInicial" class="validation text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label pull-left">{{appConstantsView.LABEL_FECHA_FIN}}</label>
                                <div id="fecha-fin" class="input-group date">
                                    <input id="fechafin" name="fechafin" style="text-align: left;" mask="39/19/9999" restrict="reject" readonly="true" placeholder="dd/mm/aaaa"
                                           type="text" ng-model="carteraController.carteraEntity.fechafin" validation-error-to="validacionFechaFin"
                                           class="form-control date"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                                <span id="validacionFechaFin" class="validation text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button-pane">
                    <input class="btn btn-info" type="submit" value="Consultar" ng-click="carteraController.onConsultarListado()">
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="content-box" ng-if="carteraController.carteraEntityAuxiliar.mostrarTabla">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">{{appConstantsView.TITLE_LISTADO_CARTERA}}</h3>
            <div class="float-right">
                <a href="" class="btn btn-sm btn-success icon-tool-add  {{carteraController.report.selected.length === appConstantsView.CERO|| carteraController.report.selected.length === appConstantsView.UNO?'disabled':' '}}"
                   ng-click="carteraController.onOpenModalMasivo()" ng-disabled="carteraController.disabledCampos" data-style="dark"
                   data-theme="bg-white" id="modalBtnCorreoMasivo" data-opacity="40" style="border: 0px solid #dfe8f1;">
                    <div class="glyph-icon  tooltip-button glyphicon-envelope" title="">
                        <span class="info-icon-tool text-capitalize">{{appConstantsView.BOTON_CORREO}}</span>
                    </div>
                </a>
                <a href="" 
                   ng-json-export-excel 
                   data="carteraController.listadoCartera"
                   report-fields="{
                   nReferencia:'Referencia',
                   cliente:'Cliente',
                   concepto:'Concepto',
                   valor:'Valor',
                   fechaVencimiento:'Fecha Vencimiento',
                   styleLable:'Estado',
                   valor:'Valor Liquidado',
                   saldoAbonado:'Abonado',
                   SaldoPendiente:'Pendiente'
                   }"
                   filename=" 'Listado de Clientes' " 
                   title="Listado de Clientes"
                   data-style="dark" 
                   data-theme="bg-white" 
                   class="btn btn-sm btn-success icon-tool-add back-button {{carteraController.filtrados.length === appConstantsView.CERO?'disabled':' '}}"
                   data-animation="flipOutX" style="color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-print"></i><span class="info-icon-tool">{{appConstantsView.BOTON_IMPRIMIR}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="dataTables_length" id="datatable-example_length">
                            <label>
                                <select ng-model="carteraController.display" 
                                        ng-init="carteraController.display = carteraController.display || carteraController.options[appConstantsView.CERO].value"
                                        ng-options="option.value as option.name for option in carteraController.options">
                                </select>
                            </label>
                        </div>
                        <div class="margTop0 pull-right">
                            {{appConstantsView.TITLE_MARCAR_TODOS}} 
                            <input bs-switch switch-active="{{!(carteraController.filtrados.length === appConstantsView.CERO || carteraController.disabledCampos)}}" ng-model="carteraController.selectTodos"
                                   ng-disabled="carteraController.filtrados.length === appConstantsView.CERO" type="checkbox" ng-true-value="true" ng-false-value="false"
                                   switch-on-text="Si" switch-off-text="No" ng-change="carteraController.onSelectTodos()" class="form-control col-xs-12 pull-left">
                        </div>
                    </div>
                </div>
                <table object-table class="hover-column" 
                       data="carteraController.listadoCartera" 
                       display="carteraController.display" 
                       headers="N° Referencia,Cliente,Concepto,Valor,Fecha Vencimiento,Estado,Valor,Abonado,Saldo,Opciones"
                       fields="nReferencia,cliente,concepto,valor,fechaVencimiento,styleLable,valor, saldoAbonado, SaldoPendiente" 
                       sorting="compound" selected-model="carteraController.report.selected"
                       editable="false" 
                       search="separate" 
                       resize="false" 
                       add-filter="| filter:$owner.all">
                    <tbody>
                        <tr>
                        <tr style="height: 60px;" ng-click="$owner.carteraController.onSelectTodosTable(ifSelected(item), item);
                            setSelected(item)">
                            <td>{{::item.nReferencia}}</td>
                            <td>{{::item.cliente}}</td>
                            <td style="text-align: center" class="text-uppercase">{{::item.concepto}}</td>
                            <td style="text-align: center">{{::item.valor| currency}}</td>
                            <td style="text-align: center">{{::item.fechaVencimiento}}</td>
                            <td style="text-align: center"> <span class="{{item.style}}">{{::item.styleLable}}</span></td>
                            <td style="text-align: center" class="money">{{::item.valor| currency}}</td>
                            <td style="text-align: center" class="money">{{::item.saldoAbonado| currency}}</td>
                            <td style="text-align: center" class="money">{{::item.saldoPendiente| currency}}</td>
                            <td class="text-center opciones-table">
                                <a class="btn btn-primary btn-tools-table"
                                   title="Ver Detalle" 
                                   ng-click="$owner.carteraController.onVerDetalle(item)">
                                    <i class="glyphicon glyphicon-eye-open"></i>
                                </a>
                                <a ng-hide="{{item.styleLabel === 'VIGENTE'}}" class="btn btn-yellow btn-tools-table"
                                   title="Enviar Mensaje" 
                                   ng-click="$owner.carteraController.onEnviarNotificacion(item)">
                                    <i class="glyphicon glyphicon-envelope"></i>
                                </a>
                            </td>
                            <td ng-hide="true">{{$owner.carteraController.filtrados = $filtered}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="text-align: center" class="money">{{$owner.carteraController.getTotalValor($filtered) | currency}}</td>
                            <td style="text-align: center" class="money">{{$owner.carteraController.getTotalAbonado($filtered) | currency}}</td>
                            <td style="text-align: center" class="money">{{$owner.carteraController.getTotalPendiente($filtered) | currency}}</td>
                        </tr>
                        <tr ng-show="$filtered.length === $owner.appConstantsView.CERO && $owner.carteraController.listadoCartera.length !== $owner.appConstantsView.CERO">
                            <td colspan="6">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                        </tr>
                        <tr ng-show="$owner.carteraController.listadoCartera.length === $owner.appConstantsView.CERO">
                            <td colspan="6">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                        </tr>
                    </tfoot>
                </table>


                <div id="modalDatos" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">{{appConstantsView.CERRAR_MODAL}}</button>
                                <h4 class="modal-title">Detalle Recibos de Pago</h4>
                            </div>
                            <div class="modal-body">

                                <div class="content-box">
                                    <div class="button-pane button-pane-top">
                                        <div class="float-left">
                                            <h3 class="text-uppercase content-box-header-title btn-sm">{{appConstantsView.TITLE_INFORMACION_CLIENTE}}</h3>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="codigo" class="control-label">{{appConstantsView.LABEL_CODIGO}}</label>
                                                    <input name="codigo" id="codigo" ng-disabled="true" class="text-uppercase form-control" type="text" ng-model="carteraController.carteraEntity.codigo">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="nombre" class="control-label">{{appConstantsView.LABEL_NOMBRES}}</label>
                                                    <input class="text-uppercase form-control" type="text" ng-disabled="true" name="nombre" ng-model="carteraController.carteraEntity.nombre">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="programa" class="control-label">{{appConstantsView.LABEL_PROGRAMA_ACADEMICO}}</label>
                                                    <input name="programa" id="programa" ng-disabled="true" class="text-uppercase form-control" type="text" ng-model="carteraController.carteraEntity.programa">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="modalidad" class="control-label">{{appConstantsView.LABEL_MODALIDAD}}</label>
                                                    <input name="modalidad" id="modalidad" ng-disabled="true" class="text-uppercase form-control" type="text" ng-model="carteraController.carteraEntity.modalidad">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="semestre" class="control-label">{{appConstantsView.LABEL_SEMESTRE}}</label>
                                                    <input class="text-uppercase form-control" type="text" ng-disabled="true" name="semestre" ng-model="carteraController.carteraEntity.semestre">
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="direccion" class="control-label">{{appConstantsView.LABEL_DIRECCION}}</label>
                                                    <input name="direccion" id="direccion" ng-disabled="true" class="text-uppercase form-control" type="text" ng-model="carteraController.carteraEntity.direccion">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-sm-6">
                                                            <div class="form-group">
                                                                <label for="telefono" class="control-label">{{appConstantsView.LABEL_TELEFONO}}</label>
                                                                <input name="telefono" id="telefono" ng-disabled="true" class="text-uppercase form-control" type="text" ng-model="carteraController.carteraEntity.telefono">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-sm-6">
                                                            <div class="form-group">
                                                                <label for="celular" class="control-label">{{appConstantsView.LABEL_CELULAR}}</label>
                                                                <input name="celular" id="celular" ng-disabled="true" class="text-uppercase form-control" type="text" ng-model="carteraController.carteraEntity.celular">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="email" class="control-label">{{appConstantsView.LABEL_EMAIL}}</label>
                                                    <input name="email" id="email" ng-disabled="true" class="text-uppercase form-control" type="text" ng-model="carteraController.carteraEntity.email">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-box">
                                    <div class="button-pane button-pane-top">
                                        <div class="float-left">
                                            <h3 class="text-uppercase content-box-header-title btn-sm">{{appConstantsView.TITLE_INFO_CANTERA}}</h3>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="numeroReferencia" class="control-label">{{appConstantsView.TITLE_NUM_REFERENCIA}}</label>
                                                    <input name="numeroReferencia" id="numeroReferencia" ng-disabled="true" class="text-uppercase form-control" type="text" ng-model="carteraController.carteraEntity.numeroRef">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="concepto" class="control-label">{{appConstantsView.LABEL_CONCEPTO}}</label>
                                                    <input class="text-uppercase form-control" type="text" ng-disabled="true" name="concepto" ng-model="carteraController.carteraEntity.concepto">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="tipoPlantilla" class="control-label">{{appConstantsView.LABEL_PERIODO_ACADEMICO}}</label>
                                                    <input name="codigo" id="codigo" ng-disabled="true" class="text-uppercase form-control" type="text" ng-model="carteraController.carteraEntity.periodo">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="valor" class="control-label">{{appConstantsView.LABEL_VALOR}}</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            $
                                                        </span>
                                                        <input name="codigo" id="codigo" ui-money-mask="0" ng-disabled="true" class="text-uppercase form-control" type="text" ng-model="carteraController.carteraEntity.valor">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="valor" class="control-label">Abonado</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            $
                                                        </span>
                                                        <input name="codigo" id="codigo" ui-money-mask="0" ng-disabled="true" class="text-uppercase form-control" type="text" ng-model="carteraController.carteraEntity.abonado">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="valor" class="control-label">Pendiente</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            $
                                                        </span>
                                                        <input name="codigo" id="codigo" ui-money-mask="0" ng-disabled="true" class="text-uppercase form-control" type="text" ng-model="carteraController.carteraEntity.pendiente">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="leyenda" class="control-label">{{appConstantsView.LABEL_FECHA_VENCIMIENTA}}</label>
                                                    <input name="codigo" id="codigo" ng-disabled="true" class="text-uppercase form-control" type="text" ng-model="carteraController.carteraEntity.fechaVencimiento">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-6">
                                                <div>
                                                    <label for="estadoCartera" class="control-label">{{appConstantsView.LABEL_ESTADO}}</label>
                                                    <input name="estadoCartera" id="estadoCartera" ng-disabled="true" class="text-uppercase form-control" type="text" ng-model="carteraController.carteraEntity.estadoCartera">    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="modalSeguimientoLlamadas" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <form method="POST" novalidate name="formAgregarSeguimientoLlamada">
                            <div class="modal-content" style="height: 300px">
                                <div class="content-box">
                                    <div class="modal-header">
                                        <button ng-click="campCtrl.onCerrarPopupSeguimientoLlamadas()" type="button" class="close" data-dismiss="modal">{{appConstantsView.CERRAR_MODAL}}</button>
                                        <h4 class="modal-title">{{campCtrl.tituloModal}} Seguimiento Llamadas </h4>
                                        <h4 class="modal-title text-uppercase">{{campCtrl.nuevoSeguimiento.nombrecompleto}}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="col-lg-12 col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label pull-left">{{appConstantsView.LABEL_FECHA_FIN}}</label>
                                                <div id="fecha-fin" class="input-group date">
                                                    <input id="fechafin" name="fechafin" style="text-align: left;" mask="39/19/9999" restrict="reject" readonly="true" placeholder="dd/mm/aaaa"
                                                           type="text" ng-model="carteraController.carteraEntity.fechaProximallamada" validation-error-to="validacionFechaFin"
                                                           class="form-control date"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                </div>
                                                <span id="validacionFechaFin" class="validation text-danger"></span>
                                            </div>
                                        </div>

                                        <textarea name="descripcionListaSeguimientoLlamada" class="form-control" ng-trim="false" rows="4" cols="75" max-length="750"
                                                  style="overflow-y: scroll; height: 150px;resize: none;" ng-model="campCtrl.nuevaActividad.seguimientoLlamada" ng-disabled="campCtrl.esvisible.eseditable || campCtrl.esvisibleevento.disabledDetalle"
                                                  validation="required" validation-error-to="seguimientoError"></textarea>
                                        <span class="pull-left validation text-danger" id="seguimientoError"></span>
                                        <span class="pull-right"> {{750 - campCtrl.nuevaActividad.seguimientoLlamada.length}} de 750</span>
                                        <br/>
                                        <div class="float-right">
                                            <input class="btn btn-success" 
                                                   type="submit"
                                                   ng-click="campCtrl.onGuardarSeguimientoLlamada()" 
                                                   value="Agregar Seguimiento">
                                        </div>
                                        <br/>
                                    </div>
                                    <div class="modal-footer btnCenter" style="margin-top: 5px" ng-if="!campCtrl.campodisable">
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="content-box">
                                                <div class="button-pane button-pane-top">
                                                    <h3 class="float-left text-uppercase content-box-header-title btn-xs">
                                                        <button class="btn btn-xs btn-info icon-tool-add" data-toggle="collapse" data-target="#lista2">
                                                            <i class="glyphicon glyphicon-collapse-down"></i>
                                                        </button> {{appConstantsView.BUTTON_SEGUIMIENTO_LLAMADAS}} </h3>
                                                </div>
                                                <div class="content-box-wrapper collapse" id="lista2">
                                                    <div class="panel-body">
                                                        <table object-table 
                                                               data="campCtrl.nuevaActividad.listaSeguimientosLlamadasContacto" 
                                                               display="4" 
                                                               headers="Comentario,Autor,Fecha,Opciones"
                                                               fields="descripcion,nombreUsuario,fechaString" 
                                                               sorting="compound" 
                                                               selected-model="campCtrl.report.selectedSeguimiento"
                                                               editable="false" 
                                                               search="separate" 
                                                               resize="false" 
                                                               select="false">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100px;">{{::item.descripcion}}</td>
                                                                    <td>{{::item.nombreUsuario}}</td>
                                                                    <td>{{::item.fechaString}}</td>
                                                                    <td class="text-center opciones-table">
                                                                        <a class="btn btn-primary btn-tools-table" title="Ver detalle" ng-click="$owner.campCtrl.onVerDetalleSeguimientoLlamadas(item)">
                                                                            <i class="glyphicon glyphicon-eye-open"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                            <tfoot>
                                                                <tr ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.campCtrl.nuevaActividad.listaSeguimientosLlamadasContacto.length !== $owner.appConstantsView.CERO">
                                                                    <td colspan="7">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                                                                </tr>
                                                                <tr ng-if="$owner.campCtrl.nuevaActividad.listaSeguimientosLlamadasContacto.length === $owner.appConstantsView.CERO">
                                                                    <td colspan="7">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                                                </tr>
                                                            </tfoot>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div id="modalNotificacionMasivo" class="popover col-lg-12 col-sm-12 col-xs-12 col-md-12 popup-admisiones" style="width: 390px;min-width: 500px;"
                     role="tooltip">
                    <div class="arrow" style="left: 50%; top: 377px; display: none"></div>
                    <h3 class="popover-title " style="text-transform: capitalize ;font-size: 16px;">{{appConstantsView.TITLE_NOTIFICACION_MASIVA}} </h3>
                    <div class="popover-content">
                        <p style="font-style: italic; opacity: 1;display: block">{{appConstantsView.TITLE_NOT_DES}}</p>
                        <br/>
                        <div class="button-pane">
                            <input class="btn btn-primary" type="submit" value="Aceptar" ng-click="carteraController.onNotificar()"/>
                            <input class="btn btn-danger" type="submit" value="Cancelar" ng-click="carteraController.onCloseModal()" id="btnCancelModal"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>