<style>
    @media screen and (max-width: 2000px) {
        .table-scroll-x {
            overflow-x: scroll;
        }
    }
</style>

<div id="page-title" ng-controller="CarteraCtrl as carteraController">
    <h2>Cartera</h2>
    <br>

    <div class="content-box">
        <div class="button-pane button-pane-top">
            <h3 class="float-left text-uppercase content-box-header-title btn-sm">Detalle Cartera</h3>
            <div class="float-right">
                <a href="#/cartera" ng-click="carteraController.onLimpiarRegistro()"
                    class="btn btn-sm btn-info icon-tool-add back-button" data-animation="flipOutX"
                    style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-arrow-left"></i><span
                            class="info-icon-tool">{{appConstantsView.BOTON_VOLVER}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <uib-tabset justify="false">
            <uib-tab index="0" heading="Técnico Laboral"
                ng-click="carteraController.onLimpiarListaEC(); carteraController.onConsultarListadoSeguimiento()">
                <div class="panel-body ">
                    <div class="content-box">
                        <div class="button-pane button-pane-top">
                            <h3 class="float-left text-uppercase content-box-header-title btn-sm">Detalle Cartera
                                Técnico Laboral</h3>
                            <div class="float-right">
                                <a href="" ng-json-export-excel data="carteraController.listadoCarteraSeguimiento"
                                    report-fields="{
                                                            codigoEstudiante:'Identificacion',
                                                            nombreEstudiante:'Estudiante',
                                                            nombrePrograma:'Programa',
                                                            horario:'Horario',
                                                            celular:'Celular',
                                                            semestre:'Semestre',
                                                            estadoAdmision:'Estado Admision',
                                                            cantidadLiquidaciones:'Total Liquidaciones',
                                                            totalLiquidado:'Total Liquidado',
                                                            totalAbonado:'Total Abonado',
                                                            totalPendiente:'Total Pendiente',
                                                            estado:'Estado',
                                                            estadoCredito:'Estado Credito',
                                                            estadoMatriculaActual:'Estado Matricula',
                                                            fechaMatriculaActual:'Fecha Matricula',
                                                            ultimoPagoPeriodo:'Ultimo Periodo Pago',
                                                            seccional:'Seccional'
                                                            }" filename=" 'Listado de Clientes' "
                                    title="Listado de Clientes" data-style="dark" data-theme="bg-white"
                                    class="btn btn-sm btn-success icon-tool-add back-button {{carteraController.filtrados.length === appConstantsView.CERO?'disabled':' '}}"
                                    data-animation="flipOutX" style="color: #ffffff; border: 0px solid #dfe8f1;">
                                    <div class="glyph-icon">
                                        <i class="glyphicon glyphicon-print"></i><span
                                            class="info-icon-tool">{{appConstantsView.BOTON_IMPRIMIR}}</span>
                                    </div>
                                </a>
                                <a ng-click="carteraController.onConsultarListadoSeguimiento()"
                                    class="btn btn-sm btn-info icon-tool-add back-button" data-animation="flipOutX"
                                    style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                                    <div class="glyph-icon">
                                        <i class="glyphicon glyphicon-refresh"></i><span
                                            class="info-icon-tool">Refrescar</span>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="content-box-wrapper">
                            <table object-table class="hover-column" data="carteraController.listadoCarteraSeguimiento"
                                display="carteraController.display" class="table-scroll-x"
                                headers="Código, Cliente,Programa,Horario,Celular,Semestre,Estado Admision,Seccional,Estado,Estado Convenio,Estado Matrícula,Fecha Matricula,Ultimo Periodo,Cantidad Liquidaciones,Total Liquidado,Total Abonado,Total Pendiente,Opciones"
                                fields="codigoEstudiante,nombreEstudiante,nombrePrograma,horario,celular,semestre,estadoAdmision,seccional,estado,estadoCredito,estadoMatriculaActual,fechaMatriculaActual,ultimoPagoPeriodo,cantidadLiquidaciones,totalLiquidado,totalAbonado,totalPendiente"
                                sorting="compound" selected-model="carteraController.report.selected" editable="false"
                                search="separate" resize="false" add-filter="| filter:$owner.all">
                                <tbody>
                                    <tr>
                                        <td>{{::item.codigoEstudiante}}</td>
                                        <td>{{::item.nombreEstudiante}}</td>
                                        <td>{{::item.nombrePrograma}}</td>
                                        <td>{{::item.horario}}</td>
                                        <td>{{::item.celular}}</td>
                                        <td>{{::item.semestre}}</td>
                                        <td>{{::item.estadoAdmision}}</td>
                                        <td>{{::item.seccional}}</td>
                                        <td ng-show="item.estado !== '1'">INACTIVO</td>
                                        <td ng-show="item.estado === '1'">ACTIVO</td>
                                        <td ng-show="item.estadoCredito === '1'">ACTIVO</td>
                                        <td ng-show="item.estadoCredito !== '1'">INACTIVO</td>
                                        <td>{{::item.estadoMatriculaActual === null ? 'NO GENERADA' : item.estadoMatriculaActual}}
                                        </td>
                                        <td>{{::item.fechaMatriculaActual  | date:'dd/MM/yyyy'}}</td>
                                        <td>{{::item.ultimoPagoPeriodo  }}</td>
                                        <td style="text-align: center" class="text-uppercase">
                                            {{::item.cantidadLiquidaciones}}
                                        </td>
                                        <td style="text-align: center" class="money">{{::item.totalLiquidado| currency}}
                                        </td>
                                        <td style="text-align: center" class="money">{{::item.totalAbonado| currency}}
                                        </td>
                                        <td style="text-align: center" class="money">{{::item.totalPendiente| currency}}
                                        </td>
                                        <td class="text-center opciones-table">
                                            <a class="btn btn-primary btn-tools-table" title="Ver Detalle"
                                                ng-click="$owner.carteraController.onVerDetalleLiquidaciones(item.codigoEstudiante)">
                                                <i class="glyphicon glyphicon-eye-open"></i>
                                            </a>

                                            <a class="btn btn-success btn-tools-table" ng-show="item.estado !== '1'"
                                                title="Activar"
                                                ng-click="$owner.carteraController.onCambiarEstado(item.codigoEstudiante, '1', item)">
                                                <i class="glyphicon glyphicon-ok"></i>
                                            </a>

                                            <a class="btn btn-danger btn-tools-table" ng-show="item.estado === '1'"
                                                title="Desactivar"
                                                ng-click="$owner.carteraController.onCambiarEstado(item.codigoEstudiante, '0', item)">
                                                <i class="glyphicon glyphicon-remove"></i>
                                            </a>

                                            <a class="btn btn-success btn-tools-table"
                                                ng-show="item.estadoCredito !== '1'" title="TIENE CONVENIO"
                                                ng-click="$owner.carteraController.onCambiarEstadoConvenio(item.codigoEstudiante, '1', item)">
                                                TC
                                            </a>

                                            <a class="btn btn-danger btn-tools-table"
                                                ng-show="item.estadoCredito === '1'" title="NO TIENE CONVENIO"
                                                ng-click="$owner.carteraController.onCambiarEstadoConvenio(item.codigoEstudiante, '0', item)">
                                                NTC
                                            </a>

                                        </td>
                                        <td ng-hide="true">{{$owner.carteraController.filtrados = $filtered}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td style="text-align: center" class="money">
                                            {{$owner.carteraController.getTotalValorSeguimiento($filtered) | currency}}
                                        </td>
                                        <td style="text-align: center" class="money">
                                            {{$owner.carteraController.getTotalAbonadoSeguimiento($filtered) | currency}}
                                        </td>
                                        <td style="text-align: center" class="money">
                                            {{$owner.carteraController.getTotalPendienteSeguimiento($filtered) | currency}}
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr
                                        ng-show="$filtered.length === $owner.appConstantsView.CERO && $owner.carteraController.listadoCarteraSeguimiento.length !== $owner.appConstantsView.CERO">
                                        <td colspan="6">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                                    </tr>
                                    <tr
                                        ng-show="$owner.carteraController.listadoCarteraSeguimiento.length === $owner.appConstantsView.CERO">
                                        <td colspan="6">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </uib-tab>

            <uib-tab index="1" heading="Educación Continua"
                ng-click="carteraController.onLimpiarListaTC(); carteraController.onConsultarListadoSeguimientoEC()">
                <div class="panel-body ">
                    <div class="content-box">
                        <div class="button-pane button-pane-top">
                            <h3 class="float-left text-uppercase content-box-header-title btn-sm">Detalle Cartera
                                Educación Continuada</h3>
                            <div class="float-right">
                                <a href="" ng-json-export-excel data="carteraController.listadoCarteraSeguimientoEC"
                                    report-fields="{
                                                                    codigoEstudiante:'Identificacion',
                                                                    nombreEstudiante:'Estudiante',
                                                                    nombrePrograma:'Programa',
                                                                    horario:'Horario',
                                                                    celular:'Celular',
                                                                    semestre:'Semestre',
                                                                    cantidadLiquidaciones:'Total Liquidaciones',
                                                                    totalLiquidado:'Total Liquidado',
                                                                    totalAbonado:'Total Abonado',
                                                                    totalPendiente:'Total Pendiente',
                                                                    estado:'Estado',
                                                                    estadoCredito:'Estado Credito',
                                                                    estadoMatriculaActual:'Estado Matricula',
                                                                    fechaMatriculaActual:'Fecha Matricula',
                                                                    seccional:'Seccional'
                                                                    }" filename=" 'Listado de Clientes' "
                                    title="Listado de Clientes" data-style="dark" data-theme="bg-white"
                                    class="btn btn-sm btn-success icon-tool-add back-button {{carteraController.filtrados.length === appConstantsView.CERO?'disabled':' '}}"
                                    data-animation="flipOutX" style="color: #ffffff; border: 0px solid #dfe8f1;">
                                    <div class="glyph-icon">
                                        <i class="glyphicon glyphicon-print"></i><span
                                            class="info-icon-tool">{{appConstantsView.BOTON_IMPRIMIR}}</span>
                                    </div>
                                </a>
                                <a ng-click="carteraController.onConsultarListadoSeguimientoEC()"
                                    class="btn btn-sm btn-info icon-tool-add back-button" data-animation="flipOutX"
                                    style="background-color: #0096D4; color: #ffffff; border: 0px solid #dfe8f1;">
                                    <div class="glyph-icon">
                                        <i class="glyphicon glyphicon-refresh"></i><span
                                            class="info-icon-tool">Refrescar</span>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="content-box-wrapper">
                            <table object-table class="hover-column"
                                data="carteraController.listadoCarteraSeguimientoEC" display="carteraController.display"
                                class="table-scroll-x"
                                headers="Código, Cliente,Programa,Horario,Celular,Semestre,Seccional,Estado,Estado Convenio,Estado Matrícula,Fecha Matricula,Cantidad Liquidaciones,Total Liquidado,Total Abonado,Total Pendiente"
                                fields="codigoEstudiante,nombreEstudiante,nombrePrograma,horario,celular,semestre,seccional,estado,estadoCredito,estadoMatriculaActual,fechaMatriculaActual,cantidadLiquidaciones,totalLiquidado,totalAbonado,totalPendiente"
                                sorting="compound" selected-model="carteraController.report.selected" editable="false"
                                search="separate" resize="false" add-filter="| filter:$owner.all">
                                <tbody>
                                    <tr>
                                        <td>{{::item.codigoEstudiante}}</td>
                                        <td>{{::item.nombreEstudiante}}</td>
                                        <td>{{::item.nombrePrograma}}</td>
                                        <td>{{::item.horario}}</td>
                                        <td>{{::item.celular}}</td>
                                        <td>{{::item.semestre}}</td>
                                        <td>{{::item.seccional}}</td>
                                        <td ng-show="item.estado !== '1'">INACTIVO</td>
                                        <td ng-show="item.estado === '1'">ACTIVO</td>
                                        <td ng-show="item.estadoCredito === '1'">ACTIVO</td>
                                        <td ng-show="item.estadoCredito !== '1'">INACTIVO</td>
                                        <td>{{::item.estadoMatriculaActual === null ? 'NO GENERADA' : item.estadoMatriculaActual}}
                                        </td>
                                        <td>{{::item.fechaMatriculaActual  | date:'dd/MM/yyyy'}}</td>
                                        <td style="text-align: center" class="text-uppercase">
                                            {{::item.cantidadLiquidaciones}}
                                        </td>
                                        <td style="text-align: center" class="money">{{::item.totalLiquidado| currency}}
                                        </td>
                                        <td style="text-align: center" class="money">{{::item.totalAbonado| currency}}
                                        </td>
                                        <td style="text-align: center" class="money">{{::item.totalPendiente| currency}}
                                        </td>
                                        <td ng-hide="true">{{$owner.carteraController.filtrados = $filtered}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Totales</td>
                                        <td style="text-align: center" class="money">
                                            {{$owner.carteraController.getTotalValorSeguimiento($filtered) | currency}}
                                        </td>
                                        <td style="text-align: center" class="money">
                                            {{$owner.carteraController.getTotalAbonadoSeguimiento($filtered) | currency}}
                                        </td>
                                        <td style="text-align: center" class="money">
                                            {{$owner.carteraController.getTotalPendienteSeguimiento($filtered) | currency}}
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr
                                        ng-show="$filtered.length === $owner.appConstantsView.CERO && $owner.carteraController.listadoCarteraSeguimientoEC.length !== $owner.appConstantsView.CERO">
                                        <td colspan="6">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                                    </tr>
                                    <tr
                                        ng-show="$owner.carteraController.listadoCarteraSeguimientoEC.length === $owner.appConstantsView.CERO">
                                        <td colspan="6">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">{{appConstantsView.CERRAR_MODAL}}</button>
                    <h4 class="modal-title">{{appConstantsView.DETALLE_LIQUIDACION}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <table object-table class="hover-column" display=10
                            data="carteraController.liquidacionEstudiante"
                            headers="Número de Referencia,Período Académico,Programa,Concepto,Estado, Abonado,Saldo"
                            fields="referencia,nombrePeriodo,nombrePrograma,nombreConcepto,estadoLiquidacion, saldoAbonado,saldoPendiente"
                            search="separate" sorting="compound" selected-model="carteraController.report.selected"
                            editable="false" resize="false" select="false" id="obj-table-hisotiral_vigentes">
                            <tbody>
                                <tr style="height: 60px;">
                                    <td>{{::item.referencia}}</td>
                                    <td>{{::item.nombrePeriodo}}</td>
                                    <td>{{::item.nombrePrograma}}</td>
                                    <td>{{::item.nombreConcepto}}</td>
                                    <td style="text-align: center"><span
                                            class="{{item.estadoLiquidacion === 'ABIERTA' ? 'bs-label label-danger' :  item.estadoLiquidacion === 'ANULADA' ?  'bs-label label-black' : 'bs-label label-success'}}">{{::item.estadoLiquidacion}}</span>
                                    </td>
                                    <td class="money" style="background-color: #29b765;color: white;">
                                        {{::item.saldoAbonado| currency}}</td>
                                    <td class="money"
                                        style="background-color: {{item.saldoPendiente > 0 ? '#cf4436' : '#29b765'}};color: {{item.saldoPendiente > 0 ? 'white' : 'white'}};">
                                        {{::item.saldoPendiente| currency}}</td>
                                    <!--                                    <td class="text-center opciones-table">
                                                                            <button class="btn btn-primary btn-tools-table" title="Ver Detalle" ng-click="$owner.hisotiralCrtl.ModalUsuario(item)">
                                                                                <i class="glyphicon glyphicon-eye-open "></i>
                                                                            </button>
                                                                            <button class="btn btn-primary btn-tools-table" ng-disabled="!item.reimprimir || item.reimrpimirEstado" title="Imprimir" ng-click="$owner.hisotiralCrtl.onGenerarReporte(item.liquidacionReporteDTO)">
                                                                                <i class="glyphicon glyphicon-print "></i>
                                                                            </button>
                                                                            <button class="btn btn-danger btn-tools-table" ng-hide="!item.reimprimir || item.reimrpimirEstado" title="Anular" ng-click="$owner.hisotiralCrtl.anularLiquidacion(item)">
                                                                                <i class="glyphicon glyphicon-remove-circle "></i>
                                                                            </button>
                                                                        </td>-->
                                    <td ng-hide="true">{{$owner.hisotiralCrtl.filtrados = $filtered}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr
                                    ng-if="$filtered.length === $owner.appConstantsView.CERO && $owner.hisotiralCrtl.liquidacionEstudiante.length !== $owner.appConstantsView.CERO">
                                    <td colspan="8">{{$owner.appConstantsView.SIN_COINCIDENCIAS}}</td>
                                </tr>
                                <tr
                                    ng-if="$owner.hisotiralCrtl.liquidacionEstudiante.length === $owner.appConstantsView.CERO">
                                    <td colspan="8">{{$owner.appConstantsView.SIN_REGISTROS}}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>